[2018-12-18 17:40] brianlovin commented on #4141
Thanks for the link @ThomasRoest - maybe that'd be quick to add into the `background jobs` section as well?

[2018-12-18 18:53] #4388 closed

[2018-12-19 17:42] ThomasRoest commented on #4385
I would like to try this, from what I see it should be a button / icon that resets the coverfile and coverphoto state

[code]

[2018-12-19 17:47] ThomasRoest commented on #4385
I would like to try this, I'm guessing this should be possible in both the create new community form and  the community settings form

[2018-12-19 18:03] brianlovin commented on #4385
@ThomasRoest correct - see `api/utils/get-random-default-photo.js` for the options available and `api/models/community:createCommunity` for how this is implemented currently at community creation time

[2018-12-20 10:02] ThomasRoest commented on #4385
I'm getting `Failed to load resource: the server responded with a status of 403 ()` from imgix. When loading default cover photos e.g. `default_images/cover-violet.svg` in development

[2018-12-20 13:32] mxstbr opened #4504 "[StatsD] Instrument workers"
We should instrument the worker servers with StatsD to report num of jobs being worked on, how long they take, etc.

[2018-12-20 16:59] mxstbr commented on #4504
I tried to do this, but I think we'd get metrics seven times, which is... not exactly ideal. 🤔 Asked the bull folks what the best way to do this would be: https://github.com/OptimalBits/bull/issues/1160

[2018-12-21 10:15] ThomasRoest commented on #4385
ok, I haven't changed anything, just exploring.

So if I'm correct, there should be a default cover photo with a color if the user does not upload anything. Right now this does not seem to work. And the default cover is just black / empty.

Is this expected in development ( because of the things you mentioned ) or should this work?

<img width="1277" alt="image 2018-12-21 at 11 09 25 am" src="http

[2018-12-21 18:52] brianlovin commented on #4385
In `src/components/profile/coverPhoto.js`, if the component receives null it sets the `background-image` property to `none` - this is why it's just rendering a black background there.

[2019-01-01 23:41] ovflowd commented on #2144
Sorry for invading this discussion, but most of the times why I become "mad" with the water cooler ones, it's because the loading time, or when I add a new message it scroll's all over to the last messages, instead of just continuing in the point I was.

Another community app called Band (band.us) It has a very good way of "built-in" water cooler, all the chat threads actually dig them very well.

[2019-01-02 14:30] ThomasRoest commented on #4385
What do you think about this approach? In `api/models/community.js#editCommunity`

When editing a community
` // if the coverPhoto url was deleted and no new file was added, set a default coverphoto
      if (!coverPhoto) {
        const { coverPhoto } = getRandomDefaultPhoto();
        return db
          .table('communities')
          .get(communityId)
          .update({ ...community, coverPho

[2019-01-02 14:35] ThomasRoest commented on #4385
Would it be an idea to reset the coverPhoto url? Without actually deleting the file on s3?

so `in/api/models/community.js:editCommunity`

    // if the coverPhoto url was deleted and no new file was added, set a default coverphoto
    if (!coverPhoto) {
    const { coverPhoto } = getRandomDefaultPhoto();
    return db
      .table('communities')
      .get(communityId)
      .update({ ...communit

[2019-01-02 18:01] brianlovin commented on #1871
Thanks for the info here as well @ovflowd! We are currently serving images through Imgix, who do some compression on their end as well. But we definitely should have some kind of worker that receives jobs about image uploads and can properly compress/resize/filter them (e.g. we could add in some image detection for adult themed images and flag those to moderators).

[2019-01-02 18:02] brianlovin commented on #4385
@ThomasRoest it seems like that could work, yes - so we'd just need to handle setting the `coverPhoto` state in the client to `null`, right?

[2019-01-02 18:31] brianlovin commented on #1871
We use `redis` + https://github.com/OptimalBits/bull for jobs - see `shared/bull/queues` for how this is set up. I can't think of an existing worker where image processing makes sense for jobs to go, so we could just spin up a new worker specifically for processing images.

[2019-01-02 18:41] ovflowd commented on #1871
@brianlovin so you're using Amazon ElastiCache (For spectrum.chat).  I will give a look on the  `bull` repo. Yep, I also think a new worker for Image processing would be the best.

The complicated thing is the adult image detection. And also the part where moderators evaluate if it's adult content or not. But maybe it could be already too late when we notify the moderator.

The  "malicious content

[2019-01-02 18:55] brianlovin commented on #1871
@ovflowd we are not using ElastiCache. Right now we're leveraging ZEIT's CDN caching (powered by CloudFlare https://zeit.co/blog/now-cdn)

We don't need to worry about malicious image detection right now, was just suggesting that we could architect with future processing flows in mind :)

[2019-01-02 18:59] ovflowd commented on #1871
Zeit Caching it's cool, I didn't knew it was being powered by CloudFlare.

[2019-01-07 08:39] ThomasRoest commented on #4385
yes so maybe something like this:

![screen recording 2019-01-07 at 09 38 am](https://user-images.githubusercontent.com/4428811/50757570-116c9580-1260-11e9-9691-ae5db438fa0f.gif)

[2019-01-07 12:48] ThomasRoest commented on #3071
I've noticed a couple of issues concerning the composer design etc. @brianlovin this is an example of what a slide out composer could look like

<img width="1278" alt="image 2019-01-07 at 1 43 51 pm" src="https://user-images.githubusercontent.com/4428811/50769006-d6c82480-1282-11e9-9e32-7d6c69e51128.png">

[2019-01-08 18:49] brianlovin commented on #3071
@ThomasRoest I would love to move to this slideout composer, and ideally combine it with the dashboard thread composer as well (right now it's 2 components - tech debt). Your mock feels so much better - do you think it's feasible to combine?

[2019-01-08 19:02] brianlovin commented on #4385
It might feel more natural to have something like this remove button on the image uploader for chat, but on top of the cover photo itself:

[2019-01-08 19:04] brianlovin commented on #4385
It might feel more natural to have something like this remove button on the image uploader for chat, but on top of the cover photo itself. GitHub isn't letting me upload a screenshot right now...

[2019-01-08 20:01] citisolo opened #4530 "ReqlDriverError: None of the pools have an opened connection and failed to open a new one."
OS: Ubuntu 18.04.1
Rethinkdb: rebirthdb 2.3.2-windows-beta-580-g54a765 (GCC 7.3.0)
Redis server v=999.999.999

I recently cloned the repo as instructed in the README but after trying to seed the database via `yarn run db:seed` I get the following error;

    at PoolMaster._flushErrors (/home/redbandit/src/spectrum/api/node_modules/rethinkhaberdashery/lib/pool_master.js:104:31)
    at Pool.<anonymo

[2019-01-09 07:56] mxstbr commented on #4530
You have to run rethinkdb while running `yarn run db:seed`!

[2019-01-09 07:56] #4530 closed

[2019-01-09 08:11] citisolo commented on #4530
I am running it another tab

[2019-01-09 08:14] mxstbr commented on #4530
The seeding process cannot connect to your local database, so it might've crashed or something!

[2019-01-09 09:33] ThomasRoest commented on #3071
I'm not sure yet ( considering the amount of work etc) But I'll look into it!

[2019-01-09 09:40] citisolo commented on #4530
I tried it again, the database is running fine,  I did investigate this a bit and found another person had this same [problem](https://github.com/rosskukulinski/kubernetes-rethinkdb-cluster/issues/35) but they're using the rethinkdbhash module directly

[2019-01-09 12:03] ThomasRoest commented on #4385
![addicondelete](https://user-images.githubusercontent.com/4428811/50898279-f8561700-140e-11e9-9a4d-dfd9e4d4d97a.gif)

[2019-01-09 13:32] mxstbr commented on #4385
That looks great! Want to submit a first PR so we can iterate further?

[2019-01-09 16:04] brianlovin commented on #4385
@ThomasRoest this looks great! Can you swap out the 'x' with '×' - the styles for that should all match up to the remove image button in the chat input :)

[2019-01-09 16:44] brianlovin opened #4531 "Signed out 'join community' upsell on thread views covers most of the content"
Ref: https://twitter.com/sergiodxa/status/1081745429681897472

Need to figure out how to approach this so that signed out users still have a quick way to sign-in and expose the chat input without having to scroll all the way to the bottom of chat first.

[2019-01-10 07:02] mxstbr commented on #2777
Somebody's finally built this so we don't have to anymore!! https://www.npmjs.com/package/graphql-rate-limit

[2019-01-10 08:07] Harshit369 opened #4534 "Landing/Community page doesn't load."
**Issue Type**
- [ x ] Bug Report

**Description (type any text below)**

The Communities page doesn't load sometimes after I restart the app. looks like a common error to me but didn't find any open issue for this. I have tried a few hard refreshes at my end but to no use. I found out this in the developer console.

![image](https://user-images.githubusercontent.com/7912702/50954090-77b11c80-14db

[2019-01-11 12:46] Harshit369 commented on #4534
@brianlovin currently I don't know which community it should open by default. As the default home page doesn't load so there's no community list for me to see.

[2019-01-11 18:45] brianlovin commented on #4534
@Harshit369 to confirm if you log in at spectrum.chat, you don't see your inbox loading at all? Would love to investigate more - what's your Spectrum username? And do you see any errors in your console at all?

[2019-01-12 18:56] Harshit369 commented on #4534
@brianlovin nothing loads except for the top navbar. I have added the screenshot of the console above for anybody to check.

[2019-01-13 14:20] Harshit369 commented on #4534
☝🏼I actually don't know what the issue was or you guys have tighten up some screws but it works perfectly fine now.
Thanks.

[2019-01-15 10:43] ajaykarwal opened #4541 "Allow Markdown hyperlinks in chat input"
Currently markdown links are supported in the text input for the main post body but have not been implemented in the chat reply input.

I suggest adding support here too with a hint below the input field on how to construct a markdown link.

[2019-01-15 14:45] ThomasRoest commented on #3071
What's possible is adding the same composer from the community to the dashboard like this:

![screen recording 2019-01-15 at 03 40 pm](https://user-images.githubusercontent.com/4428811/51187595-779a8d80-18dc-11e9-952d-d0fae2c24d6d.gif)

[2019-01-15 17:22] brianlovin commented on #3071
This doesn't seem too bad (although we should attempt to stretch the contents of the composer so that the channel selection and publish button are at the bottom of the page and don't get pushed off if the thread becomes long.

Wdyt @superbryntendo ?

[2019-01-15 17:55] superbryntendo commented on #3071
totally agree. i would love to have the buttons pinned top or bottom and have the text area scroll.

[2019-01-16 13:03] ThomasRoest commented on #3071
in `/components/rich-text-editor/container.js` should I use the editor with version 2 prop?

` if (version === 2) {`

[2019-01-16 17:45] superbryntendo commented on #3071
if we're moving all of them to one component, we shouldn't need that prop anymore. iirc I used that to handle the switch to DraftJS.

[2019-01-16 18:15] ThomasRoest commented on #3071
ok, and what code block is more recent / should be leading? first or second?

[2019-01-17 00:21] #2777 closed

[2019-01-17 00:21] #3901 closed

[2019-01-17 05:04] lacolaco opened #4547 "ChatInput should handle `composition` events for support IMEs"
Bug thread:
https://spectrum.chat/spectrum/hugs-n-bugs/when-i-use-ime-for-japanese-input-textbox-submit-incomplete-message-while-inputting~c0b36104-3e0c-4f2c-96e0-b6ecce3395bb

As mentioned in that, the reason is handling `keypress` event without concerning **Composition**.

https://github.com/withspectrum/spectrum/blob/alpha/src/components/chatInput/index.js#L115-L130

Here is a good article.

ht

[2019-01-17 07:56] mxstbr opened #4548 "Add mention suggestions to chat input"
Now that we have moved to a plaintext input #4472 we can start tackling mention suggestions, finally!

[2019-01-17 10:12] garysdevil commented on #2777
Do I have any ways to use graphql-rate-limit only by express-graphql ?

[2019-01-17 13:41] #4385 closed

[2019-01-17 18:12] brianlovin commented on #4548
Woohoo! This will be hug!

[2019-01-18 07:03] #4547 closed

[2019-01-18 19:35] tommoor opened #4553 "Delete key while composing new direct message will remove recipient"
**Issue Type**

- [x] Bug Report

**Description**

Hitting the delete key while in a direct message to a new recipient will remove the recipient rather than delete characters in the message field.

To reproduce:

- Go to message a new person:
- https://spectrum.chat/messages/new
- Enter anyone in the field at the top
- Start writing a message and then hit the delete key twice.

[2019-01-18 22:44] brianlovin commented on #4553
Sorry about this @tommoor - mistakenly didn't pass along a couple blur and focus handlers. Pushing a fix now.

[2019-01-18 23:00] #4553 closed

[2019-01-19 10:05] ThomasRoest commented on #3071
there are a few issues left to fix, but this is the current status:

![newcomposer](https://user-images.githubusercontent.com/4428811/51425287-2ccd8e00-1bda-11e9-802a-a03205818304.gif)

[2019-01-19 11:40] mxstbr opened #4556 "Make inbox filters links"
- [x] Feature request

https://github.com/withspectrum/spectrum/blob/9bb7010cd0f22d4a59e1a74f185cdc4a78ef1b28/src/views/dashboard/components/communityList.js#L110-L139

This whole bit should be a link that redirects to `/communityslug` when the JS hasn't rehydrated.

[2019-01-20 16:05] #4541 closed

[2019-01-21 08:39] M-ZubairAhmed commented on #2150
can i take a pick at this one ?

[2019-01-21 08:59] mxstbr commented on #2150
@M-ZubairAhmed sure! :100:

[2019-01-21 17:55] srikar0896 commented on #4556
@mxstbr can I pick this up?

[2019-01-21 18:54] mxstbr commented on #4556
Yes please @srikar0896!

[2019-01-22 03:33] srikar0896 commented on #4556
Hi @mxstbr, It's my first pr, I am trying to get aware of codebase. It's a bit unclear. What do you mean by redirect to `/communityslug` **when the JS hasn't rehydrated**? What is be the expected behaviour?

[2019-01-22 07:46] srikar0896 commented on #4556
Okay, I want to get some context here. So If we are simply redirecting the user to `https://spectrum.chat/${community.slug}` onclick why do we need `onClick` handler. So do we want to simply redirect the user to `https://spectrum.chat/${community.slug}` onClick or do something and then redirect in `onClick` handler.

[2019-01-22 10:40] mxstbr commented on #4556
We only want the user to redirect if the JavaScript has not rehydrated yet. Otherwise, if you click on it, nothing happens.

When the JS has rehydrated, we do not want to redirect, we want to filter the inbox by that community, so we let the `onClick` handler do its thing!

Does that make sense? Sorry for not explaining it well :pray:

[2019-01-22 18:32] brianlovin commented on #2150
I think this was closed in https://github.com/withspectrum/spectrum/pull/4407 cc @mxstbr

[2019-01-22 18:32] #2150 closed

[2019-01-23 10:12] mxstbr commented on #4556
I think this is not true—the `onClick` handler only needs to call `evt.preventDefault()` and the `href` will not be opened I'm pretty sure!

So we don't need to know whether JS has rehydrated or not, we only need to call `evt.preventDefault()` from the `onClick` and we should be good.

[2019-01-23 11:42] #4534 closed

[2019-01-23 15:03] srikar0896 commented on #4556
@mxstbr yes, that makes sense. But If we wrap the `communityListItem` with `Link` we don't even need to call `e.preventDefault()` in `onClick` handler. Please review https://github.com/withspectrum/spectrum/pull/4565

[2019-01-23 15:43] mxstbr commented on #3071
Amazing @ThomasRoest! Want to submit a first PR and then continue iterating? That would help me figure out if I will block you with #4564

[2019-01-24 02:00] brianlovin opened #4570 "Converting from raw to draft state is crashing the app"
@mxstbr somehow this thread "c6f828ab-f0bd-4b75-bb21-ac1d276efe6e" is crashing the app. I pulled it up in the db and it's not immediately obvious what part of the thread body is crashing the app. Could I get your help to look into this?

[2019-01-24 02:02] brianlovin commented on #4570
Since this is the most recently updated thread in the spectrum support community, it's crashing the app quite a lot for anyone who views the community or is a member of it and loads their inbox. going to manually mark it as deleted in the db for now

[2019-01-24 02:05] brianlovin opened #4571 "Login redirects may be broken"
Ref https://spectrum.chat/spectrum/hugs-n-bugs/no-redirect-after-sign-up-login~f80e60d1-ce77-4cd6-8d3f-bf420b93581e

[2019-01-24 02:25] brianlovin opened #4572 "Enter shouldn't submit messages while typing a codeblock"
Ref https://spectrum.chat/?t=bed7d94f-b2e9-4e44-b63e-7e494465effe

[2019-01-24 02:59] brianlovin commented on #4570
Another broken thread: 298e1410-3ff6-4868-81d0-e6b8b0be4339

[2019-01-24 03:00] brianlovin commented on #4570
Another broken thread: 8a2058b2-6e99-44e1-9adc-4aa05c042b8c

[2019-01-24 07:41] mxstbr commented on #4572
I feel like this would be really confusing behaviour. I would always expect Enter to submit a plaintext input, no matter what is in the plaintext input.

[2019-01-24 07:44] mxstbr opened #4573 "Fix hyperion styled-components memory leak"
We need to manually call `sheet.complete()` if an error happens, see
https://github.com/styled-components/styled-components/issues/1624#issuecomment-425382979

[2019-01-24 07:49] mxstbr commented on #4570
I know what this is. I broke Android users creating plaintext threads while moving to the plaintext chat input.

I fixed this bug in #4564, but didn't realize it was breaking stuff. Will cherry-pick and hotfix deploy.

[2019-01-24 08:03] mxstbr commented on #4570
There are 12 broken threads in the prod db, see this query:

[code]

[2019-01-24 08:14] mxstbr commented on #4570
Hotfix is deployed to prod (that took a while due to npm registry issues...), digging into converting the 12 broken threads manually now

[2019-01-24 09:02] mxstbr commented on #4570
Fixed threads:

- 278cc631-83ab-4dc3-bad2-ec248accaa1f
- 2f1952a0-6d5f-4d1e-beec-ac18a30786e8
- 9573539a-9937-4904-bc1f-90677d82d1b0 (cannot verify because private)
- 8a2058b2-6e99-44e1-9adc-4aa05c042b8c
- 57839abe-29d9-45b9-874b-d913b232f93c
- c6f828ab-f0bd-4b75-bb21-ac1d276efe6e (cannot verify because private)
- d17cabe3-d7f2-4ac4-95d8-7c5292dabea4
- 298e1410-3ff6-4868-81d0-e6b8b0be4339
- 45b857

[2019-01-24 09:08] #4570 closed

[2019-01-24 15:12] brianlovin opened #4577 "Test supporting desktop app with no minimum width"
Ref https://spectrum.chat/spectrum/feature-requests/more-responsive-mac-app~6f62552a-a717-4f51-a2c0-b021896e8c08

[2019-01-24 15:25] brianlovin commented on #4572
I know, it's confusing either way...I just made this issue quickly without thinking too much, so we could discuss. It just makes me think that if talking about code is such a common thing, maybe a single line input isn't the right design decision?

[2019-01-24 15:26] brianlovin commented on #4570
Max. You are a wizard and a master. Amazing job here on the quick fix!

[2019-01-24 20:10] #4573 closed

[2019-01-25 06:59] richardgill commented on #4571
Reproduction process: Opened a Chrome incognito window and logged into github.com.

Went to https://spectrum.chat/function-camp (or any other spectrum.chat url with a path).

Doesn't redirect - got someone else to try - same outcome.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/6640874/51730205-7c92d600-206e-11e9-9edc-c409bf0ad7e1.gif)

[2019-01-25 07:07] richardgill commented on #4571
This bug makes it very confusing for people who have never used spectrum who join a private community. Because they just get dumped on the homepage of the site rather than the community they were joining's page.

[2019-01-25 15:02] ThomasRoest commented on #4572
For writing longer comments, code blocks etc. A github style comment composer would be better I think. With some options, preview, does not submit on enter etc.

see also: https://spectrum.chat/spectrum/general/what-happend-to-commenting~76ba707c-c344-4110-9274-204391599410

[2019-01-25 18:52] brianlovin commented on #4571
Interestingly I can't reproduce this locally, but can reproduce on the production app. Digging in more.

[2019-01-25 20:04] brianlovin commented on #4571
Found the fix, pushing shortly.

[2019-01-25 20:10] brianlovin commented on #4571
PR open, will try to land this soon - thanks so much for pushing on this @richardgill :)

[2019-01-26 00:17] brianlovin opened #4584 "Backslashes being inserted into inline code when messages are edited"
https://spectrum.chat/spectrum/hugs-n-bugs/underscores-in-comments-inside-inline-codeblocks-are-converted-to-upon-editing~6702fd99-0454-4686-a12e-b77ae55f263c

Repro:
- type inline code into the chat input, where the inline code contains an underscore
- edit the message
- see that a backslash has been inserted before the underscore
- save the message
- see that the saved message persisted the back

[2019-01-26 03:33] brianlovin opened #4586 "Prevent deleted users from being returned in user search results"

[2019-01-26 11:36] 0188716218 commented on #4584
Sorry

[2019-01-26 17:46] mxstbr opened #4587 "Suggested mentions insert twice in sent message"
Mentions inserted by the new mentions suggestions render twice in messages. Need to fix that asap!

[2019-01-26 17:48] mxstbr commented on #4584
Great catch! @_sstur is there a reason why `draft-js-export-markdown` adds backslashes in front of underscores in inline code?

[2019-01-26 22:09] mxstbr commented on #4584
Great catch! @sstur is there a reason why draft-js-export-markdown adds backslashes in front of underscores in inline code?

[2019-01-28 02:34] brianlovin commented on #4587
This is actually worse than that: it deletes any text you've typed after the mention. For example, I just typed `@username blah blah blah` and the output was `@usernameusername` without the followup text.

[2019-01-28 02:35] brianlovin commented on #4587
<img width="763" alt="screenshot 2019-01-27 18 34 39" src="https://user-images.githubusercontent.com/1923260/51811547-49b13380-2262-11e9-998c-f586272c125a.png">

The message crashes when trying to edit as well.

[2019-01-28 02:36] brianlovin commented on #4587
Ah, so the username url points is: `https://spectrum.chat/abraham-papoose)%20I%20think%20this%20thread%20might%20have%20ended%20up%20in%20the%20wrong%20community%20:` - so you can see how it just appended all of my text to the url. It seems like this might be a problem with the markdown link stuff?

[2019-01-28 04:19] sstur commented on #4584
Take a peek at this for me if you would.
https://github.com/sstur/draft-js-utils/pull/160

[2019-01-28 08:12] mxstbr commented on #4587
No this is a problem with the `react-mentions` `markup` option :confused: Will dig into this now!

[2019-01-28 09:36] #4571 closed

[2019-01-28 16:24] sstur commented on #4584
Done. draft-js-export-markdown@1.3.0 is live.

[2019-01-28 17:53] #4587 closed

[2019-01-28 17:56] brianlovin commented on #4584
Appears to work! Gonna ship today, thanks so much for the quick fix here @sstur!

[2019-01-28 17:56] #4584 closed

[2019-01-28 18:02] brianlovin commented on #4586
This already works, we just had some people in Algolia who had changed their username/name to 'Deleted' without actually deleting their account, which was confusing when searching for users.

[2019-01-28 18:02] #4586 closed

[2019-01-28 18:29] brianlovin opened #4592 "Multiple links in a message breaks the message"
Ref: https://spectrum.chat/spectrum/general/spectrum-v2-6-0-a-much-less-buggy-chat-input~84352ff4-9feb-4cce-ab05-575617ad5176?m=MTU0NzkxMDE4NDMwOA==

Can repro this easily by trying to send the following as a message:
`[link 1](https://google.com) and [link 2](https://google.com)` will output `link1`

[2019-01-28 18:40] brianlovin commented on #2649
Shipped!

[2019-01-28 18:40] #2649 closed

[2019-01-28 18:40] brianlovin commented on #4548
Shipped!

[2019-01-28 18:40] #4548 closed

[2019-01-28 18:40] brianlovin commented on #4572
Seems like the fix here would require a redesign of the chat input. Since this is out of scope, let's keep the current behavior and decide if we want to have a longer-form comment box instead of a chat input in the future.

[2019-01-28 18:40] #4572 closed

[2019-01-29 06:57] mxstbr opened #4593 "Confirm step before resetting community join link"
https://spectrum.chat/spectrum/feature-requests/confirm-before-resetting-join-community-via-link~bf413a89-bc05-47ac-9616-f3bdcf25b336

[2019-01-29 07:47] uditalias opened #4594 "useConnectionRestores will never be `true`"
**Issue Type**

- [x] Technical Discussion

**Description**

Checkout the [useConnectionRestored](../blob/alpha/src/hooks/useConnectionRestored.js) hook, the exported function will never return `true` as all paths ends in `false`.

Is this in purpose?

[2019-01-29 09:27] mxstbr opened #4595 "Do not submit message on enter if typing a mention"
I just hit Enter to add a mention, but mistyped the name so I sent a message that just contained `@halfanam`. We should block enter-to-submit if the text ends with `@xyz` maybe?

[2019-01-29 09:37] mxstbr commented on #4592
This is an issue with `draft-js-import-markdown` I think, digging in.

[2019-01-29 09:53] mxstbr commented on #4592
Fixed in this PR: https://github.com/sstur/draft-js-utils/pull/161 Once that is merged and published we have to update `draft-js-import-markdown` and this will be resolved.

[2019-01-29 16:17] uditalias commented on #4594
@mxstbr Tell me more about the hover profiles... :) I'm looking to start contributing and spectrum looks a great project for contribution.

[2019-01-29 17:54] brianlovin commented on #4592
Looks like it shipped with v 1.3.0 - updating our package and pushing shortly

[2019-01-29 17:54] #4592 closed

[2019-01-29 17:58] brianlovin commented on #4594
@uditalias we built hover profiles, but they're temporarily commented out (`src/components/hoverProfiles`)

I think we disabled it because it was aggressively pinging our API while we were experiencing some performance degradation. It's probably fine to re-enable, but watch our perf metrics to make sure we're not adding too much load.

[2019-01-29 20:31] mxstbr commented on #4594
@uditalias this would be a great first PR, want to enable the `useConnectionRestored` hook?! (and if you want to, also the hover profiles)

[2019-01-29 20:37] uditalias commented on #4594
@mxstbr Sure, I'll set up a dev env on my localhost and continue from there!
@brianlovin Why are they commented out? is there an open issue about them?

[2019-01-29 21:12] brianlovin commented on #4594
@uditalias I commented them out for the same reason; each one triggers an API request, which can send quite a lot of load to our servers if people are hovering over lots of entities.

[2019-01-29 21:13] brianlovin commented on #4595
I think this is sort of expected behavior, no? The person can just edit the message to fix this, right?

[2019-01-30 08:17] mxstbr commented on #4595
Okay!

[2019-01-30 08:17] #4595 closed

[2019-01-31 21:59] DanielRuf opened #4601 "Failing CI"
There seems to be a problem with the authentication.

https://circleci.com/gh/withspectrum/spectrum/21122

[2019-02-03 12:51] danedavid commented on #2968
Can I work on this?

[2019-02-03 15:51] nicolad opened #4609 "Extensibility through plugin system"
It would be really handy to extend spectrum to some specific community need.
I've seen this been done via plugin architecture in another full-stack js project => https://strapi.io/documentation/3.x.x/concepts/concepts.html#plugin
Is this something that can be added on roadmap ?

[2019-02-04 00:31] flaki commented on #4429
Hi,

Can I please get an update on this?

I would really like to start using this community, but I'm still shown as I'm "pending for approval" to the community I registered (and of course it doesn't show up in the list of communities either).

[2019-02-04 09:00] mxstbr commented on #4609
That does not really make sense for Spectrum as 99% of the communities using it are not hosting their own instance.  If anything, we will build integrations like Slack!

[2019-02-04 09:00] #4609 closed

[2019-02-04 09:01] mxstbr commented on #2968
I am not sure, maybe @ThomasRoest has fixed this in #4575?

[2019-02-04 09:03] mxstbr commented on #4429
Sorry, I am taking a look @flaki!

[2019-02-04 09:09] mxstbr commented on #4429
Very strange situation, you are marked as a `pending` member but ALSO as the creator of the community 🤔 I am not sure how you got into that position, I will try to fix it manually.

[2019-02-04 09:12] mxstbr commented on #4429
@flaki so it turns out _a lot_ of things went wrong during the creation of that community. :confused:

I have renamed it to `broken-techspeakers`, would you mind simply recreating the community with the proper slug (`techspeakers`)? That would be the easiest solution.

Super sorry for the troubles here! :pray:

[2019-02-04 09:12] #4429 closed

[2019-02-04 10:33] nainarazz commented on #4180
@brianlovin Can I give this a shot?

[2019-02-04 17:38] brianlovin commented on #4180
Of course!

[2019-02-05 12:39] ThomasRoest commented on #2968
yes, working on this!

[2019-02-06 02:56] leinue commented on #2805
Hi there,

I would like to contribute to a Chinese translation. Which file do I have to edit?

Thank you.

[2019-02-06 03:02] leinue commented on #2805
Can we find a solution that everyone recognizes and then advance this?
By the way, I am in China, I want to have a spectrum that is friendly to Chinese people.

[2019-02-06 09:02] flaki opened #4610 "Invited users for private communities"
**Issue Type (check one)**

- [ ] Bug Report
- [x] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**

For larger private communities it could be useful to be able to have users joining "invite only", that is, they would be a member of a specific channel (

[2019-02-06 09:46] mxstbr commented on #4610
Interesting idea!

A quick v1 of this would probably be something like Slack's single-channel guests, would that work for your use case? Have a "newbies" channel that folks-in-training get invited to as single-channel guests, and then transition them to full members when they are ready?

[2019-02-06 13:52] flaki commented on #4610
Yep, this would cover our use case perfectly, I think that approach would make a great MVP feature for you to figure out if there are any other usecases this would need to be expanded to. :)

[2019-02-06 16:16] mirko77 opened #4611 "Invite users in bulk"
**Issue Type**

- [ ] Bug Report
- [x] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description**

Hi,
I have a list of ~1000 members to invite from a community I currently have on Google+ (which is shutting down).

Is there any way to invite them in bulk, for example uploading a .csv

[2019-02-06 17:21] shtefcs commented on #4611
That would be great new feature for community owners, where they could bring more members easier and migrate from other platforms.

[2019-02-06 18:43] mxstbr commented on #4611
A quick way to do this would be to allow input of `.json` files from the frontend, which would auto-fill the existing inputs in the community settings. (`.json` instead of `.csv` because then we do not need to ship a parser)

If anybody wants to tackle this,

[2019-02-06 18:48] mxstbr commented on #4611
If anybody wants to tackle this, the relevant code is in [src/components/emailInvitationForm](https://github.com/withspectrum/spectrum/blob/alpha/src/components/emailInvitationForm/index.js). It renders this part of the community settings:

<img width="601" alt="screenshot 2019-02-06 at 19 44 50" src="https://user-images.githubusercontent.com/7525670/52365510-f308de00-2a47-11e9-9763-33930c74c683.p

[2019-02-06 20:51] mxstbr commented on #4610
I cannot promise that this is something we will get around to soon, but will keep this in mind!

[2019-02-07 02:05] brianlovin commented on #4611
We could put a csv => json parse on the api server though!

[2019-02-07 08:07] mirko77 commented on #4611
I have always used [PapaParse](https://www.papaparse.com/) for csv => json

[2019-02-07 09:33] mxstbr commented on #4611
@brianlovin as a v2 for sure, but as a quick win it would be nice to keep the changes frontend-only and not upload massive files to our server! :+1:

[2019-02-07 13:23] lizzzp1 commented on #4361
@mxstbr Could I give this a shot? ✋

[2019-02-07 13:31] mxstbr commented on #4611
Here is a first prototype: https://codesandbox.io/s/2x8jly1v4y

This should be a relatively simple change, will see if I can land this tomorrow.

[2019-02-07 13:32] mxstbr commented on #4610
I just realised you do not even necessarily need to wait for us to make this happen, you can work around this by creating a private channel (`full-members` or something like that) and then only adding the full members to that private channel!

[2019-02-07 14:15] mxstbr commented on #4361
Yes please @lizzzp1!

[2019-02-08 11:39] mxstbr opened #4614 "Private community join links do not redirect correctly on login"
See https://spectrum.chat/spectrum/general/is-it-possible-to-send-invites-to-a-spectrum-team-or-conversation-via-api~2b8005b1-4878-402f-a957-acf27d949c4f?m=MTU0OTYxODAwMzU4OQ==

To reproduce:

1. Start a new private community
2. Enable join links
3. Open a private tab and go to join link

Note how you see the login page, but the login links redirect to /community-name without joining you to the co

[2019-02-09 11:26] #4614 closed

[2019-02-10 11:23] mxstbr opened #4618 "Persist community selection in inbox"
Customer feedback: “something that’d be really useful for me is having the ability to pin to a certain community. Eg every time I open spectrum currently I end up on the “everything” tab, which is really not useful to me as I generally only care about one community, so I’m always doing 2 clicks. Basically I’m asking for a feature similar to slack, where it just keeps your open workspace always ope

[2019-02-10 19:58] lizzzp1 commented on #4361
Can't quite get this to run locally. Just want to make sure I'm understanding: this should return the server rendered content if client hydration fails. Wondering how I could test this locally? (once I get it running properly) :)

[2019-02-10 22:23] dav-is opened #4620 "When editing on mobile textbox overflows"
When editing on mobile, textbox overflows
![screenshot_20190210-151013](https://user-images.githubusercontent.com/11590024/52540498-a6771880-2d4f-11e9-9e08-9790f90df6fe.png)

[2019-02-11 08:48] mxstbr commented on #4361
Where are you failing to set this up locally?

 ---

I think the way to do this is to wrap the entire `ReactDOM.hydrate` tree in an ErrorBoundary, and then somehow replacing the `document.innerHTML` with the server-side rendered HTML?

[2019-02-11 12:51] mxstbr commented on #3979
This was fixed!

[2019-02-11 12:51] #3979 closed

[2019-02-11 12:51] mxstbr commented on #3925
Fixed in #4472 I am pretty sure!

[2019-02-11 12:51] #3925 closed

[2019-02-11 12:53] mxstbr commented on #3877
This will be fixed by the upcoming move to plaintext text editing in #4564 and #4472!

[2019-02-11 12:53] #3877 closed

[2019-02-11 12:53] mxstbr commented on #3860
Fixed by #4472 and #4564

[2019-02-11 12:53] #3860 closed

[2019-02-11 19:30] brianlovin commented on #4618
This would be super helpful as well with deleting threads. Since we don't have good cache purging with Apollo, when a user deletes a thread the page gets reloaded. This resets the whole inbox state, which makes it really frustrating to get back to where you were.

So overall: this is a big 💯 from my side, let's do it!

[2019-02-12 09:08] mxstbr opened #4626 "Clean up thread search on community profile"
The placeholder text also doesn't make much sense and we should follow the pattern from #4408.

<img width="669" alt="screenshot 2019-02-11 17 47 37" src="https://user-images.githubusercontent.com/1923260/52605818-2e7b2200-2e25-11e9-836a-7b8a12a95cd8.png">

[2019-02-12 09:09] #4620 closed

[2019-02-12 11:12] lookapanda opened #4628 "Current thread view is reset when search is cleared"
https://i.gyazo.com/ee5ce164e1ba2b2f6030d69ccf0a07fc.mp4

**Steps to reproduce**
1. Open a thread
2. Search something using the sidebar search
3. Clear the search by pressing the X icon
4. Current thread view will reset to the top thread after search has been reset

Not sure if this is intended or a bug, but it's definitely not a nice UX. Would be nice if the current view stays the same unless I a

[2019-02-12 11:25] mxstbr commented on #4628
This is definitely a bug, thanks for the detailed reproduction! :pray:

[2019-02-12 13:04] lizzzp1 commented on #4361
Ok - that makes sense.

So I have everything running db, api, dev:web, hyperion `3006` doesn't render anything. `3000` does but after sign in it doesn't work.

[2019-02-12 15:21] mxstbr opened #4630 "Automatic embeds are appended at the bottom"
They should be inserted below the block where the link is, not at the end of the post.

[2019-02-12 18:35] brianlovin commented on #4361
Are you seeing anything in your hyperion console or browser console that could help us debug?

[2019-02-12 18:35] brianlovin commented on #4628
Yep definitely a bug, thanks @lookapanda for the catch.

[2019-02-13 02:20] lizzzp1 commented on #4361
running:
`rethinkdb`
`redis-server`
`yarn run dev:api`
`yarn run dev:web`
Here I get a websocket connection error in browser console
[code]
`yarn run dev:hyperion`
Hyperion only gives me a flow error in console, but port `3006` doesn't connect
[code]

[2019-02-13 03:21] #4611 closed

[2019-02-13 11:41] shtefcs commented on #4611
Hey, wondering why it's closed? Did you make it work or smth else? @mxstbr

[2019-02-13 11:45] flaki commented on #4610
Yeah technically that workaround is possible for communities created from scratch, but for communities that have existed before this need arose that's not an option. Also this kind of "open-by-default" workaround would certainly raise some eyebrows at more privacy/NDA-conscious folks.

This is just to say, I think the initial request is still valid and (considering it should be a relatively small

[2019-02-13 12:03] mxstbr commented on #4611
Yes we built this feature, it will go live today! I will ping y'all here when it is live 👍

[2019-02-13 12:06] mirko77 commented on #4611
Is there a limit on the number of invitations we can send?

[2019-02-13 12:07] shtefcs commented on #4611
Awesome.

[2019-02-13 12:54] mxstbr commented on #4611
I do not think we have a limit at the moment—now that you ask me that though, we should probably add one... 🙈

[2019-02-13 13:18] mxstbr commented on #4611
This is live, you can now bulk-invite emails in your member settings!

![spectrum-import-emails](https://user-images.githubusercontent.com/7525670/52714373-fc3f0100-2f99-11e9-9d51-b4929128b2ee.gif)

[2019-02-13 13:36] shtefcs commented on #4611
Looks nice great Max.

Just wondering the same about the limit? Can we import 1k members ?

[2019-02-13 13:43] mirko77 commented on #4611
I tried 2K and it went through.

I have not got any invitation email yet though

[2019-02-13 13:46] shtefcs commented on #4611
Let's see, maybe emails are in quee. Let us know how it went Mirko
vanila.io

On Wed, Feb 13, 2019 at 2:43 PM Mirko Menegazzo <notifications@github.com>
wrote:

[2019-02-13 13:48] mxstbr commented on #4611
We definitely see them in our analytics 😅

![screenshot 2019-02-13 at 14 47 32](https://user-images.githubusercontent.com/7525670/52716128-678ad200-2f9e-11e9-92e5-460a6d12b9e2.png)

It does not look like any of them failed, as far as I can tell!

[2019-02-13 13:49] mirko77 commented on #4611
Awesome!

[2019-02-13 13:53] shtefcs commented on #4611
Nice. Is that Sendgrid Analytics or something else ?

[2019-02-13 14:01] mirko77 commented on #4611
We have a few new members already, looks like everything is working properly

Good job!

[2019-02-13 14:03] mxstbr commented on #4611
https://amplitude.com! We use GitHub's SendGrid account, so it's a bit hard to see just our emails in their analytics.

Awesome, more than happy to hear that!

[2019-02-13 14:33] mxstbr opened #4631 "Mention suggestions go off screen"
https://www.screencast.com/t/OaKtU4HG10

Also on mobile

[2019-02-13 14:33] mxstbr opened #4632 "Fix mentions during message editing"
I forgot to handle our react-mentions bug workaround during message editing, I need to fix that!

![screenshot 2019-02-13 at 15 33 26](https://user-images.githubusercontent.com/7525670/52718872-bf2c3c00-2fa4-11e9-933b-e1449c1f3a89.png)

[2019-02-13 17:08] brianlovin commented on #4631
Gotcha. I wish that lib used Popper under the hood to handle viewport edges. Will see if this is fixable.

[2019-02-13 18:29] mxstbr commented on #4631
Maybe we just have to truncate the list to a lower number, somewhere around five?

[2019-02-13 18:39] brianlovin commented on #4631
@mxstbr for the chat input, that might work. But for the thread composer, we'll still have the same problem. I wonder if we could set the refTarget or whatever this lib calls it as a popper element...

[2019-02-13 18:41] mxstbr commented on #4631
Won't a `z-index++` solve that issue? If not we could maybe do that!

[2019-02-13 18:43] mxstbr opened #4634 "Add log out button to mobile"
We have to add a log out button to mobile which is a link to `/auth/logout`.

This should probably be on the user profile view below the "Settings" button for compatibility with the web location in the profile dropdown.

[2019-02-13 18:43] brianlovin commented on #4631
z-index won't help on mobile if it goes over the titlebar and outside of the viewport entirely :/

[2019-02-13 18:54] mxstbr commented on #4631
Yeah true that

[2019-02-13 20:09] mxstbr opened #4635 "Operations Playbook"
We should definitely add some docs around operating the servers!

[2019-02-13 22:07] abdiG commented on #4634
Hi @mxstbr, this is my first time contributing to open-source. i would like to contribute to this project.

[2019-02-13 23:23] brianlovin commented on #4634
@abdiG that'd be great, this is definitely a solid first issue to tackle! It'd be great to put this button in the settings view, and not on the profile view.

[2019-02-14 01:14] brianlovin opened #4636 "Safari thread composer is underneath the overlay"
cc @ThomasRoest - is this just a small zindex issue? https://spectrum.chat/spectrum/hugs-n-bugs/message-composer-breaks-in-safari-12-0-3~1cdd8923-1552-4a04-8941-5f367f842f97

[2019-02-14 08:05] ThomasRoest commented on #4636
sorry about this, I'll have a look

[2019-02-14 09:16] mirko77 commented on #4611
@mxstbr still I am not getting the invites I tried to send to my personal emails (to see how the invitation looks like)

nothing in my spam folder either.

Any thoughts?

[2019-02-14 10:08] mxstbr commented on #4611
That is very strange. Can you DM me your email address on Spectrum, and I will double check what happened with your email in our records?

[2019-02-14 10:13] mxstbr commented on #4634
That seems way too hidden. If I am on mobile, and I want to log out I do not think to go to my settings, right?

I would much rather put it on my profile below the "Settings" button, that is also a similar pattern to the web version.

[2019-02-14 10:16] mirko77 commented on #4611
Done, and I found another bug on the way ;)

[2019-02-14 17:20] mxstbr opened #4643 "Add ability to unsubscribe from "Request to Join" emails"
https://spectrum.chat/spectrum/general/unsubscribe-from-requested-to-join-emails~83d9475d-7460-4bed-b8d0-4a238ccb247f

[2019-02-14 17:22] mxstbr opened #4644 "Mark notifications as read when reading thread"
I swear we had that feature implemented already, but I can confirm it does not work at the moment. We need to make that work again!

[2019-02-14 20:21] #4636 closed

[2019-02-14 20:23] #4632 closed

[2019-02-14 20:26] brianlovin commented on #4644
Oh damn. Yes it definitely worked at some point along the way. The code would be in `src/views/navbar/components/notificationsTab` in the `componentDidUpdate` lifecyle, which triggers the `processAndMarkSeenNotifications` method.

Possibly breaking at the `shouldComponentUpdate` level, or perhaps we're just not handling the logic in `cdu` or that second method properly.

[2019-02-14 23:08] shtefcs commented on #4644
Glad I am not experiencing it alone 😄

[2019-02-15 07:41] #4630 closed

[2019-02-15 08:14] mxstbr opened #4645 "Direct messages break after editing"
https://spectrum.chat/spectrum/general/edit-message-bug~8c76376c-9869-4427-8d2d-21e005e86878

[2019-02-15 12:54] leinue opened #4646 "Deploying in ubuntu prod occurs an error"
## Command

[code]

## Error

[code]

## Command

[code]

## Error

[code]

[2019-02-15 13:02] leinue commented on #4646
How can i get cacert?

[2019-02-15 13:06] leinue commented on #4646
Now I have generated the `cacert`, also error:

[code]

[2019-02-15 13:28] mxstbr commented on #4646
The `cacert` needs to be downloaded from your database host, it is the certificate the servers use to connect to RethinkDB with SSL.

You also need to sign up for all the services and fill out all the environment variables with their secrets.

[2019-02-15 13:28] #4646 closed

[2019-02-16 10:09] mxstbr opened #4653 "Add alt text to images"
https://spectrum.chat/spectrum/hugs-n-bugs/images-not-properly-labelled-for-accessibility~5bceef09-9a1e-4d77-bc6d-9670c35bf520

[2019-02-16 15:33] entrptaher opened #4654 "Default Images"
We cannot access the default image, it's nowhere in the repo.

Accessing the list [here](https://github.com/withspectrum/spectrum/issues/2862#issuecomment-381802929) yields "URI signature match failed" due to imgix policy, same with S3 saying "Access Denied".

We do not know the default sizes, cannot replicate them, cannot access them directly or indirectly. But it's needed to make the cards.

Wha

[2019-02-16 20:37] brianlovin commented on #4654
@entrptaher can you tell me more about what you need these for? What cards are you making?

[2019-02-17 00:53] entrptaher commented on #4654
I need these for this thread called [Status of Self Hosting Spectrum](https://spectrum.chat/spectrum/general/status-of-self-hosting-spectrum~114cbbab-0b0c-4532-b0fd-ab7e830eeab0).

I am not sure why this is restricted.

[2019-02-17 05:24] tuoxiansp commented on #4634
I don't think so. this is general, I think.

eg, the WeChat App:

Me -> Settings -> Log Out

![image](https://user-images.githubusercontent.com/3960056/52908766-36204800-32b7-11e9-85cc-e27c12549a74.png)

[2019-02-18 03:39] arthurdenner commented on #4531
If that's okay, I'd like to work on this issue.

[2019-02-18 08:38] ThomasRoest commented on #4643
I'll have a look at this, see if I can figure out how this works!

[2019-02-18 08:54] mxstbr opened #4657 "Add "Likes" section to profile"
This should show threads one liked!

[2019-02-18 09:07] ThomasRoest commented on #4657
This should be added as a new tab here?

<img width="761" alt="image 2019-02-18 at 10 07 02 am" src="https://user-images.githubusercontent.com/4428811/52939648-0465ba80-3365-11e9-9ccd-55e5d8e76bc3.png">

[2019-02-18 09:13] mxstbr commented on #4657
Yes exactly!

[2019-02-18 09:17] #2776 closed

[2019-02-18 10:03] mirko77 opened #4658 "Previous conversation content shown on edit panel"
If I add more than one conversation in a row, the content from the previous one is shown on the edit panel when it opens, I have to clear the content manually.

[2019-02-18 13:29] carlosjeurissen opened #4661 "Signin without social login"
Will it be possible to sign in without any Social account like Google, Facebook, or Twitter in the future?

[2019-02-18 14:14] mxstbr commented on #4661
This would be a fair amount of effort, which is why we have not prioritized it. Since we were acquired by GitHub, it is more likely we will spend our time making Spectrum work really well with GitHub rather than adding more authentication methods. I hope that makes sense! :pray:

[2019-02-18 14:41] carlosjeurissen commented on #4661
I respect that. Thanks for taking the time to explain this in detail @mxstbr!

[2019-02-18 15:50] mirko77 commented on #2725
I do not know if this is related, but sometimes image urls do not work.

For example https://spectrum.imgix.net/threads/draft/465bfd3e-5fb0-4eca-a3e5-bb1689aabe2e-Screen%252520Shot%2525202019-02-18%252520at%25252010.05.31.png?expires=1550016000000&ixlib=js-1.2.0&s=1eab0447b543b335d79b6603257e0cb5?expires=1550016000000&ixlib=js-1.2.0&s=b7774f9d7758ac90f7e10ae3db2d0974

from [this](https://spectrum.

[2019-02-18 16:25] nainarazz commented on #4658
Hello @mxstbr,
I saw this problem when I was tackling issue #4180. What I did was just initialize the state for title and body inside **src/components/composer/index.js** to empty string.

// Inside publishThread() line 572
`        this.setState({
          isLoading: false,
          postWasPublished: true,
          title: '',
          body: '',
        });`

It has worked. I don't know if it

[2019-02-18 17:00] mxstbr opened #4663 "Pin multiple threads"
Also related, one should be able to pin multiple threads: #2495

[2019-02-18 17:37] brianlovin commented on #4643
@ThomasRoest let me know if you want to brainstorm here how to handle this. It's interesting that there are several matrixes of subscriptions here:

- a person can own many communities
- they may want granular control over which communities get what notifications
- different team members of each community may want different notifications

Not sure the data model we should approach here, but it's p

[2019-02-18 17:41] brianlovin commented on #4657
How do we want to split up thread likes vs comment likes? Do all of those appear here? Or is this only for thread likes (this is my assumption)

[2019-02-18 17:42] brianlovin commented on #4658
Whoops, good catch @mirko77 we'll investigate!

[2019-02-18 17:42] brianlovin commented on #4658
@nainarazz I suspect #4180 will be super useful here, good call

[2019-02-18 17:44] #4661 closed

[2019-02-18 17:55] brianlovin commented on #4654
@entrptaher of course you can have them, they are unrestricted. I was simply asking so I knew the context in order to send over the right data :)

Here's a dropbox link to a zip with everything you'll need: https://www.dropbox.com/s/7a6h1l0m3004e6z/spectrum_default_images.zip?dl=0

(For future readers, if that link doesn't work for you just reply here and @ mention me please)

[2019-02-18 18:17] #4645 closed

[2019-02-18 18:30] mxstbr opened #4665 "Add rate limiting to community email invites"
My feature was merged to graphql-rate-limit: https://github.com/teamplanes/graphql-rate-limit/issues/24

We need to add rate limits to the community email invites mutation. Probably something ridiculously big and long, just to avoid people sending 100,000,000 spam emails using our SendGrid account. Maybe `5000 / 1w`?

[2019-02-18 18:57] brianlovin commented on #4531
@arthurdenner sure thing - want to share a couple mocks or ideas first and we can align on direction?

[2019-02-18 18:57] brianlovin commented on #4665
No clue on what an appropriate limit here would be, but yeah probably something like 5,000 or 10,000 per upload, and maybe once per week just so we can catch bad actors

[2019-02-18 18:58] brianlovin commented on #4665
It might also be worth triggering an email similar to our adminSlackNotification email so that we get notified about communities and users who invite in bulk.

[2019-02-18 19:02] brianlovin commented on #2725
@mxstbr the image is getting double signed. This is most likely a bug with editing where we continually persist the previously-signed image url in the thread body.

[2019-02-18 19:13] arthurdenner commented on #4531
Sure. I'm not on the computer right now, but I'll try to describe. I was thinking about the following behavior:

The upsell will have a "X" (close) or a large secondary "Hide" button. When this button is clicked, the action (join/sign up) becomes available through a floating button (with just an icon) on bottom right.

What do you think of this approach?

[2019-02-18 19:14] brianlovin commented on #4531
Seems like an "X" close button that simply hides all the text could do the trick, that sounds good!

[2019-02-18 19:18] arthurdenner commented on #4531
Nice. I'll start to work on it today or tomorrow.

[2019-02-18 19:27] brianlovin opened #4666 "Image uploads with parenthesis break on render"
If you upload a file with the filename `foo.jpg` everything works. If you upload `foo (7).jpg` it breaks the markdown parser and renders a broken image.

[2019-02-18 19:33] brianlovin opened #4667 "Image uploads are getting double-signed"
Thread: https://spectrum.chat/spectrum/general/spectrum-weekly-digest-has-discover-more-communities-three-times~92dce549-a8ce-4799-8768-a917840688d6

Url being returned to frontend: `https://spectrum.imgix.net/threads/draft/e2901881-59b8-40be-aa85-fba96cbc9c8d-Screen%252520Shot%2525202019-02-18%252520at%25252019.34.00%252520.png?expires=1550188800000&ixlib=js-1.2.0&s=80c038d824883a2c9a3b7bfc0c91c4

[2019-02-18 19:36] brianlovin opened #4668 "Return an error if GitHub account is already linked to a Spectrum account"
Thread: https://spectrum.chat/spectrum/general/cant-connect-my-github-account~298e1410-3ff6-4868-81d0-e6b8b0be4339

[2019-02-18 19:45] brianlovin commented on #4667
While this double signing is bad, the actual underlying issue is that any uploads with a space in the filename aren't getting encoded correctly and break when rendered (but work when previewed). Super weird...

[2019-02-18 19:46] brianlovin commented on #4666
Per #4667 I think the issue is any filename with a space is breaking

[2019-02-18 20:00] brianlovin commented on #4667
This might be a pain because we need to support old draftjs posts as well as new plaintext posts. Open to ideas on this @mxstbr, I'm really not sure how to handle this

[2019-02-18 20:20] entrptaher commented on #4654
Wow the PNG files are 30-100 times bigger than SVG files :D
Thanks, I will close this issue for now.

[2019-02-18 20:20] #4654 closed

[2019-02-19 09:04] mxstbr commented on #4657
I think a good v1 would be only thread likes, I am not sure how to handle message likes right now.

[2019-02-19 09:19] mxstbr opened #4669 "Render nice embeds for thread links in messages"
When a message contains a link to a thread on Spectrum of any kind we should render a nice preview of that thread and, on click, open the thread slider.

[2019-02-19 09:19] mxstbr opened #4670 "Post new threads to the watercooler automatically"
As a first step towards a better watercooler experience we should auto-post new threads to it.

[2019-02-19 12:45] ThomasRoest commented on #4643
We could add a different section to user settings called Community owner preferences, maybe with a select to set notifications for each community.

[2019-02-19 12:49] ThomasRoest commented on #4643
starting with checkboxes for

[]  Email me if someone requests to join my community
[]  Email me if someone joins my community

I'm not really aware of the differences / models for owning a community and being a team member.

[2019-02-19 13:15] mxstbr commented on #4666
Both file names with spaces and file names with parenthesis work for me locally in development. That means it is not a markdown parser issue, it is a S3 issue—although I am not sure how that could be the case.

Any ideas?

[2019-02-19 13:19] mxstbr commented on #4667
I think the right solution would be to handle already signed URLs correctly in the `shared/imgix/sign.js` method. That way all images will keep working and we do not double-sign, right?

[2019-02-19 15:39] ThomasRoest commented on #4657
where are these likes ( for threads ) currently stored? which table?

[2019-02-19 19:01] brianlovin commented on #4657
@ThomasRoest in the `reactions` table.

[2019-02-19 19:01] brianlovin commented on #4657
Agreed though that a v1 for showing thread likes seems like the highest impact work

[2019-02-19 19:05] brianlovin commented on #4667
@mxstbr I think that's probably the right approach, we just need to renew the signature as noted in #4673

[2019-02-19 19:05] brianlovin commented on #4666
I see, okay perhaps it's the way we're encoding images in the `s3` file upload path in `api` - I'll try to poke around here, but this is going to be really hard to backfill. Ideally we'll just be able to fix future uploads with spaces

[2019-02-19 19:07] brianlovin commented on #4643
How about `Community notification preferences` with a section per community where you are a team member or admin. Within each section you'd need checkboxes like you mentioned, except we don't currently send emails for new joins in a community, those are only in-app. Let's scope this to just eliminate unwanted emails, and have a checkbox to turn off the `email me if someone requests to join my comm

[2019-02-19 19:22] brianlovin commented on #4670
This is going to be a really interesting data design problem, would love to brainstorm here! Specifically, it seems interesting because this will be the first time the system is generating messages on behalf of external actions taking place in the system. Maybe we should loosely try to anticipate other possible actions and make sure that we have a flexible enough system so that our backend can acc

[2019-02-19 19:23] brianlovin commented on #4669
If we're going to do this, it might be worth expanding the regex to include community urls, channel urls, and user urls. It'd be cool to have the attachments loosely render the same thing in message or threads, so that if you linked to a community in a thread we can generate a rich preview (with a join button, or something!)

[2019-02-19 19:37] mxstbr commented on #4670
I think for this v1, I would rather keep the scope tiny and simply post a message with the authors ID and the thread URL as the content. Together with #4669 that should be quick and simple and get us pretty far of the way to the activity feed experience we want and validate that we can make "threads in chat" work!

[2019-02-19 19:44] brianlovin commented on #4669
Oh, one idea for this @mxstbr would be to build out views that we could just iframe in. Something like embed.spectrum.chat/thread/:id or something...the positive side effect of this would be that we could help people build iframes for their communities/threads/channels/user profiles that could be embedded anywhere else on the web!

And it would play nicely with how `add-embeds-to-draft-js.js` file

[2019-02-19 19:45] brianlovin commented on #4670
Fair enough 👍

[2019-02-19 20:43] brianlovin opened #4675 "Add back image focus state on images while editing a thread"
https://github.com/withspectrum/spectrum/pull/4619

We removed the focused state because the new plaintext editor preview looked weird with a focus state that didn't do anything...but we actually need that focus state while editing a thread, because the thread editor uses draftjs wysiwyg

[2019-02-19 20:43] brianlovin opened #4676 "Help people escape the 'choose a username' view on mobile"
If you accidentally log in with the wrong provider on mobile, you hit the username selection screen with no way to escape.

[2019-02-19 20:44] brianlovin opened #4677 "Support code syntax highlighting in message code blocks"
We support this in thread code blocks, is it possible to get consistent behavior in message code blocks now that we're plain-text across the board?

[2019-02-19 20:44] mxstbr commented on #4675
As soon as we merge #4629, which moves thread editing to plaintext, this will be fixed-seems like we should rather get that shippable than implement this?

[2019-02-19 20:44] #4675 closed

[2019-02-19 20:45] mxstbr commented on #4677
Yeah I implemented this for the thread renderer in #4629 so really now its just a matter of copy-and-pasting that implementation to the message renderer!

[2019-02-19 20:45] brianlovin opened #4678 "Support simplecast embeds in thread editor"
The specfm community does this so often we just need to add first-class support for simplecast urls

[2019-02-19 20:45] brianlovin commented on #4677
💜

[2019-02-19 20:46] brianlovin commented on #4675
Fair enough. @mxstbr I'll leave that up to you, since #4629 has tons of failing e2e tests 💜

[2019-02-19 20:46] mxstbr commented on #4678
👍

This code is in 'shared/draft-utils/add-embeds-to-draft-js', it'd be good to copy the other URL regexps (optional https:// etc.) and then adding unit tests for it!

[2019-02-19 20:47] brianlovin commented on #4678
On my list, will tackle!

[2019-02-19 23:03] DylanVann commented on #3723
I'd like it.

- I hesitate before using anything that won't let me use an email to sign up.
- In a few years I might not be using Facebook, Google, Twitter, or GitHub.
- I also don't want to remember which of those I use to sign onto things. I'd prefer to just use a password manager.
- It's likely I'll still be using email.
- Alternatively a username is fine.

[2019-02-20 00:07] brianlovin commented on #4667
Our s3 flow is totally busted @mxstbr. We're basically now dumping every upload in s3 into `/threads/draft/{filename}` and persisting a signed version of that url to the db `thread` object.

I guess I don't care that much about the path where it's getting stored in s3, but the signing flow is a problem.

Here's roughly what we need, I think:

1. User uploads image, we return a *signed* url to the

[2019-02-20 08:20] mxstbr commented on #3723
As I said in https://github.com/withspectrum/spectrum/issues/4661, this is unlikely to land anytime soon since we were acquired by GitHub!

[2019-02-20 08:25] #4676 closed

[2019-02-20 08:27] mxstbr commented on #4669
I think iframing a thread would look very different from the way we are envisioning this rendering, right?

I do agree that embed.spectrum.chat would be nice to have in the future, but I think it's a bit out of scope of this one.

----

Good points about embedding other stuff too, let's start with threads and then expand to all types of Spectrum content down the line!

[2019-02-20 09:01] ThomasRoest commented on #4643
<img width="695" alt="image 2019-02-20 at 9 59 59 am" src="https://user-images.githubusercontent.com/4428811/53079273-5d188d00-34f6-11e9-814f-279762345490.png">

This is what I came up with, let me know what you think

[2019-02-20 09:15] #4665 closed

[2019-02-20 12:00] #4406 closed

[2019-02-20 12:00] #4504 closed

[2019-02-20 12:00] mxstbr commented on #4504
Done!

[2019-02-20 12:02] mxstbr commented on #3738
This was fixed in #4472 and #4564!

[2019-02-20 12:02] #3738 closed

[2019-02-20 12:16] mxstbr opened #4685 "Send higher quality cover photos to large screens"
This should be doable with imgix I think: https://spectrum.chat/spectrum/general/header-image-low-quality~b51bd603-c78d-4a40-a8c9-ba108443ccc4

[2019-02-20 12:17] mxstbr opened #4686 "Unsubscribe link in new mention notification emails does not work"
Throws an error:

[code]

See https://spectrum.chat/spectrum/general/error-unsubscribing-from-mention-notification-e-mails~84d97b94-7358-4985-8fb8-124afae56ed2, /cc @abernix

[2019-02-20 12:58] ThomasRoest commented on #4657
just some notes from exploring this

quering the db with `r.db('spectrum').table('reactions').filter({ userId: '1'})` results in

[code]
These include both comment and thread likes?

Compent for profile

`<SegmentedControl>` in `src/views/user/index.js`

current reaction model
`spectrum/analytics/models/reaction.js`

[2019-02-20 13:10] ThomasRoest commented on #4657
so probably something like this?

`r.db('spectrum').table('threadReactions').filter({ userId: currentUserId})` to get the threads?

current threadReaction model
`api/models/threadReaction.js`

[2019-02-20 13:14] ThomasRoest commented on #4657
so maybe something like this to get the threads / threads id's ?`r.db('spectrum').table('threadReactions').filter({ userId: currentUserId})`

[2019-02-20 13:17] mxstbr commented on #4657
You should use an index, otherwise it is going to be _really_ slow!

[code]

If that index does not exist yet you would need to create a migration script with `yarn run rethinkdb:migrate create thread-reactions-userid-index`.

[2019-02-20 13:31] mxstbr opened #4690 "Improve watercooler thread feed appearance"
Watercoolers do not have a great appearance in the feed. They should not show the creator, and they should show the latest message(s) that was sent:

![screenshot 2019-02-20 at 14 29 38](https://user-images.githubusercontent.com/7525670/53095046-10e04380-351c-11e9-8aae-3589d2783cc2.png)

We could potentially also show the number of people who have chatted there and/or are online, rather than the m

[2019-02-20 15:51] mxstbr opened #4693 "Private community request approved queue is err'ing"
[code]

Sentry: https://sentry.io/space-program/spectrum/issues/725378313/?query=is%3Aunresolved

[2019-02-20 16:28] mxstbr opened #4697 "Fix Raven breaking in desktop app"

[2019-02-20 16:36] brianlovin commented on #4657
the `threadReactions` table does have a `userId` index, so @mxstbr's last comment should work @ThomasRoest :)

[2019-02-20 16:40] brianlovin commented on #4685
Definitely possible since we sign cover photos with their own options entirely. Will take a look!

[2019-02-20 16:46] mxstbr commented on #4685
My first idea would be to return a more complex object from the API:

[code]

and then use CSS media queries on the frontend to switch out the images based on screen size?

[2019-02-20 16:50] #4693 closed

[2019-02-20 17:07] brianlovin commented on #4643
@ThomasRoest this looks like the right direction, yep! I'll probably jump in with some styling fixes if that's cool, once we're closer to ship. And right now both team members and admins get emails. See `athena/queues/private-community-request-sent.js` - now that I'm poking around there, we might as well also add the same option for requests to private channels. It's probably not worth trying to h

[2019-02-20 17:11] brianlovin commented on #4669
yeah, probably - not fully fleshed out thought here. Let's start with rendering dynamic react components and go from there.

[2019-02-20 17:13] #3723 closed

[2019-02-20 17:14] brianlovin commented on #4697
This is related to why amplitude does not initialize in the desktop app either (https://github.com/withspectrum/spectrum/issues/4217)

[2019-02-20 17:57] brianlovin opened #4701 "Thread rendering unclickable links (without href)"
It's possible this thread was corrupted at some point, but the bug here is this:
- renders the list items with the appearance of links, including wrapping the dom nodes in anchor elements
- in the database `content.body` the nodes have a key type of `unordered-list-item`

https://spectrum.chat/brian/general/product-design-portfolios-updated~bf114297-6ff3-4ec4-be3e-34b3e7498c31

So I'm confused how

[2019-02-20 18:17] #4685 closed

[2019-02-20 19:00] brianlovin opened #4702 "Be more lenient with code block syntax in message composer"
When composing a message, if you want to enter a code block we require there to be a line break after the opening triple backtick and a linebreak before the final triple backtick. Without those line breaks, the message renders inline code. Is there any way we could assume code block intent in this scenario regardless of the line breaks?

E.g. typing ` ```foo``` ` would actually render a code block

[2019-02-20 19:19] #4686 closed

[2019-02-20 20:36] mxstbr commented on #4701
The links would be stored in the `entityMap`, and those entities would be referred to by the `inlineEntityRanges` of each `unordered-list-item` block! Will look at that body in detail tomorrow.

[2019-02-20 20:50] brianlovin opened #4704 "Deployment script: catch errors and resume with next server"
If an error comes up mid-deploy for multiple servers, it kills the script. Eg. `yarn run deploy all --prod` hit a ZEIT alias timeout, which blocked the remaining deploys.

[2019-02-20 21:15] brianlovin opened #4705 "Trim starting/ending whitespace in messages"
We should probably trim opening/closing whitespace in messages, otherwise people could just spam huge chunks of empty newlines

[2019-02-21 08:25] ThomasRoest commented on #4643
coming back to the model for this, would it be ok to add a new field to the usersSettings table?
Pretty much like this migration in `api/migrations/20171103014955-add-mention-notification-settings.js`, for example:

[code]

[2019-02-21 09:32] #4668 closed

[2019-02-21 13:02] mxstbr opened #4711 "Community cover image upload is broken"
Fails with an error, see https://spectrum.chat/spectrum/general/cant-upload-a-community-cover-image~704b94df-be65-4848-8c9b-ae2bd9c94715 for user bug report and  https://sentry.io/share/issue/96cdbfec840644c8aa44abe4526752c3/ for corresponding stack trace.

[code]

[2019-02-21 13:07] tuoxiansp commented on #4711
#4664

[2019-02-21 15:32] entrptaher opened #4712 "Templates are not updated"
The template ID were hardcoded on following file (`hermes/queues/constants.js`), but the template files (`email-templates`) were not updated accordingly.

I searched and found correlation between following files. These should be updated to ensure the tests are working properly.

A bit more research gave me another question,

Is this considered an issue?

[code]
- hermes/queues/send-new-message-ema

[2019-02-21 16:42] brianlovin commented on #4712
Hey @entrptaher I suppose I'm not quite sure what the question is here. The email template .html files are using the ids from hermes `constants.js` - we don't have any automation there, mostly because these will almost never be changed and if we add a new email type we only need to put the constant in 2 places.

[2019-02-21 16:48] brianlovin commented on #4643
That model won't work though, right? Since you could have per-community differences in that setting?

[2019-02-21 16:49] brianlovin commented on #4643
We might want to store it on the `usersCommunities` record, perhaps...pinging @mxstbr for extra brainpower on how to model this

[2019-02-21 17:06] #4712 closed

[2019-02-21 17:06] entrptaher commented on #4712
You didn't understand my question but answered it perfectly.

[2019-02-21 17:31] brianlovin commented on #4712
Oops, sorry about it, but glad the answer worked out 👍

[2019-02-21 21:21] #4711 closed

[2019-02-21 22:43] #4667 closed

[2019-02-21 22:43] brianlovin commented on #4666
This was an issue with double signing filenames that had spaces. Resolved.

[2019-02-21 22:43] #4666 closed

[2019-02-21 22:44] brianlovin commented on #4387
This has been resolved

[2019-02-21 22:44] #4387 closed

[2019-02-21 22:46] #4002 closed

[2019-02-21 22:46] #3787 closed

[2019-02-21 22:46] brianlovin commented on #3519
We haven't had this issue in a long time now.

[2019-02-21 22:46] #3519 closed

[2019-02-21 22:47] brianlovin commented on #3505
We aren't rendering the hint, but we have made it official that 1280x384 is the correct ratio + size.

[2019-02-21 22:47] #3505 closed

[2019-02-21 22:50] brianlovin commented on #4628
@lookapanda I am digging into this but can't repro all of a sudden - are you still able to repro?

[2019-02-21 22:56] brianlovin commented on #3390
We don't use payments anymore, no longer needed

[2019-02-21 22:56] #3390 closed

[2019-02-21 22:56] brianlovin commented on #3389
Stale, closing.

[2019-02-21 22:56] #3389 closed

[2019-02-21 22:56] brianlovin commented on #3364
Stale, closing.

[2019-02-21 22:56] #3364 closed

[2019-02-21 22:56] brianlovin commented on #3347
We're no longer actively working on mobile - closing to clean up our issues, and we can search for [mobile] in the future when we get back to this :)

[2019-02-21 22:56] #3347 closed

[2019-02-21 22:57] brianlovin commented on #3355
We're no longer actively working on mobile - closing to clean up our issues, and we can search for [mobile] in the future when we get back to this :)

[2019-02-21 22:57] #3355 closed

[2019-02-21 22:57] brianlovin commented on #3356
We're no longer actively working on mobile - closing to clean up our issues, and we can search for [mobile] in the future when we get back to this :)

[2019-02-21 22:57] #3356 closed

[2019-02-21 22:57] brianlovin commented on #3357
We're no longer actively working on mobile - closing to clean up our issues, and we can search for [mobile] in the future when we get back to this :)

[2019-02-21 22:57] #3357 closed

[2019-02-21 22:57] brianlovin commented on #3358
We're no longer actively working on mobile - closing to clean up our issues, and we can search for [mobile] in the future when we get back to this :)

[2019-02-21 22:57] #3358 closed

[2019-02-21 22:57] brianlovin commented on #3359
We're no longer actively working on mobile - closing to clean up our issues, and we can search for [mobile] in the future when we get back to this :)

[2019-02-21 22:57] #3359 closed

[2019-02-21 22:57] brianlovin commented on #3343
We're no longer actively working on mobile - closing to clean up our issues, and we can search for [mobile] in the future when we get back to this :)

[2019-02-21 22:57] #3343 closed

[2019-02-21 22:57] brianlovin commented on #3342
We're no longer actively working on mobile - closing to clean up our issues, and we can search for [mobile] in the future when we get back to this :)

[2019-02-21 22:57] #3342 closed

[2019-02-21 22:57] brianlovin commented on #3341
We're no longer actively working on mobile - closing to clean up our issues, and we can search for [mobile] in the future when we get back to this :)

[2019-02-21 22:57] #3341 closed

[2019-02-21 22:57] brianlovin commented on #3340
We're no longer actively working on mobile - closing to clean up our issues, and we can search for [mobile] in the future when we get back to this :)

[2019-02-21 22:57] #3340 closed

[2019-02-21 22:57] brianlovin commented on #3338
We're no longer actively working on mobile - closing to clean up our issues, and we can search for [mobile] in the future when we get back to this :)

[2019-02-21 22:57] #3338 closed

[2019-02-21 22:57] brianlovin commented on #3337
We're no longer actively working on mobile - closing to clean up our issues, and we can search for [mobile] in the future when we get back to this :)

[2019-02-21 22:57] #3337 closed

[2019-02-21 22:57] brianlovin commented on #3332
We're no longer actively working on mobile - closing to clean up our issues, and we can search for [mobile] in the future when we get back to this :)

[2019-02-21 22:57] #3332 closed

[2019-02-21 22:57] brianlovin commented on #3332
Stale, closing

[2019-02-21 22:58] brianlovin commented on #3309
This doesn't happen anymore since we shipped a ton of fixes for editors

[2019-02-21 22:58] #3309 closed

[2019-02-21 22:59] brianlovin commented on #3290
I believe this is fixed, closing

[2019-02-21 22:59] #3290 closed

[2019-02-21 23:00] brianlovin commented on #3277
We're no longer actively working on mobile - closing to clean up our issues, and we can search for [mobile] in the future when we get back to this :)

[2019-02-21 23:00] #3277 closed

[2019-02-21 23:00] brianlovin commented on #3276
We're no longer actively working on mobile - closing to clean up our issues, and we can search for [mobile] in the future when we get back to this :)

[2019-02-21 23:00] #3276 closed

[2019-02-21 23:00] brianlovin commented on #3274
We're no longer actively working on mobile - closing to clean up our issues, and we can search for [mobile] in the future when we get back to this :)

[2019-02-21 23:00] #3274 closed

[2019-02-21 23:00] brianlovin commented on #3272
We're no longer actively working on mobile - closing to clean up our issues, and we can search for [mobile] in the future when we get back to this :)

[2019-02-21 23:00] #3272 closed

[2019-02-21 23:00] brianlovin commented on #3268
We're no longer actively working on mobile - closing to clean up our issues, and we can search for [mobile] in the future when we get back to this :)

[2019-02-21 23:00] #3268 closed

[2019-02-21 23:00] brianlovin commented on #3266
We're no longer actively working on mobile - closing to clean up our issues, and we can search for [mobile] in the future when we get back to this :)

[2019-02-21 23:00] #3266 closed

[2019-02-21 23:00] brianlovin commented on #3265
We're no longer actively working on mobile - closing to clean up our issues, and we can search for [mobile] in the future when we get back to this :)

[2019-02-21 23:00] #3265 closed

[2019-02-21 23:00] brianlovin commented on #3345
We're no longer actively working on mobile - closing to clean up our issues, and we can search for [mobile] in the future when we get back to this :)

[2019-02-21 23:00] #3345 closed

[2019-02-21 23:00] brianlovin commented on #3344
We're no longer actively working on mobile - closing to clean up our issues, and we can search for [mobile] in the future when we get back to this :)

[2019-02-21 23:00] #3344 closed

[2019-02-21 23:07] #4531 closed

[2019-02-21 23:37] lookapanda commented on #4628
Yes, with the same steps as above.

[2019-02-21 23:38] brianlovin commented on #4628
Damn, okay I'll keep trying. I can't get it to happen locally

[2019-02-22 04:24] brianlovin commented on #2390
This doesn't appear to be a problem anymore; if we hear more reports we will investigate.

[2019-02-22 04:24] #2390 closed

[2019-02-22 04:24] brianlovin commented on #2360
We did this when migrating back to Compose, however we'll probably need to do this again at some point soon @mxstbr

[2019-02-22 04:24] #2360 closed

[2019-02-22 04:24] #2332 closed

[2019-02-22 04:24] #2331 closed

[2019-02-22 04:25] #2300 closed

[2019-02-22 04:25] brianlovin commented on #2750
Did this by only showing gained/lost DAC/WAC/MAC instead of listing *all* of them

[2019-02-22 04:25] #2750 closed

[2019-02-22 04:25] brianlovin commented on #2726
This is not needed since we proxy all external images through imgix

[2019-02-22 04:25] #2726 closed

[2019-02-22 04:25] brianlovin commented on #2725
Fixed

[2019-02-22 04:25] #2725 closed

[2019-02-22 04:26] brianlovin commented on #2683
We fixed this on the community view, but now it's broken on the inbox view. I have a to-do list to fix this.

[2019-02-22 04:26] #2683 closed

[2019-02-22 04:26] brianlovin commented on #2681
Stale

[2019-02-22 04:26] #2681 closed

[2019-02-22 04:26] brianlovin commented on #2556
Stale, https urls in profile fields work fine

[2019-02-22 04:26] #2556 closed

[2019-02-22 04:27] brianlovin commented on #2505
We have aligned on 1280x384 for cover photos

[2019-02-22 04:27] #2505 closed

[2019-02-22 04:27] brianlovin commented on #2492
Huge improvements in the last couple weeks, and #4629 will wrap it up

[2019-02-22 04:27] #2492 closed

[2019-02-22 04:27] brianlovin commented on #2969
We knocked out the core experience here for replying to threads.

[2019-02-22 04:27] #2969 closed

[2019-02-22 04:28] brianlovin commented on #2968
Fixed in #4575

[2019-02-22 04:28] #2968 closed

[2019-02-22 04:28] brianlovin commented on #2913
Stale issue, shouldn't be a problem any more with newest editor.

[2019-02-22 04:28] #2913 closed

[2019-02-22 04:28] #2862 closed

[2019-02-22 04:28] brianlovin commented on #2858
Stale and low-pri

[2019-02-22 04:28] #2858 closed

[2019-02-22 04:28] brianlovin commented on #2842
Stale and irrelevant with plaintext composer, and will never be relevant when #4629 ships

[2019-02-22 04:28] #2842 closed

[2019-02-22 04:29] brianlovin commented on #2820
We are getting started on this with #4683!

[2019-02-22 04:29] #2820 closed

[2019-02-22 04:30] brianlovin commented on #2792
This won't be needed anymore after #4629

[2019-02-22 04:30] #2792 closed

[2019-02-22 04:30] brianlovin commented on #3250
We did this!

[2019-02-22 04:30] #3250 closed

[2019-02-22 04:30] #3209 closed

[2019-02-22 04:30] #3158 closed

[2019-02-22 04:30] #3109 closed

[2019-02-22 04:30] brianlovin commented on #3109
Inbox search is working fine, this was resolved

[2019-02-22 04:31] brianlovin commented on #1057
No longer needed now that all images served from s3 are signed and expired through imgix

[2019-02-22 04:31] #1057 closed

[2019-02-22 04:31] brianlovin commented on #1913
This is done

[2019-02-22 04:31] #1913 closed

[2019-02-22 04:31] brianlovin commented on #1883
We made lots of improvements here last year in `send-email.js`

[2019-02-22 04:31] #1883 closed

[2019-02-22 04:31] brianlovin commented on #1871
This isn't high priority any more since we enforce upload size limits in the backend and serve resized images via imgix

[2019-02-22 04:31] #1871 closed

[2019-02-22 04:32] #1803 closed

[2019-02-22 04:32] brianlovin commented on #1744
We never got too far in exploring this, but I think right now the feeling is that we'd rather promote organic personal threads than automating this process from outside services.

[2019-02-22 04:32] #1744 closed

[2019-02-22 04:33] brianlovin commented on #1644
We haven't really been having issues with workers processing jobs in a long time, and we built the browser extension to help us quickly identify stuck processes

[2019-02-22 04:33] #1644 closed

[2019-02-22 04:35] brianlovin commented on #1517
We did this for most views in `src/hooks/useConnectionRestored.js`

[2019-02-22 04:35] #1517 closed

[2019-02-22 04:35] brianlovin commented on #1448
We are basically doing this with Amplitude and to a lesser extent GA

[2019-02-22 04:35] #1448 closed

[2019-02-22 04:35] brianlovin commented on #1170
No longer relevant

[2019-02-22 04:35] #1170 closed

[2019-02-22 04:36] brianlovin commented on #2151
Done!

[2019-02-22 04:36] #2151 closed

[2019-02-22 04:36] brianlovin commented on #2144
We are continuing forward with improvements to the watercooler itself and to the presentation/prominence of watercoolers on community views. Move forward!

[2019-02-22 04:36] #2144 closed

[2019-02-22 04:36] brianlovin commented on #2133
Fixed and we improved a lot of embed handling with the new editor

[2019-02-22 04:36] #2133 closed

[2019-02-22 04:37] brianlovin commented on #2079
This is fixed with the plaintext editor

[2019-02-22 04:37] #2079 closed

[2019-02-22 04:37] brianlovin commented on #1962
Stale, no longer occurring

[2019-02-22 04:37] #1962 closed

[2019-02-22 04:37] brianlovin commented on #1955
We did it!

[2019-02-22 04:37] #1955 closed

[2019-02-22 04:37] brianlovin commented on #1954
We did this! Unsubs now have intelligent redirects and trigger in-app toasts with confirmation/error messages

[2019-02-22 04:37] #1954 closed

[2019-02-22 04:38] brianlovin commented on #1925
We did this!

[2019-02-22 04:38] #1925 closed

[2019-02-22 04:38] brianlovin commented on #2431
We did this with join tokens for private channels and private communities

[2019-02-22 04:38] #2431 closed

[2019-02-22 04:39] brianlovin commented on #2428
We are actively working on this, this issue is irrelevant as we now have a more clear idea of what we're doing here

[2019-02-22 04:39] #2428 closed

[2019-02-22 04:39] brianlovin commented on #2406
We did this #4575 !

[2019-02-22 04:39] #2406 closed

[2019-02-22 07:06] #4151 closed

[2019-02-22 07:10] #4634 closed

[2019-02-22 07:21] mxstbr opened #4722 "Upgrade to latest styled-components"

[2019-02-22 10:00] mxstbr opened #4724 "Make sure thread composer selects correct defaults in all instances"
Apparently it doesn't on the channel view: https://spectrum.chat/users/josh-padnick?thread=ef588dc2-ae37-4755-9b2b-25615e67dd78

I think we should not select anything by default to avoid people posting to the wrong community. You should always have to select a community and channel explicitly, unless you are on a community view (community gets defaulted) or a channel view (both get defaulted).

I

[2019-02-22 17:54] ralphch opened #4725 "Add ability to attach files to post"
# Background

I'm considering Spectrum for a non-technical community of scientists that work with a popular statistics Windows and Mac app. A major use case is being able to post and attach files to a discussion (e.g. CSV data sets, binary files, etc), so other community members can take a look and provide feedback. This is similar to how someone in the Sketch community might want to upload a Sket

[2019-02-22 17:56] brianlovin commented on #4724
Not a bad idea at all to make it entirely user-generated to avoid so many people accidentally posting in the wrong channel.

[2019-02-22 20:12] #4618 closed

[2019-02-25 08:53] ThomasRoest commented on #4657
So currently trying to figure out how data fetching works. Looking at the data being fetched in the user profile. Can you explain what the 'threadConnection` represents? and the difference with 'threads`, as shown in the example?

<img width="665" alt="threadconnection" src="https://user-images.githubusercontent.com/4428811/53325255-2fab5500-38e3-11e9-9bdc-e21f3bbea5c7.png">

[2019-02-25 12:16] mxstbr commented on #4724
We also need to make sure to set the defaults correctly in the inbox view with community/channel filters, we currently do not at all!!! https://spectrum.chat/spectrum/hugs-n-bugs/clicking-on-create-new-conversation-changes-the-channel~ae0d34ba-2a06-4b37-910d-05d453279700

That might be why so many people are posting in the wrong communities.

[2019-02-25 19:55] brianlovin commented on #4657
I think the `threads` prop there is provided to make sure that every `ThreadFeed` component has some consistent prop consumption, regardless of the wrapping query. Eg. getting a user's threads returns a prop `data.user.threadConnection` and getting a community's threads returns a prop `data.community.threadConnection` - this would be annoying to handle every case. So instead, we just make sure tha

[2019-02-25 21:06] brianlovin commented on #4724
Spent an hour and a half trying to think of how to clean up our composer spaghetti...this is really painful. For documentation, here's how the behavior should probably work:

1. If the user is either viewing a community or has a selected community in the inbox, that community should be "locked" as the community the composer is posting to. The user will only be able to change channels within that l

[2019-02-25 21:34] brianlovin opened #4733 "Startup script fails on hyperion prod deploy"
@mxstbr

<img width="487" alt="screenshot 2019-02-25 16 34 11" src="https://user-images.githubusercontent.com/1923260/53370242-3d7ccc80-391b-11e9-88fc-9feffc22bfab.png">

[2019-02-25 21:35] brianlovin commented on #4733
Extra space throwing things off?

[2019-02-25 22:46] brianlovin opened #4736 "Weekly digest has 'discover new communities' repeated 3x"
https://spectrum.chat/spectrum/general/spectrum-weekly-digest-has-discover-more-communities-three-times~92dce549-a8ce-4799-8768-a917840688d6

[2019-02-26 08:46] mxstbr commented on #4733
No it failed during the deploy, but for some reason the error message is not shown 🤔 Very strange, will investigate...

[2019-02-26 08:54] mxstbr commented on #4724
Thanks for digging into this and the detailed notes!

----

First idea that jumps to mind is making this URL-driven? Clicking on the "New post" icon redirects to `/new/thread` on mobile (full-screen view; existing behavior), and on desktop it adds `?new` to the existing URL (slider view).

Then we can add more params like `?new&community=spectrum&channel=general` (`/new/thread?community=spectrum&c

[2019-02-26 14:57] lookapanda commented on #4677
I just tried looking into this and I don't think it's that easy. The API is returning the messages already as parsed code blocks and they lack the language data attribute. So the renderer cannot know which language was used for a code block and thus is unable to add syntax highlighting.

Meaning, this would not just be copy & paste, it would also require some additional (yet small) API changes.

I

[2019-02-26 15:12] lookapanda commented on #4677
That being said, of course it would not be that much of an issue. Just unstyled code blocks and if users want, they can edit it and add the language.

[2019-02-26 17:00] brianlovin commented on #4724
Url driven is probably a good idea, yeah - will have to make it play nicely with `?t=` in the inbox, but otherwise this is a good idea!

Will give it a try this afternoon.

[2019-02-26 17:08] brianlovin commented on #3942
Phew, @mxstbr we really need to figure this one out, this is driving me nuts. It's impossible to reply to multiple threads in a single session without just constantly having to re-find my place in the feed. Last time I looked into this I couldn't figure it out, will add it back to my list to investigate, but if you have a second would appreciate a second brain on this!

[2019-02-26 19:06] brianlovin commented on #4724
Just realized the url behavior will also fix the selection problems on mobile!

[2019-02-27 01:43] brianlovin opened #4741 "Can't upload images when editing a thread"
Thread https://spectrum.chat/spectrum/general/ability-to-upload-images-when-editing~df87a91c-bf61-4562-ae6e-f233a574686b

Note: drag and drop doesn't work, either

[2019-02-27 07:24] mxstbr commented on #4677
@lookapanda they should not lack the language attribute if you do this: ```markdown, the `code-block` blocks should have `block.data.language` or something like that?

Already posted messages that do not have the language after the triple backticks just won't show syntax highlighting, that's fine!

[2019-02-27 07:39] mxstbr commented on #4701
Fixed in #4629

[2019-02-27 07:39] #4701 closed

[2019-02-27 12:54] brianlovin opened #4743 "Mobile: messaging a user from the profile view doesn't open the DM composer"

[2019-02-27 13:05] brianlovin opened #4744 "Drafts are still persisted to the composer after a thread is published"
After people publish a thread, the draft is still persisted to the composer. Will likely be fixed with #4612

[2019-02-27 13:06] brianlovin opened #4745 "503s from API while uploading images don't return an error to the thread composer"
If you are composing a thread and try to upload an image, but that upload is blocked or fails for any reason, we do nothing and don't show any errors. A friend demonstrated this while tethering, where his network while tethering blocks certain actions like file uploads. The composer just silently failed instead of alerting that the file couldn't be uploaded.

[2019-02-27 14:22] mxstbr opened #4746 "Defaulting to latest instead of trending on community view for members"
https://spectrum.chat/spectrum/general/default-to-latest-instead-of-trending~3ee0bc93-efc6-4059-888e-a1dd60e5c4cd

[2019-02-27 14:46] ThomasRoest commented on #4657
From what I've found out the thread is created based on the `kind: 'creator' | 'participant'` so there should be an addition here,  for example 'liked' and added to

`/api/queries/user/threadConnection.js`

and

`/api/models/thread.js'

[2019-02-27 14:50] mxstbr opened #4747 "Submit editing messages on enter"
I think consistency is a fair point here, we should always send messages on enter and add new lines on shift+enter. Right now, that behaviour is inverted for editing messages, which is strange: https://spectrum.chat/spectrum/general/return-button-behavior~cd72b969-28dc-4334-945d-2ea5c4859cfc

[2019-02-27 17:25] brianlovin commented on #4746
Are you suggesting that this should be the default? Or that there should be a way for a user to set the default? Not sure what the solution looks like here

[2019-02-27 17:27] brianlovin commented on #4747
It's inverted because the edit message box looks like a textarea for a comment and the chat input looks like...a chat input. The design of the input itself has some affordance for how it should behave.

We can make them the same, but honestly I'd probably prefer to move the chat input to behave more like a textarea/comment. Only because right now it's incredibly tedious to type code blocks in the

[2019-02-27 19:09] mirko77 commented on #4747
Inverting behavior is counter-intuitive.
Moreover, any other app I checked is shift+enter new line, enter to send/save

[2019-02-27 19:51] mxstbr commented on #4746
Probably to set the default for members automatically?

[2019-02-27 22:37] brianlovin opened #4750 "Disable API rate limiting in cypress e2e tests"
Rate limiting keeps causing Cypress tests to fail locally. We should disable rate limiting for tests.

[2019-02-27 23:49] brianlovin opened #4754 "Faster e2e"
@mxstbr do you have any ideas on how we could improve the speed of our e2e tests? Can we throw money at CircleCI or Cypress to multitask? It's crazy that we're sitting 20-30 minutes every time we let a PR rest run...especially given that the tests can sometimes be flaky, it's really painful for momentum.

[2019-02-28 00:13] #4670 closed

[2019-02-28 00:16] brianlovin commented on #4747
Agreed, we just need to align the actual design of the message composer/editor :)

[2019-02-28 00:17] brianlovin commented on #4746
I don't mind if we switch the default, although I suppose most people would consider 'trending' to be the obvious default candidate (same way most other feed products default to a "popular" or "hot" versus a "newest")

[2019-02-28 00:18] brianlovin commented on #4657
Looks correct to me @ThomasRoest :)

[2019-02-28 03:51] jklepatch opened #4756 "Add unit tests for frontend"
I don't see any tests for the React frontend.

Would you be interested in adding some? I would use enzyme and start by components.

[2019-02-28 07:33] mxstbr commented on #4750
Ohhh I am a dummy I should have thought of that :facepalm: sorry, will fix today!

[2019-02-28 09:20] mxstbr opened #4758 "Fine-tune scaling and database connection settings"
**Executive summary**

We should work on fine-tuning our connection and scaling settings to find the lowest possible ones that can sustain our traffic and growth.

**Explanation**

We have a hard limit on our ability to scale due to the 2,000 connection maximum of the database proxy. We need to figure out how we can stay below that for the coming months/years, even if our traffic continues growing

[2019-02-28 09:34] #4750 closed

[2019-02-28 10:15] #4669 closed

[2019-02-28 12:11] lookapanda commented on #4677
Done!

[2019-02-28 12:12] lookapanda commented on #4677
I tried to reuse some code, but I'm sure it some things could be refactored in a better way, but I'm not 100% familiar with your code structure and didn't want to interfere with it too much.

[2019-02-28 13:20] lookapanda commented on #4747
As a side note: Discord (I know, I use that as a reference a lot :P) is doing it like this:

Enter to send, Shift+Enter to add a new line but it detects if you're inside a code block (e.g. between a triple back tick) and if that's the case, pressing enter will add a new line instead.

[2019-02-28 15:34] mxstbr opened #4760 "Thread modal"
Now that #4742 has shipped we should change the treatment for the thread overlay to be a modal (like Reddit) rather than a slider like we have right now. Big benefit is that we can show the same exact thread view! Consistency ftw

[2019-02-28 17:54] brianlovin opened #4762 "Preserve unordered and ordered lists in messages markdown"
If you type:

[code]

in the chat input it will just render:

[code]

We should preserve unordered and ordered lists, no?

[2019-02-28 22:35] brianlovin opened #4763 "Open thread link previews in slider"
@mxstbr we broke the thread previews in chat - those no longer work after we merged the new thread slider routing logic

[2019-02-28 23:06] brianlovin opened #4764 "DM thread subscriptions not updating properly"
@mxstbr check this video: https://www.dropbox.com/s/9tm6xve92krfj71/dm-not-updating.mov?dl=0

I was investigating why the `messages_spec.js` seems to fail so much in CI. Well, it turns out it actually is failing - some of the time https://circleci.com/gh/withspectrum/spectrum/22310?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

In that video you can see that so

[2019-02-28 23:12] brianlovin commented on #4678
@mxstbr reopening this specifically to look into @mikhailbot's duplicate

[2019-02-28 23:38] brianlovin opened #4765 "DM badge is not appearing in real-time"
Open two windows signed in with 2 different users. Send yourself a DM. The DM badge for the receive does not update in real time - it appears on refresh.

[2019-03-01 01:52] brianlovin opened #4768 "Thread view flashes when loaded via SSR"
Video: https://www.dropbox.com/s/56o35tz7zlmlpwq/flash-thread.mov?dl=0

[2019-03-01 01:54] brianlovin opened #4769 "Cannot start hyperion locally any more"
@mxstbr was doing some testing tonight and got this for the first time when running hyperion:

<img width="720" alt="screenshot 2019-02-28 20 53 15" src="https://user-images.githubusercontent.com/1923260/53611019-087ead00-3b9b-11e9-976d-9574a7331f76.png">

I've never seen this before, but a cursory glance says it's something about React Router in SSR. Perhaps it's good I found this before we tried

[2019-03-01 02:57] #4763 closed

[2019-03-01 08:00] mxstbr commented on #4678
@mikhailbot it seems like a bunch of stuff, including mentions, was duplicated 🤔 What exactly was the input markdown, and did you edit the post afterwards?

[2019-03-01 08:12] mxstbr commented on #4764
I can replicate. This seems to be a bug with subscriptions, if you look at this websocket log you can clearly see how the server pings the client with `directMessageThreadUpdated` after each message except for the last one:

![screenshot 2019-03-01 at 09 09 19](https://user-images.githubusercontent.com/7525670/53624886-f552f800-3c01-11e9-8a16-4cd12eee22e6.png)

That of course means the DM thread l

[2019-03-01 08:16] mxstbr commented on #4764
The plot thickens. I wrote messages in the same thread twice, the first time the list did not update, the second time it did. These were the logs:

![screenshot 2019-03-01 at 09 14 53](https://user-images.githubusercontent.com/7525670/53625114-86c26a00-3c02-11e9-9871-84d73a5cb34d.png)

Note how the first time, it only got passed the usersDMThreads record of _one_ user (that is not me), but the sec

[2019-03-01 08:59] #4736 closed

[2019-03-01 09:03] mxstbr commented on #4769
This was broken in #4742 because I imported `history` somewhere. Digging in to figure out why and how I can resolve it!

[2019-03-01 09:04] mxstbr commented on #4768
Looks like a checksum mismatch, we need to clean that up once hyperion is running locally again: #4769

[2019-03-01 09:04] mxstbr commented on #4765
This will be fixed by #4771 I think

[2019-03-01 09:05] mxstbr commented on #4769
Yeah it's this change: https://github.com/withspectrum/spectrum/pull/4742/files#diff-28da8dc4041249a1ed601fa58f4c8c5d

Not sure right now why I did that, digging in.

[2019-03-01 12:52] mxstbr opened #4775 "Fix hyperion deploys causing errors"
Every time we deploy we break a couple users and the app only shows an empty page for them. We need to figure out why and how to fix it.

[2019-03-01 15:43] #4764 closed

[2019-03-01 16:14] mxstbr opened #4776 "Remove .eqJoin from changefeeds"
Changefeeds with `.eqJoin`s in them are unreliable for some reason, see #4764. We need rework all those changefeeds to work without joins, like I did for the DM thread one in #4771.

[2019-03-01 16:18] mxstbr opened #4777 "Add "Migrate to Spectrum" marketing page"
We should have a marketing page that details how you can migrate to Spectrum from other platforms, specifically referring to the email invitation system and the Slack integration.

[2019-03-01 16:49] brianlovin commented on #4777
Big +1

[2019-03-01 19:31] brianlovin opened #4778 "Thread content is getting...duplicated, badly"
@mxstbr please help! lol https://spectrum.chat/specfm/toolsday/90-react-hooks~06bdb56f-0d0f-4d50-8290-73585859a6eb

[2019-03-01 20:03] brianlovin commented on #4678
Official issue in #4778

[2019-03-01 20:03] #4678 closed

[2019-03-01 20:44] #4769 closed

[2019-03-02 14:38] #4743 closed

[2019-03-03 04:06] brianlovin opened #4786 "Thread titles aren't getting wrapped properly"
![file](https://user-images.githubusercontent.com/1923260/53690823-de1a2480-3d3f-11e9-816b-28cb852c8d59.jpg)

[2019-03-03 04:07] brianlovin opened #4787 "Track number of posts by Sam"
We should start tracking metrics around:
- threads posted by sam
- thread attachment clicks in watercoolers

[2019-03-03 18:31] brianlovin opened #4789 "Hide thread url from SAM messages"
In watercoolers with many SAM comments in a row, all the links gets really noisy. We should hide the link somehow and only render the thread preview

[2019-03-04 02:57] brianlovin commented on #4762
Related: https://spectrum.chat/spectrum/general/lists-dont-work-in-markdown~dbaceda4-2d4e-489e-87c0-817f881e49df

Looks like `ol` and `ul` aren't getting different treatments in the thread body?

[2019-03-04 03:08] brianlovin opened #4791 "Uploaded a profile photo, it replaced the cover photo"
This logic in the backend is a mess, we need to rewrite it anyways. But: I just uploaded a new profile photo to a community and in the process it wiped out the existing cover photo.

[2019-03-04 03:42] brianlovin commented on #4760
Shipped

[2019-03-04 03:44] brianlovin opened #4792 "Prevent infinite nesting of modal routes"
If you open the watercooler thread in the thread modal, then click on a thread attachment, it starts to break our routing and overlays content on top of itself. We should prevent this. I think there's a relatively straightforward way to do this. In our `routes.js` file we should indicate that the view is being shown in a modal:

[code]

And then when we construct the links further down the tree we

[2019-03-04 09:12] mxstbr commented on #4760
No, I am still seeing a slider on production?!

[2019-03-04 09:13] mxstbr commented on #4778
@mikhailbot the raw markdown would be super duper awesome!

[2019-03-04 09:28] mxstbr commented on #4792
This actually works as intended, we are not infinitely stacking modals, we only ever render one and swap out the content.

What is not working is closing the slider. We call `history.goBack` when you press the overlay or ESC, but if the last item was a modal we show that, which sucks.

The solution is to show the last non-modal route when you click on the overlay or press "ESC"!

[2019-03-04 11:02] #4677 closed

[2019-03-04 11:47] #3665 closed

[2019-03-04 11:50] mxstbr opened #4795 "Fix nested thread links"
Clicking on a thread on the channel view opens `/community/community/channel/thread~id`. Same for thread attachments.

Need to make sure to add the initial slash everywhere!

[2019-03-04 14:03] brianlovin commented on #4760
Oh, facepalm. I misread the issue.

[2019-03-04 14:54] ThomasRoest commented on #4756
Most of the front-end testing is done with cypress ---> see `alpha/cypress`

[2019-03-04 15:29] mxstbr opened #4799 "Add button to enable the watercooler"
We need to add a button to the community settings that creates a watercooler thread for that community.

[2019-03-04 15:30] brianlovin commented on #4756
`yarn run cypress:open` along with `TEST_DB=true FORCE_DEV=true yarn run dev:api` should get you started! Although we probably have a lot of uncovered ground with Cypress still

[2019-03-04 16:11] brianlovin opened #4801 "Provide GitHub url attachments in messages"
We should use https://github.com/jonschlinkert/parse-github-url to intelligently unfurl GitHub urls into attachments that render inline in messages.

[2019-03-04 16:14] mxstbr commented on #4801
This would be done similarly to what we are doing for thread URLs in `message/view.js`:

https://github.com/withspectrum/spectrum/blob/d51957bd084b079f19ca5c79c608a4accfaddc5a/src/components/message/view.js#L62-L87

Would need to fetch additional information from the GitHub public API somehow, and then render a nice card like we do for the Spectrum threads.

[2019-03-04 16:15] mxstbr opened #4802 "Add thread link embeds to thread bodies"
We have added embeds for thread links in messages in #4669. We should add the same capability to threads themselves, if a thread is linked from another thread it should show a nice embed!

[2019-03-04 16:15] brianlovin commented on #4801
Yup. In reality we should just build on top of the existing urls regex we have for adding embeds to threads. Eg. you link to a youtube video in chat and we unfurl the video.

[2019-03-04 16:16] mxstbr opened #4803 "Add automatic embeds for Spectrum communities and users"
We added automatic embeds for thread URLs in #4683, we should add the same thing for community and user links!

[2019-03-04 16:17] brianlovin commented on #4802
I'm not totally sure I understand this one, could you clarify?

[2019-03-04 16:22] #4762 closed

[2019-03-04 16:23] mxstbr commented on #4802
If a thread is linked from another thread it should also show a nice preview like we do when it's linked in messages.

[2019-03-04 16:27] mxstbr opened #4804 "Combine thread and message renderers"
As of #4797 the only real difference between the thread and message renderers is that threads have automatic embeds and support headings.

We should combine those two renderers together to 1) add automatic embeds to messages (but disable headings) and 2) add the thread link embeds from #4683 to the existing embed system for threads so both content types have the same capabilities. Ref #4802

[2019-03-04 16:28] mxstbr opened #4805 "Sam thinks everybody's thread is their first"
SAM thinks everybody's thread is their first when posted to the watercooler. It seems like my logic to switch the message does not work correctly, we should remove that.

[2019-03-04 16:34] brianlovin commented on #4802
Oooh, in the thread body. Yup, good call!

[2019-03-04 16:47] #4805 closed

[2019-03-04 16:48] #4795 closed

[2019-03-04 17:44] #4786 closed

[2019-03-04 18:59] brianlovin opened #4811 "Spectrum bot messages shouldn’t always trigger notifications"
For the cross-posting of new threads to the watercooler, we probably shouldn't send notifications to people who are subscribed to the watercooler chat.

[2019-03-04 19:00] brianlovin opened #4812 "Weird image failed rendering in thread body"
Thread: https://spectrum.chat/abstract/announcements/public-share-links-early-access~d97ae49a-927b-494a-b972-39552a07cc37

What happens:
<img width="716" alt="screenshot 2019-03-04 13 59 30" src="https://user-images.githubusercontent.com/1923260/53755934-d2d11100-3e85-11e9-8f80-88f1ed3e86c2.png">

[2019-03-04 19:10] brianlovin opened #4813 "Avatars in notifications aren't signed properly"
Avatars in /notifications are broken. This is due to the way we store notifications data as `JSON.stringified()` bits of data about the user, entity, context, etc. Since we are storing static records there, any profile photos will not be properly signed by imgix, or if they are signed they will expire in 24 hours.

Fixing this will likely require a massive hack to run all notifications through a `

[2019-03-05 08:37] mxstbr opened #4815 "Post new threads to watercoolers v2"
We experimented with posting new threads to watercoolers with a new "Spectrumbot" bot account in #4684.

**Results of the MVP**

After deploying the MVP to production, many busy communities ended up with a watercooler that was nothing but "XYZ posted a new thread" bot messages for pages upon pages, making the watercooler chat useless. People asked how they could turn it off! 😕

We also got the fee

[2019-03-05 08:45] mxstbr commented on #4811
Depending on what we do after #4815, this might or might not be relevant.

[2019-03-05 08:45] mxstbr commented on #4813
Oh geeeeeez

[2019-03-05 08:49] mxstbr opened #4816 "Do not run contributor e2e tests in parallel"
See https://circleci.com/gh/withspectrum/spectrum/22782, contributors e2e tests now run on 9 parallel machines—but unfortunately, it runs all of them 9 times 🤦‍♂️

We need to disable that and only run them on one machine. We should also reduce the amount of parallelism for our e2e test runs (to 4?), so that multiple builds can run concurrently in parallel and PRs do not block each other.

[2019-03-05 08:49] #4745 closed

[2019-03-05 08:57] mxstbr commented on #4778
Thank you so much for the repro @mikhailbot, I can replicate. Digging in!

[2019-03-05 08:58] mxstbr commented on #4778
Two issues at hand here:

- [ ] Embeds are getting duplicated, not sure why just yet
- [ ] We parse links and mentions within markdown links. Quick workaround @mikhailbot: if you remove the manual markdown links `[]()` around the mentions and the links it all works fine!

[2019-03-05 09:02] mxstbr commented on #4778
This is the most minimal reproduction of the duplicated embed bug:

[code]

It has something to do with the duplicated link. Digging in!

[2019-03-05 12:39] lookapanda opened #4818 "CommunityListItem should be <a>"
Not sure if this is a bug or more a feature; The `CommunityListItem` component should be a link that links to the main page of that community, in my opinion. It could still have the same behavior when clicking on it as it currently does, but additionally, it would be possible to middle-mouse-click / ctrl+click / cmd+click it to open the community in a new tab or right click it to copy the link URL

[2019-03-05 12:45] mxstbr commented on #4818
There is an open PR for this that we just have to review: #4565! Want to give that a test and comment in there if it works as expected?

[2019-03-05 12:45] #4818 closed

[2019-03-05 12:45] mxstbr commented on #4818
Going to close as a duplicate of that 👍

[2019-03-05 12:47] lookapanda commented on #4818
Hm, such PRs are hard to find if they don't share the things you were searching for (link, item, etc) haha. Thanks!

[2019-03-05 12:49] mxstbr commented on #4818
Yeah for sure!

[2019-03-05 15:06] #4778 closed

[2019-03-05 15:14] mxstbr opened #4821 "Do not parse mentions and links within markdown links"
Followup to #4778

[2019-03-05 16:09] #4792 closed

[2019-03-05 16:22] ThomasRoest commented on #4815
it depends on how much threads are posted and what information / embed is added. Like you said, it can become overwhelming quite fast.
I wouldn't mind seeing a daily summary posted by the bot to start with, this might be easier to manage.  Just a few links with authors / thread titles

[2019-03-06 00:42] jonschlinkert commented on #2805
One thing that might help accelerate progress on this is to start externalizing existing (hard-coded) UI text into separate data files.  Seem like this would need to be done first, no matter what direction we decide to take on internationalization.

[2019-03-06 02:29] brianlovin opened #4822 "Add ability to report threads, communities"
Users should be able to report threads and communities.

[2019-03-06 08:21] mxstbr commented on #2805
@jonschlinkert that makes sense to me, I would merge a PR that sets this up!

[2019-03-06 12:21] mxstbr opened #4824 "Fix /thread/:id modal routes"
Opening a thread with the `/thread/:id` redirect shorthand as a modal redirects to the full thread view. We need to pass the `location.state` onwards in the redirect so that you can also open `/thread/:id` links as a modal.

This currently makes some notification types a bad experience.

[2019-03-06 12:42] brianlovin commented on #4815
Thanks for the thought out note @mxstbr - I agree that 1 is my favorite option, and probably with some combination of not getting email notifications (maybe in-app badges are fine, though).

Would definitely like to try this!

[2019-03-06 14:44] brianlovin opened #4829 "Messages are getting an extra empty text block on send"
<img width="960" alt="screenshot 2019-03-06 08 59 03" src="https://user-images.githubusercontent.com/1923260/53889439-70e2e980-3ff4-11e9-8587-73103d960603.png">

[2019-03-06 14:53] mxstbr opened #4830 "Update message blockquote styling"

[2019-03-06 16:08] mxstbr opened #4832 "Limit thread title length, point to body field"
https://alpha.spectrum.chat/spectrum/general/very-loooong-titles-and-no-body~fbde6827-0d27-475e-8e5e-1fa673f71bfc

[2019-03-06 16:35] brianlovin commented on #4832
Agreed we should probably cap this at some length...140 chars? Not sure. We do truncate it everywhere else in the UI anyways.

[2019-03-06 16:46] #4799 closed

[2019-03-07 11:16] mxstbr commented on #4801
As of #4827 the thread embeds are moved to the automatic embed system, so this feature should actually be implemented in `shared/draft-utils/add-embeds-to-draft-js.js`!

[2019-03-07 12:08] mxstbr commented on #4791
Fixed in #4828

[2019-03-07 12:08] #4791 closed

[2019-03-07 13:12] #4816 closed

[2019-03-07 13:13] #4815 closed

[2019-03-07 13:34] brianlovin commented on #4830
Closed in https://github.com/withspectrum/spectrum/pull/4831

[2019-03-07 13:34] #4830 closed

[2019-03-07 14:35] #4741 closed

[2019-03-07 19:54] brianlovin opened #4838 "Unify thread composer and editor"
We noticed that we already have some feature disparity between the thread composer and the thread editor (as seen in #4834). We should make it so that editing a thread just opens a near-replica of the composer slider, with the primary action being 'save' instead of 'publish'

I'm not sure what the edge cases are, but it would *dramatically* simplify the entire thread view.

[2019-03-08 03:00] brianlovin opened #4840 "Thread content in composer can extend outside x axies"
<img width="648" alt="screenshot 2019-03-07 21 59 32" src="https://user-images.githubusercontent.com/1923260/54004645-5740bf80-4124-11e9-8106-11f5739f915b.png">

Can't h-scroll to see what's getting cut off

[2019-03-08 08:53] mxstbr opened #4841 "Clicking on two notifications breaks the app"
First reported in #4825, happens in production today.

![](https://user-images.githubusercontent.com/1923260/53959456-ae597c80-40b1-11e9-9a86-25fa4ab71813.png)

![](https://user-images.githubusercontent.com/1923260/53959457-ae597c80-40b1-11e9-92e7-19b320e2b042.png)

Repro:

- have two recent notifications about someone replying in a thread
- open the first notification - opens the slider correctly

[2019-03-08 13:34] mxstbr opened #4843 "Handle raw DraftJS content state only"
In an ideal world our application would only ever handle raw DraftJS content state. We would store the raw object in the database, handle only the raw objects throughout our application and would serialize (JSON.stringify) once when sending from the API, and deserialize (JSON.parse) once when receiving on the client.

We have a _mountain_ of tech debt that makes this an incredibly hard change that

[2019-03-08 13:51] mxstbr opened #4844 "Move code highlighting to write-time"
In order to get rid of DraftJS we moved rendering of thread and message bodies to operate on raw DraftJS content state.

That removed our ability to use the DraftJS code highlight plugin, so we switched to https://github.com/FormidableLabs/prism-react-renderer to do it client-side. Unfortunately, that library is very large (70kB min+gzip), which defeats the point of removing DraftJS from our bundl

[2019-03-08 13:58] mxstbr commented on #4844
We could probably tokenize incoming code blocks, and then add entities for the different tokens. So you'd have

[code]

Where `data.types` is an array of Prism token types. On the frontend, we would then get those entities and render them something like this

[code]

That could work 🤔

[2019-03-09 11:07] M3kH commented on #2790
Hi, although seems that someone already was working on this, I took initiative to solve it.
Hope is ok.

The PR #4846 includes:
- A docker compose setup with traefik for local DNS aliasing and nginx proxy setup.
- Some handy shortcut for run commands with docker under `docker/bin`
- Some ENV variables that need to be set for HOST setting

You can try the branch out and if you have `docker` and `ma

[2019-03-09 12:31] #4824 closed

[2019-03-11 08:07] mxstbr opened #4855 "Allow admins to set ordering of channels"
https://spectrum.chat/spectrum/feature-requests/better-channel-ordering~cc3ab131-488e-4665-8cdc-f2a838596e1b

[2019-03-11 09:28] schickling opened #4856 "Allow moderators to edit any threads/comments"
It's an essential moderation tool to be able to edit any kind of thread/comment (including thread title) to clarify formatting, phrasing (etc). This is especially important since threads are indexed for SEO and therefore not just read once but by many more people in the future.

This is already possible on most other (comparable) platforms like Discourse, GitHub issues...

[2019-03-11 09:39] mxstbr commented on #4856
The hardest bit is exposing who edited a thread/message in the UI, we do not want to make it seem like a user edited a thread if it was really a mod.

/cc @brianlovin any ideas for the UI around that?

[2019-03-11 10:01] ThomasRoest opened #4857 "codeblocks in thread replies cannot be scrolled horizontally on mobile"
- [x] Bug Report

see one of the answers in this tread
https://spectrum.chat/styled-components/general/using-classes-in-styled-components-bad-practice~e4bfaa44-62c0-42bf-8d3f-d47f775b832b

<img width="391" alt="spectrumbug2" src="https://user-images.githubusercontent.com/4428811/54115564-f992c880-43ec-11e9-8694-de131f4b8e92.png">

[2019-03-11 12:11] #4802 closed

[2019-03-11 21:12] brianlovin commented on #4856
Maybe just a tooltip with `edited by Foo`? We do store each edited state, so we could also show a modal with previous edits, if that's useful (and adds to transparency)

[2019-03-12 16:13] brianlovin opened #4861 "Community owners can't preview branded login"
You can't preview /:communitySlug/login because our login handler automatically redirects you if you're signed in.

[2019-03-12 16:41] brianlovin opened #4862 "Disabling the watercooler doesn't actually disable it..."
If you disable the watercooler, the thread still exists. It just won't necessarily be pinned at the top of the feed. To repro: create a new community, enable the watercooler, disable the watercooler, go to your community profile. You'll see the watercooler thread there.

[2019-03-12 16:42] brianlovin commented on #4862
I'm not sure the solution here, I know that the profile redesign will help a lot, but if you have open chat disabled we gotta make sure that thread doesn't show up in any feed.

[2019-03-12 18:36] mxstbr commented on #4862
Yes that is on purpose, I doubt that's a very common case. If anything, we should rename the thread to be "Open Chat" so it's clearer what it's about, which will likely cause fewer people to disable it.

I vote for deleting it manually for folks who disable it.

[2019-03-12 19:15] brianlovin commented on #4862
I’m fine deleting it but should they be able to restore it?

[2019-03-12 20:15] mxstbr commented on #4821
Yes exactly 👍 if you remove those links that should work like intended!

[2019-03-14 08:28] nikolasburk opened #4868 "Can't see any channels or conversations in `Prisma` chat"
**Issue Type (check one)**

- [x] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**

I have tried logging in with Twitter and GitHub but it's always empty:

![image](https://user-images.githubusercontent.com/4058327/54341882-54216400-463b

[2019-03-14 08:34] mxstbr commented on #4868
I can see everything. You were probably blocked by one of the admins of the community?! /cc @schickling

[2019-03-14 10:34] brianlovin commented on #4868
He access to settings, probably not blocked. This seems worth investigating. I’ll take a look

[2019-03-14 10:49] brianlovin commented on #4868
@nikolasburk can you confirm:
- does the feed load for your on mobile?
- in incognito?

[2019-03-14 14:28] dev-drprasad commented on #4862
@brianlovin what is **watercooler** ? i searched in google, but you know the result

[2019-03-14 15:28] brianlovin commented on #4862
@dev-drprasad it's an open chat thread like https://spectrum.chat/react/general/react-watercooler~257957e0-ef20-4757-b25e-82156b89131a

[2019-03-15 05:33] dev-drprasad commented on #4861
@brianlovin what about adding new route `/:communitySlug/loginPreview` for preview which shows just login page. But we have some extra components which are not relevant for preview (eg. close icon)

[2019-03-15 09:13] lookapanda commented on #4862
I don't think the watercooler should be deleted by disabling the watercooler option. It should only be deletable, if one actually deletes it (which could cause a new prompt to create one).

See it like this: One may want to have a temporary watercooler. They start it up, people chat in it. After some while, they may want to close it again but they want to repeat this in the future and they don't w

[2019-03-15 11:46] brianlovin opened #4871 "Store image upload dimensions to render placeholders in chat"

[2019-03-15 12:58] mxstbr commented on #4862
@lookapanda exactly, that's why I implemented it the way I implemented it! I also don't think we should hide the thread, maybe it's just a matter of removing the "Watercooler" indicator?

[2019-03-15 14:12] nikolasburk commented on #4868
It works in incognito and on mobile as long as I'm not logged in. Once I log in, I don't see anything any more.

[2019-03-15 18:29] brianlovin commented on #4861
Not sure the right solution; I really don't see a huge problem with letting people view /login, but perhaps there is a possibility that this is too confusing.

[2019-03-16 14:30] ZJUGuoShuai opened #4874 "Some IMEs still not supported."
OS: Windows 10
Browser: Firefox 65

The built-in MS-Pinyin works well in the message input box but a third-party IME (Rime) cannot work.

[2019-03-17 03:48] nainarazz commented on #4626
Hello, has this issue been taken? I want to work on it if it is still not yet resolved.

[2019-03-17 12:46] brianlovin commented on #4626
@nainarazz this will be resolved in #4798 so yes, we can preemptively close this :)

[2019-03-17 12:46] #4626 closed

[2019-03-18 15:47] dev-drprasad commented on #4855
@mxstbr i curios about use case. why do we need it ?

[2019-03-19 00:13] superbryntendo commented on #2817
Completed as part of GitHub acquisition.

[2019-03-19 00:13] #2817 closed

[2019-03-19 00:16] #2255 closed

[2019-03-19 00:16] #2405 closed

[2019-03-19 00:17] #2583 closed

[2019-03-19 00:17] #2996 closed

[2019-03-19 00:18] #2185 closed

[2019-03-19 00:18] #2007 closed

[2019-03-19 00:21] #2813 closed

[2019-03-19 14:25] nikolasburk commented on #4868
In my Desktop version, I can also see the conversations but never can access their content:

![image](https://user-images.githubusercontent.com/4058327/54613454-0356a480-4a5b-11e9-9f08-c95c68d75725.png)

Frontpage is still empty:

![image](https://user-images.githubusercontent.com/4058327/54613469-0baedf80-4a5b-11e9-9301-df71b5c78eb2.png)

I think @schickling said that he initially blocked me by a

[2019-03-19 16:37] brianlovin commented on #4868
@nikolasburk this should be fixed - really sorry for the slow fix time here. Can you confirm you can see all threads now?

[2019-03-19 16:38] #4868 closed

[2019-03-19 16:42] nikolasburk commented on #4868
Yeah it works now, thanks a lot folks! 🙏

[2019-03-20 09:22] schickling opened #4883 "Comment count wrong"
Here the comment count says `2` but it's actually `1`

![image](https://user-images.githubusercontent.com/1567498/54673183-081e6580-4afa-11e9-9f03-bd61a2832c74.png)

[Actual post](https://spectrum.chat/prisma/general/graphql-and-golang~4843e419-a0f4-462a-baf8-fe4c823415de):

![image](https://user-images.githubusercontent.com/1567498/54673210-18cedb80-4afa-11e9-9772-bc6d27aa896b.png)

[2019-03-20 11:45] brianlovin commented on #4883
Hm, it looks like it is two discrete comments:

https://spectrum.chat/prisma/general/graphql-and-golang~4843e419-a0f4-462a-baf8-fe4c823415de?m=MTU1MzA3MjE3MjY0MQ==

and

https://spectrum.chat/prisma/general/graphql-and-golang~4843e419-a0f4-462a-baf8-fe4c823415de?m=MTU1MzA3MjI4NzQ5Nw==

I think it's most confusing because it's sent by the same person.

[2019-03-20 11:54] #4883 closed

[2019-03-20 15:09] aszx87410 opened #4885 "new line character (\n) has been ignore and not rendered"
Last week I asked a question about this behavior in spectrum chat: [How to input new line when creating a new post?](https://spectrum.chat/spectrum/general/how-to-input-new-line-when-creating-a-new-post~2e53fc58-990a-433c-8f86-d2e28cdeaf87)

Basically the problem is about new line, for now the only way to make a new line is to insert two line breaks, which doesn't make sense to me.

Example:

Inpu

[2019-03-20 22:37] #4885 closed

[2019-03-21 01:14] kbrandwijk commented on #2952
So, I recently jumped on the Spectrum train trying to get everything running locally and self-hosting. One of the first things I wondered where regarding Docker and workspaces. Then, I ran across this issue, that is marked as Blocked Upstream, but workspaces are already supported by Now 2.0. Also, work stranded here because of the Docker PR, but at the same time, the Docker PR was closed, because

[2019-03-21 03:29] aszx87410 commented on #4812
Hi, I think it's something to do with [margin collapsing](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing).

When there is an error when rendering image, that's say image not found, the img's height will become 0 and therefore margin doesn't work. So you will see the screenshot below:

<img width="1306" alt="螢幕快照 2019-03-21 上午11 17 58" src="https://user-i

[2019-03-21 04:28] brianlovin commented on #4812
@aszx87410 this is brilliant - ideally we never break an image, but if one does fail this seems like a more graceful regression than what we currently have. Let's go for it!

[2019-03-21 07:36] aszx87410 commented on #4812
@brianlovin I found that we already render `alt` attribute for image: https://github.com/withspectrum/spectrum/blob/c34bb1fa4b9957bcfcc6ff0165582e2f635bf5e7/shared/clients/draft-js/thread/renderer.js#L164

So it's like an edge case, author embed images without providing alt text. The normal image is like this `![img.png](img_url)` and this one causes the issue: `![](img_url)` because there is no t

[2019-03-21 13:51] aszx87410 commented on #4812
PR created, let me know if there is any issues, thanks. https://github.com/withspectrum/spectrum/pull/4887

[2019-03-21 14:27] brianlovin opened #4888 "Cache the top communities on the explore page"

[2019-03-21 14:27] brianlovin opened #4889 "Add community posts filter to view unanswered threads"

[2019-03-21 14:30] brianlovin opened #4891 "Add usernames to thread cards"

[2019-03-21 14:30] brianlovin opened #4892 "Add visual indicator to v3 design that you're in local dev mode"

[2019-03-21 14:30] brianlovin opened #4893 "Unify tabs across profile views, including mobile info tabs"

[2019-03-21 14:31] brianlovin opened #4894 "Handle empty community feed state if user left all the channels"

[2019-03-21 15:51] brianlovin opened #4895 "Add ability to ban users from hover profiles"

[2019-03-21 15:51] brianlovin opened #4896 "Rename all instances of "watercooler" to "open chat""

[2019-03-21 15:52] brianlovin opened #4897 "Rename all instances of "thread" to "post""
What should we do here? Tab is "posts", url is "threads/:id" - maybe just rename the tab to "threads" ?

[2019-03-21 15:52] brianlovin opened #4898 "Make quoted messages and blockquotes share similar styles"

[2019-03-21 15:52] brianlovin opened #4899 "Make sure user hover profiles don't break the viewport boundary"

[2019-03-21 15:53] brianlovin opened #4900 "Don't show the user avatar on thread embeds for bot messages"

[2019-03-21 15:53] brianlovin opened #4901 "Add a first-message to new community chat view"
We should auto generate a first message in the chat tab for a newly created community. The message can be from SAM and explain how the community works, and provide links to helpful things to get started

[2019-03-21 15:54] #4812 closed

[2019-03-21 15:55] brianlovin opened #4902 "Send a client timestamp with addMessage mutations to ensure correct order"
The order of messages sent from the client should always be preserved, even if the server processes one message slower than another.

[2019-03-21 15:56] brianlovin opened #4903 "Hide the chat input from watercoolers where users are not a member of the community"

[2019-03-21 15:59] brianlovin opened #4904 "On desktop app the side navigation can scroll underneath the macos window buttons"

[2019-03-21 16:16] brianlovin opened #4905 "New community creation flow in desktop is bad"
- opens the web app post-creation
- doesn't update the sidebar communities list

[2019-03-21 16:20] brianlovin opened #4906 "Global search"
I was trying to remember someone's username, but literally couldn't figure out how to do it. I think the only way right now is to go to DMs and then try to compose a message by searching for the user's full name, then find their username, then go back to what i was doing.

We should just have global search, perhaps with tabs to search conversations/communities/people to make this better.

[2019-03-21 16:20] brianlovin opened #4907 "Render a 'back' button on thread views if thread is in modal state"
Right now if you go from community thread feed => thread view, it's confusing how to get back. Especially on desktop since there are no browser controls.

[2019-03-21 16:28] brianlovin opened #4908 "Add a 'refetching' indicator to chat tab"
Community avatar gets badged in the sidebar, i click it and land on chat tab, nothing is new...wait a few seconds, then new messages pop in.

[2019-03-21 16:30] brianlovin opened #4909 "Remove the thread detail header if you link directly to a watercooler"
Or maybe we just detect if the thread is the watercooler and redirect to `/communitySlug?tab=chat` ? @mxstbr wdyt?

[2019-03-21 16:32] brianlovin opened #4910 "Fix desktop titlebar height on desktop app"
On desktop I increased the titlebar height to account for responsive views. But if a titlebar is being displayed in the desktop width view (eg. top of a dm thread) it's getting the extra padding, which looks super awkward

[2019-03-21 16:42] mxstbr opened #4911 "Editing content with an embed removes the link and embed"
Have to fix that in convert.spectrum.chat by adding support for embed entities.

[2019-03-21 16:47] brianlovin opened #4912 "Don't open spectrum.chat links in a new window"
It'd be really nice if links to spectrum.chat urls would open with `target="_self"` instead of `_blank` - see https://spectrum.chat/zeit/general/hey-yoo~85f26c89-b43c-4309-b7e9-408ae37d3261

[2019-03-21 16:53] brianlovin opened #4913 "Populate chat participants in watercoolers for faster @ mention suggestions"

[2019-03-21 16:56] brianlovin opened #4914 "Modals under modals"
If you open the dm composer modal, then try to delete a message, it opens the delete confirmation modal behind the dm composer modal. Modals on modals on modals.

[2019-03-21 17:00] brianlovin opened #4915 "Optimistically clear the notifications tab badge on click"
We're not force/optimistically clearing the notifications tab badge, it's waiting for a network response. So if you have a new notification, click the tab, it'll take ~1-2s for the dot to go away

[2019-03-21 17:02] brianlovin opened #4916 "Desktop push notifications: make watercooler notifications link to ?tab=chat"
When I get push notifications about replies in a watercooler, I click them and it takes me to the thread view. It should ideally just take me to the community view chat tab.

[2019-03-21 17:16] brianlovin opened #4917 "Fix double scrollbar on DM threadsList"

[2019-03-21 17:18] brianlovin opened #4918 "getCommunityMembers query conflicts if multiple queries are run with different arguments"
The query doesn't differentiate itself based on arguments in the apollo cache. The resulting behavior is:

- if the team members load first, the members tab will only ever show team members
- if the members tab loads first, the team members list will only update as the members tab is paginated and members are rendered who are also team members

We need to differentiate these queries somehow so tha

[2019-03-21 18:55] brianlovin opened #4919 "When switching between communities, you'll see the previous community's thread feed while the new one is loading"

[2019-03-21 19:16] brianlovin opened #4920 "DM thread does not scroll back to bottom if you leave and then return"
@mxstbr this is generally just a problem with how we approached scroll behavior in the entire app: if a thing loads for the first time, we handle the scroll properly. But then if the user leaves and comes back, the effect or method doesn't fire because it doesn't think anything is new (reads from cache) and so the scroll handler never fires...this applies to chat tab, thread messages, dm messages

[2019-03-21 19:52] brianlovin opened #4923 "Fix user list item content not expanding, edit dropdown position in settings"
<img width="570" alt="Screenshot 2019-03-21 15 46 08" src="https://user-images.githubusercontent.com/1923260/54780924-65491280-4bf1-11e9-9ec8-4e853ccd1310.png">

[2019-03-21 19:54] brianlovin opened #4924 "Chat input gets extra bottom padding when the message spans multiple lines"
I think this is a line height issue, but if you type a message into the chat input that spans multiple lines there starts to be extra, and accumulated, bottom padding in the input

[2019-03-21 21:06] brianlovin opened #4925 "Home redirect doesn't want to work with SSR"
It doesn't seem to be properly redirecting to `communities.lastSeen` and is always choosing the top community in my list

[2019-03-21 21:07] brianlovin opened #4926 "Improve draggability of the desktop app"
Right now the left menu is draggable to move the window, but this isn't exactly what mac users expect. There should be an invisible 44dp div along the top that is draggable, or something to this effect

[2019-03-21 21:16] brianlovin opened #4927 "Quick audit of loading state on new button implementation"
The new buttons prefer a label change (eg "Join" -> "Joining...") during a loading state. A few interactions are missing this, like enabling/disabling the chat tab. I'll do a quick audit and add back loading labels.

[2019-03-22 07:32] mxstbr commented on #4903
Closed in #4922

[2019-03-22 07:32] #4903 closed

[2019-03-22 07:41] mxstbr commented on #4920
I actually fixed this for thread messages, have to fix it for DMs too!  This is an issue with `getSnapshotBeforeUpdate` not firing on mount (which is intended behaviour but just unexpected).

[2019-03-22 07:42] #4789 closed

[2019-03-22 08:59] ThomasRoest opened #4930 "codeblocks break mobile thread layout"
- [x] Bug Report

Codeblocks seem to break the mobile layout.

example thread: https://spectrum.chat/js/general/object-or-just-single-property-as-argument-to-function~c2822c7b-a5e5-49e4-8786-d3fdc20fd047

<img width="398" alt="Image 2019-03-22 at 9 55 02 AM" src="https://user-images.githubusercontent.com/4428811/54811504-1e0e6080-4c89-11e9-8ad7-7cb20818a7f3.png">

[2019-03-22 09:21] mxstbr commented on #4925
It actually works perfectly for me in production. How are you reproducing?

[2019-03-22 11:20] #4918 closed

[2019-03-23 01:26] segmentationfaulter commented on #4801
@brianlovin Do we have mocks or an example of how the github attachments/embeds should look like? I want to work on this feature. Thanks

[2019-03-23 11:12] atomiks opened #4942 "Markup / a11y problems with left icon sidebar"
- The tooltips on the sidebar are attached to the `<div>` which gets `tabindex` added to it by Tippy, but it's not clickable. It's adding double-tabbing for keyboard users which is a bit confusing. `<Tooltip>` should wrap the `<a>` element instead.

- The native `title` attribute tooltip is also visible with the Tippy tooltip which adds a double tooltip when hovering for a while. You could get rid

[2019-03-23 18:17] brianlovin commented on #4930
should be fixed in https://github.com/withspectrum/spectrum/pull/4922 - can you confirm you're seeing this fixed?

[2019-03-23 18:37] ThomasRoest commented on #4930
yes looks ok now!

[2019-03-23 18:37] #4930 closed

[2019-03-24 10:02] mxstbr commented on #4942
@atomiks thanks so much for the detailed bug report, will tackle that soon! 👍🙏

[2019-03-24 10:35] mxstbr opened #4949 "Add thread actions to sticky thread header"
This is pretty bad:

![Screen Capture on 2019-03-24 at 13-22-07](https://user-images.githubusercontent.com/7525670/54878142-b858da80-4e28-11e9-8deb-d714044e07aa.gif)

We should add all the action bar actions as a dropdown to the sticky thread header.

[2019-03-24 11:48] mxstbr commented on #4702
I just realised how we could easily hack around this: we could simply run a regex over the raw markdown to move all triple backticks in a row to their own line! That's a simple change and solves the issue 👍

[2019-03-25 08:17] #4856 closed

[2019-03-25 18:48] brianlovin commented on #4925
No matter what community I'm viewing last, if I go to `https://spectrum.chat` it always redirects me to `/spectrum`

[2019-03-26 14:04] brianlovin opened #4962 "Messages persist in between thread changes"
If you load a thread like https://spectrum.chat/specfm/design-details/287-a-peek-behind-the-curtain~c8a6a787-6215-43b3-981d-b6f28fd9cb94, then click a thread attachment in the last message, the first thread's messages will persist while the second thread's messages are loading in the background. This is a very confusing experience

[2019-03-26 19:15] brianlovin opened #4963 "Composer writing/previewing tabs disappear when previewing"
https://spectrum.chat/spectrum/general/i-cannot-switch-back-to-editing-once-in-preview~bbf97151-5a23-4eee-8c33-bd9a76cc5224

[2019-03-26 19:35] brianlovin commented on #4942
@atomiks ironically this is a bug with wrapping a `<Link>` element (from `react-router-dom`) with Tippy. It says that it can't find the ref. The only way I've been able to solve this is to wrap any `<Link>` with another react element, usually a `span` or a `div` in order for Tippy to be able to set the ref properly.

[2019-03-26 19:44] atomiks commented on #4942
Does the `<Link>` provide access to the ref from a `innerRef`/`forwardRef` prop?

[2019-03-26 19:45] brianlovin commented on #4942
It's possible that it doesn't, I haven't looked too deep into that component provided by `react-router`

[2019-03-26 19:49] atomiks commented on #4942
[Seems like it does](https://github.com/ReactTraining/react-router/blob/master/packages/react-router-dom/docs/api/Link.md#innerref-function)

Maybe you'll need to create a wrapper file that exports `<Link />` wrapped in `forwardRef`, then you can use it seamlessly.

[code]

[2019-03-26 19:50] brianlovin commented on #4942
cc @mxstbr - back to a custom `<Link>` component :P

[2019-03-26 19:56] #4963 closed

[2019-03-26 20:44] brianlovin commented on #4917
This was fixed in #4922

[2019-03-26 20:44] #4917 closed

[2019-03-27 10:29] AdamGerthel opened #4969 "Usability: "Leave community" button is too concealed"
**Issue Type**

- [ ] Bug Report
- [ x ] Feature Idea
- [ ] Technical Discussion
- [ ] Question

**Description**

Today I tried my best to leave a community I recently join. This was the first time that I attempted to leave a community, and I've rarely used Spectrum before, so I'm new to the UI.

I would expect that it would be quite clear on the overview of the community how to leave it:
![Screen

[2019-03-27 11:47] mxstbr commented on #4969
Agreed, that's a quick fix! On it

[2019-03-27 12:19] mxstbr opened #4972 "Do not send on enter on mobile"

[2019-03-27 12:22] mxstbr opened #4973 "Fix being able to scroll modals"
Have to move them out of the appviewwrapper

![Screenshot 2019-03-27 at 13 20 51](https://user-images.githubusercontent.com/7525670/55075478-5d76eb80-5093-11e9-8343-6ece2b183632.png)

[2019-03-27 18:33] #4744 closed

[2019-03-27 19:56] brianlovin commented on #4914
This landed in #4974

[2019-03-27 19:56] #4914 closed

[2019-03-27 19:56] brianlovin commented on #4907
No longer needed since we added thread modals back in

[2019-03-27 19:56] #4907 closed

[2019-03-27 20:50] brianlovin commented on #4925
We didn't fix this 😅

[2019-03-28 02:56] segmentationfaulter commented on #4899
I am claiming this issue and working on it.

[2019-03-28 07:58] #4912 closed

[2019-03-28 08:00] #4927 closed

[2019-03-28 08:00] #4923 closed

[2019-03-28 08:01] #4924 closed

[2019-03-28 10:51] mihaitaba opened #4982 "Visual Bug in /settings"
Hey guys, very nice app you've made, kudos for that!

I'm having a visual bug on my machine:

![image](https://user-images.githubusercontent.com/45386599/55151978-16066300-5158-11e9-9e79-bd7716e46493.png)

Maybe you weren't aware of this. If you need any other details, I'll be more than happy to tell you.

Cheers!

[2019-03-28 11:23] #4905 closed

[2019-03-28 11:39] brianlovin commented on #4982
@mihaitaba - it appears those inputs are matching the width of the longest channel name available in the dropdown. Do you have some long channel names in your Slack team? Either way, I'll set a max width there

[2019-03-28 12:29] #4982 closed

[2019-03-28 12:34] mihaitaba commented on #4982
@brianlovin Hey Brian!

Oh, yes, in fact, we do. It's a group containing like 6 names, didn't even see that.

Cheers!

[2019-03-28 13:53] brianlovin commented on #4972
[code]

[2019-03-28 13:58] brianlovin opened #4986 "Break-word in mini composer text areas"
Pasting a long link expands the width of the form if we don't break word

[2019-03-28 14:09] #4900 closed

[2019-03-28 15:12] #4986 closed

[2019-03-28 16:01] brianlovin commented on #4915
Closing because we now have #4989 and the 'mark all seen' button on the notifications view. Therefore, the badge will persist as long as you have unseen notifications.

[2019-03-28 16:01] #4915 closed

[2019-03-28 18:14] #4904 closed

[2019-03-28 18:26] #4920 closed

[2019-03-28 19:33] brianlovin opened #4993 "Reaudit zindex scale for modals"
Overall I broke the zindex scale for modals, modal routes, titlebars, and tooltips. I need to reinvestigate.

Things to test:
- modal route (eg dm composer) with a modal on top (eg delete message)
- gallery view (right now dm titlebar peeks on top of gallery)
- ...

[2019-03-28 19:36] brianlovin opened #4994 "Fix missing element in getStringElements"
https://sentry.io/organizations/space-program/issues/958101540/?environment=production&project=154812&referrer=alert_email&statsPeriod=14d

Breaks this thread: https://spectrum.chat/react/general/wrapping-a-cloned-child-element-with-a-hoc~1ef6be77-297d-42e5-a652-2aecf4062083

[2019-03-28 19:59] brianlovin opened #4995 "Add desktop app upsell to explore page"
When we launched v3 we immediately lost ~2-300 desktop app downloads per day by simply removing the inbox view upsell. The thread view upsell gets barely 5-6 downloads per day.

Let's add more upsells to get people into the desktop app, starting with a prominent location on the explore page.

[2019-03-28 19:59] #4910 closed

[2019-03-29 13:40] brianlovin opened #4997 "User autocomplete should appear dynamically relative to the viewport"
If you @ mention someone in the mini composer, the autocomplete list appears upwards and gets clipped by the top of the page. This should dynamically appear downwards, while the chat input autocomplete list appears upwards.

[2019-03-29 15:10] brianlovin opened #4998 "Mark notifications as seen optimistically"
It'd be great to have the purple tint go away immediately (optimistically) while the network request happens in the background. Today the tint only goes away after the mutation completes.

[2019-03-29 15:54] mirko77 opened #4999 "Post "search" keywords persist when switching community."
Post "search" keywords persist when switching community, on the Mac app.

[2019-03-29 16:22] brianlovin opened #5000 "Allow zooming (cmd + +/-) on desktop app"

[2019-03-29 16:24] brianlovin opened #5001 "Can't type an asterisk at the end of a word in editor"
Imagine you made a typo like:
`sounds goood`

And you wanted to quickly just send a second message without editing the original message:
`good*`

Our editor swallows the trailing asterisk

[2019-03-30 11:57] pattacini opened #5002 "Markdown links no longer rendered in our pinned post"
I've noticed since a few days that links in an old introductory post of our community - which is **pinned** anyway - don't get rendered at all.

This is the [post in question](https://spectrum.chat/icub/general/welcome-to-the-icub-community~c897bead-2afa-4038-a803-899abb8a886b) and how it looks like now:

![snapshot](https://user-images.githubusercontent.com/3738070/55275754-066b5380-52eb-11e9-807

[2019-03-31 15:50] brianlovin opened #5003 "Hi spam score for spectrum emails"
https://spectrum.chat/spectrum/hugs-n-bugs/problems-with-mails~69d45e57-9d8b-4d98-bb40-1786d9607a72

[2019-03-31 15:55] brianlovin opened #5004 "Google is indexing hyperion.alpha urls"

[2019-03-31 16:06] brianlovin opened #5005 "addMessage api response clears the chatinput state"
- type a message, send
- quickly start typing a second message
- mutation response from first message arrives and clears chatinput from second message

[2019-04-01 12:47] #4998 closed

[2019-04-01 12:49] #5002 closed

[2019-04-02 12:10] mikhailbot opened #5011 "Lists not rendering content"
It appears unordered lists are not displaying their contents, just empty bullet points/`li` elements.  Latest example linked below and a copy of the Markdown used.

https://spectrum.chat/specfm/does-not-compute/168-emails-and-downtime~a2573904-62d6-49dd-b37b-2bac492f3901

[code]

[2019-04-02 12:12] mxstbr commented on #5011
This was already fixed and will be deployed today, sorry for the troubles!!

[2019-04-02 12:13] #5011 closed

[2019-04-02 13:02] #4949 closed

[2019-04-02 14:13] #4994 closed

[2019-04-03 20:47] brianlovin opened #5019 "Shortcut switching communities on desktop app is very unperformant"
Not sure what broke here, but it's 10+ seconds to switch communities with the shortcuts on the desktop app, and it's spinning my laptop fans. Must be a perf issue.

[2019-04-04 12:53] brianlovin opened #5021 "Disable navigation tooltips on wide viewport"

[2019-04-05 13:22] brianlovin opened #5022 "Text in brackets but without a link gets linkified anyways"
If you type something like `[hey]` without a full markdown link url, it still gets linkified:

<img width="317" alt="Screenshot 2019-04-05 09 19 06" src="https://user-images.githubusercontent.com/1923260/55630718-5717fc00-5784-11e9-88fa-66c2501f0404.png">

[2019-04-08 22:18] brianlovin opened #5025 "Thread modal scrolling is 100% broken on mobile safari"
File this one under "things that make me want to throw my laptop out the window" :P

[2019-04-11 12:43] brianlovin opened #5030 "Editing optimistic messages results in `INVALID_JSON`"
We should prevent users from editing optimistic message sends

[2019-04-12 08:11] mxstbr opened #5032 "Use react-ssr-prepass in hyperion"
Should speed up our SSR, instead of double-rendering we just do this: https://github.com/FormidableLabs/react-ssr-prepass

[code]

[2019-04-15 02:07] TruptiM18 commented on #4899
@brianlovin,
Can I work on this issue?

[2019-04-15 12:52] brianlovin commented on #4899
Please do!

[2019-04-15 13:41] brianlovin opened #5038 "Bad overflow in digest subject"
https://spectrum.chat/spectrum/hugs-n-bugs/superfluous-silly-section-in-daily-digest-email~9ecb5a8d-b312-4b12-902a-9ec4cbd20c85

[2019-04-18 03:36] TruptiM18 commented on #4899
Thanks @brianlovin. I will start working on it.

[2019-04-18 08:10] moskhawas opened #5040 "fonts"
Bug Report
I do not know if this is intended, but input, button and textarea elements have different font from the rest of the app as they do not normally inherit the fonts from the body or html.
I could add a pull request to fix it if you want.

[2019-04-18 12:43] brianlovin commented on #5040
That would be super helpful @moskhawas thank you!

[2019-04-21 17:05] flaki opened #5048 "Exposing content of private communities"
**Issue Type (check one)**

- [ ] Bug Report
- [x] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**

For the [Mozilla TechSpeakers](http://events.mozilla.org/techspeakers) program we have been experimenting with using Spectrum more as a sort of knowledge

[2019-04-21 17:39] flaki opened #5049 "Graduating open chat entries into separate threads"
**Issue Type (check one)**

- [ ] Bug Report
- [x] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**

In recent weeks, as we develop our community we have noticed an interesting pattern. We drop some links into the Open Chat/watercooler, and occasionally

[2019-04-23 13:18] mxstbr opened #5051 "Track new activity on the channel level"
Otherwise you see the "new activity" dot in the sidebar even though the activity happened in channels you are not a member of.

https://spectrum.chat/spectrum/hugs-n-bugs/notification-dot-for-channels-im-not-in~c0744f4c-0de7-476d-9c5c-6e342c077718

[2019-04-25 22:28] superbryntendo commented on #5025
classic flexbox...

[2019-04-26 16:22] brianlovin opened #5054 "OG tags not properly set for community url"
https://twitter.com/Saeris/status/1121536734674571264

[2019-04-27 22:17] brianlovin opened #5056 "Delete all messages a user ever posted when banned"
We should be deleting all a user's messages once they are banned, since 99% of the time it's spam and it sucks to leave their spam around in old threads.

[2019-04-29 14:21] brianlovin opened #5061 "Can't unpin a post in a private channel"
https://spectrum.chat/spectrum/support/how-do-you-unpin-a-thread~923ec78f-e116-4834-82b8-e6ea3823b285

I can't remember if you should even be allowed to pin a thread in a private channel in the first place or not...

[2019-04-30 16:00] brianlovin commented on #5003
I fixed this by setting up DKIM DNS records with Sendgrid

[2019-04-30 16:00] #5003 closed

[2019-04-30 16:00] brianlovin commented on #5021
Closed this a while back

[2019-04-30 16:00] #5021 closed

[2019-04-30 16:10] brianlovin commented on #5054
![Screenshot 2019-04-30 12 10 28](https://user-images.githubusercontent.com/1923260/56976442-f68c9c80-6b40-11e9-9ba5-1972550701bd.png)

@mxstbr could you take a look at this one? I see the meta tags are being set in the `<head>` in the rendered page, but Twitter isn't picking them up. SSR issue?

[2019-05-03 12:58] brianlovin commented on #5005
@mxstbr can I get your help investigating this? https://spectrum.chat/spectrum/hugs-n-bugs/mac-app-a-new-response-clears-my-in-progress-response~e7a03325-fc94-46e1-8b8c-c08bc873f2db

[2019-05-03 22:30] brianlovin opened #5085 "Sidebar doesn't re-render when loading a view directly"
If you open a thread directly by clicking a link, the sidebar doesn't re-render to show the unread dots:

https://spectrum.chat/zeit/general/i-have-a-react-ssr-app-created-with-express-this-was-done-2-yrs-ago~13a6667d-4573-4568-a4d8-ab16fb80d6b6

![image (1)](https://user-images.githubusercontent.com/1923260/57168792-72047d00-6dd1-11e9-9237-1e3fff2a97fc.png)

If you do anything that would cause a

[2019-05-06 21:05] #5025 closed

[2019-05-08 13:05] brianlovin opened #5091 "Daily digest message counts link to the community, not the thread"

[2019-05-09 00:15] chmaltsp opened #5092 "500 on spectrum.chat"
**Issue Type (check one)**

- [X] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)** -->
Spectrum.chat looks down right now. I'm sure you guys know by now.

<img width="1569" alt="Screen Shot 2019-05-08 at 8 13 06 PM" src="https://user-ima

[2019-05-09 01:53] #5092 closed

[2019-05-09 02:39] brianlovin commented on #5092
We're currently experiencing an upstream provider outage. We'll be sharing updates at https://twitter.com/withspectrum going forward.

[2019-05-11 10:33] Tbhesswebber commented on #4747
I tried to find other conversations surrounding any supersets of this topic and couldn't find any... has there been any traction one way or the other on this?

I only ask because, if the behavior or a setting to modify the behavior may be coming, I will patiently wait.  If not, I plan to write my own scripts that override the behaviors of the chat input on desktop.

[2019-05-13 17:33] brianlovin opened #5106 "Missing description in create community flow throws an error"
https://spectrum.chat/spectrum/hugs-n-bugs/cant-create-a-new-community~2454770c-2bb2-4f79-9834-090ded85231c

[2019-05-15 11:49] prvnbist opened #5108 "Chat popup doesn't have scrollbar instead uses main screen's scrollbar."
#### Issue
The chat popup with a scrollable content doesn't have it's own scrollbar instead uses the main screen's scrollbar which is inaccessible when using mouse click to drag.

[Screenshot for reference]
![2019-05-15_170937](https://user-images.githubusercontent.com/17105682/57772984-90a13700-7734-11e9-9227-b6fbff4437f4.png)

#### Recommended solution
Introduce a scrollbar for popup itself if i

[2019-05-15 12:48] styfle commented on #4857
And it’s not just the code block that prevents scrolling horizontally, it’s the entire page.

This makes spectrum unusable on mobile because nearly all threads have a code block 😢

[2019-05-15 18:19] brianlovin commented on #5108
Agreed on the solution, thanks for flagging this @prvnbist

[2019-05-15 18:20] brianlovin commented on #4857
Thanks for the heads up, this is definitely not ideal. Open to PRs that can help with this, as well!

[2019-05-16 15:52] prvnbist commented on #5108
Happy to help!

[2019-05-17 15:10] brianlovin opened #5114 "Overflow scrollbar bugs on home page"
https://twitter.com/gorogoro848/status/1129310879982530563

[2019-05-17 15:12] brianlovin opened #5115 "like/comment count icons don't select the thread"
https://spectrum.chat/spectrum/general/whats-with-the-hover-in-these-icons-at-figma-channel-i-cant-do-anything-about-it-its-not-clickable~0ebdd5b8-486b-4d38-8281-c3a576669498

[2019-05-18 15:42] brianlovin opened #5117 "Multiple device connections on the same network cause rate limiting"
If multiple users are connected to Spectrum on the same network (public wifi) it can cause our rate limiter to block other people's connections on that same network.

[2019-05-18 16:47] togume commented on #4855
Posted on Spectrum. Where should we be continuing the conversation? Either place?

[2019-05-20 18:12] henrykempo commented on #4899
Im looking at good first issue -labeled. And this is top of the list ;). Been around for a while, simple things often aint so simple! Happy to help/pair/please add learnings from issue so we can break it down. h

[2019-05-22 06:14] tanmoyopenroot commented on #5061
![Screenshot from 2019-05-22 11-41-03](https://user-images.githubusercontent.com/25791025/58151262-be333680-7c86-11e9-941d-d37d2bc32d9c.png)

Only threads in public channels can be pinned.

[2019-05-22 07:18] citisolo commented on #4801
I've been working on this and I've come up with the following ;

![Imgur](https://i.imgur.com/KSJcXgn.png)

I wanted to ask if the look of the attachment what you guys had in mind ? and also I've had issues rendering multiple inline attachments where the first attachment is duplicated after refreshing the page, and it seems like the last attachment overwrites the previous one/s.

![Imgur](https://

[2019-05-23 10:10] citisolo commented on #4722
Is this just a case of updating from version` 4.1.3` spectrum is currently using  to version `4.2.0` and making sure all the tests pass, Or is there some additional refactoring that needs to be done?

[2019-05-23 13:03] brianlovin opened #5119 "Switching channels preserves scroll position in feed"
https://spectrum.chat/spectrum/hugs-n-bugs/scroll-through-posts-in-one-channel-then-switch-channels-still-scrolled~8054de98-5753-4bcd-9eca-bd86281d0772

[2019-05-23 13:11] #4722 closed

[2019-05-23 13:11] brianlovin commented on #4722
We upgraded to v4 a while back :) But yes, we should still probably keep up to date anyways with the latest version!

[2019-05-23 14:16] aborruso opened #5120 "Channels in private community seems public"
I have created a private community.

If I click on one of its channels I read: "Anyone on Spectrum can join this channel, post threads and messages, and will be able to see other members."

The right sentence for private community should be "Anyone on this community can join this channel, post threads and messages, and will be able to see other members."

![image](https://user-images.githubusercon

[2019-05-23 14:18] aborruso opened #5121 "Support paste image from clipboard upload when creating thread"
It would be great to have the some behavior of github issue. It's a good idea of  [Albin Ekblom](https://spectrum.chat/spectrum/feature-requests/support-paste-image-from-clipboard-upload-when-creating-thread~f2962876-7a10-4c3f-b98d-93d1e8e0c4b9)

[2019-05-23 16:10] brianlovin commented on #5061
We can close this: the problem was that the post was pinned, and then moved into a private channel. We fixed this by automatically un-pinning threads if they are moved into a private channel.

[2019-05-23 18:41] #5108 closed

[2019-05-23 18:48] brianlovin commented on #4801
@segmentationfaulter I don't have mocks, but I think if you re-used the current thread attachments, we could remove the avatar, then swap out the title and subtitle content. Maybe if we started with just issue + pull request links, we could do:

**Issue**
title: `Issue title · #${issue number} (${issue open/closed status})`
subtitle: `${issue org}/${issue repo} · ${issue author full name}`

**PR**

[2019-05-29 19:11] mahaveer0496 commented on #4801
Hmm if not done yet, can i take it ? @brianlovin

[2019-05-30 12:52] brianlovin opened #5134 "Show channel label in more places"
https://spectrum.chat/spectrum/feature-requests/always-display-channel-labels~33e00062-247f-43f8-8e9b-2ba6cd3da2ac

[2019-05-31 15:19] #5114 closed

[2019-05-31 15:36] brianlovin commented on #5056
This was completed

[2019-05-31 15:36] #5056 closed

[2019-05-31 15:42] #5061 closed

[2019-05-31 16:12] #5091 closed

[2019-05-31 16:13] #5115 closed

[2019-05-31 16:41] #5120 closed

[2019-05-31 17:04] #5134 closed

[2019-05-31 17:04] #5119 closed

[2019-05-31 17:05] #5106 closed

[2019-06-04 14:29] lpar opened #5151 "PageUp/PageDown keys don't work"
Page Up and Page Down keys don't do anything. Seems to affect every page on the site. Have tried clicking the scroll bar first, doesn't help.

Sample URL of a page that won't scroll:
https://spectrum.chat/spectrum/feature-requests?tab=posts

Using Firefox 67.0 on Linux.

[2019-06-06 09:37] SAPikachu commented on #4654
@brianlovin The link above no longer works, can you post a new one? We need the assets for our custom Spectrum install, thank you very much!

[2019-06-06 12:02] entrptaher commented on #4654
We stored a copy on our fork https://github.com/vanila-io/spectrum/tree/alpha/deployment/s3-default-images

[2019-06-06 12:18] SAPikachu commented on #4654
Oh great, thank you!

[2019-06-07 02:13] tanmoyopenroot opened #5159 "extra scroll bar on hovering over the user name."
**Issue Type**

- [x] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description**
On hovering the cursor over the last user in a modal creates an extra scroll bar because of the popup.

I think the popup should appear above the user name or below the user name based on

[2019-06-10 02:30] corysimmons opened #5165 "Feat req: Respect newlines in code snippets"
**Issue Type (check one)**

- [ ] Bug Report
- [x] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**

Currently Spectrum destroys empty newlines in code snippets. This is bad because empty newlines are really helpful for readability.

[2019-06-11 19:30] mahaveer0496 commented on #4801
hehe sorry if its a weird question but does :+1:  mean i can go ahead and do it? :sweat_smile:  @brianlovin

[2019-06-11 20:22] brianlovin commented on #4801
Of course, open to ideas here too!

[2019-06-18 07:14] johnletey commented on #4801
@mahaveer0496 Correct me if I'm wrong, but it doesn't appear that there is much progress on this ... can I take over?

[2019-06-18 07:18] johnletey commented on #3369
Is anyone currently working on this? I see that this hasn't had activity since August of last year. Would love to give this a try!

[2019-06-18 08:00] mahaveer0496 commented on #4801
@johnletey I'm actually trying, just having a hard time making sense of code 😓
If I don't finish by this week, can I ping you?

[2019-06-18 08:02] johnletey commented on #4801
Let me know if you need any help!

@mahaveer0496 Of course you can!

[2019-06-18 16:59] brianlovin commented on #3369
@johnletey I don't think so :)

[2019-06-18 17:20] johnletey commented on #3369
@brianlovin I'll have a go at it then!

[2019-06-21 10:30] mahaveer0496 commented on #4801
@johnletey sorry man i couldn't finish, i need more training before contributing to open source..... please go ahead and take it.

[2019-06-22 05:12] johnletey commented on #4801
@mahaveer0496 Sounds good ... I will start working on this now!

[2019-06-22 22:02] HiTMANTheRipper opened #5174 "Add New Administrator"
I couldn't figure out how to add a new administrator. I went to [/api/utils/permissions.js](https://github.com/withspectrum/spectrum/blob/alpha/api/utils/permissions.js) and there was a section about admins like:
`export const isAdmin = (id: string): boolean => {
  const admins = [
    'gVk5mYwccUOEKiN5vtOouqroGKo1',
    '01p2A7kDCWUjGj6zQLlMQUOSQL42',
    'VToKcde16dREgDkXcDl3hhcrFN33',
  ];
  re

[2019-06-25 22:13] #5174 closed

[2019-06-29 04:31] johnletey commented on #5165
@brianlovin @mxstbr @corysimmons Would be more than happy to work on this! Would love to be pointed in the right direction ... say ... a file?

[2019-06-29 04:33] johnletey commented on #4995
I can work on this @brianlovin ... all you want is to add text on the explore page?

[2019-06-30 00:25] corysimmons commented on #5165
Grepped project for `\n` (for newlines regex) and found nothing 🤷‍♂️. Grepped for `code` suspecting the filename would have something to do with "code" and stumbled upon https://github.com/withspectrum/draft-js-code-editor-plugin and https://github.com/withspectrum/draft-js-prism-plugin

The problem is probably within one of those plugins.

[2019-06-30 03:59] johnletey commented on #5165
Thanks, @corysimmons ... I will take a look!

[2019-06-30 13:39] stevenolay opened #5184 "Disregard"

[2019-06-30 13:50] stevenolay commented on #5184
Could also pass the cacheKeyFunction /api/loaders/create-loaders.js into the options object before passing the options object to the dataloader constructor.

The cache-key function would tell dataloader how to transform the keys before storing them in the map.

[code]

[2019-06-30 18:33] #5184 closed

[2019-07-01 07:11] mxstbr commented on #5184
Hey @stevenolay, this was the caching issue, right? What did you find out?

[2019-07-01 11:17] brianlovin commented on #4995
@johnletey I'm actually not sure what the design for this should look like, and I'm not able to prioritize any time to work on this. If it's okay, can you hold off for now?

[2019-07-01 11:26] johnletey commented on #4995
Totally fine @brianlovin ... I'll find another issue to work on in the meantime 😄!

[2019-07-09 04:18] veerjainATgmail commented on #2805
Is this in progress? Any pointers to the development branch?

[2019-07-10 15:23] brianlovin commented on #2805
This isn’t in progress, so no development branch 😊

[2019-07-17 00:35] fanny opened #5196 "Highlight like icon in list of posts"
FILL OUT THE FORM BELOW OR THE ISSUE WILL BE AUTO-CLOSED

**Issue Type (check one)**

- [ ] Bug Report
- [X] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**

Current, when a user like a post, the like icon only have a highlight when the thread is open,

[2019-07-17 00:36] fanny commented on #5196
cc @brianlovin

[2019-07-17 06:18] lewisvrobinson opened #5197 "Login button overflow on mobile (web)"
### Description

On mobile the social sign in buttons overflow the page

![mobile screenshot](https://user-images.githubusercontent.com/8475441/61350302-7ad1fe80-a8aa-11e9-8016-bb3b40fcebc2.png)

### Possible Solution

Add `grid-column-end: span 2;` to the styled [`A`](https://github.com/withspectrum/spectrum/blob/alpha/src/components/loginButtonSet/style.js#L17-L20) at smaller breakpoints. This w

[2019-07-17 23:28] omarzion opened #5198 "Login with githib"
I'm not able to login with GitHub anymore, it takes me to username selection and my username is already taken

Username is omarzion

[2019-07-25 18:45] jessuppi opened #5203 "Add option to disable private (direct) messages"
First of all, Spectrum is very impressive, great stuff!

While the [feel-good, uber-positive](https://spectrum.chat/spectrum/general/disable-direct-messages~cd4aff4e-34f3-4334-915a-dec69658ce75) vibes are wonderful for a new app, forcing all users to receive private messages is just a bad idea in my opinion. Certainly it's a big drawback for businesses or other "serious" teams who want to limit co

[2019-07-26 15:49] johncomposed opened #5204 "Unable to signup/login at all, 500 errors"
**Issue Type (check one)**

- [X] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**
I appear to be unable to signup/login at all.

When I tried to login with google I got stuck with every page redirecting to `https://spectrum.chat/new/use

[2019-07-26 20:01] cherewaty commented on #5204
I can confirm the same problem today on Safari Mac. Clicking "go home" goes to to the domain root but with the same UI.

<img width="634" alt="Screen Shot 2019-07-26 at 2 59 11 PM" src="https://user-images.githubusercontent.com/230597/61978185-30d9ce80-afb6-11e9-8d9e-4e88962d9ca0.png">

[2019-07-28 23:20] fabgilson commented on #5204
Same problem on Linux (Firefox and Chromium) and Windows (Firefox, Chrome and Edge).

[2019-07-29 15:18] nicobgts commented on #5204
Same issue on Chrome + Firefox.
I tried to revoke access to spectrum on Github and tried to sign up again but same issue...

[2019-07-30 15:00] brianlovin commented on #5204
This was fixed yesterday, sorry for the trouble everyone.

[2019-07-30 15:00] #5204 closed

[2019-08-04 02:39] RehabHussein commented on #2796
hi @brianlovin  if no one is working on this issue I would be happy to fix it !
One side question to make sure I am reproducing the same issue, does the UI changed from the above screenshot because that's how the community appears now for me
![image](https://user-images.githubusercontent.com/15670284/62418764-d7d30000-b671-11e9-8164-90c2487e088d.png)

[2019-08-05 10:24] Victordmdb opened #5221 "Committed keys"
https://github.com/withspectrum/spectrum/blob/alpha/api/authentication.js#L38

Not sure if this was on purpose but a few keys seem to have been committed.

[2019-08-06 06:54] dhruvdutt commented on #4899
@TruptiM18 Any update?
Can I pick this up? ✋

[2019-08-06 06:54] dhruvdutt commented on #4801
@johnletey Any update?
Can I pick this up? ✋

[2019-08-06 15:01] brianlovin commented on #2796
@RehabHussein yes the UI has since changed, but would love your help on patching this!

[2019-08-06 17:51] milad440550 commented on #3369
Any Update? I'll try to go and get this done. :)

[2019-08-06 17:56] brianlovin commented on #3369
No update yet @milad440550 :)

[2019-08-06 18:02] milad440550 commented on #3369
@brianlovin Ill do my best to get it done. 😄

[2019-08-10 11:08] jessuppi opened #5226 "Consider changing the brand (product) name"
Especially now that Spectrum Chat has been acquired by GitHub, and thus Microsoft, it would seem a good juncture to consider renaming the brand.

https://insights.dice.com/2018/12/11/github-spectrum-acquisition-tech-pros/

There is a massive telecom company in the United States called Spectrum, and pretty much any searches for "spectrum" and even "spectrum chat" are saturated with their ISP-relate

[2019-08-13 17:15] ravangen opened #5227 "Bypass graphql-cost-analysis with GQL variables"
**Issue Type**

- [x] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description**

I believe it is possible to request more data than [`@cost`](https://github.com/pa-bru/graphql-cost-analysis) is meant to permit where `multipliers` argument is used with GraphQL variable

[2019-08-16 18:43] lachlanjc commented on #5040
YES YES YES it's so small but I notice it every time I use Spectrum & it bugs me :)

[2019-08-19 12:45] michaelgichia commented on #4841
The Spectrum is a great platform for our communities. The opportunity to improve the platform will be an honor to me. @mxstbr can I take this one?

[2019-08-19 14:54] thobhanifreddy commented on #5151
I tried clicking on the window randomly and then using page up and down. It works then.

[2019-08-20 06:44] thobhanifreddy commented on #5196
![Screenshot 2019-08-20 at 12 05 09 PM](https://user-images.githubusercontent.com/12369649/63323695-0c1e1000-c344-11e9-9250-8606d9c63bb4.png)

Can do something like this?

[2019-08-20 14:28] brianlovin commented on #5196
@thobhanifreddy that would be a fantastic PR to open if you're up for it!

[2019-08-21 10:05] thobhanifreddy commented on #5196
@brianlovin I have opened a PR, but 1 test is failing. Not sure why is it failing. My commit should bot effect it.
Can you please have a look. Thanks.

[2019-08-22 07:56] dakshshah96 commented on #2557
Very old issue, does this need work? If so, happy to take this up.

[2019-08-22 12:16] brianlovin commented on #2557
@dakshshah96 I don't think this is a priority any longer, so it's probably fine for us to leave it and close :) Thank you for commenting though!

[2019-08-22 12:16] #2557 closed

[2019-08-22 12:53] #5196 closed

[2019-08-24 10:39] logeekal commented on #3369
@milad440550 I am not sure, how are you progressing on this. I spend time on this a little came up with a prototype. If you are progressing nicely, let me know and I will leave it alone. I have some questions regarding this feature to ask that may help you as well which I will ask below.

@brianlovin, I tried to implement a quick prototype using [react-image-crop](https://www.npmjs.com/package/rea

[2019-08-24 17:46] milad440550 commented on #3369
Hey @logeekal, I have progressed and came with a prototype same as you, but It needs some polishing, Ill try to make a PR by the end of tomorrow, and made one function instead of 2 functions `setProfilePhoto` and `setCoverPhoto`  and set name attribute to `CoverInput`  and `PhotoInput` component.
<img src='https://user-images.githubusercontent.com/25881325/63641007-913c5880-c6a7-11e9-8b4a-6c6992a8

[2019-08-24 18:38] logeekal commented on #3369
This is great. Its okay take your time for the PR no hurries. I will not move forward on this.

Although, I didn't use cropperjs but I think better way will be to pass a function from editform to Image Crop component and that function to take the copped image reference, even if it is through ***ref***. But I think that ref should be used in crop component only that you are creating.

And It is awe

[2019-09-02 08:58] milad440550 commented on #3369
@brianlovin Hello Brian, I have fixed this issue and added the cropping step when uploading the image. It would be great if you take a look at and if it looks fine, you can merges it with the alpha branch. 😄

[2019-09-05 19:23] strtw commented on #5022
Is this still an issue?

![spectrum-message](https://user-images.githubusercontent.com/11788126/64374093-ee090e80-cfd7-11e9-8ca1-2b0b9e512625.gif)

[2019-09-09 03:24] jerriclynsjohn opened #5267 "Random ordering of messages before it gets reflected in the server."
- [x] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question

When sending the message the order of recent messages seems to be juggled till it's reflected in the server side.

### Scene:

1. List of recent messages before sending:

![BeforeSending](https://user-images.githubusercontent.com/3236669/64501352-a7205f00-d2de-11e9-8e38-70b4144de195.png)

2. Juggled list of messages bef

[2019-09-10 13:32] wolverineks opened #5268 "Text input covers publish button"
When in mobile, text input extends over the publish button making it impossible to publish.

![858e0888-dcf8-422e-83af-fbda11c7e107-Screenshot_20190909-064500](https://user-images.githubusercontent.com/8462274/64618195-a64a0480-d394-11e9-89b1-c1be1e9a578b.png)

[2019-09-10 18:29] LauSam09 opened #5269 "Shift-deleting messages not updating cache"
**Issue Type**

- [x] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description**
Cache does not appear to be updating after message deletion mutation when bypassing modal. This is because the props supplied to it are different when `deleteMessageWithToast` is called di

[2019-09-18 12:56] #5269 closed

[2019-09-18 12:59] #5159 closed

[2019-09-21 18:21] kushmisra opened #5276 "Cursor converted to pointer even when hovered a little above button"
**Issue Type (check one)**

- [x] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**

![Screenshot from 2019-09-21 23-42-45](https://user-images.githubusercontent.com/25305139/65377473-0d878300-dcca-11e9-88a5-55e799285771.png)

Hovering a

[2019-09-27 07:18] jerriclynsjohn commented on #5267
This is still a bug!

[2019-09-28 21:59] praecantatio opened #5285 "Sign up page does not have other social logins"
When inviting a person without a spectrum account to a private channel, the link redirects to sign up page which does not contain most of the social accounts available on the login page.

[2019-09-29 10:55] mxstbr commented on #5285
When we were acquired by GitHub, we removed all other sign up options. To ensure existing users could continue to login other options are still shown on the "Log in" page, however new users have to use GitHub.

Sorry for any troubles this causes!

[2019-09-29 10:55] #5285 closed

[2019-10-02 01:11] abhishekakade commented on #5268
Can I work on this issue if no one is already on it?

[2019-10-03 16:16] rakesh-intelligaia opened #5287 "Gmail Login redirects to Github login"
Trying to login from a different computer using Gmail login is taking me back to Github login. I haven't even linked my GitHub to my spectrum account.

[2019-10-04 21:37] stevenolay commented on #5184
The default hashmap used by facebook dataloaders do not support arrays as keys.

const key1 = ["a", "b"]

const key2 = ["a", "b"]

loaders.usersPermissionsInCommunity(key1)
loaders.usersPermissionsInCommunity(key2)

Will always result in a cache miss. You have to supply a hashmap to the dataloaders on instantiation that supports arrays as keys if you want to handle list tuples as keys.

[code]

[2019-10-06 10:50] wahibhaq opened #5291 "Unable to add description to channel in settings"
FILL OUT THE FORM BELOW OR THE ISSUE WILL BE AUTO-CLOSED

**Issue Type (check one)**

- [ ] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**

The "Description" field in the settings of a channel keeps getting redrawn and not allowing to

[2019-10-07 18:58] kushmisra commented on #5276
@lekterable, the change looks good and easy. Closing this as a PR is already raised for this.

[2019-10-07 18:58] #5276 closed

[2019-10-09 12:32] denkristoffer commented on #4705
This seems to have been implemented, is that correct? I just tried writing a post with a forced linebreak in a markdown quote, but the two spaces at the end of the line (which creates the linebreak) are getting trimmed:

[code]

becomes

[code]

[2019-10-12 00:05] el1f commented on #4801
Is this still up for grabs?

[2019-10-12 00:06] el1f commented on #4298
Hey guys! Has there been any update on this?

[2019-10-15 13:58] zivanovicb1 commented on #5268
@wolverineks, Can you publish when the keyboard is closed(worked for me)? I tried bringing up a keyboard in Devtools(Nexus 5x) in local setup and was able to publish.

[2019-10-21 10:59] daggala opened #5294 "Sort by date published"
**Issue Type (check one)**

- [ ] Bug Report
- [X] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)** -->

Automatically when you open a sub community, the threads are listed in chronological order of when they were last active. You can sort by "latest" an

[2019-11-02 01:15] harshzalavadiya opened #5297 "Flicker issue on page reload"
FILL OUT THE FORM BELOW OR THE ISSUE WILL BE AUTO-CLOSED

**Issue Type (check one)**

- [x] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**

https://youtu.be/0B-dL9daNnM

Every time I realised page it just shows it’s disconnected and re

[2019-11-04 20:17] brianlovin commented on #5297
Hm, this is definitely a bug but I'm not quite sure what might be causing this. I can't repro on my end, which makes me think you might be on the right track with a network speed issue or a bad rehydration. Does it do this for you on every page?

[2019-11-04 23:32] harshzalavadiya commented on #5297
@brianlovin happens on all pages but only on reloading page normal navigation works fine

[2019-11-06 14:59] happylolonly opened #5298 "Page jumping (seems like SSR rehydration ussue)"
Hi, I began to use Spectrum 1 week ago, I noticed that page is jumping while loading. I think it is the problem with rehydration: SSR => browser content is another => white screen => render from scratch.

I fixed similar issues, can help fix it, if it is a problem with rehydration.

Like this – https://spectrum.chat/zeit/now/app-root-on-serverless-environment~6932a8c0-cf85-42ed-abff-0108445c5db9

[2019-11-06 15:07] brianlovin commented on #5298
Hey there - yes, this appears to be an issue with SSR rehydration. Thanks for flagging :)

[2019-11-09 14:46] taciosd commented on #2796
Hi @brianlovin, I'm a experienced developer in java desktop apps trying to improve my web skills. I would like to contribute working on this issue.

[2019-11-09 20:21] taciosd commented on #2796
@brianlovin
I added some regex to block community creation if the name or the description does not adhere to the rules. Needs more testing.
And I would like to know where should I put the two regex (whitespace, oddHyphen) to reuse them in other places, like to protect channel name, channel description, etc.

[2019-11-13 05:25] OfficialMarinho commented on #2805
@brianlovin Is there any forecast of the possibility of new translations of the website?

[2019-11-25 17:06] #5197 closed

[2019-11-25 17:08] #2796 closed

[2019-12-03 17:03] machester4 commented on #5054
Hi @brianlovin , I would like to take this bug. no problem @mxstbr ?

[2020-01-10 16:12] jmgaya commented on #5287
Hi @rakesh-intelligaia,

I've tried to login with my Gmail account too (without being registered with it before), and you're right:

![Only GitHub sign up](https://i.ibb.co/gVrtJVP/Screenshot-2020-01-10-at-17-07-29.png)

Looks like you're only allowed to sign up using *GitHub*, but you could still keep using *Facebook*, *Twitter* or *Google* if you've created your account some time ago 😜

[2020-01-10 16:29] jmgaya opened #5309 "Wrong AMPLITUDE_API_KEY in Production environment"
**Issue Type (check one)**

- [X] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**

While debugging a bit the [Spectrum site](https://spectrum.chat/) directly (without running it locally) I've encountered a bug in the *Javascript console

[2020-01-10 16:45] jmgaya commented on #5151
The key part here is **clicking randomly anywhere**, so it could be reproduced by:

- Refreshing the [mentioned page](https://spectrum.chat/spectrum/feature-requests?tab=posts), with Ctrl/Cmd+R (Chrome or Firefox)
- Press the page up/down key, nothing happens
- Click somewhere in the webpage
- Press the page up/down key, it works

[2020-01-10 17:02] jmgaya opened #5310 "Wrong favicon.ico in admin/public/index.html"
**Issue Type (check one)**

- [x] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**

Seems [here](https://github.com/withspectrum/spectrum/blob/181cf90f8d1c49aeb97f0dbb80359daa0a1343a3/admin/public/index.html#L12) the **favicon.ico** poin

[2020-01-10 21:16] brianlovin commented on #5287
Yes, only new accounts can be created with GitHub. Sorry for any troubles here!

[2020-01-10 21:16] #5287 closed

[2020-01-10 21:16] brianlovin commented on #5309
@jmgaya this error appears when you build it locally?

[2020-01-10 21:17] brianlovin commented on #5310
Hm, I'm not sure because the favicon is definitely loading for me – is it failing to render on your end?

[2020-01-12 10:40] jmgaya commented on #5309
Hi @brianlovin !

I guess it depends on your environment, I'll test it locally, and let you know ASAP 👍

However, as you can see [here](https://github.com/withspectrum/spectrum/blob/181cf90f8d1c49aeb97f0dbb80359daa0a1343a3/analytics/utils/amplitude.js#L8), the API Key differs between prod/dev, but production seems wrong at least 😞

[2020-01-12 11:34] jmgaya commented on #5310
Hi @brianlovin ,

You're completely right! Because there's a *public* folder inside the *admin* folder, sorry!

Meanwhile, I'm having issues while running the *admin site* locally, while receiving the following error:

[code]

I know it's completely unrelated with this issue, so feel free to close it. However, if you're OK, I could fix this just by merging [this PR](), WDYT?

[2020-01-13 14:01] jmgaya commented on #5309
@brianlovin JFYI, it also happens locally:

[code]

[2020-01-15 10:55] saujanyanagpal104 commented on #4919
Can I pick this?
For this we can just put a loading shimmer on the threads while the new feed is loading.

[2020-01-15 11:27] brianlovin commented on #4919
Sure thing!

[2020-01-15 23:21] #4919 closed

[2020-01-17 18:12] wolverineks opened #5316 "Unify new comment / edit comment"
On mobile, I find that editing comments is a better experience than creating a new comment. I will often create a comment, submit, then edit immediately afterwards to get some features that only edit has.

Some examples:
edit can insert a newline without submitting (useful for paragraphs and code snippets)
edit can scroll (useful for long comments and to reference previous comments)

However, edit

[2020-01-23 07:11] discoveranirban commented on #5294
can i try to work on this issue ?

[2020-01-26 16:24] #5310 closed

[2020-01-26 16:25] jmgaya commented on #5310
As mentioned [here](https://github.com/withspectrum/spectrum/issues/5310#issuecomment-573406114), the *favicon* is right 👍

[2020-01-26 16:36] jmgaya opened #5317 "Warnings in web component"
**Issue Type (check one)**

- [X] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**

While developing locally the **web component**, there are some **warnings** displayed in the console:

[code]

Does it make sense to remove them? Some ar

[2020-01-26 16:47] jmgaya commented on #5291
Hi @wahibhaq !

I've been testing this in Production and current `alpha` branch, obtaining the following result:

![Description field working](https://i.ibb.co/fqK9BZW/Channel-description.gif "Description field working")

Does it work for you now?

[2020-01-28 01:50] brianlovin commented on #5317
@jmgaya I think these are okay to leave for now. They're a bit annoying, but I wouldn't prioritize this right now.

[2020-01-28 01:52] brianlovin commented on #5291
I've seen this "infinite" redrawing bug in the wild, too. Eventually it stabilizes and you can use the field, but agreed this is super annoying. I spent some time trying to reliably repro locally, but couldn't.

[2020-01-28 10:02] jmgaya commented on #5317
Cool, I see your point 👍

I'm going to close this issue then, thanks!

[2020-01-28 10:02] #5317 closed

[2020-01-30 12:13] KGNTEST opened #5319 "Invariant Violation: Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside componentWillUpdate or componentDidUpdate. React limits the number of nested updates to prevent infinite loops."
01-30 17:39:01.703  9741  8611 E ReactNativeJS: Invariant Violation: Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside componentWillUpdate or componentDidUpdate. React limits the number of nested updates to prevent infinite loops.
01-30 17:39:01.703  9741  8611 E ReactNativeJS:
01-30 17:39:01.703  9741  8611 E ReactNativeJS: This error is located at:

[2020-01-31 01:09] #5319 closed

[2020-02-04 07:53] akosyakov opened #5321 "feedback from Theia community"
We experience various usability and reliability issues with using Spectrum, see for example: https://spectrum.chat/theia/general/are-there-plans-for-a-proper-web-discussion-forum-for-users~dd24b3d6-8c3c-4efe-8306-2169956edd25

from @chrisjj

from @marc-dumais

Personally, i always struggle that keyboard does not work in similar way like in Skype or Slack, i.e. up arrow does not allow edit last mes

[2020-02-06 00:02] brianlovin commented on #5321
Thank you for these notes! While I can't make any specific promises around priorities or timelines, I hope we can find some solutions soon as we continue integrating with GitHub.

[2020-02-16 16:38] alvinseville7cf opened #5325 "Spectrum shows wrong number of online users"
Consider [this](https://spectrum.chat/spectrum/hugs-n-bugs/the-amount-of-online-users-is-wrong~16b86e2e-2060-4ef2-8e92-a3bd694a7d3c) post please

[2020-02-17 10:08] Alvin-Seville opened #5326 "Please add tickets support like in Slack"
It may be useful as lightweight bug-tracker for communities.

[2020-02-23 03:34] jessuppi opened #5328 "Add ability to restrict new users based on GitHub account criteria"
There is a very broad [open Issue](**url**) regarding various moderation tools, which I will comment on also, but this seems to warrant its own separate topic.

The problem our new-and-growing community is facing, and I'm sure many others are too, is that many users are creating "throwaway" (fake) GitHub accounts in order to participate.

We specifically chose Spectrum Chat because it requires use

[2020-02-29 13:19] assainov opened #5332 "useDebounce function DRY violation"
The [Channel PostFeeds](https://github.com/withspectrum/spectrum/blob/353bceb4435697e8414643ed81284d14a13e840b/src/views/channel/components/PostsFeed.js#L25) and the [community PostFeed](https://github.com/withspectrum/spectrum/blob/353bceb4435697e8414643ed81284d14a13e840b/src/views/community/components/postsFeeds.js#L22) both have the same `useDebounce` hook declaration. I want to move it in `src

[2020-03-07 10:12] sidoosh commented on #5325
Hi @Alvin-Seville,
Can I work on this issue?

[2020-03-07 10:13] Alvin-Seville commented on #5325
Yes, of course you can.

[2020-04-03 22:02] saujanyanagpal104 commented on #5085
I would like to work on this :)

[2020-04-04 18:21] brianlovin commented on #5085
@saujanyanagpal104 it's safe to leave this one for now, but thanks so much for offering!

[2020-04-05 18:16] ghost opened #5336 "Dark theme or night theme"

[2020-04-06 14:16] Mohammedalasaad opened #5337 "Is there admin login"
Hi,
I could not find any documentation for spectrum. Just wonder is there a admin login to manage users and so ?.. How could we login to admin I have installed it locally and what is the default username and password

Thans

[2020-04-06 19:33] davejon1337 commented on #5328
can i take this issue?

[2020-04-06 20:02] brianlovin commented on #5328
@davejon1337 thanks for offering, however, right now we're not going to prioritize this.

[2020-04-12 00:53] Js-Brecht commented on #4972
@brianlovin I see this issue has been around for a while.  I was just going to take some action on it, because it is rather frustrating using the app on mobile due to this (among other things).

I have one question for you: would you be willing to accept a new user preference setting that would allow user's to alter the `Enter` key behavior universally, instead of limiting the new behavior to just

[2020-04-13 18:46] brianlovin commented on #4972
Hey @Js-Brecht - thanks for the note and clear rationale behind the changes. Right now my suggestion is to not prioritize this work. I would recommend for the time being that you and your communities begin to think about migrating to GitHub's Discussions product that we're currently testing (https://github.com/zeit/next.js/discussions) - if you have some repositories that you'd like the Discussion

[2020-04-13 18:47] #5165 closed

[2020-04-13 18:49] #4857 closed

[2020-04-13 19:11] Js-Brecht commented on #4972
One repository that would really benefit from GitHub Discussions, IMO, is https://github.com/gatsbyjs/gatsby.  That happens to be the community I have been working the most with on Spectrum.  However, I don't think I should be volunteering them for that, since I am not a member of the core team.  Probably better to let them make the decision; I will open a discussion with the core team and ping yo

[2020-04-13 19:16] brianlovin commented on #4972
I think our team is in touch with the Gatsby folks, and we'd be happy to turn on Discussions for them at any time if they're ready :)

[2020-04-13 20:12] Js-Brecht commented on #4972
Ahh, that's great!  I hope they go for it.

[2020-04-19 22:50] fmihal commented on #4841
I think I can grab this one for investigation and fix. Thanks in advance.

[2020-04-20 15:59] brianlovin commented on #4841
@fmihal this one is safe to ignore for now, thanks for jumping in though!

[2020-04-20 16:16] fmihal commented on #4841
@brianlovin  Thanks for the reply. If you think that there is something worth picking up, I would like to help. Please link the issue below.

[2020-04-20 17:27] #4841 closed

[2020-04-22 18:25] sachinkalkar opened #5342 "join chay"

[2020-04-22 18:28] sachinkalkar commented on #5342
join ai as new i m stuck on chapter 1 exercise 3 plz help in peer review process

[2020-04-22 19:19] #5342 closed

[2020-04-27 22:35] umitkucuk opened #5344 "Redirecting issue because of a moved community"
Hi there. I want to mention an annoying issue that I am having currently.

My first channel on the sidebar is **spectrum.chat/next-js** and it is currently redirecting me to outside of **spectrum.chat**. Whenever I try to reach **spectrum.chat**, I am redirecting.

[2020-04-27 23:36] brianlovin commented on #5344
Fixing in https://github.com/withspectrum/spectrum/pull/5345 - thanks for the heads up!

[2020-04-27 23:36] #5344 closed

[2020-04-28 06:07] dhananjaysinghsengar commented on #4899
@brianlovin brianlovin I would like to pick this issue. Does it still exist?

[2020-04-28 16:31] brianlovin commented on #4899
It does, but this issue is safe to ignore.

[2020-05-11 19:33] Em-AK commented on #2805
I'd like to try the first step which is to extract current hard coded strings.
I have read about this tutorial from LinguiJS: https://lingui.js.org/tutorials/react.html.
Will look at the doc from alternative libs before starting.

[2020-05-11 19:35] brianlovin commented on #2805
Hey @Em-AK I would hold off on this now as we prioritize GitHub discussions :)

[2020-05-19 18:57] gurgunday commented on #4661
This makes sense but what about casual people that don't have GitHub? I mean Spectrum is an amazing Reddit alternative and not every community is made for developers, maybe you could also add password-free login with mail or something for other type users?

[2020-05-19 19:01] gurgunday commented on #5328
I think you should since the GitHub only login can be good for development related communities (when not abused by spam) but there should be a way of logging in for casual users also...

[2020-05-19 19:26] brianlovin commented on #5328
We are focusing entirely on supporting developer communities going forward :)

[2020-05-19 19:27] brianlovin commented on #4661
We're focusing primarily on developer communities going forward, I hope there are other tools out there that can be great for non-developer communities :)

[2020-05-19 19:55] jessuppi commented on #5328
To comment further on this topic, consider the (very popular) Facebook groups approach, which allows group admins to require questions/answers, and shows how old a user's account is and some of their other affiliations on Facebook, etc.

Currently, Spectrum has zero filters for new users, despite a focus on developers. If a Facebook group about cooking has more security than a chat room for softwa

[2020-05-19 23:17] brianlovin commented on #5328
GitHub Discussions is the future of the platform, and will have all the great moderation and content management tools that come by default with GitHub. I totally understand this concern, but it is going to be going away as we continue integrating deeper with GitHub :)

[2020-05-22 13:50] Jans999 commented on #4899
Is this still open?

[2020-05-22 17:28] brianlovin commented on #4899
Yes, but it's safe to ignore.

[2020-05-22 17:28] #4899 closed

[2020-05-26 02:35] itokun99 opened #5357 "Cannot login with all social media account"
<img width="1440" alt="Screen Shot 2020-05-26 at 09 33 41" src="https://user-images.githubusercontent.com/45938169/82854944-194fd700-9f34-11ea-8e34-3e5c86d6263e.png">

[2020-05-26 11:54] pavanmehta91 commented on #5357
same error. It's so disappointing.

[2020-05-26 20:46] brianlovin commented on #5357
We had some API downtime this morning, sorry for the trouble here folks!

[2020-05-26 20:46] #5357 closed

[2020-05-27 05:36] Gizmotronn commented on #5336
That would be nice

[2020-06-25 00:07] pedrotpo opened #5369 "Enable/Disable Channel Notifications Icon not changing"
When clicking on the alert icon to enable/disable channel notifications, there are some instances where the icon won't change accordingly:

<img width="487" alt="Screen Shot 2020-06-24 at 20 59 48" src="https://user-images.githubusercontent.com/24573924/85639308-b0f13400-b65e-11ea-8890-7f381bce6a5f.png">

The issue seems to happen both ways, and at random moments.

[2020-06-26 07:18] hedythedev opened #5370 "Spectrum.chat application error"
I tried going to spectrum.chat earlier today and it showed "Application Error":
<img width="960" alt="spectrum_application_error" src="https://user-images.githubusercontent.com/50042066/85830975-17da2e80-b7c0-11ea-9204-2c0f17631828.png">

I did visit the same link a few days ago and it worked fine. The issue seemed to have happened only today for me 🤔

edit: I just visited the site again, and it s

[2020-06-26 07:19] #5370 closed

[2020-07-05 05:39] Js-Brecht opened #5372 "Post editing issue"
**Issue Type (check one)**

- [x] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**

Trying to edit a post throws some fun errors now:

in Chrome:
![image](https://user-images.githubusercontent.com/1935258/86526284-e8fe3100-be2d-11ea-9261

[2020-07-05 05:39] Js-Brecht commented on #5372
The `weird-hot-update-err` made me chuckle.

[2020-07-05 05:40] AbhigyanKumar opened #5373 "Directs to Figma"
# The page goes to Figma
The Spectrum website **always goes to _Figma_** even if I have no interest in it and **haven't even joined** the _Figma community_.

# Slow 🔴 page
The **pages also load very slowly** 😒. This wastes my time and even stops **at times of writing posts**.

[2020-07-06 07:28] AlexTeusz opened #5374 "Open API for Notifications in MS Teams"
**Issue Type (check one)**

- [ ] Bug Report
- [x] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**

Hello,

Providing an open API to connect spectrum with services such as Microsoft Teams would improve the usage significantly. Therefore, spectrum would

[2020-07-06 15:52] brianlovin commented on #5374
This isn't something we will prioritize as we continue integrating deeper into GitHub with the upcoming Discussions feature. Thank you for sharing this idea though!

[2020-07-06 15:52] #5374 closed

[2020-07-19 16:30] judicaelandria commented on #5373
Hey @AbhigyanKumar ,
The spectrum pages is slow ? I just open it now, and it's load quickly
Can you tell us more about your issue ?

[2020-07-19 16:34] judicaelandria commented on #5369
Yes, It's has a little latency

[2020-07-20 14:44] brianlovin commented on #5373
I can't reproduce a Figma redirect, are you still experiencing this?

[2020-07-20 16:08] AbhigyanKumar commented on #5373
No. Now it's all right. I just figured it out. It was a problem with my VPN Provide. Sorry BTW.

[2020-07-20 16:09] AbhigyanKumar commented on #5373
However, it still redirects to Figma community whenever I open it.

[2020-07-20 16:38] brianlovin commented on #5373
@AbhigyanKumar can you share a gif or screen share video of this behavior?

[2020-07-22 03:11] AbhigyanKumar commented on #5373
I just figured it out! I cleared the cache, local storage and logged out and then logged in again. And it works!

[2020-07-22 03:11] #5373 closed

[2020-07-22 05:20] jzabala commented on #5369
I would like to take this one.

[2020-07-22 14:38] brianlovin commented on #5369
@jzabala feel free to poke at this, but we won't be able to prioritize reviews on this. I would recommend not digging too deep here, unless it's just to satisfy your own curiosity :)