[2017-03-07 11:06] mxstbr opened #257 "Desktop app"
#182 will get us quite far if implemented correctly (which I assume we will do), but having a dedicated desktop app would be really nice.

It should be possible to use Electron and to render our existing app in there, adapting a bit of code to show native notifications etc. I assume that works, but haven't tried it, so a bit of experimentation will be necessary.

[2017-03-30 15:06] mxstbr opened #530 "Reactions to stories"
Why can I not react to stories?

[2017-06-13 19:44] brianlovin opened #1057 "Set up S3 same origin policy to avoid hotlinked assets"

[2017-06-30 14:03] brianlovin opened #1170 "Create a community building education ebook"

[2017-07-25 21:42] brianlovin opened #1294 "Show some thread context in slider view"
<img width="906" alt="screenshot 2017-07-25 14 42 01" src="https://user-images.githubusercontent.com/1923260/28595158-75cccc4a-7147-11e7-824f-e5c5577d4580.png">

Could be good to just show some slim context of what thread i'm in (maybe just the title along the top?) whenever I'm at the bottom of chat.

[2017-09-09 17:46] brianlovin opened #1448 "Lite pageview tracking"
This is much lower pri, but I think eventually it will be useful to track views of content on Spectrum.

A light way would just be to track thread views so that we can grant reputation to thread creators and show some social validation metrics in the UI.

If we wanted to be a bit more advanced, we should track the userId as well for each thread view, community view, channel view, and profile view

[2017-09-26 17:12] mxstbr opened #1517 "Fetch data on reconnect"
From #1515

[2017-10-16 00:35] brianlovin opened #1644 "Confirm that jobs are being processed by the latest worker deploy"
Talked with Kelly Sutton about our worker setup, and the problem we have of old deploys plucking jobs off the queue. He sent this back:

Does this sound like something reasonable to you Max? If so I could dig into how to do this. The goal would be to automate the way we kill old worker deploys.

[2017-10-24 23:09] uberbryn opened #1732 "Work around Android DraftJS issues"

[2017-10-25 21:10] superbryntendo opened #1744 "RSS Feed ingestion"
We should allow content creators to automate content with RSS

Should have queue/approval process with controls to select between (Don't post <> Post after Manual Approval <> Post automatically)

Should handle embeds for podcast feeds (maybe through a podcatcher client like PocketCasts instead of through a host like Simplecast?).

[2017-10-26 15:17] mxstbr opened #1746 "Pasting a long link into chat input in iOS Safari hides send button"
<img width="418" alt="screen shot 2017-10-26 at 5 17 00 pm" src="https://user-images.githubusercontent.com/7525670/32061304-8c9a4790-ba71-11e7-951f-ea1d602dbd57.png">

[2017-10-28 20:47] brianlovin opened #1771 "Chunk cache issues?"
<img width="1471" alt="screenshot 2017-10-28 13 47 07" src="https://user-images.githubusercontent.com/1923260/32138383-8d5cb642-bbe6-11e7-966b-97b2336a0ecb.png">

@mxstbr  this is a new one for me - causing my notifications dropdown to be empty all the time. Any ideas?

[2017-10-31 08:52] mxstbr opened #1803 "Mobile apps"
We could really use a hand at making this happen, there's quite a bit of ReactNative work to go yet.

**If you're interested in helping out with mobile apps, please see the linked issue for the individual screens below!**

- ~~Shared component library built with `styled-components/primitives` (@brianlovin you had a WIP PR for this somewhere?)~~
- [x] Figure out if we want to use expo.io (probably?

[2017-10-31 17:21] mxstbr opened #1806 "DM badge doesn't always show up"
People are missing DM notifications because of it. https://spectrum.chat/?t=33c486ed-a27f-4bc6-bac9-018454209234

[2017-11-01 16:05] mxstbr opened #1822 "Add Markdown cheat sheet button to composer"
Something like this:

![](https://spectrum.imgix.net/threads/1d9e1699-0902-458a-89a3-2bbf6a81d775/Screen%20Recording%202017-11-01%20at%2009.01%20AM.gif.0.9869268745905715?max-w=823.1999999999999)

From: https://spectrum.chat/thread/1d9e1699-0902-458a-89a3-2bbf6a81d775

[2017-11-01 16:10] mxstbr opened #1824 "Toggle on codeblocks for languages"
I really like this toggle to change the language of a code snippet:

![](https://spectrum.imgix.net/threads/1d9e1699-0902-458a-89a3-2bbf6a81d775/Screen%20Recording%202017-11-01%20at%2009.07%20AM.gif.0.3602711804770595?max-w=823.1999999999999)

Shouldn't be too hard to integrate that into messages and threads!

From: https://spectrum.chat/thread/1d9e1699-0902-458a-89a3-2bbf6a81d775

[2017-11-04 18:48] brianlovin opened #1871 "Do some image resizing on the server before storing in s3"
Ideally we don't let 16mb photos hit our server - let's do *some* processing to trim these down before they hit s3, then let imgix do the rest

https://spectrum.chat/thread/69872cca-3876-4864-ac6c-9a086f9de06b

[2017-11-05 06:46] brianlovin opened #1883 "Refactor hermes to pipe all emails through one central permissions check"
Right now *every* email we send has different queue logic for weeding out recipients and if those recipients have settings turned on to receive a notification of that type. I'll refactor this to pipe all emails through *one* function that *just fucking works* so we stop accidentally sending emails to people who have their settings turned off

[2017-11-06 23:09] brianlovin opened #1913 "Photos in new thread emails need to be encoded"
They currently fail if they contain underscores.

[2017-11-07 01:43] brianlovin opened #1918 "Add tooltip to message code toggle"
https://spectrum.chat/spectrum/hugs-n-bugs?thread=41bcaf20-0045-400d-bbcc-5fd1ad65fcde

[2017-11-07 02:09] brianlovin opened #1925 "Re-add the rep counter in digest emails"
We would previously add a small snippet at the top of daily and weekly digest emails which told people how much rep they gained for their contributions in that timeframe. We took it out for two reasons:

1. The strings were a bit verbose, and pushed down the core content of the digests
2. We had a semi-snarky attitude in the strings for people who gained 0 rep in that time period

All of the code

[2017-11-07 11:13] mxstbr opened #1931 "Live online badge"
Similar to Zeit's "111/3000 people online right now"

[2017-11-08 00:45] brianlovin opened #1948 "New thread notifications returns an empty notification in the dropdown if the thread was deleted"

[2017-11-08 12:47] mxstbr opened #1954 "Style unsubscribe page"
Have gotten riffed about this page on Twitter twice now: https://twitter.com/sebmck/status/928222661658009600

[2017-11-08 13:44] mxstbr opened #1955 "Denormalize member counts"
After clicking around the app for a while and looking at the queries that took the longest overall, this is what I'm left with:

![screen shot 2017-11-08 at 2 43 41 pm](https://user-images.githubusercontent.com/7525670/32552171-52abde46-c493-11e7-9ea7-614854d16396.png)

`.count()` is slow af. We should look into denormalizing that (as much of a pain as that is) to speed up loading of community pag

[2017-11-08 15:20] brianlovin opened #1962 "Images in threads still don't load until refreshed"
https://spectrum.chat/thread/1fe6e115-a79d-4483-9c61-656d06d72d25

[2017-11-13 19:42] superbryntendo opened #2007 "Hide the "new content" indicator when the thread feed is scrolled to the top"
Right now we dismiss the 'new content' indicator when it is slicked, but it should also be removed when someone scrolls to the top of the inbox feed.

[2017-11-17 00:30] brianlovin opened #2049 "Allow previewing of image before upload"
https://spectrum.chat/?t=5ba2f853-b04f-4343-8487-03889fb2314d

I do agree, our image upload is very sudden and does make me a bit anxious that i might accidentally upload the wrong image.

[2017-11-20 18:44] superbryntendo opened #2079 "images don't render in edit mode"
for "Interface" post (https://spectrum.chat/?t=ac4cba39-0582-4b73-9582-9e863ed66346)

Gonna do some testing, but there are 3 images in there and none render in edit mode.

[2017-11-20 18:46] uberbryn opened #2080 "pasting issues in post editor"
~~Pasting code from Dropbox Paper into a code block in Spectrum puts each line side-by-side. This was fixed by pasting it in Atom first.~~ Fixed

~~Pasted underscores are converted to Markdown and bold some of the code.~~ Fixed

When pasting large chunks of text, the sidebar gets disconnected from the cursor. Usually at the top of the current paragraph.

When pressing enter inside a heading, it mo

[2017-11-21 18:32] superbryntendo opened #2086 "Yearly membership"
Had a user request that they be able to pay for membership yearly rather than monthly. His reason was just that they try to reduce the number of monthly payments.

We could maybe give a 10% discount or something?

[2017-12-01 05:17] brianlovin opened #2125 "Show individual timestamps on messages again"
Shawn from Netlify said this was his biggest and most pressing non-bug request, fwiw

[2017-12-04 16:48] brianlovin opened #2133 "Codesandbox embed breaks threads"
https://twitter.com/frontsideair/status/937658548057755648

[2017-12-05 10:53] mxstbr opened #2142 "Quoted replies"
It'd be neat to be able to quote-reply to a specific message in a thread, similar to what WhatsApp does:

![quoted-replies-whatsapp](https://user-images.githubusercontent.com/7525670/33603468-eb6f9f4e-d9b2-11e7-9af2-21e1d661fdfd.jpg)

That would make long threads a lot more manageable!

[2017-12-05 10:58] mxstbr opened #2144 "Watercooler results"
@brianlovin now that we've tried the watercooler in a couple communities, how did it work out? Do we want to make it a core part of Spectrum? What's the way to do that?

[2017-12-05 13:02] mxstbr opened #2145 "Move dashboard thread selection logic into componentWillMount"
Right now, when we server-side render the dashboard it looks like this:

<img width="1440" alt="screen shot 2017-12-05 at 1 59 43 pm" src="https://user-images.githubusercontent.com/7525670/33608412-b8ece9f2-d9c4-11e7-9f16-4d09c1ae5872.png">

Obviously images are missing (dunno why) but what's much worse is: No thread is shown. No matter if you have the `?t` param or not, no thread is ever shown.

[2017-12-05 19:41] mxstbr opened #2150 "Nicer SSR error page"
<img width="345" alt="screen shot 2017-12-05 at 8 40 26 pm" src="https://user-images.githubusercontent.com/7525670/33627038-954f4b06-d9fc-11e7-8a47-f7caad2598c2.png">

This is the `.catch` after SSRing throwing an error.

[2017-12-05 20:28] brianlovin opened #2151 "Allow users to abort from onboarding"
If someone signs in with the wrong social account, they get forced into onboarding and can't change their login method

https://twitter.com/mxstbr/status/938141301635207174

[2017-12-05 23:08] mxstbr opened #2154 "Don't load full user data in GraphQL context"
We almost never use the full user data from the GraphQL context in any resolvers (always just the id), yet we fetch it on every request to populate the context :confused:

We should just send the ID as context.userId rather than the full user object as context.user.

[2017-12-09 11:38] mxstbr opened #2184 "Improve rep feedback for users"
As we discussed yesterday, we should introduce some more rep positive reinforcement for users. Some ideas from yesterday plus some more I had just now:

- [ ] Add rep increase/decrease to daily/weekly digest
- [ ] Add total rep + explanation dropdown on click to navbar
- [ ] Email on significant rep reached ("Congrats on 1000/10000/100000 rep in x community/total!")
- [ ] Show rep explanation on u

[2017-12-10 21:18] superbryntendo opened #2185 "Add image/link previews to inbox thread cards"

[2017-12-10 21:19] uberbryn opened #2186 "Add some indication of "pinned" status to main thread feed to highlight important content"

[2017-12-11 21:38] uberbryn opened #2196 "usernames are capitalization-specific"
if you go to spectrum.chat/users/traykov it says "no user", but if you go to spectrum.chat/users/Traykov it works.

[2017-12-12 05:24] brianlovin opened #2199 "Infinite scroll gets triggered twice sometimes on refetch"
@mxstbr when I was fixing #2198 I noticed that sometimes our infinite scroll component triggers twice in a row with the same cursor id. As a result, it hits the db twice to return the same results, which then throws a react unique key error. Not the end of the world, but also a perf issue. I spent a while this afternoon trying to fix this, including debouncing and throttling the fetchMore function

[2017-12-19 07:31] mxstbr opened #2232 "Random notifications are marked as seen?"
Just opened the app for the first time today and got this:

![screen shot 2017-12-19 at 08 30 18](https://user-images.githubusercontent.com/7525670/34145574-f97ad42a-e496-11e7-955a-81a1e140a6ba.png)

How can those two be marked as seen?! I haven't looked at either notifications or emails.

[2018-01-09 18:27] superbryntendo opened #2255 "Communities in the sidebar should only show channels where the user is a member"
In the Figma community, I'm only a member of #general (thus why there are no filters available to me here), however... I'm seeing threads from #feature-requests.

I don't appear to be a participant or follower of them.

![image](https://user-images.githubusercontent.com/4926824/34736320-63800606-f527-11e7-8147-655bdccbcd40.png)

I noticed this because it was asking me to "join community" (which I'

[2018-01-19 09:24] mxstbr opened #2300 "Build thread content renderer"
DraftJS doesn't work on ReactNative. (obviously, it uses the web DOM) Instead of rendering a `readOnly` editor, we need to build a pure JavaScript renderer with `redraft` which takes the raw content state and renders it to ReactNative.

We do this for message rendering already, the thread renderer will be more complex though:

https://github.com/withspectrum/spectrum/blob/3c7f26e3a96b8d6d614087ac8

[2018-01-23 20:47] brianlovin opened #2313 "Link previews don't trigger on enter or on links with periods at the end"
https://spectrum.chat/

[2018-01-31 12:16] mxstbr opened #2329 "[Mobile v1] Splash page"
We need a splash page you land on when you first install the Spectrum app. Some sub-todos:

- [ ] Login buttons

[2018-01-31 12:18] mxstbr opened #2330 "[Mobile v1] Thread feeds"
- [x] Feature request

Once you're signed into Spectrum on mobile you should see your everything thread feed, and all the community and channels views will also mostly just show thread feeds, so we need to have some reusable thread components.

- [x] Thread card
  - [x] Basic implementation (done by @ArturKlajnerok)
  - [x] Make sure all possible states are covered
  - [x] Fix padding and colors (

[2018-01-31 12:19] mxstbr opened #2331 "[Mobile v1] Thread view"
We definitely need to have a thread view and a way to respond to threads.

- [x] Thread content renderer (#2300)
- [x] Bubbles
- [x] Share `sortAndGroupMessages`
- [x] Create reusable `<Messages />` component which takes a `data.messageConnection` prop. (same API as the `<ThreadFeed />` component which takes a `data.threadConnection` prop)
- [x] Share draftjs utils
- [x] Native message renderer

[2018-01-31 12:20] mxstbr opened #2332 "[Mobile v1] Notifications"
People need to be able to see their notifications and get them as push notifications in real-time.

- [x] Push notifications (#2366)
- [ ] Handle push notifications from the mobile ReactNative code
- [x] Notification view
  - [x] All notification types
  - [x] Infinite scrolling list (#2366)

[2018-02-07 12:46] mxstbr opened #2360 "Delete old notifications, backup in S3"
<details>
  <summary>I looked at our db size per-table. (click to see query used and result)</summary>

[code]

[code]

</details>

<br />

The total (raw) amount of data in our database is ~2800MB. ~1800MB of that is the `usersNotifications` table alone, with another ~300MB in the `notifications` table.

**Notifications take up 76% of our database space right now**, and this ratio will only incre

[2018-02-08 22:29] mxstbr opened #2371 "Expose API token in UI"
This is a note for myself:

1. Add `User.authToken` field or smth
2. Take cookies and encrypt with secret to single string rather than passing actual cookie header so folks can't just take that
3. Add each user's token to their settings
4. Users can copy them and pass via `Authorization: Bearer asdf124`

[2018-02-13 17:09] brianlovin opened #2390 "Github connect makes description disappear?"
https://spectrum.chat/thread/da21aa17-4321-46ec-a81d-27abf626718f

[2018-02-15 19:36] superbryntendo opened #2405 "Profile search upgrade"
On community, channel, and user profiles, we should convert the search segment in the segment controller into a search wrapper that filters existing feed rather than a separate feed view.

This would make the experience much more seamless. Once the logic is done to apply the search to the field, I can do the UI work for it.

[2018-02-15 19:40] superbryntendo opened #2406 "Slider Composer"
We need a global button for composing and the profile composers are kinda janky now since they're designed to be cards, but we're no longer using cards...

Let's make the composer open in the slider outside of the inbox view and use a global/local model, similar to Twitter's where:
- If you hit the "global" button (theirs is in the navbar), it populates the dropdowns normally
- If you hit the "loc

[2018-02-16 19:38] uberbryn opened #2414 "If you join a community, then click the Home button, it doesn't add your new community until reload."

[2018-02-19 07:04] brianlovin opened #2418 "Iris is missing slack import queue"

[2018-02-21 07:58] mxstbr opened #2428 "Show watercooler on community homepage"
Now that we have the cool new community homepage, I think it'd be cool to show the watercooler thread (if there is one) right there and then as an easy entry to the community for folks who want to join.

[2018-02-21 12:51] mxstbr opened #2431 "Private channel invitiations"
Either community admins or any member of a private channel should be able to invite more folks to that private channel. It's a bit annoying to have to point people to the channel page so they can request to join so you can approve.

[2018-02-27 17:58] uberbryn opened #2441 "Unable to load admin.spectrum.chat"
Brian is too. It cycles auth and crashes repeatedly.

I need access to this for fundraising before next week.

[2018-03-01 13:03] mxstbr opened #2451 "Moderation tooling v1"
There are two approaches to moderation control we can take:

1. Quick win: make it easy to contact us asap about any content/users you have concerns about.

2. Big win: Build a moderation experience that completely outstrips every other community platform. We all care deeply about privacy and safety, so this could be a key place to prove that to users AND make mods really happy by catering to them

[2018-03-05 20:21] brianlovin opened #2471 "Athena scaling breaks message notification batching"

[2018-03-05 21:54] brianlovin opened #2474 "Can't import from 'shared/' directory in admin codebase"
cc @mxstbr super super low pri, but admin was crashing because it can't actually import from the shared directory for some reason :/

This feels like a react-app-rewired config thing, but not sure how this fix should be structured in our monolith. Any ideas?

[2018-03-06 20:26] mxstbr opened #2492 "Thread composer is barely usable on mobile"
@mogsie just pinged me about this regression on alpha.

Before: ![](https://spectrum.imgix.net/threads/187d03aa-283c-49b4-ad6a-d735f2a1b9fa/Screenshot_20180306-202933.png.0.5408373798633948)

After: ![](https://spectrum.imgix.net/threads/187d03aa-283c-49b4-ad6a-d735f2a1b9fa/Screenshot_20180306-201243.png.0.043197086918179695)

Notice how the navbar makes it so you can basically see nothing of what

[2018-03-06 20:29] brianlovin opened #2493 "When composing a new DM, the chatinput doesn't refocus after reloading"
After composing a new direct message, and hit send, it re-routes to `/messages/:id` - when the thread loads, it should focus the chat input so that the user can keep typing.

[2018-03-06 20:32] brianlovin opened #2494 "Prevent zip file uploads"
https://alpha.spectrum.chat/notifications?thread=f2af9b43-4141-46e6-b46d-60d04d63d6d4

[2018-03-07 08:13] brianlovin opened #2498 "Can't paginate DM threads on tall screens"
This is generally an issue with how our pagination triggers work - if the loading indicator is in view, it should autotrigger a pagination (or fall back to a button or something) so that you can paginate on a tall screen.

[2018-03-07 16:17] mxstbr opened #2502 "DraftJS Android reproducible bug"
Thanks to @mogsie I've now got a quick and easy repro for crashing the thread editor on Android:

1. Create an empty line (press "Enter")
2. Delete the empty line (press "Backspace")
3. Press "Enter" again and it crashes

Going to dig into that locally with logs! 😍

[2018-03-07 18:56] brianlovin opened #2505 "Suggest cover photo safe areas/dimensions"
https://twitter.com/xoalexo/status/971389746227433472

[2018-03-12 16:15] brianlovin opened #2556 "https urls don't seem to work in profile fields"

[2018-03-12 16:15] brianlovin opened #2557 "Add ref tags to outbound links"
Quick win to let people know we're sending them traffic, especially from community/user profiles.

[2018-03-13 05:16] uberbryn opened #2563 "User panel in analytics doesn't show rep"
![image](https://user-images.githubusercontent.com/4926824/37323750-f9ab3ab4-2642-11e8-99c2-b1b6f4ba6d14.png)
 example is from specfm community.

[2018-03-13 17:00] brianlovin opened #2571 "DM threads duplicate on pagination"
WHAT THE HELL

<img width="398" alt="screenshot 2018-03-13 10 00 28" src="https://user-images.githubusercontent.com/1923260/37357342-696ce5a2-26a5-11e8-8dc0-89ed9a6f33c9.png">

I don't know what would have even touched this code...

[2018-03-13 17:17] brianlovin opened #2572 "Truncate link attachments"
<img width="429" alt="screenshot 2018-03-13 10 17 25" src="https://user-images.githubusercontent.com/1923260/37358225-c5dddccc-26a7-11e8-9d73-2d12f6d3eb6a.png">

[2018-03-14 16:30] superbryntendo opened #2583 "scrolling not working"
I have to scroll to the bottom of this thread manually each time I load it.

https://spectrum.chat/thread/2266bb1f-6150-469d-80f1-128bf45c8540

[2018-03-14 19:46] brianlovin opened #2585 "Prevent duplicate threads"
<img width="413" alt="screenshot 2018-03-14 12 45 25" src="https://user-images.githubusercontent.com/1923260/37427140-a2742b0e-2785-11e8-9cab-289b203a7fe1.png">

We should have some backend checks to prevent things like this from happening.

[2018-03-16 09:55] mxstbr opened #2592 "Going open source"
Making an issue here to start collecting the effort required to get us to open source-ability:

- [x] Add Danger (#2567)
  - [x] Enforce flow typing of new files
  - [x] Auto-labelling plugin for PRs ([`danger-plugin-labels`](https://github.com/withspectrum/danger-plugin-labels))
- [x] Add ESLint (#2590)
- [x] Add issue template (#2596)
- [x] Clean up labels
  - [x] Add `good first issue` label

[2018-03-17 02:14] uberbryn opened #2595 "When cancelling a post, no thread is selected."
![image](https://user-images.githubusercontent.com/4926824/37550657-3e95f110-294e-11e8-9761-99550f615c88.png)

[2018-03-18 23:20] brianlovin opened #2598 "User Invitations v1"
First draft design for an invitation system:

**Problem:**
People need a better way to invite people to their communities and private channels. Today they can only send a link to people via email, but have no way of knowing if those people ever take action on the invitation. Additionally, it is challenging today for people to invite others to private channels or to securely ensure that the only th

[2018-03-19 16:20] brianlovin opened #2606 "Add short (2s) timeout on status bar when ws reconnecting"

[2018-03-19 18:13] uberbryn opened #2610 "Unsent message shows up in all chat inputs"
I typed a message into the DM input and opened a new tab to look at a different thread and the message popped up in the new thread too.

[2018-03-20 19:27] uberbryn opened #2628 "On community views, users show global rep vs local rep."
![image](https://user-images.githubusercontent.com/4926824/37678029-112949ae-2c3a-11e8-9271-a42ac9204a55.png)

[2018-03-21 15:49] brianlovin opened #2634 "Edit thread menu stays open after editing"
https://alpha.spectrum.chat/spectrum/hugs-n-bugs?thread=c60f8710-e738-4499-96d0-8eb4409391d0

[2018-03-23 17:43] mxstbr opened #2646 "Only update threadLastSeen if it's later than the current one"
I keep seeing the "New messages" indicator in my feed, even though the last message sent was my own. I think that's due to a race condition in athena where an old `updateThreadLastSeen` runs after a later one.

We should make sure in the athena queue to check that the new threadLastSeen is later than the current one, or abort the update otherwise.

[2018-03-23 19:03] brianlovin opened #2647 "Rethink new thread and new messages badging logic"
I understand the logic behind our badges, I just think they need some improvement. Going to this view as a non-member is super intimidating because *everything* demands my attention:

<img width="1680" alt="screenshot 2018-03-23 12 01 58" src="https://user-images.githubusercontent.com/1923260/37848664-263567c4-2e92-11e8-92ab-d01c9d553c29.png">

We should just have some extra flags here to prevent

[2018-03-24 12:29] mxstbr opened #2649 "Mention typeahead"
We need typeahead that shows suggestions of folks to mention.

[2018-03-27 18:31] brianlovin opened #2658 "Improve thread scrolling based on improved threadLastSeen logic"
The current thread scrolling behavior is to push you to the bottom when you are either a participant or thread creator. Up until now this has been our best guess at if you should auto jump to see the latest messages.

But now that we know if a user has visited a thread before, we should incorporate that into the scroll logic, so that when I click to view a thread with the 'new messages' badge it w

[2018-03-30 18:28] brianlovin opened #2680 "Fallback Android composer"
Just making an issue to make this official: given that our chat input and thread composers break pretty significantly on certain versions of android mobile, let's provide a fallback in some way so that users can type markdown on the frontend and we parse it into draft on the server.

Maybe quick win is to do this only on the chat input so we don't have to worry about all the thread composer edge c

[2018-03-30 18:31] brianlovin opened #2681 "Upgrade Apollo Engine decision"
• Configurable alerts on response times and error rates (integrated with Slack and PagerDuty)
• Faster support response SLAs, up to 24x7x365 1-hour support

• If you don't take action before April 30, or if you choose not to upgrade to a paid plan after your trial, we'll move you to the free-forever Community plan.

@mxstbr want to make the call here on what we need?

[2018-04-01 13:46] mxstbr opened #2682 "Dynamically create meta images for threads"
Imgix has [a neat text API](https://docs.imgix.com/apis/url/typesetting-endpoint/~text) that lets one generate an image from some text. We should use this and set the `twitter:image` meta tag on thread views to an image of the thread title + maybe the number of messages in the thread.

For example, click this link: http://assets.imgix.net/~text?txt=Test&txtclr=4B5E75

[2018-04-02 10:10] mxstbr opened #2683 "Composer doesn't set defaults correctly on community view"
https://spectrum.chat/thread/2d161ec7-ff9a-4106-8df3-3109f929f238

[2018-04-02 13:23] mxstbr opened #2684 "Improve DM empty state"
Reported by @webdesserts, the empty state for DMs is pretty un-explanatory rn: https://twitter.com/webdesserts/status/980789327906172928

That could certainly be improved!

[2018-04-03 08:20] mxstbr commented on #2592
Done! :tada:

[2018-04-03 08:27] mxstbr commented on #2592
God dammit bot.

[2018-04-03 08:27] #2592 closed

[2018-04-03 11:05] tomwhale opened #2690 "Display the last message time on the thread list"
When viewing a list of threads, it could be a good idea to show last message time within the overview as currently it is hard to gather how long ago the threads were active.

Perhaps in the top right of the box in the screenshot below saying "5 minutes ago"
![screen shot 2018-04-03 at 12 02 50](https://user-images.githubusercontent.com/3050562/38245671-01780d76-3737-11e8-8745-9692da9eae74.png)

Th

[2018-04-03 11:07] mxstbr commented on #2690
We discussed about this before, but I can't remember why we decided against it. Maybe worth revisiting?

[2018-04-03 11:16] rhalff opened #2692 "Signup at spectrum.chat fails."
When I try to register with github the process succeeds, but then brings me back to the frontpage without being logged in. (Sign In is still shown)

When I try to register again it says previously logged in with github at the github button.

When I then try to register with twitter the `auth/twitter/callback` shows:
`Ooops, something went wrong! Our engineers have been altered and will fix this as

[2018-04-03 11:16] #2692 closed

[2018-04-03 11:16] rhalff opened #2693 "Signup at spectrum.chat fails."
When I try to register with github the process succeeds, but then brings me back to the frontpage without being logged in. (Sign In is still shown)

When I try to register again it says previously logged in with github at the github button.

When I then try to register with twitter the `auth/twitter/callback` shows:
`Ooops, something went wrong! Our engineers have been altered and will fix this as

[2018-04-03 11:24] mxstbr commented on #2693
That's very very weird. Which browser are you using? I don't think we touched that code at all recently

[2018-04-03 11:35] mxstbr commented on #2693
The only log that looks even remotely related was this one 34 minutes ago:

[code]

That doesn't look like it was you though, given the timing and that all the login methods fail. 🤔 Do you see any cookie set in your browser at all when using either provider?

[2018-04-03 11:48] kmelve commented on #2693
I have the same problem. Tried both Github and Google, in multiple browsers including incognito mode. Here's a screen dump demonstrating the problem.

![spectrum-chat-loop](https://user-images.githubusercontent.com/1131579/38247442-9919c9d6-3745-11e8-8594-c21b1bd6af1c.gif)

[2018-04-03 11:50] mxstbr commented on #2693
I can replicate this, actually. Digging further into this, sorry for the troubles!

[2018-04-03 11:52] rhalff commented on #2693
For what it's worth, Google sign-in gives this error:

![google_spectrum](https://user-images.githubusercontent.com/274358/38247520-8d6f07fc-373d-11e8-8e41-21465d1591b5.png)

[2018-04-03 12:01] mxstbr commented on #2693
Yeah we need to update those secrets apparently, /cc @brianlovin who has access to that.

I don't understand why all of these are just suddenly failing out of the blue. What's happening?

[2018-04-03 12:18] mxstbr commented on #2693
No update here, still not sure what's going on. I'm getting 0 helpful logs from anything.

[2018-04-03 12:32] rhalff commented on #2693
The first signup with github did give me a welcome email, so that part of the registration did work.

[2018-04-03 12:40] mxstbr commented on #2693
It appears like the websocket connection wipes out the session with a garbage cookie value? The authentication callback (at least for GitHub) works correctly, but then the websocket client connects and the server responds with a garbage, incorrect cookie value

[2018-04-03 12:40] mxstbr commented on #2693
(I think)

[2018-04-03 12:55] mxstbr commented on #2693
We're definitely getting new signups in our db, and it looks like they all come from different providers, so I'm really unsure what's happening here 😕 Does anybody have any clues?

[2018-04-03 12:58] mxstbr commented on #2693
I'm seeing some logs in Sentry from the Twitter passport strategy (https://sentry.io/space-program/spectrum/issues/491462221/), but that doesn't explain why y'all are unable to log in with GitHub either!

[2018-04-03 13:10] kdichev commented on #2693
I am experiencing the same issue.

What I have noticed that I received an email about a new github oauth registration even tho I am registered into Spectrum and have given access.(I think)

email is came at 1:20 PM CET

[2018-04-03 13:14] mxstbr commented on #2693
I've been trying to fix this for two hours now, but can't seem to replicate it locally or fix it in production. No useful logs whatsoever.

I'm taking a break, trying to get a fresh mind on this. Sorry for the troubles folks 💜

[2018-04-03 13:37] tomwhale commented on #2690
If you can't think of the reason why, I am happy to pick this up later.

[2018-04-03 14:45] mxstbr commented on #2693
This was fixed by forcing the connection to always route through SFO—as soon as the DNS changes have propagated y'all should be able to log in again!

Super sorry about the troubles, I hope you stick with us 💜

[2018-04-03 14:48] #2693 closed

[2018-04-03 17:25] mxstbr opened #2695 "Thread view should show the channel somewhere"
At the moment the thread view (at least logged-in?) doesn't show the channel a thread was posted in. We should expose that information somewhere

[2018-04-03 19:34] ganesharulanantham opened #2698 "Create Dummy User and Login Credentials for dev purpose. Redirects to auths"

[2018-04-03 19:34] #2698 closed

[2018-04-03 19:46] brianlovin commented on #2698
Hey @ganesharulanantham - let me know if you're running into any issues here. We close issues if they don't have a description and a proper label, per the template :)

[2018-04-03 20:29] deadcoder0904 opened #2700 "Broken Links in Docs"
[Docs](https://github.com/withspectrum/spectrum/tree/alpha/docs) links are broken under GraphQL category

They are linked to `api/` which must be changed to 👉 `backend/api/`

[2018-04-03 20:48] vjeux opened #2702 "Layout issue when commenting from iOS within Twitter webview after Twitter account creation"
![uvbo6mtz](https://user-images.githubusercontent.com/197597/38275121-b2299e74-3745-11e8-9e5f-fe42571e054d.jpg)
![dvwe7ywa](https://user-images.githubusercontent.com/197597/38275118-b20e5dc6-3745-11e8-85b8-1e31528b6575.jpg)

[2018-04-03 21:50] brianlovin commented on #2702
Hm, i've encountered this as well cc @uberbryn - really hard to track this down because it fixes on refresh :P

[2018-04-04 03:46] satyarohith commented on #2700
#2704

[2018-04-04 04:10] brianlovin commented on #2700
Coming soon, thanks @satyarohith

[2018-04-04 04:10] #2700 closed

[2018-04-04 06:09] denny64 opened #2706 "Notifications broken"
I have enabled Chrome notifications and have tried sending messages to a friend. Neither of us received the notification. Also no in-app notifications (https://spectrum.chat/notifications) either. Is it broken?

[2018-04-04 09:25] mxstbr commented on #2706
Athena's very backlogged at the moment (6000 waiting jobs), so notifications are a bit delayed. Sorry for the troubles, I'm investigating!

[2018-04-04 09:29] mxstbr commented on #2706
I'm redeploying, it seems like something got stuck—athena's not processing any jobs rn.

[2018-04-04 09:29] mxstbr commented on #2706
I really need to fix #2471 so we can scale athena again...

[2018-04-04 09:43] mxstbr commented on #2471
Gotta fix this though so we don't have to scale athena to 1. We had 10k backlogged jobs today due to all the traffic...

[2018-04-04 10:44] denny64 commented on #2706
@mxstbr Thanks! I'll close this since its a duplicate of #2471

[2018-04-04 10:44] #2706 closed

[2018-04-04 14:43] mangej opened #2711 "Channel icons get mixed up in the sidebar"
I'm running macOS and safari. Sometimes the icons in the channel list get mixed up as you can see in the image below:

![sidebar](https://user-images.githubusercontent.com/15796457/38314675-13b04576-3827-11e8-9ef9-23e672bb8a7e.png)

[2018-04-04 15:00] brianlovin commented on #2711
We've had a few reports of this in the past, but no consistent way to repro; do you know if there was anything in particular you were doing before this happened? Or did they load in like this?

[2018-04-04 15:26] mangej commented on #2711
I've been doing some testing:

Here is a gif where I press on refresh button in safari. You can see at first the channels got their right icons during the initial loading but after they are loading the order of the channels are changed but the icons are not following.

![spectrum-channels](https://user-images.githubusercontent.com/15796457/38317038-6cc7d39a-382c-11e8-853c-b90b6025f7e9.gif)

I also

[2018-04-04 15:34] mxstbr commented on #2471
#2710 does some cleanup work to make sure individual instances of athena scale better by themselves and don't run out of mem eventually. (I think that's why we ended up with 10k backlogged jobs and none being processed)

Now the last bit here is to make sure that we can run multiple instances of athena concurrently. WIP thoughts coming up below.

[2018-04-04 15:37] brianlovin commented on #2711
I'm wondering if it's something in our `Avatar` component - we do some tricky state management there to handle fallback images. In `src/components/avatar/image.js` there might be something going on where it retains the old src even though the list is updating.

That sidebar list *does* get ordered by your rep in each community, which is why I think the list updates in the first place - although it

[2018-04-04 15:37] mxstbr commented on #2471
Right now, athena buffers new notifications in memory for a certain amount of time and batches them into a single email to avoid overwhelming inactive users with 10 emails only because a person replied 10 different times in quick succession.

Instead of buffering them in memory, we should buffer them in Redis with bull:

1. We add a new job to send a notification email, delayed by X amount and key

[2018-04-04 15:38] brianlovin commented on #2711
Ah, so I see - we are sorting the sidebar list by reputation in the community, but if the rep is 0 it looks like the rest of the list will just be random. Perhaps we need a fallback there for reputation then alphabetical? So that the order will always be the same, and might circumvent the images mismatch problem.

[2018-04-04 15:38] mxstbr commented on #2711
Yeah that sounds like an issue with `src/components/avatar/image.js`—we probably never check whether the passed `src` changes, only ever rendering the first initially loaded image.

[2018-04-04 15:55] brianlovin commented on #2711
Yeah. So there are two fixes needed here:

1. Add alphabetical sorting as a fallback to community lists to handle 0 reputation communities
2. Re-render image components if the `src` prop changes

[2018-04-04 18:47] spartDev commented on #2683
Hi,
Are you sure the bug still exists?
Maybe I misunderstood but currently when user starts a new conversation it is by default in the community.

<img width="1674" alt="screen shot 2018-04-04 at 20 46 16" src="https://user-images.githubusercontent.com/531935/38327762-52c8241e-3849-11e8-8d18-9e274045a369.png">

[2018-04-04 18:50] osamajandali opened #2716 "Graphql error! Invalid API Key Provided"
I have setup everything correctly on my localhost and everything works just fine except when trying to access home and do a new thread I get this error log.
[code]

[2018-04-04 18:52] spartDev commented on #2684
Hi,
Can I have more details on this. do you have any idea what you would like to see ?

[2018-04-04 19:01] mxstbr commented on #2684
Not really! /cc @uberbryn any ideas what the copy should be there?

[2018-04-04 19:01] mxstbr commented on #2683
Hmm, maybe it didn't default to the right channel on the channel view? /cc @probablyup

[2018-04-04 19:09] brianlovin commented on #2716
Should get resolved with #2715

[2018-04-04 19:11] probablyup commented on #2683
Seems to primarily manifest on mobile.

[2018-04-04 19:37] osamajandali commented on #2716
@brianlovin Thanks for quick response 👍

[2018-04-04 21:54] mxstbr commented on #2683
Would love a PR fixing this for sure! The most likely culprit are the `composer` or `threadComposer` components. (I forget which one is used on mobile)

[2018-04-05 00:44] brianlovin commented on #2571
So weird, I can't repro this at all. Closing for now.

[2018-04-05 00:44] #2571 closed

[2018-04-05 01:10] brianlovin opened #2723 "Thread composer localStorage fallback does not clear after publish"
@mxstbr I just opened the thread composer and the body was loaded with the thread content from a thread I posted several days ago in spectrum dev (the cake one) - I have posted several threads in between then and now. This happened on prod.

[2018-04-05 01:11] brianlovin commented on #2723
I cannot repro locally

[2018-04-05 01:12] brianlovin commented on #2723
Can reproduce on prod. Steps to repro:

1. Write a thread from inbox view
2. Publish the thread
3. Re-open thread composer
4. Title is cleared, body state is persisted

[2018-04-05 01:59] brianlovin opened #2725 "Cannot load images in thread at times, blob error"
@mxstbr I opened https://spectrum.chat/?t=5fcc10ab-e5a5-4027-bf8a-cd948ff8e092 in my dashboard and got this error:

<img width="1679" alt="screenshot 2018-04-04 18 57 48" src="https://user-images.githubusercontent.com/1923260/38343699-48281c58-383a-11e8-82ab-4196cd3a04c3.png">

The blob error there is what prevented the image in the thread from loading. A refresh fixed it and the image loaded in t

[2018-04-05 02:04] brianlovin opened #2726 "Store profile photos on our servers from oAuth"
I know we've brought this up before, but I noticed that Spectrum is showing up in my ad blockers for loading trackers from fb: lookaside.fb.com. Not ideal, and I couldn't figure out why that would be the case.

But just this evening I realized that we're storing the fb hosted profile photo url for people that auth with FB, which resolves to a url like these:

<img width="1147" alt="screenshot 2018

[2018-04-05 05:50] mknepprath opened #2733 "Profile buttons should line up"
**Issue Type (check one)**

- [X] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)** -->
<img width="354" alt="screenshot 2018-04-05 00 49 01" src="https://user-images.githubusercontent.com/1000280/38349145-4b642b56-386b-11e8-889e-ccfc4ab9

[2018-04-05 06:00] mknepprath commented on #1918
<img width="140" alt="screenshot 2018-04-05 00 59 13" src="https://user-images.githubusercontent.com/1000280/38349411-92169ad8-386c-11e8-8531-e97da83616a3.png">

Tooltip shows up for me - but the z-index issue in messages is still there.

[2018-04-05 06:24] brianlovin commented on #2733
Yikes - that section is a bit of a mess, good spot :)

[2018-04-05 10:01] #2647 closed

[2018-04-05 10:02] #2695 closed

[2018-04-05 10:03] #2606 closed

[2018-04-05 10:23] satyarohith opened #2734 "Image is still accessible in the preview panel after deletion"
**Issue Type (check one)**

- [x] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

preview panel shows deleted images.

![preview panel](https://user-images.githubusercontent.com/29819102/38360930-5251d0a2-38e9-11e8-870e-831c77adbbd9.jpg)

[2018-04-05 12:49] denichodev commented on #2595
Should this select the last thread selected, or the first one? @mxstbr

[2018-04-05 12:55] spartDev commented on #2683
i'm on it ! if I have questions I'll come back to you

[2018-04-05 13:36] mxstbr commented on #2595
Good question, probably the last one selected?

[2018-04-05 14:51] brianlovin commented on #2595
Agreed - previous one selected would make the most sense, but is harder to do than just selecting the first in the list

[2018-04-05 14:57] brianlovin commented on #2683
On mobile I'm pretty sure we just push to the url `/new/thread` which removes the url params that are used to set the active community/channel - might need to modify that url in some way on mobile, or figure out how to push some state into that view if you're entering it from a community view

[2018-04-05 15:04] brianlovin commented on #2734
Yikes, thanks for the report. Going to fix this asap.

[2018-04-05 15:07] brianlovin commented on #2734
Fix submitted.

[2018-04-05 16:00] #2711 closed

[2018-04-05 16:03] #2628 closed

[2018-04-05 16:03] mxstbr commented on #2683
Oh right, that's it @brianlovin—I totally didn't consider that case when building that logic 🤔  Maybe we need to sync active community/channel to Redux or something?

[2018-04-05 16:08] #2471 closed

[2018-04-05 16:12] brianlovin commented on #2683
Yeah, maybe something like that - although we don't want the flow of:
- viewing a community view, set active community to 'Foo'
- go to home inbox view, have active community set to 'Foo'

Going to the home inbox should always preserver the previous inbox state, or default to 'Everything'

So I think it might require new fields in the redux store if we want this to be global state?

[2018-04-05 16:26] mxstbr opened #2741 "Add toobusy handling to worker servers"
We have [a toobusy middleware](https://github.com/withspectrum/spectrum/blob/alpha/shared/middlewares/toobusy.js) which is currently used in the API and the server-side rendering worker (hyperion) to respond with a 503 error if the server runs out of memory or CPU. Once an instance responds with a 503, now goes and either pings the next instance of the server _or auto-scales another one_.

We shou

[2018-04-05 16:43] brianlovin opened #2743 "Handling spam communities"
Our SEO is getting good. Which means people will start spinning up things like this: https://spectrum.chat/cbd-oil?thread=2d09eb88-434a-4c0d-8181-a47667ee5ef3 to try and get Google karma for the links.

How do we want to handle spam communities + threads like this?

[2018-04-05 16:47] mxstbr commented on #2743
Good question, I wonder what other user-generated content sites are doing about that

[2018-04-05 16:59] lachlanjc opened #2744 "Design page for after muting a thread from an email"
This page can be very simple, but a little Spectrum styling would go a long way 🙂
![f643055f-9c1c-43bf-aca2-0c8c9ada40c4](https://user-images.githubusercontent.com/5074763/38380265-38c33288-38d1-11e8-9e3e-15fa6adcac98.png)

[2018-04-05 17:04] brianlovin commented on #2744
Agreed! A lot of those should honestly just be redirects, too, but I haven't taken the time to figure out a system on the client side for showing a 'successfully unsubscribed' badge or banner of some sort.

[2018-04-05 17:11] brianlovin commented on #2743
Probably nothing, as a lot of other ugc sites are ad-driven, so pageviews === good.

I'm not sure there's anything here to do immediately, except watch for patterns here. If it starts to scale people will trust our content/platform less in general.

[2018-04-05 17:12] brianlovin opened #2745 "Fix plural '1 new messages' in email subject lines for new replies in thread"
Ref: https://spectrum.chat/?t=1028ccd2-a70c-4a81-b35c-efc03527174a

[2018-04-05 17:16] satyarohith commented on #2743
[These](https://webmasters.googleblog.com/2017/01/protect-your-site-from-user-generated.html) might be few best practices.

but there should be an efficient way to handle spam at scale.

[2018-04-05 17:25] brianlovin commented on #2743
Quick wins from that post (thanks @satyarohith!)
- rate limit # of threads that can be posted in a given time period
- rate limit # of messages that can be posted in a given time period
- add nofollow to links posted in chat messages

Bigger tasks that we need anyways:
- community option to approve all incoming threads before they are published
- implement additional spam detection systems like ak

[2018-04-05 17:40] dev-drprasad commented on #2572
@mxstbr @brianlovin Is this issue still pending ? can i work on this ? If yes, i would go with adding `ellipsis` at the end.

![screen shot 2018-04-05 at 11 08 32 pm](https://user-images.githubusercontent.com/22687681/38382085-740df224-3926-11e8-9557-cbeb4c988a5a.png)

[2018-04-05 17:43] brianlovin commented on #2572
Yep, that would be ideal! It's just a finicky css thing I think. And maybe we can get that link icon centered with the text, too :P

[2018-04-05 17:47] satyarohith commented on #2745
[code]
will this work?

[2018-04-05 17:49] brianlovin commented on #2745
Looks like it!

[2018-04-05 17:53] satyarohith commented on #2745
I was in doubt because will hermes send new email for every new message or will it bundle multiple new messages (if any) from same sender and send it once?

[2018-04-05 17:54] brianlovin commented on #2745
Athena does the work of bundling up messages in a given time period. Once the job hits hermes its already gone through the bundling logic, so it just needs the content to be formatted :)

[2018-04-05 17:56] brianlovin commented on #2745
If it's helpful, think of Hermes as the last mile in the pipeline; we don't even have a db connection on that server because each email job should receive all the data it needs. So hermes just handles things like content formatting, generating unsubscribe links, and occasionally provides an escape hatch to abort sending an email.

[2018-04-05 17:56] satyarohith commented on #2745
got it! :)

[2018-04-05 18:08] mxstbr commented on #2743
I think we already do this?

[2018-04-05 18:08] mxstbr commented on #2743
This ties into #2451, right?

[2018-04-05 18:36] brianlovin commented on #2743
do we? unsure

[2018-04-05 18:36] brianlovin commented on #2743
Good call on #2451 - will build on top of that

[2018-04-05 18:45] lookapanda opened #2747 "Can't install dependencies on Windows 10 x64"
[code]

Am I doing something wrong? :P Or is there just no compatibility with Windows? I know you guys are using Mac for working on Spectrum, so?

Just to make sure: My yarn version is 1.3.2

[2018-04-05 18:48] brianlovin opened #2748 "Write test for sending messages in private channels"
Right now our cypress test for sending messages only sends in public threads. Let's add a test to confirm that messages are able to send in private threads when the user has the right permissions.

[2018-04-05 18:48] lookapanda commented on #2747
Just to make sure: My yarn version is 1.3.2

[2018-04-05 18:50] lookapanda commented on #2747
Okay. Just looked over the code quickly, apparently this line needs to be changed:
https://github.com/withspectrum/spectrum/blob/alpha/shared/install-dependencies.js#L27

There should be some OS check (it would need to be `yarn.cmd` for Windows)

[2018-04-05 18:50] brianlovin opened #2750 "Update admin core metrics email to be more useful"
The Spectrum team gets a daily 'core metrics' email to help us track some key numbers over time. It's gotten to the point where it's adding a bit more noise than signal, and should surface more clear insights about core metrics and day/week/month growth over time.

[2018-04-05 19:38] #2745 closed

[2018-04-05 20:17] mxstbr commented on #2747
Yeah I did 0 cross-OS checks in that file, sorry! It'd be great if you could make it work on Windows and submit a PR :pray:

[2018-04-05 20:28] lookapanda commented on #2747
https://github.com/withspectrum/spectrum/pull/2751

Done! 👌
PS: nice label added :P

[2018-04-05 20:48] #2716 closed

[2018-04-06 01:35] yuanchenxi95 commented on #2494
The bug seems to not exist anymore. In the alpha branch build, I am not able to upload a zip file anymore.

Branch: alpha
File name: mediaUploader.js
Line: 104
The MediaInput Component checks the type of the file.
          <MediaInput
            type="file"
            accept={'.png, .jpg, .jpeg, .gif, .mp4'}
            multiple={false}
            onChange={this.onChange}
          />

https:/

[2018-04-06 02:46] mknepprath commented on #1925
This may need more details before someone less familiar with the codebase can take it on.

[2018-04-06 02:50] brianlovin commented on #2494
Thanks for the catch @yuanchenxi95 - would you be open for adding those checks on the backend? We should also have some size checks as well to ensure people aren't bypassing client restrictions and sending up massive files.

[2018-04-06 02:53] brianlovin commented on #1925
Updated description!

[2018-04-06 02:54] brianlovin commented on #1925
cc @mxstbr - Danger closed this issue even though it was created before the issue template existed.

[2018-04-06 03:01] brianlovin opened #2753 "Open thread in new tab does not work with search results"
Discussion: https://spectrum.chat/thread/5801f8ca-166f-434b-be23-93625c6eb8c4

[2018-04-06 03:02] brianlovin opened #2754 "@ symbols in medium urls break link detection in threads and messages"
Ref: https://spectrum.chat/thread/e5a27d8b-60a1-4c7d-a7d1-bc0d627608e7

[2018-04-06 03:03] brianlovin opened #2755 "Allow pasting images into chat input"
Ref: https://spectrum.chat/thread/c1381a42-30dd-4a7a-a999-54b9be1cc65a

UX considerations: we need a way to preview images before they are sent to prevent people from accidentally pasting + sending an unintended image

[2018-04-06 06:26] yuanchenxi95 commented on #2494
Sure. What size should it be? I think the media also includes mp4 files.

[2018-04-06 09:31] denichodev commented on #2595
Should be fixed by https://github.com/withspectrum/spectrum/pull/2736

[2018-04-06 11:34] #2734 closed

[2018-04-06 11:39] mxstbr commented on #2494
I think the limit should be 25MB

[2018-04-06 11:46] #2747 closed

[2018-04-06 11:53] spartDev commented on #2683
@mxstbr @brianlovin I take a look at the code. On mobile like Brian said we push to `/new/thread`.
I don't exactly understand why correct community is not set, we have the `activeCommunity` in redux with the correct uuid.
And from what I understand the composer view subscribe to the `activeCommunity`.
Sorry if all this is unclear I just discover the app.

[2018-04-06 11:56] mxstbr commented on #2683
Huh interesting, so we already have that info! Sounds like the bug might be in the composer component not taking the `activeCommunity` from Redux correctly into account?

[2018-04-06 12:00] spartDev commented on #2683
yes we have that info.
it's weird only appears on mobile

[2018-04-06 12:05] mxstbr commented on #2683
That makes sense because on the web when you're on a community view the URL is /community, which the composer takes into account. On mobile though the URL changes to /new/thread, which means the composer can't take that into account anymore.

[2018-04-06 13:07] spartDev commented on #2683
@mxstbr OK found it ! On mounting composer call `this.handleIncomingProps(this.props)`, on mobile like you said the url change and the composer can not access to the props.

[2018-04-06 14:08] jakesullyneytiri opened #2759 "can't run git clone cmd"
Trying to run following cmd git clone git@github.com:withspectrum/spectrum.git but all i get is following error

Cloning into 'spectrum'...
Warning: Permanently added the RSA host key for IP address '192.30.253.112' to the list of known hosts.
Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

[2018-04-06 14:08] #2759 closed

[2018-04-06 14:09] jakesullyneytiri opened #2760 "Cannot clone your git repository"
Trying to run following cmd git clone git@github.com:withspectrum/spectrum.git but all i get is following error

Cloning into 'spectrum'...
Warning: Permanently added the RSA host key for IP address '192.30.253.112' to the list of known hosts.
Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

[2018-04-06 14:29] satyarohith commented on #2760
@jakesullyneytiri use `git clone https://github.com/withspectrum/spectrum.git`.

[2018-04-06 14:31] jakesullyneytiri commented on #2760
yeah i tried that and it worked. So idk why document/instructions tells you todo  git clone git@github.com:withspectrum/spectrum.git instead :/

[2018-04-06 14:39] brianlovin commented on #2494
We use roughly 3mb and 25mb as free/pro limits:
[code]

So 25mb cap sounds perfect.

[2018-04-06 14:39] jakesullyneytiri commented on #2760
found another problem :/ when i try to run "node shared/install-dependencies.js" it does nothing. Any clue why? first it said node is missing so i ran apt-get install node and then when i ran cmd again that when it did nothing.

[2018-04-06 14:43] kultism commented on #2760
You need to run `apt-get install nodejs`
More here in [node.js docs](https://nodejs.org/en/download/package-manager/#debian-and-ubuntu-based-linux-distributions)

[2018-04-06 14:46] kultism commented on #2760
Well, I'm not sure about `node` and `nodejs` in Debian-like systems, but you can try to use [nvm](https://github.com/creationix/nvm) 👌

[2018-04-06 14:53] #2595 closed

[2018-04-06 14:53] brianlovin commented on #2595
🎉🎉🎉

[2018-04-06 15:00] jakesullyneytiri commented on #2760
well i tried apt-get install nodejs-legacy this time on new clean install and did other stuff.

But now all i get is this "/root/spectrum/shared/install-dependencies.js:2
const { readdirSync, statSync } = require('fs');
      ^

SyntaxError: Unexpected token {
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:374:25)
    at Object.Module._extensions..js (module.js:417

[2018-04-06 15:14] mxstbr commented on #2760
@jakesullyneytiri sorry for the troubles here, thank you for helping us in figuring out how to make the system work across OS's!

That last bug sounds like your version of Node doesn't have support for destructuring yet. What v of Node are you on? (`node -v`)

[2018-04-06 17:40] grantly7 opened #2766 "Community search input not cleared when opening another community"
When you search within a community then move into another community the search input is not cleared. This results in needing to clear the field in order to see the results you expected when moving into the newly selected community.

Searching a community:
<img width="714" alt="screen shot 2018-04-06 at 10 34 01 am" src="https://user-images.githubusercontent.com/6539594/38435566-d89d088c-3986-11e8-

[2018-04-06 17:50] yuanchenxi95 commented on #2494
For the file size restriction, the server uses [apollo-upload-server](https://github.com/jaydenseric/apollo-upload-server) library. It set the file upload limit to 50MB at middleware/index.js. Do you want this to be changed to 25MB?

Branch: alpha
File name: [api/middleware/index.js](https://github.com/withspectrum/spectrum/blob/alpha/api/routes/middlewares/index.js)
Line: 40 to 44.

[2018-04-06 17:56] mxstbr commented on #2494
Oh yeah that should be 25MB, and then we should restrict the file type to only be images, right?

[2018-04-06 18:27] yuanchenxi95 commented on #2494
Should  the type of file being uploaded be restricted at the apollo-upload-server level, or should it be restricted at the uploadImage() method level?

[2018-04-06 18:42] brianlovin opened #2768 "Get sentry reports for failed worker jobs"
We don't appear to be getting failure reports from workers like Hermes (470 failures in last 24hrs) - make sure these are reported to Sentry

[2018-04-06 18:43] brianlovin opened #2769 "Convert sentry credentials to env secrets"
So that we don't get sentry reports from people running cloned copies of Spectrum

[2018-04-06 18:47] brianlovin opened #2770 "Support human readable thread slugs"
We should support human readable thread slugs. Instead of `https://spectrum.chat/thread/bedc19a6-f9e5-47b6-9b40-ced2104a6c92` it should be `https://spectrum.chat/thread/fr-allow-us-to-like-a-thread-6c92` or something like that.

[2018-04-06 19:12] satyarohith commented on #2770
I think we can use this pattern
`https://spectrum.chat/thread/<community>-<thread-title>`.

[2018-04-06 21:05] mxstbr commented on #2494
Probably at the apollo-server-upload level if possible?

[2018-04-06 21:06] mxstbr commented on #2770
If anything it should be `spectrum.chat/<community>/<channel>/<thread-slug>`, right? So it's nested accurately.

[2018-04-06 21:07] brianlovin commented on #2770
Threads can move between channels.

[2018-04-06 22:53] yuanchenxi95 commented on #2494
I did some research about the apollo-server-upload library. It seems that it does not support the file type validation feature yet. There is an issue opened for mimetype validation: [How reject uploading after checking mimetype](https://github.com/jaydenseric/apollo-upload-server/issues/64).

I have implemented the uploadImage() method to validate the mimetype.
[code]

The problem is that how to c

[2018-04-07 09:31] mxstbr commented on #2494
That seems fine to me—how many of those do we have?

[2018-04-07 09:35] mxstbr commented on #2770
Is the implication here that we shouldn't have the channel in the slug because that can be changed? Channels are nothing but a sub-grouping of threads within the broader grouping of a community, leaving that out of the URL entirely just because they can be moved seems backwards.

For example, it makes a big difference whether the URL for a thread with the title "Is Java good?" is `spectrum.chat/sp

[2018-04-07 10:00] mxstbr opened #2775 "Use helmet to protect our Node servers"
We should use Helmet to protect our servers and users from some common attack vectors: https://expressjs.com/en/advanced/best-practice-security.html#use-helmet

[2018-04-07 10:06] mxstbr opened #2776 "Implement rate limiting for our Node servers"
We should rate limit all our Node servers requests with something like https://www.npmjs.com/package/express-limiter

[2018-04-07 10:40] mxstbr opened #2777 "Implement rate limiting of GraphQL mutations"
We should rate limit our GraphQL mutations. Apart from the changes in #2758, mutations should have general rate limits configured in the schema to avoid excessive automatic spam from bots who call our API 20 times a second.

Those could look something like this:

[code]

- Are there any packages that implement this already? Couldn't find any
- What should the API look like?
- Where do we store the

[2018-04-07 14:15] yuanchenxi95 commented on #2494
The method uploadImage is called in:
addMessage.js
community.js
createDirectMessageThread.js
editThread.js
publishThread.js
user.js

[2018-04-07 15:45] kapillamba4 commented on #2753
@brianlovin, The actual problem seems to be only in production build of spectrum, i tried development build but cannot reproduce this bug.

Also i cannot npm start build-api for production build, getting this error:
[code]
I think i need to deploy production on aws using now.sh, i don't have aws account. Is there any way i can run try to fix this bug without an aws account?

[2018-04-07 15:55] dev-drprasad commented on #2768
I have not worked with sentry. but i am fine to look into it. If it is beginner friendly issue, i can take it

[2018-04-07 18:57] mxstbr commented on #2777
We want the API to be as flexible as possible. Initially I though it'd be neat to restrict it to a single unit of time, but there is a large difference between "100 mutations per 100 minutes" and "1 mutation per minute", so for full flexibility the user has to be able to set both the time and the limit.

With that in mind, what about this API?

[code]

Not sure whether "window" is an intuitive nam

[2018-04-07 18:59] mxstbr commented on #2777
Also, not sure whether this is best implemented as a validation rule (similar to `graphql-cost-analysis`) or as a custom schema directive. Probably a validation rule.

[2018-04-07 22:50] brianlovin commented on #2768
@dev-drprasad this may be beginner friendly, although I could be mistaken. Looking through some of the comments here: https://github.com/OptimalBits/bull/issues/8 - it looks like we just want an `.on('failure'...` event handler in the queue construction (probably in `shared/bull` dir - let me know if you come across anything!

[2018-04-07 22:50] brianlovin commented on #2768
We also report our errors to sentry, so if you just do a project search for `Raven.captureException(...` you'll see some examples here :)

[2018-04-08 02:30] brianlovin commented on #2777
Hm, this is for the platform as a whole? Or per user?

If it's for the platform as a whole, won't this break as we grow? E.g. we'll always be bumping into these limits as we add more users and communities, thus having to increase the limits here, thus defeating the purpose of catching one bad spam actor?

Otherwise, I know nothing about rate limiting. What about https://github.com/tj/node-ratelimi

[2018-04-08 02:32] brianlovin commented on #2776
Also https://github.com/tj/node-ratelimiter might be a good one, backed by redis

[2018-04-08 03:24] #2572 closed

[2018-04-08 03:43] #2760 closed

[2018-04-08 03:49] brianlovin commented on #2770
Yeah, sorry that was the implication. I don't think we should worry about redirects-on-moves, seems like a lot of complication for very little benefit versus just leaving the channel out of the url in the first place.

If we just had a human-readable id like `title-of-post-unique-identifier-123` then the following would be improved:
- inbox: `?t=title-of-post-unique-identifier-123`
- slider: `?thr

[2018-04-08 07:14] Mesod commented on #2775
I am going to add it. Should I just add helmet for all the connection?

[2018-04-08 09:58] mxstbr commented on #2777
Per-user. We can't use any existing rate limiting solutions because those only rate limit Express routes—but while it's fine to call the `/api` route 20 times in a second it's not fine to call `addMessage` 20 times in a second, which is why we need a GraphQL-specific solution!

[2018-04-08 10:04] mxstbr commented on #2770
I'm not sure why you wouldn't want that to be nested routes? What's better about `/specfm-programming-is-java-good-asdf123` vs `/specfm/programming/is-java-good-asdf123`? The second one seems a lot more idiomatic to the web.

As I showed above, we can't just leave it out. I understand what you mean with `/general/` not being very helpful, but it could make a huge difference on the semantics of the

[2018-04-08 10:05] mxstbr commented on #2776
I'd go with the user ID first, and then the IP second if it's an unauthenticated user.

[2018-04-08 10:05] mxstbr commented on #2775
I think some of those protections will break our server, I'm not sure this will be super easy—please try though!

[2018-04-08 15:59] LetItRock commented on #2777
Github has implemented GraphQL resource limitations and [here](https://developer.github.com/v4/guides/resource-limitations/) you can read about it, very interesting approach.

[2018-04-08 16:10] mxstbr commented on #2777
We already have something similar, we do both complexity analysis and depth limiting. (see [this blog post I wrote about it](https://dev-blog.apollodata.com/securing-your-graphql-api-from-malicious-queries-16130a324a6b)) This issue is slightly different in that it's specific to mutations—while calling `addMessage` isn't very "expensive" (from a complexity analysis standpoint), you'd never want any

[2018-04-08 18:24] LetItRock commented on #2776
What should be max amount of requests to API and in what time frame?

[2018-04-08 22:32] mxstbr commented on #2776
Not sure! Any ideas?

[2018-04-09 01:10] LetItRock commented on #2776
PR #2789

[2018-04-09 08:48] FezVrasta opened #2790 "Provide docker image for easy development?"
Hi, I think it would make much sense if this repository provided a Docker image with all the database/backend related stuff setup so that people that want to contribute can simply run the image and hook the local frontend to it.

What do you think?

[2018-04-09 08:48] mxstbr commented on #2790
Haha that's exactly what @thefubhy just started tackling :laughing:

[2018-04-09 08:49] fubhy commented on #2790
Assign me!

[2018-04-09 08:49] mxstbr commented on #2790
Can't assign non-collaborators on GitHub :cry: It's yours!

[2018-04-09 10:56] mxstbr opened #2792 "Validate DraftJS input"
We should validate the serialized DraftJS state that people send to the API `publishThread` and `addMessage` mutations. @flarnie are there any existing libraries/utilities that will quickly let us verify something is valid raw DraftJS content state?

[2018-04-09 15:04] flarnie commented on #2792
Hi @mxstbr - I don't know of any solutions for this off the top of my head.

[2018-04-09 15:27] cutjavascript commented on #2649
Can you give a suggestion, or preference of what you would like it to function like.

Where do we want it ?

Are we planning on using -> http://twitter.github.io/typeahead.js/examples/

[2018-04-09 16:15] brianlovin opened #2794 "Add image filtering/alerts"
As we move towards better moderation tooling, we should also add image filtering on the backend to identify topics like pornography, gore etc. I know https://cloud.google.com/blog/big-data/2016/08/filtering-inappropriate-content-with-the-cloud-vision-api is a possible API, but perhaps there's a better alternative that doesn't require sending all our images through Google.

A first step here could

[2018-04-09 16:37] brianlovin opened #2795 "Blacklist search route"
We should reserve this route for Spectrum use.

[2018-04-09 17:12] brianlovin opened #2796 "Prevent null text from more user inputs"
<img width="1680" alt="screenshot 2018-04-09 10 09 17" src="https://user-images.githubusercontent.com/1923260/38511787-1ef8e6da-3bde-11e8-9c5b-b0d301582141.png">

Looks like it's possible to have empty:
- community name
- community description
- channel name
- channel description
- thread title
- user name

We need to validate inputs better to ensure content exists, including checks for zero width

[2018-04-09 17:15] brianlovin commented on #2796
We should be checking for soft hyphens as well https://en.wikipedia.org/wiki/Soft_hyphen

[2018-04-09 17:15] brianlovin commented on #2796
And specific unicode chars like https://unicode-table.com/en/#FFF8

[2018-04-09 17:16] fubhy commented on #2790
In case someone is interested in already giving this a shot. Checkout the PR branch locally, then:

[code]

Doesn't spin up the react related services yet (SSR and frontend). But the rest is there.

In order to then populate the rethinkdb service:

[code]

[2018-04-09 17:36] brianlovin commented on #2796
@cutjavascript good question, I'm still not sure how these catches were bypassed; I think it was probably just inserting some special zero width unicode chars or something

[2018-04-09 18:37] cutjavascript commented on #2610
@mxstbr , if message is attached to the key of thread id, would it not occupy lots of space in local storage, for each new tab would have its own text. Could it be optimised?

[2018-04-09 18:39] brianlovin commented on #2610
@cutjavascript yeah we should have some way of expiring those over time; but definitely agree that this is actually becoming quite an annoying bug to have the chat input persist across all threads, especially persisting into DMs

[2018-04-09 21:30] nnennajohn commented on #2754
@brianlovin If I want to contribute, how do I make sure I am not fixing an issue someone is already fixing? Sorry for spamming here. Could not figure out another way to ask. :)

[2018-04-09 21:36] connelle1 commented on #2796
@brianlovin I am brand new to github, and I want to start contributing any way I can. I noticed there are a lot of issues on this repository and I was wondering if there are any in particular that would be good for a beginner to tackle. I have a basic understanding of HTML, CSS, and JavaScript and want to know more.

[2018-04-09 21:45] brianlovin commented on #2754
Not spamming at all! AFAIK nobody is working on this - we should have some sort of label for “claimed”

[2018-04-09 21:45] brianlovin commented on #2796
@conelle1 there is a label in the issues view called “good first issue” which you can filter by 😊

[2018-04-09 22:02] nnennajohn commented on #2754
Ok. Cool. And def yes to a label of sorts. 👍

Thanks.

[2018-04-09 23:10] brianlovin opened #2800 "Fallback Blob function if not in scope"
Hey @StefanNemeth - just got this sentry snag:

<img width="659" alt="screenshot 2018-04-09 16 07 57" src="https://user-images.githubusercontent.com/1923260/38527587-57f7db62-3c10-11e8-9342-901e5f993953.png">

I'm wondering if this is because the messages view is first rendered server-side, where Blob is unknown to node. Just curious if you have any experience with writing a shim for Blob - I was

[2018-04-10 03:00] brianlovin opened #2803 "Disable notification settings for users who mark our notifs as spam or hard bounce"
Figured out why jobs in hermes are failing: the job fails if Postmark returns an error, and the most common error we are seeing right now is:
- You tried to send to a recipient that has been marked as inactive. Inactive recipients are ones that have generated a hard bounce or a spam complaint.

Additionally @mxstbr if you investigate our redis instance on compose > browser > click on any job, you'

[2018-04-10 03:03] baofengyv opened #2804 "support internationalization ：mutil language can change by setting."
I am user live in China. So, I prefer a Chinese UI to use.

And I think if we provide multi language support ,this will be friendly for who are not familiar with English.

[2018-04-10 03:03] #2804 closed

[2018-04-10 03:08] baofengyv opened #2805 "support internationalization ：mutil language can change by setting."
**Issue Type (check one)**

- [ ] Bug Report
- [X] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**
I am user live in China. So, I prefer a Chinese UI to use.

And I think if we provide multi language support ,this will be friendly for who are not famili

[2018-04-10 03:34] brianlovin commented on #2805
Would love to get here some day! At this point I think we'd need someone to really lead the charge and own internationalization, as we just won't have the time or teampower to handle ad-hoc mistranslations or supporting new languages as users request them

[2018-04-10 03:54] brianlovin commented on #2743
First draft to work on this going out in #2758

[2018-04-10 03:54] #2743 closed

[2018-04-10 05:17] uberbryn commented on #2684
I think I'd probably add a state similar to the locked thread state, but with a `message` icon and probably some text mentioning that these are private messages between you and anyone else on Spectrum.

The `<NullState>` component might be useful for this.

My first pass idea on copy would be something like...

Title: "Sometimes you want a little privacy..."
Copy: "We know that not everything you

[2018-04-10 07:35] mxstbr commented on #2804
Yes, that is a good call. I'll open up a new issue for it!

[2018-04-10 07:37] mxstbr commented on #2805
Some initial thoughts:

- Definitely want this given the influx of international users!
- We should use some UI service (I know there are a couple) that let folks help us translate the UI
- I initially wouldn't worry about the marketing pages, since their copy changes constantly and would be hard to keep up to date
- Instead, let's focus on internationalizing the text used in the UI (I think there

[2018-04-10 07:38] mxstbr commented on #2649
We should probably just use the DraftJS mention plugin, since that has everything we need out of the box.

[2018-04-10 11:11] juliankrispel commented on #1803
@mxstbr so is there a branch for this?

[2018-04-10 11:16] mxstbr commented on #1803
Nope, all the WIP has been merged to `alpha`. Just continue working from there!

[2018-04-10 12:10] juliankrispel commented on #1803
@mxstbr what are the services required to run the mobile app successfully?

![image](https://user-images.githubusercontent.com/1188186/38556148-f33c67e2-3cc8-11e8-8eed-be93c35713af.png)

[2018-04-10 13:47] uberbryn commented on #2184
I don't see this as a "big thing" in our roadmap. Nice to have, but unlikely to move any metrics IMO.

[2018-04-10 15:52] mxstbr commented on #2184
Rep is an amazing feature that helps understand the context of a conversation, on top of which it actually works pretty well as its implemented today—it's just not exposed meaningfully anywhere. It should be a core part of Spectrum, but feels like an afterthought right now, which is why I put it in the roadmap.

[2018-04-10 15:54] mxstbr commented on #1803
@juliankrispel hmm, should only require the API running at the same time. I think that bug exists right now, try commenting out L88-92 in `mobile/views/Notification.js`

[2018-04-10 15:56] mxstbr commented on #2184
Case in point: https://spectrum.chat/thread/f330ebec-fe37-4a61-8983-8a3ab693cb8a

[2018-04-10 18:55] cangoektas opened #2810 ""testing" database does not get created"
**Issue Type**
- [x] Bug Report

**Description**
Currently, it's not possible to run the Cypress tests without manually creating the testing database through `NODE_ENV=test yarn run db:migrate`. I tried to address this with #2773, but maybe it's not the right solution.

According to the [integration testing](https://github.com/withspectrum/spectrum/blob/alpha/docs/testing/integration.md) document,

[2018-04-10 19:28] brianlovin commented on #2723
This is also happening for the chat input for some users: https://spectrum.chat/thread/0b8ffa14-fd45-4807-8199-772f4ab22b1e

[2018-04-10 21:54] brianlovin commented on #2800
Closes with #2808 - no shim needed!

[2018-04-10 21:54] #2800 closed

[2018-04-10 22:03] brianlovin commented on #2184
Agree that a day or two of work here could bring a lot of clarity to the features and make it feel useful and rewarding to people, versus right now being just an abstract number in the UI that people have to guess about. Not sure how to prioritize this still, but would love to keep it on the roadmap as well.

[2018-04-10 22:04] brianlovin commented on #2810
It seems that the solution here is to always check for the existence of the table before starting the actual `teardown` and `setup` scripts, right?

[2018-04-10 22:29] nnennajohn commented on #2754
Ok. Cool. Let me take this. It will be my first open-source contribution though, so Intentionally looking for the smallest change. :)

Quick question. What would be the general timeline to deliver once you commit?

[2018-04-10 22:32] brianlovin commented on #2754
Not sure! But I'd say if it starts pushing past a few days just ping here and we can try answer questions or pull in more people to help :)

[2018-04-10 22:35] nnennajohn commented on #2754
Ok. Perfect. Thank you!

[2018-04-10 23:59] brianlovin opened #2813 "Refactor app layout to use grid, make mobile + desktop view management more consistent"
Talked with @uberbryn about this offline - basically our app layout has become quite cumbersome to manage due to the way each view has its own height calculation logic and certain views need entirely new layouts on mobile vs desktop, making it hard to have any sort of unified app layout components.

Bryn has some ideas on how to reconcile this and make our app a bit more consistent and require few

[2018-04-11 00:00] brianlovin opened #2814 "Participant heads on threads can change order when re-rendering"
The order of participant heads on thread cards can change order at any time if the thread re-renders (e.g. if it is clicked and set to active state). This is distracting.

[2018-04-11 00:11] iamjoshfrank opened #2815 "Text not clearing from comment input"
On Chrome for Android (Samsung S7 Edge), after typing several words, when attempting to backspace to edit, only a few characters would be deleted then they were replaced repeatedly.

When reloading the page, the input maintained the garbled text. When navigating to a new topic, the input maintained the same garbled text.

Occurred while using Spectrum from a home screen app as well as after openin

[2018-04-11 00:12] iamjoshfrank commented on #2815
![screenshot_20180410-185816](https://user-images.githubusercontent.com/10236515/38589831-11607be4-3cf3-11e8-8115-64bd851b41f7.png)

[2018-04-11 00:13] brianlovin commented on #2815
Hey @iamjoshfrank - thanks for the report! This is a duplicate of two issues: #2723 and #2680 ; these are definitely annoying, so sorry for the troubles right now! I'm going to close this so we can move discussions over to those respective issues

[2018-04-11 00:13] #2815 closed

[2018-04-11 01:27] uberbryn commented on #2184
We discussed this during team standup and agreed that this fits into Moderation UI. Moving to a subtask of https://github.com/withspectrum/spectrum/issues/2451 which is already on the roadmap.

[2018-04-11 01:27] #2184 closed

[2018-04-11 01:28] iamjoshfrank commented on #2815
Oh thanks @brianlovin ! I did a few fast searches before opening this issue but must have been searching against "keyboard" and other keywords. I'll keep my eye out for updates on 2723 and 2680.

[2018-04-11 01:35] uberbryn commented on #257
OK, so this first version should just be a wrapper and push notifications.

I think if anyone has Electron experience, this is probably a good first issue.

[2018-04-11 01:40] uberbryn commented on #2598
Today, during standup we agreed that this feature should enable the following:
  - non-social signup (zeit-style auth)
  - enable social multi-account linking to connect existing accounts
  - email address editing
  - account deletion

[2018-04-11 01:41] superbryntendo opened #2817 "GDPR Compliance"
- [x] Enable user to delete their data
- [x] Enable user to download their data (#3003)
- [x] Fix Google Analytics setup to be GDPR compliant (https://www.humix.be/en/blog/configure-google-analytics-for-gdpr/, #2985)
  - [x] Sign Google Analytics DPA
- [x] Fix Sentry to be GDPR compliant (https://blog.sentry.io/2018/03/14/gdpr-sentry-and-you)
  - [x] Sign Sentry DPA
- [ ] Handle consent
- [x] Term

[2018-04-11 04:09] mknepprath commented on #2733
I had a hunch it was something like that 😉

[2018-04-11 04:39] dev-drprasad commented on #2768
@brianlovin we have already handling `stalled` event in queue. but both `failure`, `stalled` events emit when job fails. but i am unable to understand exact difference `failure` and `stalled`. you have any idea ??

I am thinking of capturing `failure` events also. But how do i simulate errors and check whether they are reported in sentry ??

[2018-04-11 05:27] brianlovin commented on #2768
@dev-drprasad - from the docs, I'm seeing:
[code]

So I think in this case we'd likely want sentry reporting for *both*.

In terms of testing: we recently switched our Sentry keys to be private, as we were getting a lot of sentry reports from people running their own fork locally. Right now I think the best thing will be to console log and debug locally to check for error events, and I will own th

[2018-04-11 05:28] baofengyv commented on #2805
yes.
If we support i18n in the pragram,
I can do the work(translate into chinese),
if i know:
    1. the list of what need to translate.
    2. which format the program need.

As the user growth, many people who can use multi language (like me)
can help us to translate into certain language.

[2018-04-11 05:38] brianlovin commented on #2805
@baofengyv I'm not sure of best i18n practices at other software companies; do you know of tools or best practices here? Would love to make sure this can be structured and maintainable before we embark :)

[2018-04-11 05:41] brianlovin commented on #2817
Is this just email right now?

Is this one or two tasks? For downloading, are there specific things that need to be included here? Or just PII (e.g. their record in our `users` table?) - or do they also need ability to download all threads, messages, etc?

Any gut feeling on how far off we are here? Wondering if there are templates coming out from other companies switching to GDPR that we could ge

[2018-04-11 05:41] #2766 closed

[2018-04-11 05:41] brianlovin commented on #2769
Deploying these changes tomorrow.

[2018-04-11 05:41] #2769 closed

[2018-04-11 05:54] brianlovin commented on #2610
Closing in favor of #2723

[2018-04-11 05:54] #2610 closed

[2018-04-11 06:02] brianlovin commented on #2563
Closed by #2802

[2018-04-11 06:02] #2563 closed

[2018-04-11 06:02] brianlovin commented on #2502
Closing in favor of #2680

[2018-04-11 06:02] #2502 closed

[2018-04-11 06:03] #2418 closed

[2018-04-11 06:03] brianlovin commented on #2441
I have been able to access admin dash for several weeks now, calling this fixed

[2018-04-11 06:03] #2441 closed

[2018-04-11 06:03] brianlovin commented on #2414
This has been fixed

[2018-04-11 06:03] #2414 closed

[2018-04-11 07:38] #2814 closed

[2018-04-11 07:57] ruffle1986 commented on #2805
I recommend to use Transifex (https://www.transifex.com/) to translate your content

and `react-intl` (https://github.com/yahoo/react-intl) to support i18n in the code base.

[2018-04-11 08:08] mxstbr commented on #2805
Transifex looks very expensive for our use case, given that we'll hopefully have a ton of collaborators on these translations. Are there any options suited for open source apps? What do e.g. the React docs use?

[2018-04-11 08:15] Raathigesh commented on #257
I shipped a couple of electron apps using https://www.electron.build/ and the experience was very pleasant. It takes care of the entire pipeline, from bundling to signing to pushing updates. https://webpack.electron.build/ is the webpack starter of electron.build.

[2018-04-11 08:58] mxstbr commented on #257
From looking at electron.build, it seems optimized for starting a new Electron app from scratch (correct me if I'm wrong)—we need to integrate Electron into an existing app though?

[2018-04-11 09:00] Kikobeats opened #2820 "Add links previsualizations"
**Issue Type**

- [x] Feature Idea

**Description**

![eh571d15](https://user-images.githubusercontent.com/2096101/38606392-2dd18cf4-3d76-11e8-866d-f9e363ce624f.jpg)

I suggested to @mxstbr that it might be more or less easy to include preview links in threads.

I did a little demo using [Microlink SDK](https://github.com/microlinkhq/sdk) that is library ready for getting information from any link

[2018-04-11 09:07] ruffle1986 commented on #2805
You can get benefits from open source projects but as I see, it doesn't have effect on the pricing :)

[2018-04-11 09:09] ruffle1986 commented on #2805
Wait! It says:

Source: https://www.transifex.com/pricing/

[2018-04-11 09:33] deadcoder0904 commented on #257
I guess you are talking about [Nativifier](https://github.com/jiahaog/nativefier) then, if its just a wrapper 😉

[2018-04-11 09:39] spartDev commented on #257
@mxstbr like that :
<img width="1680" alt="screen shot 2018-04-11 at 11 38 47" src="https://user-images.githubusercontent.com/531935/38608924-062b5aac-3d7d-11e8-8201-341d50c54a43.png">

[2018-04-11 09:55] mxstbr commented on #257
Yeah like that! Except for the styling bugs :wink: PR?

[2018-04-11 10:01] mxstbr commented on #2805
I don't mind paying for a good service, but Transifex charges per collaborator—I expect we'll have dozens, if not hundreds of small collaborators at which point we'd be looking at $x,xxx/month, which is a bit much :sweat_smile:

[2018-04-11 10:06] christianalfoni commented on #257
Did a ton of iterations on the Cerebral debugger related to this. Also managing auto updates. Codebase is a bit hurt by tons of iterations, but might be some helpful stuff in there.

Some takeaways:

- Get autoupdater in there
- Create a generic implementation of JSON storage, you will most likely be storing stuff and really great to have a generic way of doing it
- Create a wrapper around messagi

[2018-04-11 10:15] spartDev commented on #257
Of course about styling bugs ;)

just two thing:

1. notification does not work actually (WebSocket is closed before the connection is established)
2. When you logged in via gitHub, gitHub complain about the version of navigator:

<img width="1680" alt="screen shot 2018-04-11 at 12 14 32" src="https://user-images.githubusercontent.com/531935/38610722-fe4c03e0-3d81-11e8-82ca-67a945df9283.png">

[2018-04-11 10:34] ruffle1986 commented on #2805
Yeah, sure! 😅

[2018-04-11 11:31] thomaseizinger opened #2822 "Cannot add WebApp to Homescreen on Ubuntu 17.10"
**Issue Type (check one)**

- [x] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

Running Chromium Version 65.0.3325.181 (Official Build) Built on Ubuntu , running on Ubuntu 17.10 (64-bit)

Whenever I try to use the "Add to homescreen" feature, I get the following error in

[2018-04-11 11:59] mxstbr commented on #1803
@juliankrispel that bug was fixed in #2809, and then the follow-up PR #2823 fixes authentication on mobile. Sorry for the troubles here, if you use that branch you should be good to go!

[2018-04-11 12:05] Tom-Bonnike commented on #2805
We’re currently building https://zola.ink with a bunch of friends and we’re planning on having a plan and features that would probably suit you for Open Source projects.

Sadly that’s a bit too early as we just started the development. We’re planning on releasing an early version in Summer but if you haven’t found another solution by then we’d be very happy to discuss it and set it up for you 😄

[2018-04-11 12:09] mxstbr commented on #2805
Here is a great discussion about potential i18n libraries and services: https://spectrum.chat/thread/9c0e95b6-3c52-4375-be99-71563f82cd2e

[2018-04-11 12:12] mxstbr commented on #2329
The homepage now has the sign in links and one can sign in/out, but it's missing GitHub and it's totally unstyled.

A PR adding styling similar to the web version (https://spectrum.chat/login) would be much appreciated! :pray:

[2018-04-11 12:13] mxstbr commented on #2330
The ThreadCard kind of exists now, but it's not very nice and it's missing a ton of information:

<img width="539" alt="screen shot 2018-04-11 at 14 06 21" src="https://user-images.githubusercontent.com/7525670/38615883-7ed478ca-3d92-11e8-83d7-17cc1971f15d.png">

PRs improving the styling and aligning the information presented with the web version would be much appreciated! :pray:

[2018-04-11 12:29] mxstbr commented on #1803
I think our push notifications are working already, at least they should be—we just don't handle them yet if they come in while the app is open and don't render them properly! Ref #2332

[2018-04-11 12:34] homanp commented on #1803
Ah, ok. Misunderstood then. Again I would be glad to help you out with that as well. Do you have any specific documentation on how you want to handle the notifications?

[2018-04-11 12:47] mxstbr commented on #2332
@homanp moved from #1803

If you're talking about rendering them in the notifications tab, they should really just look like they do on the website. If you're talking about handling them while the app is open, I really don't know! Maybe it should show a dropdown with the content that can be clicked on and links to the relevant content?

<details>
  <summary>Click to see screenshots of some notific

[2018-04-11 14:44] ryota-murakami commented on #2329
@mxstbr sure, i'd like to take it:smiley:
i'm mid-level Web React/ReactNative dev & usually useing styled-components:nail_care:

[2018-04-11 14:54] cutjavascript commented on #2723
My suggestion to change local storage to Session storage->this will take care of data persisting for many days.

Second have timestamp for when entry was added to storage and remove if some time limit eg:24 hrs have passed

Expiry time , will be in same storage entry

Any issues or doubts on this?

@mxstbr @brianlovin,let me know I will get it done accordingly 👍

[2018-04-11 14:57] cutjavascript commented on #2723
App crashes would, remove Session storage right?
Then having it in session beats the purpose.
Can have it in localstorage only then

[2018-04-11 15:00] mxstbr commented on #1803
@homanp moved to #2332

[2018-04-11 15:01] mxstbr commented on #2723
Yeah we definitely want to use localStorage here

[2018-04-11 15:03] mxstbr commented on #2329
Sure @ryota-murakami, all yours! The code for this screen is in `mobile/components/Login`, and the styling should afterwards look mostly like it does on the web today:

<img width="465" alt="screen shot 2018-04-11 at 17 02 39" src="https://user-images.githubusercontent.com/7525670/38625187-2f0a4078-3daa-11e8-8c94-def619e898e9.png">

[2018-04-11 15:33] brianlovin commented on #2820
Definitely into the idea of expanding urls in messages - I'm not sure if we'd want to do that on the fly, or if we'd want to store some kind of `attachments` object for messages, similar to how we store link previews for `thread`s

[2018-04-11 15:48] chabou commented on #2451
Thank you for this awesome product!

Please let moderators edit the thread title. Users don't choose an accurate one generally. It can lead other users to post some unrelated content.
Example: https://spectrum.chat/?t=f4a68d1b-a987-4909-9fa5-0bd376fdaf5d

[2018-04-11 15:58] brianlovin commented on #2451
Hey @chabou - I definitely hear where you're coming from; at this point we're probably going to stay away from letting moderators edit any part of the thread content. This is a tough decision because there are lots of cases like yours where it would be a super quick win to just clarify the title for others. But in some cases it could be more damaging to allow people to edit other's content; perhap

[2018-04-11 16:00] uberbryn commented on #2451
I was just thinking about this actually - what if you could "unpublish" a user's thread temporarily and work with them to fix it?

[2018-04-11 16:00] uberbryn commented on #2451
That could be like a more advanced "lock"

[2018-04-11 16:01] brianlovin commented on #2451
Might fall in the category of "Require approval before threads are published in my community"

And the UI for approving a thread could have quick access to message a user. So user's would need post-submission edit abilities.

[2018-04-11 16:27] chabou commented on #2451
I think this is really important to not let moderators edit users/thread content.

But I think that title is not a part of this content, this is an entire part of "How to organize information" (like labeling). Right title notion can change with time. Imagine that you want to later add to the title some `DEPRECATED` or anything else.

And another important point: with your solution, users should co

[2018-04-11 16:36] brianlovin commented on #2451
Could 'labeling' be a separate element of thread organization within communities? Or do you envision titles being a primary mechanism here? Just want to make sure I understand the problem here completely

I see - does this fall into the same problem category as "labeling" of threads for better organization?

[2018-04-11 16:44] uberbryn commented on #2451
I definitely see your point, @chabou. I hadn't considered the title as separate from the post in the same way. I could see this being slightly confusing for users, but it's definitely something to consider.

[2018-04-11 16:44] chabou commented on #2451
Labeling was totally a separate element in my mind. It was only to emphasize/illustrate that the notion of a title is quite the same as a label: Can change with time, can be difficult to be rightly determined by users, does not betray them if changed behind their backs etc...

[2018-04-11 16:51] dev-drprasad commented on #2768
@brianlovin Sorry to bother, how can i trigger some jobs related to `hermes` and make them fail ?

[2018-04-11 17:35] brianlovin commented on #2768
In a separate console tab `yarn run dev:hermes` and a separate tab `yarn run dev:athena` - then just create a thread somewhere and you should see athena running notifications jobs, which then pass jobs into hermes. From the `hermes/send-new-thread-email.js` file you can just manually throw an error, I think :)

[2018-04-11 17:35] brianlovin commented on #2451
Sure - if we go down that path we'd definitely notify users as well as retain all edit history. We'll have a think on this, appreciate the feedback :)

[2018-04-11 17:36] pixelass opened #2827 "[WIP] - List of UI issues"
# [WORK IN PROGRESS]

# List of UI issues

* This ticket lists several UI issues I found.
* Don't hesitate to comment but right now this is a WIP issue.
* The WIP tag will be removed once I'm done.
* Separate Issues can/will be made from that list.
* This issue serves as discussion.
- [x] Technical Discussion

## Chat

The chat is located in different locations depending on the view. I have a hard

[2018-04-11 17:36] dev-drprasad commented on #2796
@brianlovin one suggestion from me (If applicable). if we label issues with relevant skill (for example `ui`, `backend` etc), it will be good for people to pick/filter easily instead of going through each every issues and reading description.

[2018-04-11 17:40] brianlovin commented on #2796
cc @mxstbr - not sure if you have any thoughts on label structure here and how granular to go;

I definitely hear ya @dev-drprasad - only thing that concerns me is that a lot of tasks require a bit of a bunch of things, and might just make it super tedious. But also want to strike the balance where our labels are useful and helpful, too!

[2018-04-11 17:42] brian-mann commented on #2810
Couldn't you just use `npm scripts` to do this before `cypress:open` and before `cypress:run` ?

https://github.com/withspectrum/spectrum/blob/alpha/package.json#L243

[code]

Alternatively, you could create a cypress `script.js` file, and use our module API to first do the stuff you want to prepare the database before running or opening Cypres.

Another option (although this has some caveats) is

[2018-04-11 17:44] brianlovin commented on #2827
Can you clarify this? Screenshots + console logs would be super helpful

Would love more thoughts and context around what you mean here!

This is definitely a bit of a pain to manage and can certainly be confusing. Basically a `?t=foo` url means the thread is being viewed from the signed-in "inbox" view of the app. If you share a `?t=foo` url outside of Spectrum, and a person clicks it, we check t

[2018-04-11 17:46] brianlovin commented on #2810
@brian-mann - awesome ideas; cc @mxstbr it's definitely smart to make sure the migration/scaffolding is done before cypress ever opens. Ideally the `setup` and `teardown` scripts are as fast as possible since they run before every test.

@brian-mann - we do run our `teardown` and `setup` before each test because we often test mutations which change data in the `testing` db - we don't want downstre

[2018-04-11 17:46] brian-mann opened #2828 "Dont sleep when starting servers prior to running e2e tests in CircleCI"
**The Problem**

This line right here is unnecessary: https://github.com/withspectrum/spectrum/blob/alpha/.circleci/config.yml#L110

Effectively even if your servers are ready before 60 seconds, it will wait until at least that long. If for some reason they did take **longer** than 60 seconds, Cypress will insta-fail.

**The Solution**

Use an NPM module like this: https://github.com/jeffbski/wait

[2018-04-11 17:49] dev-drprasad commented on #2796
@brianlovin i totally agree. i have seen lot of issues with no or little description and label is not telling which kind of skills required. So, I thought beginners feel difficult to pickup issues.

[2018-04-11 17:51] pixelass commented on #2827
@brianlovin thx for the fast/helpful reply. I will add screenshots and more info along the way, thus the [WIP] tag in the title ;)

I'll try to clarify my "actual" issue, which as of now mainly concerns the navigation and links.

Links .. (was missing)  " In many cases "important/interesting" links are missing."
e.g. "open discussion page", "go to community page"...

[2018-04-11 18:06] brian-mann opened #2829 "Cypress tests + review"
First off - wanted to say kudos on your cypress tests. You all have done a great job, and this is largely the way we intended your tests to look and feel.

I'm having our team doing a once-over to cleanup a few things. We'd like to promote this project as a flagship example on our website and in our docs.

I'm really glad to see you're using the `data-cy` pattern all over the place.

https://githu

[2018-04-11 18:07] six7 opened #2830 "Add Scroll down to Newest Post"
Currently on very long threads it can take a long time to scroll down to the newest post. Either add a "You're viewing old messages, click here to jump down to the newest!" (kinda like Slack or Discord do it).

Another solution would be to allow different sorting. E.g. show neweat posts on top.

[2018-04-11 18:09] brian-mann commented on #2810
Right that makes sense - per this issue it seemed like you needed to first run the DB migrations else they would fail during the setup / teardown. I was suggesting those places as a "hook" where you want code to run before opening Cypress - but wouldn't want it to run in Cypress.

For instance, even using the `before` hook would run multiple times whenever you're in `cypress open` mode (since you'

[2018-04-11 18:58] cutjavascript commented on #2723
@mxstbr @brianlovin  Currently I have just handled for only ChatInput (last-chat-input-content)  component,

Will be adding for
/src/views/thread/index.js

and

'last-thread-composer-body'
'last-thread-composer-title'

src/components/composer/index.js

Will check the code more but am I missing any?

-will try to get logic into common file, so easily handled for all old and new fields

[2018-04-11 19:15] brianlovin commented on #2796
For the issues with no description, most of those are probably legacy ones that we created a while back and definitely need extra context. I'll do a quick pass through the `good first issues` and see if I can help with that

[2018-04-11 19:15] brianlovin commented on #2827
@pixelass I see - any chance you could elaborate further with screenshots for those cases, eg where would you expect those links to exist in the UI? Thanks!

[2018-04-11 19:18] brianlovin commented on #2829
Would love this! Save my typing fingers some work for sure

Thanks a bunch for jumping in and looking through our tests, eager to see what you and the team can find!

[2018-04-11 19:27] brianlovin commented on #2723
@cutjavascript amazing! I'm going to move discussion to the pr then :)

[2018-04-11 20:05] pixelass commented on #2827
@brianlovin sure thing. I might be able to provide more info tomorrow.

[2018-04-11 20:09] alejandronanez commented on #2682
I'd like to work on this @mxstbr
Where should I start looking?

[2018-04-11 20:28] brianlovin opened #2834 "GDPR: Allow users to delete their account"
GDPR's rules around the 'right to be forgotten' are complex and inherently confusing; the web of personal data is long and difficult to untangle. We want to operate under the most transparent conditions possible, and ensure that people are able to be forgotten from Spectrum at any time without impacting the public interest or integrity of the platform's public conversations.

There are a few cases

[2018-04-11 21:21] brianlovin opened #2835 "Cypress is failing to authenticate locally again"
I tried deleting the `testing` db, re migrating, and confirmed that our data is landing in the testing db. But all authentication in all tests is failing for some reason.

[2018-04-11 21:28] spartDev commented on #257
Todo:

- Packager script to ship on linux
- Packager script to ship on windows
- App Updater
- Add tray icon ?
- Add badge count & sound ?

[2018-04-11 21:55] uberbryn commented on #257
I can take care of the icons!

[2018-04-12 06:11] cangoektas commented on #2810
@brianlovin maybe there's something I'm missing but is it possible that the cypress setup is not the only place where we need changes for this? I'm just confused because the docs say that `TEST_DB=true yarn run dev:api` is a prerequisite for the cypress tests and that already fails.

[2018-04-12 06:40] good-idea commented on #1925
I can jump on this --

related but not relevant question -- do the html files in `email-templates` get used or are you pasting them into the Postmark template editor?

[2018-04-12 07:37] mxstbr commented on #1925
@good-idea not yet! PRs welcome :blush:

[2018-04-12 07:39] homanp commented on #2332
@mxstbr ok got it.

[2018-04-12 07:41] spartDev commented on #257
A thing which is on my mind, actually we load spectrum web app as a remote URL but if we want notification, badge count etc ... we need to tell  Electron app to show notification ...

Is it better to bundle the frontend into Electron with some code only for the desktop app ? What do you think ?

[2018-04-12 07:44] mxstbr commented on #2829
That's awesome, thanks for checking out our testing suite! 🎉

[2018-04-12 07:45] mxstbr commented on #2828
Good catch, I didn't know modules like that exists!

We need to wait for both `localhost:3000` and `localhost:3001` there—PRs very welcome!

[2018-04-12 07:47] mxstbr commented on #2828
Good catch, I didn't know modules like that exists!

We need to wait for both `localhost:3000` and `localhost:3001` there—PRs very welcome!

[2018-04-12 08:01] mxstbr commented on #2682
Awesome! In `src/views/thread/index.js` you'll see a `<Head>` component being rendered.

https://github.com/withspectrum/spectrum/blob/8eb1a8114dbaefa82914eb4f5cfe9523864e8d0e/src/views/thread/index.js#L380-L386

That `image` prop needs to be updated to some dynamically generated imgix link, which would ideally show:

- The Spectrum logo
- The community and channel name the thread was posted in
-

[2018-04-12 08:04] mxstbr commented on #257
Yeah that's what I said in the PR, we have to bundle the frontend into Electron. :wink:

[2018-04-12 10:08] spartDev commented on #257
OK I misunderstood that point ! 😉

[2018-04-12 11:17] homanp commented on #2332
@mxstbr I was referring to when a the app is open and the push notif arrives. Not the actual notification view. Do you have a design for that as well on web?

[2018-04-12 11:30] mxstbr commented on #2332
Oh sorry, I misunderstood—yes, those mockups look great for the dropdown! 😍

[2018-04-12 11:34] homanp commented on #2332
Ok, cool. I'll give a try to see how it works out. Do you guys primarily communicate on Github for this project or do you have a Slack channel or similar?

[2018-04-12 11:37] mxstbr commented on #2332
A Slack channel? I hope you mean a Spectrum community :wink:, and yes we do: https://spectrum.chat/spectrum/open

[2018-04-12 11:38] homanp commented on #2332
Haha, yeah sorry! Thx 😄

[2018-04-12 13:00] mxstbr commented on #2835
Yeah, it's saying "`cy.auth` is not a command". Digging in.

[2018-04-12 13:03] mknepprath commented on #1806
Can confirm this issue - I don't see any indicator that I've received a DM. Was about to add a new issue, but saw that this existed! 👍

[2018-04-12 13:04] mxstbr commented on #2835
Welp, after restarting Cypress everything works again. Very very curious, no clue why! /cc @brian-mann

Going to close this for now, let's see if it happens again.

[2018-04-12 13:04] #2835 closed

[2018-04-12 15:16] mxstbr commented on #2828
PR open: #2839

[2018-04-12 16:19] brianlovin commented on #2835
Kk I'll keep ya posted if I can get it to run locally with your latest changes in #2838

[2018-04-12 16:31] brianlovin commented on #1925
@good-idea
1. Not yet!
2. Not sure :P Sorry to be so vague here; I'd imagine one line above the list of daily digest threads might look okay

[2018-04-12 16:32] brianlovin commented on #1925
And after the template is updated here I'll manually paste it over to Postmark

[2018-04-12 16:45] brianlovin commented on #2332
cc @uberbryn for any design feedback on those in-app notif dropdowns :)

[2018-04-12 16:47] brianlovin commented on #2805
I see; how would this end up in the UI itself? I know there's a react i18n library out there, but never had the chance to see how implementation works

[2018-04-12 16:48] brianlovin commented on #2682
That seems like an awesome starting point! We'll definitely want to trim at a certain # of chars and figure out how things like `break-word` should work :)

[2018-04-12 16:49] brianlovin commented on #2810
Definitely possible our docs are misaligned, I think @mxstbr has made a lot of progress in this area in the last 12 hours or so and might be able to add more color here

[2018-04-12 16:51] mxstbr commented on #2810
Yeah that's true @cangoektas—I think I know how to handle this after #2838 lands! Will tackle then.

[2018-04-12 16:52] mxstbr commented on #2682
Yeah for sure, there's a looot of edge cases to be handled there but it could really help our click-through rate from Twitter

[2018-04-12 16:53] dev-drprasad commented on #2768
@brianlovin I am unable to install dependencies. i am getting error after latest pull
[code]

[2018-04-12 16:55] mxstbr commented on #2768
Can you try manually installing detox in the mobile directory? `yarn add detox`

[2018-04-12 17:01] homanp commented on #2332
Copy that :)

[2018-04-12 17:14] dev-drprasad commented on #2768
ran `yarn add detox` in `mobile` dir , got following logs
[code]
control returned back to terminal after 2 mins

[2018-04-12 17:25] mknepprath opened #2841 "Switch cursor to pointer when hovering over embedded images"
**Issue Type (check one)**

- [X] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)** -->
I noticed that you can click on images to bring up a lightbox view - this isn't immediately obvious due to the cursor not changing. Perhaps it should?

[2018-04-12 17:42] brianlovin commented on #2841
Hmmm I don't think clicking on images in threads does anything right now though? See #1915

[2018-04-12 17:47] mxstbr commented on #2841
Yeah but images in messages

[2018-04-12 17:48] brianlovin commented on #2841
Ah, I thought he meant in thread. Sorry! This would be nice then for sure :)

[2018-04-12 17:51] brianlovin opened #2842 "Removing images in thread composer with DEL crashes app"
https://spectrum.chat/thread/557e4ed2-c2e5-43f8-bbce-ad4b7f8687e3

[2018-04-12 17:57] alejandronanez commented on #2682
Wow thanks a lot!
I’ll hit you up if I need something else :)

[2018-04-12 18:05] lookapanda commented on #2842
https://gist.github.com/lookapanda/441506569b2729d09971a0cf1417288a

[2018-04-12 18:21] uberbryn commented on #2682
I'll add mockups for this to my to-do list for next week.

[2018-04-12 18:25] lookapanda commented on #2842
https://github.com/mxstbr/draft-js-plugins/commit/db2d583d6f71d2ca8f7a51c400988be31feb15ce

Hm, seems like there was a similar bug already in the past but @mxstbr fixed that one already...but the description seems to still fit on this bug too?

[2018-04-12 18:34] lookapanda commented on #2842
Okay, can confirm now. I "fixed" it locally. What Max did to the `draft-js-image-plugin` needs to be repeated here: https://github.com/vacenz/last-draft-js-plugins/blob/master/draft-js-embed-plugin/src/index.js#L27

[2018-04-12 18:46] uberbryn commented on #2332
I'd prefer to do a toast similar to Twitter with a spectrum purple bg, white text, and a white icon.

There's a few reasons I think this is the right approach:

1. it's as close to the notifications icon as possible
2. it takes up minimal space while using other functions of the app
3. it's high contrast against the background, *and* has good color contrast (AA) with the text

The one obvious issu

[2018-04-12 19:09] mknepprath commented on #2841
I added an image above to clarify. Not clear on the distinction between threads and messages, but clicking on that brings up a lightbox view with all embedded images in that conversation.

[2018-04-12 19:10] uberbryn commented on #2332
This seems like it'd probably be a good candidate for addition to the README. Perhaps as a Figma file 🤔.

I'll see what I can come up with!

[2018-04-12 19:17] uberbryn commented on #1925
This makes me want to convert https://github.com/uberbryn/mailchute to react/styled-components so we could build our emails that way and have it all come from centralized source 🤔

[2018-04-12 19:31] mxstbr commented on #2842
PR!

[2018-04-12 19:33] mxstbr commented on #1925
@uberbryn https://mjml.io?

[2018-04-12 19:38] uberbryn commented on #1925
@mxstbr Ideally we wouldn't need another syntax - just a slightly different set of components.

[2018-04-12 19:51] lookapanda commented on #2842
Done https://github.com/vacenz/last-draft-js-plugins/pull/15

[2018-04-12 20:43] mxstbr commented on #2332
That would make for a great doc! `docs/design/readme.md` maybe?

[2018-04-12 21:34] good-idea commented on #1925
@mxstb @uberbryn I'm doing something similar with email templates in something I'm working on right now. We're sending an HTML body straight to postmark, though, instead of using their templates (We didn't want to bother with copying & pasting every time there's a change).

This is it in its most basic form. It's written from memory and pretty incomplete, but gets the idea across:

https://gist.gi

[2018-04-13 00:27] LetItRock commented on #2805
@brianlovin I've implemented internationalisation some time ago in one app and generally it was a HOC which served "strings" prop to childrens with the piece of json they were interested in... and selected language was stored in redux store... and changed by triggering action...
I think its possible to implement this with new Context API...

[2018-04-13 00:43] brianlovin commented on #1925
@good-idea really interesting, going to study that a bit later and see how you're approaching it. Overall @mxstbr @uberbryn I *really* would like to not switch providers at this point given we're doing okay with what we have and I'm fine owning the pain points here :)

[2018-04-13 01:24] brianlovin commented on #2805
@LetItRock did you ever use https://github.com/i18next/react-i18next ?

[2018-04-13 03:32] xcaptain commented on #2790
Since we are going to use Docker to develop and deploy spectrum, how about spliting this large code base into small repositories, like:
[code]
each service can be built into a Docker image and in the main repository use docker-compose to compose these services.

[2018-04-13 03:50] brianlovin commented on #2790
The monorepo setup provides a lot of good dx, especially since we're building so many things that require changes on many servers (e.g. api + frontend + a worker) - having to create and collaborate across 3 repos + 3 pull requests would be a bit of a nightmare :)

[2018-04-13 05:09] nnennajohn commented on #2754
Ok. Working on this. Will get it in over the weekend.

Quick question: My thought on how to proceed with this is to actually seperate what is displayed to the user, and the underlying url. I see there are a few checks to make sure the url is valid. So I am thinking we don't really need to change/strip anything. Rather pass an encoded version to the underlying href after any linkPreview is generate

[2018-04-13 06:25] homanp commented on #2332
@uberbryn yeah  a README would definitely help. So we go with Twitter-ish Toast notification bar?!

[2018-04-13 06:38] fubhy commented on #2790
Also, we not only want to use Docker, but also Yarn workspaces. Hence keeping it in one repository is vital.

[2018-04-13 06:52] nnennajohn commented on #2754
Ok. I tracked down the problem. Sorry, had to navigate my way around the code. But I think the offending thing is the MENTIONS Regex.

I am not quite sure how you want to proceed with it though. Ignore if weburl && regex match? New regex? Extract, but retain current text if weburl and regex match?

<img width="651" alt="screen shot 2018-04-12 at 11 50 56 pm" src="https://user-images.githubusercont

[2018-04-13 07:05] mxstbr commented on #2754
I think the quickest fix would be to not match a mention if it's preceded by a `/`, if that makes sense? So the Regexp should match `@someone` `Hello @someone` but not `/@someone`.

[2018-04-13 07:07] mxstbr commented on #2332
Yep, that'd be great @homanp!

[2018-04-13 07:09] homanp commented on #2332
Cool, going for it then 😄

[2018-04-13 07:25] mknepprath commented on #2841
@brianlovin I sure can!

[2018-04-13 07:30] ruffle1986 commented on #2805
Here's our approach:

- we use react-intl
- react-intl has a babel plugin which collects your copies from the source code
- then, we transform it into a structure that is compatible with Transifex (or any other 3rd party)
- upload it

At this point, the service (where the translation happens) gets the text that has to be translated. We do it when we make the production build in circle ci.

- we al

[2018-04-13 07:36] nnennajohn commented on #2754
Ok Thanks. @mxstbr. Regex is not my strongest point. :)

Tried with an  / test prefix, and it works for a full url, but fails for an actual mention. :)

<img width="651" alt="screen shot 2018-04-13 at 12 34 45 am" src="https://user-images.githubusercontent.com/1761197/38722380-9b7e3efe-3eb2-11e8-8c7c-fb62c3926691.png">

[2018-04-13 07:41] mknepprath commented on #2841
PR in: #2848

[2018-04-13 09:34] mxstbr commented on #2817
I think we also have to handle the ["Right to Restrict Processing"](https://gdpr-info.eu/art-18-gdpr/), which is basically just disabling your user account without deleting the data.

[2018-04-13 11:38] mxstbr opened #2851 "Test issue, ignore"

[2018-04-13 11:39] #2851 closed

[2018-04-13 12:10] mxstbr opened #2853 "DM thread crashes the app"
I just tried to DM @mogsie to get him to try alpha.spectrum.chat on Android, but when I sent the DM (I created a new thread because I couldn't be bothered to find the old one) the app crashed. Sentry log: https://sentry.io/space-program/spectrum/issues/527630247/?query=is:unresolved

On top of that, I now cannot open that DM thread anymore at all. What on earth.

[2018-04-13 12:32] nikgraf commented on #257
btw I made good experiences using https://github.com/electron-userland/electron-forge

[2018-04-13 13:50] brianlovin opened #2854 "Code block in chat input fixes"
Hey @mxstbr here are some bugs with the new code block stuff: https://www.dropbox.com/s/h9omj4q6bteoypi/code-blocks-chat-input.mov?dl=0

In order of appearance:
- [x] It was nice when code blocks would automatically activate with triple backticks at the start of a message. It's unobvious that you have to hit 'enter' to start the code block, and probably nobody will ever do it because 'enter' is wh

[2018-04-13 14:05] mxstbr commented on #2854
These are all good points, will tackle!

[2018-04-13 14:08] brianlovin commented on #2854
Thank yoU!

[2018-04-13 14:09] brianlovin commented on #2853
Can you send me the dm thread id?

[2018-04-13 14:09] brianlovin commented on #2853
Can't repro locally

[2018-04-13 14:10] mxstbr commented on #2854
Now that I think about it:

It would be kinda nice if code blocks would automatically activate with tripe backticks, no matter if you're at the start of a message or not, right?

[2018-04-13 14:10] brianlovin commented on #2853
To clarify: are you able to view /messages at all? Or just only that thread is throwing an error?

[2018-04-13 14:12] brianlovin commented on #2854
Yep! It should always auto activate. Hitting enter to "activate" it feels pretty unintuitive since enter is also the send message key

[2018-04-13 14:12] mxstbr commented on #2854
This is the case for all block types at the moment, including headings and lists etc.

True that! /cc @juliankrispel

If we change the behavior for 1, both of these would be solved since it'd be obvious that you can copy+paste!

[2018-04-13 14:13] mxstbr commented on #2853
I can view `/messages` if I navigate to it client-side, but when server-side rendered it always crashes. I can client-side navigate to any other DM thread.

DM thread ID in the screenshot:

<img width="1044" alt="screen shot 2018-04-13 at 14 09 26" src="https://user-images.githubusercontent.com/7525670/38739548-8f3f2382-3f35-11e8-9ba9-7ce8ba24f98e.png">

[2018-04-13 14:13] brianlovin commented on #2853
Can you paste that id pls bb

[2018-04-13 14:14] brianlovin commented on #2853
Can you also trigger the error again so it'll show up in hyperion.alpha logs?

[2018-04-13 14:27] mxstbr commented on #2817
No, that is different than the "Right to be forgotten": if you click the link above you'll see the scenarios in which a user needs to be able to disable their account.

We can probably just set `deletedAt` but keep their data and call it a day maybe?

[2018-04-13 14:27] #2841 closed

[2018-04-13 14:31] brianlovin commented on #2817
I'm saying that we should not support that extra logic and surface area for unintentional violations of GDPR. If a user wants to restrict processing they need to delete their account. All of the cases in the link above give rights to the users to request data or fixes from us, but doesn't require us to build out extra logic to support a disabled state.

[2018-04-13 14:33] brianlovin commented on #2817
Overall all the points in that link tell me that a user can request us to halt processing (delete their account) at any time. Right?

[2018-04-13 14:35] brianlovin commented on #2853
Thanks - unfortunately we are still rate limited on Sentry so I can't get too much more info. I'm about to board a plane, so if this is totally breaking maybe you can try to run a db backup locally and debug there? sorry man!

[2018-04-13 14:46] mxstbr commented on #2854
PR is up that makes ``` work with space too! withspectrum/draft-js-markdown-plugin#55

[2018-04-13 15:03] brianlovin commented on #2680
@mxstbr if all your tests are looking good on alpha, feel free to close this :)

[2018-04-13 15:10] mxstbr commented on #2680
Looking great, just some small styling fixes to come. Let's still keep this open for the main composer.

[2018-04-13 15:27] ArturKlajnerok opened #2858 "Invalid App Id for Facebook Sign In on dev"
Sign In with Facebook doeasn't work on `dev:web` and `dev:mobile`. Seems like the FB client Id is not valid anymore.

<img width="231" alt="screen shot 2018-04-13 at 3 46 24 pm" src="https://user-images.githubusercontent.com/1889095/38743643-e86a99fa-3f3f-11e8-8b72-247556fd916a.png">

How to reproduce:
1. Run web client on dev with the dev credentials
2. Try to Sign In with Facebook

[2018-04-13 15:40] mxstbr opened #2859 "Show user hover card in more places"
We've got a very nice [hover card component](https://github.com/withspectrum/spectrum/blob/alpha/src/components/avatar/hoverProfile.js) that shows a users' details when you hover over their avatar next to a message:

![screen shot 2018-04-13 at 17 36 27](https://user-images.githubusercontent.com/7525670/38744110-37604af4-3f41-11e8-8731-10060d1eef36.png)

Unfortunately, that hover card is not appli

[2018-04-13 16:06] #2768 closed

[2018-04-13 17:13] spartDev commented on #257
@nikgraf electron-forge sound interesting, I would be happy to receive any ideas or suggestions.

@mxstbr any idea how to show notification count in dev ?

[2018-04-13 17:29] mxstbr commented on #2741
Done by the amazing @sivakar12 in #2788!

[2018-04-13 17:29] #2741 closed

[2018-04-13 17:37] mxstbr commented on #1918
Now the code message toggle is gone entirely, so this is obsolete.

[2018-04-13 17:37] #1918 closed

[2018-04-13 17:37] mxstbr commented on #1824
Done

[2018-04-13 17:37] #1824 closed

[2018-04-13 17:44] mxstbr commented on #257
@spartDev I usually open Spectrum in a second, private browser window and log in with a different account, then send messages back and forth.

[2018-04-13 17:50] uberbryn commented on #257
I like to use distinct accounts in Safari, Firefox, and Chrome for cross-browser testing.

[2018-04-13 18:58] spartDev commented on #257
Yes, of course ! Thx!!!!

[2018-04-14 02:05] #2196 closed

[2018-04-14 11:42] ArturKlajnerok commented on #2858
Hi @brianlovin, already tested other providers so i can confirm that sign in with Google, Twitter and Github works on dev.

[2018-04-14 16:55] LetItRock commented on #2805
@brianlovin nope I don't have any experience with that library...

[2018-04-14 17:46] satyarohith commented on #2649
@mxstbr How can we get users data of a specific community? so we can store them in an array and use those to suggest.
I'm messing with this feature but not there yet, I will do PR once I get there. :)

[2018-04-14 17:58] ArturKlajnerok commented on #2330
Hi @mxstbr, I can take a look at this one.

[2018-04-14 18:57] mxstbr commented on #2649
I think the first version of this should just suggest any user on Spectrum, which should allow you to use the existing `search` query:

https://github.com/withspectrum/spectrum/blob/alpha/shared/graphql/queries/search/searchUsers.js

We can look at more specific filtering (only community members, prefer thread participants, etc) later!

[2018-04-15 06:11] fullstackguyhere commented on #2859
Hey, I would like to work on this issue. Could I?

[2018-04-15 08:30] mxstbr commented on #2859
Yes please! :100:

[2018-04-15 09:12] ArturKlajnerok opened #2862 "[Mobile] Image assets for React Native App."
We should figure out how to provide image assets for the mobile app, since React Native don't have out of the box support for SVG (https://react-native.canny.io/feature-requests/p/support-rendering-svg-images)

Some options that we have :
1) Use JPG or PNG files

2) Use Expo.SVG https://docs.expo.io/versions/latest/sdk/svg , in that case we would need to create a react components with svg elements

[2018-04-15 09:15] mxstbr commented on #2862
We use Imgix, so we should be able to proxy any SVGs through imgix and pass the `fm` parameter to transform them into jpgs or pngs on the fly. /cc @brianlovin who knows how our imgix setup works, how can we make that happen?

[2018-04-15 11:59] mxstbr commented on #2854
Implemented in the app here: #2863 Onwards to tackling the remaining points!

[2018-04-15 12:15] mxstbr opened #2864 "Add markdown hints to chat input"
As soon as you type anything into Slack's chat input it shows a cheat sheet of supported markdown features:

<img width="543" alt="screen shot 2018-04-15 at 14 14 39" src="https://user-images.githubusercontent.com/7525670/38778267-6d442b64-40b7-11e8-9598-594ef2e3443a.png">

Now that our chat input also supports some markdown (the ~same subset except for quotes) we should also add a similar cheat s

[2018-04-15 12:32] mxstbr commented on #2795
Done. https://github.com/withspectrum/spectrum/blob/5921110554553dfd8fdc275368ca419b24ea1eb5/shared/slug-blacklists.js#L40

[2018-04-15 12:32] #2795 closed

[2018-04-15 12:43] mxstbr commented on #2080
These were all fixed!

[2018-04-15 12:43] #2080 closed

[2018-04-15 20:05] mogsie commented on #2853
Just commenting that I've got the same issue on my end, if I open mxstbr's DMs, it goes straight to the error page.

[code]

unimified:

[code]

[2018-04-15 22:44] brianlovin commented on #2080
Only thing I'd add to this is that pasting code is pretty busted right now - it creates a new code block for each line being pasted in.

[2018-04-15 22:49] brianlovin commented on #2858
Alright, thanks for double checking. I'm going to keep this low pri for now, but let's keep the issue open :)

[2018-04-15 22:54] brianlovin opened #2872 "Fix the UX of thread composer to prevent accidental community/channel posts"
The thread composer today makes it ridiculously easy to accidentally post in the wrong community or channel; we need to make this way more clear or make community/channel selection a discrete step in the thread publishing flow.

[2018-04-15 23:25] brianlovin commented on #2805
Thanks for the context here @ruffle1986!

At this point I'd be super happy to review PRs, but as I mentioned above I think the only way this will really happen is if someone commits to owning the i18n process and helping us work through the build process, handling locale changes on the client, etc. as well as establishing a best practice for submitting and reviewing new languages + string translat

[2018-04-15 23:28] brianlovin commented on #2862
Yeah I would just need a list of which assets need to be uploaded and reformatted (https://docs.imgix.com/apis/url/format/fm) so that I can upload them manually to S3 and share back the imgix urls.

[2018-04-15 23:29] brianlovin commented on #2853
@mxstbr could this possibly be an issue with the android text input fallback that saved invalid draft state to the db?

[2018-04-16 03:25] xcaptain opened #2873 "improve deployment"
The readme deploy instructions are using `now-cli`, which I tried but met some problems including:
- now requires a $20/month plan to deploy
- now has an unresolved bug here https://github.com/zeit/now-cli/issues/1247 which blocks deployment
- now requires compose.io account and aws account which adds extra expense

I propose to add a manual deploy method so I can deploy spectrum to google cloud,

[2018-04-16 07:29] mxstbr commented on #2873
This will probably be partially resolved and will have conflicts with #2793, which should make Spectrum easier to deploy anywhere.

[2018-04-16 07:31] mxstbr commented on #2862
Basically just the default avatar and cover photos at this point as far as I can tell

[2018-04-16 07:32] mxstbr commented on #2853
I don't think so, but potentially. I'll dig in today.

[2018-04-16 07:34] mxstbr commented on #2872
I think a quick win here would be:

- Don't select any community or channel by default, leave those empty and grey out the publish button until both are selected
- Move the selects down next to the publish button
- Only on the community view and channel views select a community and channel by default

[2018-04-16 07:35] #2822 closed

[2018-04-16 07:36] #2834 closed

[2018-04-16 08:04] homanp commented on #2332
@mxstbr @brianlovin  so I implemented everything for a device to start receiving notifs. I have some questions though:

1. Are you guys saving the `ExponentPushToken ` somewhere? If not this needs to be saved in order to send notifications to a specific device.

2. Have you got any examples of the payload you will be sending as push notifs to the client?

Thanks!

[2018-04-16 08:42] mxstbr commented on #2332
@homanp

1. Yes, the backend is already pushing notifications out if you register with a token
2. Yes, in the `expoPushSubscriptions` table!
3. Let me dig in, one second

[2018-04-16 09:16] fullstackguyhere commented on #2859
Great. I am starting to work on this issue then!

[2018-04-16 10:11] mxstbr commented on #2859
Awesome! Feel free to submit a PR once you got it in one new place, and we can merge it in small increments.

[2018-04-16 13:14] mxstbr commented on #2329
@ryota-murakami let me know when you have a work in progress!

[2018-04-16 13:39] mxstbr commented on #2853
Hmm seems like a plaintext message slipped through somehow, it had a plaintext body but a `draftjs` type. Will see if I can repro.

[2018-04-16 13:46] mxstbr commented on #2853
Got it: #2876

[2018-04-16 14:12] mxstbr opened #2877 "Generate a sitemap"
For SEO purposes we should generate a sitemap for all content on Spectrum. This should probably happen in Chronos on a daily (?) basis, and submitted to all major search engines.

[2018-04-16 16:09] ryota-murakami commented on #2329
@mxstbr i'm afraid i couldn't complete the work immediately.

current progress is.. i just added github button, but nothing any styling.(actually i'v inactive the work for a while, during weekend:sweat_smile:)
![img_0858](https://user-images.githubusercontent.com/5501268/38821565-d5fc72f4-41db-11e8-8cbe-1adce7697353.PNG)

I would like to work this week with responsibility:bow:

i just created WIP

[2018-04-16 18:25] #2853 closed

[2018-04-16 18:31] brianlovin commented on #2873
I'd also add that if you're working on deploying your own instance of Spectrum, definitely feel free to do whatever you need to make that work on your end! We will be sticking with our existing server setup and providers in the meantime :)

[2018-04-16 18:31] #2873 closed

[2018-04-16 18:35] #2864 closed

[2018-04-17 01:01] brianlovin opened #2885 "Only community owners should be able to add an administrator email"
Just needs a small api check in the backend during the administrator email setting flow to ensure the user updating the email owns the community.

[2018-04-17 01:22] brianlovin opened #2886 "Fix channel notifications controls alignment on community view"
<img width="510" alt="screenshot 2018-04-16 18 09 23" src="https://user-images.githubusercontent.com/1923260/38843253-066a25f0-41a3-11e8-82ca-4456b4cf7467.png">

[2018-04-17 01:28] brianlovin commented on #2313
This behavior seems fixed!

[2018-04-17 01:28] #2313 closed

[2018-04-17 01:29] brianlovin commented on #2492
I think this will be partially helped if we move community/channel selection to a second step

[2018-04-17 01:32] brianlovin opened #2887 "Push notifications are failing often on athena"
From compose: https://app.compose.io/space-program/deployments/spectrum-redis/redis/databases/0/keys/bull:push%2520notifications:notification-b3105296-4cae-4efd-ac78-0e8fa525c13d-19c4dbab-6096-487d-8f16-b3549144237a-Mon%2520Apr%252009%25202018%252016:46:54%2520GMT+0000%2520(UTC)

cc @mxstbr this is the ~700 failed jobs on athena

[2018-04-17 01:33] brianlovin commented on #2755
This shipped today! Thanks so much @StefanNemeth :D

[2018-04-17 01:33] #2755 closed

[2018-04-17 01:34] brianlovin commented on #2753
I'm unable to repro this anymore, but I think the problem here is related to other people that visit `?t=:id` urls and it ignores the query param, redirecting immediately to the top item in the feed.

[2018-04-17 01:34] #2753 closed

[2018-04-17 01:35] brianlovin commented on #2634
Closed, thanks @denichodev :D

[2018-04-17 01:35] #2634 closed

[2018-04-17 01:44] brianlovin commented on #2862
Default avatar: https://spectrum.imgix.net/default_images/default_avatar.svg

Cover photos (we already have `png` versions):
- https://spectrum.imgix.net/default_images/cover-blue.png
- https://spectrum.imgix.net/default_images/cover-blush.png
- https://spectrum.imgix.net/default_images/cover-cool.png
- https://spectrum.imgix.net/default_images/cover-green.png
- https://spectrum.imgix.net/default_

[2018-04-17 02:59] brianlovin commented on #1806
I'm already seeing improvements with this in #2866 - going to close for now

[2018-04-17 02:59] #1806 closed

[2018-04-17 05:35] fullstackguyhere commented on #2858
Facing the same issue for fb login

[2018-04-17 08:43] mxstbr commented on #2330
Thanks to @ArturKlajnerok in #2869 we're much closer already! 😍😍😍

![](https://user-images.githubusercontent.com/1889095/38781710-d0685990-40e9-11e8-918b-f3af33c2cd7e.png)

Remaining todos:

- [ ] Make sure all possible states are covered
- [ ] Fix padding and colors (@brianlovin)
- [ ] Overlay participant heads on top of each other (like we do on the website)

[2018-04-17 08:47] francishero opened #2892 "cannot run data migrations windows 10"
Windows 10 yarn run db:migrate fails with this error
$ yarn run db:migrate
yarn run v1.2.1
$ npm run rethinkdb:migrate -- up

Connecting to RethinkDB
Executing Migrations
Error while running migrations: { Error: Cannot find module 'is-html'
    at Function.Module._resolveFilename (module.js:527:15)
    at Function.Module._load (module.js:476:23)
    at Module.require (module.js:568:17)
    at requ

[2018-04-17 08:49] mxstbr commented on #2892
Did you run `yarn` before running the migrations?

[2018-04-17 09:00] mxstbr opened #2894 "[Mobile] Live reload bug"
For some reason on mobile when live reload is enabled the app just infinitely reloads:

<img alt="Demo of bug" src="https://user-images.githubusercontent.com/7525670/38859397-370b3236-422e-11e8-9db2-602e94c084b6.gif" width="100px" />

Note how as soon as I enable live reload the app goes into an infinite reboot cycle. (this is with the newest version of all deps as per #2893)

I have no clue why t

[2018-04-17 10:10] brentvatne commented on #2894
cc @ide

[2018-04-17 10:24] francishero commented on #2892
i did these steps here:

node shared/install-dependencies.js

started rethinkdb

then the migration :

yarn run db:migrate

On 17 April 2018 at 00:49, Max Stoiber <notifications@github.com> wrote:

[2018-04-17 10:26] mxstbr commented on #2892
Hmm, can you try to `yarn add is-html`?

[2018-04-17 11:43] alejandronanez commented on #2682
Hey all!
In `spectrum/src/views/thread/index.js` around line 360 we have this conditional:

[code]

I don't see any `watercooler` type of thread in the default Spectrum community so I decided to create my own community to start playing with everything I need. What is happening is that I can't create a watercooler type of thread 😱

What am I missing here?

Thanks a lot!

[2018-04-17 11:54] mxstbr commented on #2682
Watercooler threads are currently an alpha experiment, you can see one in e.g. the React community: https://spectrum.chat/react

I wouldn't worry about those now, let's get those done later?

[2018-04-17 11:55] mxstbr commented on #2862
We definitely want to use our own icons. /cc @uberbryn do you reckon you can export the set as `.ttf`s?

[2018-04-17 12:17] alejandronanez commented on #2682
Oh yeah! I thought this ticket was related only to Watercooler type of posts, sorry my bad.

I’ll keep working on this then :)

Thanks!

[2018-04-17 13:07] mxstbr commented on #2682
I guess let's start with only the title for now, and iterate when we figure out how to add multiple texts to images 🤷‍♂️

[2018-04-17 13:22] dev-drprasad opened #2896 "wrong port in some functionality"
**Issue Type**

- [x] Bug Report

**Description**
web ui is running on a port ex. 3002. but some functionalities like siginin with google, signout are pointing to 3001 port.
![screen shot 2018-04-17 at 6 43 39 pm](https://user-images.githubusercontent.com/22687681/38871822-79a3bae6-426f-11e8-9fc2-e7327131a0c4.png)
![screen shot 2018-04-17 at 6 46 42 pm](https://user-images.githubusercontent.com/22

[2018-04-17 13:49] dev-drprasad commented on #2887
@brianlovin  can i get more context ? do push notifications to browser failing ? what is role of `draftjs` in sending notifications ?

[2018-04-17 14:24] #2896 closed

[2018-04-17 14:29] mxstbr commented on #2886
@TheMightyPenguin yes please! The code for this is in `src/views/community/components/channelList.js`: https://github.com/withspectrum/spectrum/blob/alpha/src/views/community/components/channelList.js

[2018-04-17 14:39] dev-drprasad commented on #2896
@mxstbr then, its good to not to allow running on other port, right ??

[2018-04-17 14:48] uberbryn commented on #2862
We can do PNG like most apps. Should not use icon fonts.

[2018-04-17 15:10] mxstbr commented on #2896
Yeah true, but that's unfortunately out of our control as `create-react-app` does that, not us :blush:

[2018-04-17 15:11] FezVrasta opened #2897 "Can't focus input box with mouse click"
If you try to focus a thread input box clicking on it with the mouse you get this error in the console.

[code]

It doesn't happen in private chats or while you create a new topic or if you focus it using the keyboard TAB key.

![](https://spectrum.imgix.net/threads/9a895003-b061-4d06-af70-cd4dfe1ecba9/S1_iHFmhG-Kapture%202018-04-17%20at%2016.32.27.gif)

![](https://spectrum.imgix.net/threads/9a89

[2018-04-17 15:15] mxstbr commented on #2897
Yeah can repro locally, I missed this because it doesn't break focusing on Firefox. Digging in!

[2018-04-17 15:26] TheMightyPenguin commented on #2886
Alright @mxstbr, thanks 😄! I'll make a PR for this soon!

[2018-04-17 15:27] mxstbr commented on #2897
Hmm looks like it might be this issue? https://github.com/facebook/draft-js/issues/473 Doesn't seem like our case at all though given we don't have tables. 🤔

[2018-04-17 15:33] mxstbr commented on #2897
/cc @juliankrispel have you seen this before? It seems to be the same issue as this: https://stackoverflow.com/questions/48230171/draft-js-cannot-read-property-getin-of-undefined-getupdatedselectionstate (we pre-populate our editors with an empty editor state due to SSR)

[2018-04-17 16:11] francishero commented on #2892
needed to update node version, thanks

On 17 April 2018 at 02:26, Max Stoiber <notifications@github.com> wrote:

[2018-04-17 16:11] #2892 closed

[2018-04-17 16:49] satyarohith commented on #2858
@ArturKlajnerok Did you run  `cp now-secrets.example.json now-secrets.json` ?

[2018-04-17 16:50] brianlovin commented on #2886
@TheMightyPenguin if it's helpful I was trying to patch this in over in #2890, but feel free to tackle separately :) https://github.com/withspectrum/spectrum/pull/2890/files#diff-372e56dd167de7d9c00603aae8413cdcR235

[2018-04-17 16:59] fullstackguyhere commented on #2859
@mxstbr What is the homepage url and authorization callback url to be used in github?

[2018-04-17 17:01] fullstackguyhere commented on #2858
@ArturKlajnerok What is the homepage url and authorization callback url to be used in github?

[2018-04-17 17:46] juliankrispel commented on #2897
I'll get back to you tomorrow, sry I've been fairly busy yesterday and today

On Tue, Apr 17, 2018 at 4:34 PM, Max Stoiber <notifications@github.com>
wrote:

[2018-04-17 17:53] fullstackguyhere opened #2898 "What is the homepage url and authorization callback url to be used in github?"
[Technical Discussion]What is the homepage url and authorization callback url to be used in github? I am unable to setup authentication using github.

[2018-04-17 18:05] mxstbr commented on #2859
Sorry? Why do you need that? 🤔

[2018-04-17 18:10] ide commented on #2894
Do you have your code in Dropbox or perhaps some other process that could be touching the files?

[2018-04-17 18:13] dev-drprasad commented on #2885
@brianlovin I am not seeing any email field in community settings ? is it possible through only API ?

[2018-04-17 18:18] brianlovin commented on #2885
It's `administratorEmail` and `pendingAdministratorEmail`

[2018-04-17 18:27] mxstbr commented on #2872
Yep that's it @bishwenduk029!

[2018-04-17 18:29] dev-drprasad commented on #2872
@bishwenduk029

we don't need show "To:" also, put some title like "New Conversation" what do you say @mxstbr

If you need any help, i can (though i also new)

[2018-04-17 18:34] brianlovin commented on #2872
Yep! This will also affect some layout stuff on mobile, but we'll probably want to at least match behavior where the community/channel selection requires the user to make the decision before hitting publish :)

[2018-04-17 18:36] brianlovin commented on #2858
@fullstackguyhere you shouldn't need to configure either of those urls, signing in with GitHub already has those routes in the code :)

[2018-04-17 18:41] fullstackguyhere commented on #2859
@mxstbr To sign in using github...so i need urls using localhost.

[2018-04-17 18:41] #2898 closed

[2018-04-17 18:42] fullstackguyhere commented on #2859
Without signing, i am unable to do anything apparently.

[2018-04-17 18:43] brianlovin commented on #2859
@fullstackguyhere the best way to handle this will be to make a new issue with a bug report, and share any console logs or errors you're running into so we can help debug :) Thanks!

[2018-04-17 18:45] fullstackguyhere opened #2900 "What should be Homepage url and authorization callback url for github oauth setup? Also where to put github clientid?"
What should be Homepage url and authorization callback url for github oauth setup? Also where to put github clientid?  I cannot find a place to put my github client id anywhere.

Below is the error I am getting with github:-

![image](https://user-images.githubusercontent.com/31564466/38890021-dfa37ee8-429d-11e8-821f-d6882f35fc13.png)

[2018-04-17 18:45] fullstackguyhere commented on #2858
so should i use existing secrets? @brianlovin

[2018-04-17 18:48] fullstackguyhere commented on #2859
@brianlovin  done that!

[2018-04-17 18:48] brianlovin commented on #2900
Can you share your `now-secrets.json` file in the root folder?

[2018-04-17 18:49] brianlovin commented on #2900
Afaik this doesn't have anything to do with our callback urls, but looks like a bad auth token or bad credentials entered on the GitHub side during auth

[2018-04-17 18:51] Tom-Bonnike opened #2901 "Writing a message containing a list (markdown style) triggers an error"
For example, in any thread, write:
[code]

It will get formatted properly in the chat bar but once you send it, it gets deleted and this error shows up:
<img width="248" alt="screen shot 2018-04-17 at 20 50 15" src="https://user-images.githubusercontent.com/9154236/38890184-fbb3c362-4280-11e8-91ad-87d12ac95692.png">

[2018-04-17 18:54] fullstackguyhere commented on #2900
I too suspect that the root cause is most likely bad credentials entered on the GitHub side during auth.
Below is now-secrets.json:-
[code]
}

[2018-04-17 18:59] brianlovin commented on #2858
Yes, you should use what's in `now-secrets.json` :)

[2018-04-17 18:59] brianlovin commented on #2900
Is that in `now-secrets.json` or `now-secrets.example.json` ?

[2018-04-17 19:00] brianlovin commented on #2900
Also all of those credentials look different than what is in the repo, did you change those?

[2018-04-17 19:01] brianlovin commented on #2901
Thank you for reporting this! @mxstbr can we hot fix this?

[2018-04-17 19:07] fullstackguyhere commented on #2900
Yes @brianlovin , I did

[2018-04-17 19:26] fullstackguyhere commented on #2900
Hey thanks a lot man! This resolved my problem. Thanks a ton!

[2018-04-17 20:12] mxstbr commented on #2894
Nothing like that at all! Nothing else does it either, just the mobile app.

[2018-04-17 22:13] #2900 closed

[2018-04-18 04:30] ide commented on #2894
Not sure what it could be. Maybe binary searching between a plain project and your current state would surface a clue.

[2018-04-18 06:19] fullstackguyhere opened #2904 "While running the app locally, searching users to message personally is giving error."
Unable to search users to message peronsally. No users are coming as suggestion in the drop down. Also, I am getting below error in in chrome console:-
![image](https://user-images.githubusercontent.com/31564466/38914768-758d12ba-42fe-11e8-8c22-e57526c9dc84.png)

Note:- Also, I have not made code changes around this area.

[2018-04-18 07:32] fullstackguyhere commented on #2859
@mxstbr regarding adding hover card for Message author name and username, i have one doubt. Can I ask you?

[2018-04-18 07:45] mxstbr commented on #2859
@fullstackguyhere instead of asking whether you can ask, just ask :wink:

[2018-04-18 07:45] mxstbr commented on #2904
Yes, to search you'll need a valid Algolia setup.

[2018-04-18 07:45] #2904 closed

[2018-04-18 08:49] fullstackguyhere commented on #2859
Sure @mxstbr So for adding hover card for Message author name and username, I check the code and found that have to add hoverprofile component in AuthorByline in index.js for messageGroup. In order to do so I would to change AuthorByline component into a class component. Is such change acceptable?

[2018-04-18 08:53] fullstackguyhere commented on #2904
Oh great!. But inorder to do setup Algolia are there steps mentioned anywhere else? Because I cant find the same in readme.md @mxstbr

[2018-04-18 12:49] mxstbr commented on #2859
For sure @fullstackguyhere, for sure.

[2018-04-18 14:39] mxstbr opened #2906 "Sticky community header with title on thread view"
It'd be pretty cool if the community header on the thread view was sticky, and showed the title of the thread as you scroll down. Quick two minute mockup with browser DevTools:

<img width="600px" src="https://user-images.githubusercontent.com/7525670/38938940-1244fc3a-4327-11e8-9dcb-0d065cd668db.png" />

<img width="600px" src="https://user-images.githubusercontent.com/7525670/38938943-155c4b1c-4

[2018-04-18 14:45] brianlovin commented on #2904
AFAIK local search will never work properly because you’d have to be connected to our production algolia instance, which we definitely never want to do in case we accidentally index content on dev. So those are totally separated, which means searching will almost always return no results.

[2018-04-18 16:27] brianlovin commented on #2493
Marked as taken!

[2018-04-18 16:29] fullstackguyhere commented on #2904
@brianlovin So how would we test messaging on dev? I have to check whether my hover changes are working fine or not so for that I will have to message at least one user.

[2018-04-18 16:31] brianlovin commented on #2904
Ah, it might not be possible to be honest - we'd have to set up an entirely separate algolia instance only for local dev which might not make much sense; I think this is safe to close as it's not a breaking issue on prod :)

Although we probably do just need a safety check somewhere in there for null results

[2018-04-18 16:40] fullstackguyhere opened #2907 "Unable to go to user profile while running the app locally."
While trying to open a user's profile by clicking on it, I am unable to navigate to the profile and am getting the below error on UI:-
![image](https://user-images.githubusercontent.com/31564466/38945769-162fd332-4355-11e8-8f9a-7fab51ced5ce.png)

and following error on chrome console:-
![image](https://user-images.githubusercontent.com/31564466/38945817-2f9a46fe-4355-11e8-8f69-dc4f04a0cf80.png)

H

[2018-04-18 16:41] fullstackguyhere commented on #2904
ok sure thanks for the info @brianlovin

[2018-04-18 16:54] brianlovin commented on #2907
I think that sw issue is separate - what's the url you went to locally? Is it for a user who exists in the db?

[2018-04-18 17:29] brianlovin opened #2908 "Sentry not working on prod"
I'm seeing the 'Raven not enabled locally' warning in prod - maybe I messed something up

[2018-04-18 17:36] dev-drprasad commented on #2901
@mxstbr i removed `ordered-list-item`, `unordered-list-item` from markdown plugin configuration object. but still i am able to see formatted list in chat input.

[2018-04-18 17:39] brianlovin commented on #2897
FWIW I can't repro this on chrome - @mxstbr are you still encountering?

[2018-04-18 17:57] asiermartinez commented on #2897
@brianlovin We have encountered a similar problem on another project we are working on, that includes DraftJS, and it only happens when the editor is SSR.

If you arrived at the "screen" with the DraftJS editor for the first time and was server-side rendered, you get the error. Otherwise, you can't reproduce it. At least in our case.

Apparently more people are having the same problem when the edi

[2018-04-18 18:32] #2474 closed

[2018-04-18 19:02] mxstbr commented on #2901
That's fine, submit a PR! I can fix that if it really is

[2018-04-18 20:01] fullstackguyhere commented on #2859
Hi @mxstbr Just an update. I figured and completed writing code to show hover card for thread author avatars. Currently facing difficulty to do the same for username.

[2018-04-18 20:24] mxstbr commented on #2897
I can repro locally in FF

[2018-04-18 20:25] mxstbr commented on #2897
Not the focussing thing, but the error in the console

[2018-04-18 23:25] littleStudent commented on #2904
not sure what exactly you need? Just messaging a user?
For that you can go to the account page of another use `http://localhost:3000/users/<user>` and click on `Message <user` there.

[2018-04-19 07:29] mxstbr commented on #2859
Don't worry about that, if it's too hard let's just do the avatar for now @fullstackguyhere!

[2018-04-19 08:13] edorivai opened #2913 "Error on "start a new conversation" - fixed by clearing local storage items"
Hiya guys,

I was composing a new message, dragging/dropping images, deleting them again, and at some point the page crashed. Reloading the page got me back to the community homepage (https://spectrum.chat/graphql), but whenever I retried to start a new conversation, the page would crash. I opened up the dev-console, removed 2 fields from local storage:

[code]

After that everything worked again.

[2018-04-19 11:45] mxstbr opened #2914 "Members approval"
We've been talking about this for a long time, but haven't prioritized it at all. I figured I'll put it here so we don't forget doing it eventually: membership approval.

Community admins should be able to set their community to locked/restricted, whereby new users have to apply to join the community. TBD what this application looks like and how configurable it is. (this also ties into #2598, wher

[2018-04-19 16:33] dev-drprasad commented on #2897
@mxstbr even i can't repro in my chrome

[2018-04-19 16:59] dev-drprasad commented on #2901
@mxstbr after merge, i pulled latest `alpha` and installed dependencies, it worked. but i don't know why it was not working before.

[2018-04-19 17:09] dev-drprasad commented on #2908
@brianlovin i checked `src/helpers/events.js` that error will come when `SENTRY_DSN_CLIENT` environment variable not passed to application

[2018-04-19 17:24] mxstbr commented on #2859
Write anything like `@somebody`, that's it!

[2018-04-19 17:33] fullstackguyhere commented on #2859
So basically you want hover card when we hover at @somebody right? @mxstbr

[2018-04-19 17:43] mxstbr commented on #2859
Yep!

[2018-04-19 17:49] fullstackguyhere commented on #2859
I have applied hovercard over participant's heads, however, facing below issue:-
![image](https://user-images.githubusercontent.com/31564466/39008983-f21d9cc6-4427-11e8-8b04-1b2b57e9eeb6.png)

The hover card is getting cut off....any suggestions? @mxstbr

[2018-04-19 17:51] mxstbr commented on #2859
Maybe a higher z-index will help? Not sure, if you push your branch and submit a WIP PR I can take a look!

[2018-04-19 17:52] fullstackguyhere commented on #2859
@mxstbr I have only been able to make changes for thread author avatar...should i submit a pr?

[2018-04-19 18:15] fullstackguyhere commented on #257
Hey is there still work available for this desktop app for spectrum...? I would like to contribute!

[2018-04-19 18:53] FezVrasta opened #2917 "Topic context menu gets cut out"
It can happen that the context menu of the top post of a thread gets cut by the scrollable container where it lives.

Now that we have `react-popper` setup as dependency, we could easily position this context menu using it and avoid the problem.

![image](https://user-images.githubusercontent.com/5382443/39012044-8f375638-4413-11e8-87de-7749cb4d7aee.png)

[2018-04-19 18:58] gdad-s-river commented on #2917
I'd like to take this up. Thank you @FezVrasta !

[2018-04-19 19:15] brianlovin commented on #2917
Also it'd be awesome if we can change the exit behavior to use `src/components/outsideClickHandler.js` - right now the `actionBar.js` component sets a transparent div over the whole page to handle closing that dropdown which is a bit janky :)

[2018-04-19 19:15] brianlovin commented on #2917
That could be a separate PR, too - jjust somewhat related :)

[2018-04-19 19:42] brianlovin commented on #2859
Yeah, that overflow hidden is going to cause trouble there; honestly I think at this point the best approach for these hover cards is to have one single component that sits outside of the app (react portal perhaps) and we populate it with data and state when certain elements are hovered. Afaik this is how Twitter handles the same problem - they have one hover card, and add a `data-attr` to differe

[2018-04-19 19:55] fullstackguyhere commented on #2859
#2918 @mxstbr Please have a look. After doing the changes in facepile.js I am getting the above problem.

[2018-04-19 19:59] #2493 closed

[2018-04-19 20:04] brianlovin commented on #2913
Thanks so much for the heads up!

[2018-04-19 20:06] brianlovin commented on #2914
This would definitely be a big overhaul; I think it also warrants another discussion on if there should be private communities as well, and what impact that would have on the platform. I'm not opposed though to either, this has been a big request. We should also talk about if these levels of control should be paid features or part of the free plan?

[2018-04-19 20:07] #2498 closed

[2018-04-19 20:10] brianlovin commented on #2908
@dev-drprasad I think I was really dumb and didn't realize we probably can't access env variables in the client :P

We're trying to set ourselves up so that we only get Sentry errors from Spectrum, and not from contributors running our code locally - I'm not totally sure how to approach this now so that we can get error reports from the client without exposing a secret token from Sentry

[2018-04-19 21:35] uberbryn opened #2920 "Numbered lists in messages won't send"
Triggers a graphql error on send and fails. Wasn't able to catch it but the message had something about `unsupported message type` and `"unstyled": block`

[2018-04-19 21:43] brianlovin commented on #2920
Should be fixed with https://github.com/withspectrum/spectrum/pull/2912 - we just haven't shipped yet

[2018-04-19 21:43] #2920 closed

[2018-04-19 21:57] uberbryn commented on #2920
👌

[2018-04-19 22:51] ondrej opened #2921 "Infinite loop in the Toolbar component"
Toolbar in src/components/rich-text-editor/toolbar.js seems to get itself into an infinite loop. componentDidUpdate() calls setPosition(), which calls setState(), which causes a re-render and another call to componentDidUpdate(). I see the loop get kicked off when I click the "Post your first thread" button right after first login.

React's NESTED_UPDATE_LIMIT check doesn't catch it, so the page d

[2018-04-20 07:00] dev-drprasad commented on #2908
@brianlovin one way to do this is to define new webpack plugin to pass server environment variables to browser's `process.env`.
**refer:** https://github.com/dev-drprasad/fetch-music/blob/master/webpack.config.js#L29-L35

[2018-04-20 07:10] mxstbr commented on #2921
Interesting, thanks for the heads up! Will figure out how to fix this.

[2018-04-20 07:38] mxstbr opened #2923 "Add badge on Spectrum for contributors"
It would be _pretty cool_ to be able to showcase that you're a contributor to Spectrum on Spectrum. We could have a badge (similar to our PRO badge) that shows that you support Spectrum by helping us out with contributions.

Wdyt @brianlovin @uberbryn?

[2018-04-20 08:29] #2775 closed

[2018-04-20 10:18] mxstbr opened #2925 "Make direct message deleteable"
We initially decided against making messages deleteable in an effort to keep a conversations history accurate, but since we now allow messages to be deleted we should also allow direct messages to be delete. (I think we actually filter those specifically from being deleted on the frontend and backend, so it should just be a matter of removing those couple guards)

[2018-04-20 10:24] alejandronanez opened #2927 "There is no message when you don’t have any DM"
It should be good to see a message that informs user that he/she doesn’t have any messages yet.

![525d8d43-814d-44eb-bc10-099798cfa5a1](https://user-images.githubusercontent.com/464978/39046240-1e668350-445b-11e8-8876-a555511c9c90.png)

[2018-04-20 10:27] alejandronanez commented on #2927
I can work on this if no one is doing so.

Thanks!

[2018-04-20 11:15] mxstbr commented on #2925
@alejandronanez definitely going for it, so yes please do work on it! :100:

[2018-04-20 11:43] fullstackguyhere commented on #2917
Any leads on this? Did anyone get a chance to resolve this?

[2018-04-20 11:47] mxstbr commented on #2927
Duplicate and already taken, ref #2878

[2018-04-20 11:47] #2927 closed

[2018-04-20 12:30] bishwenduk029 commented on #2872
Hey @dev-drprasad I was working on this issue. I was able to make changes, but the onChange event is not firing on select....have you come across such an issue before ? RequiredSelector in ComposerWithData....I tried but was unable to post this question on Spectrum.Chat so posting here ....

[2018-04-20 12:46] fullstackguyhere commented on #2859
@brianlovin I solved the cutting out part partially by setting overflow-y as visible for InboxThreadItem and removing the overflow-x: hidden property.. I removed the overflow-x property. However, this causing issue for uppermost thread cards on the current scroll. See below:-
![image](https://user-images.githubusercontent.com/31564466/39050939-d0719e86-44c4-11e8-956b-1b7fdab1e560.png)
For feed car

[2018-04-20 12:54] fullstackguyhere commented on #1803
Hey @mxstbr I am interested in helping out!

[2018-04-20 13:58] gdad-s-river commented on #2917
@fullstackguyhere I'm working on it

[2018-04-20 14:32] mxstbr opened #2929 "Run Cypress without --record for forks"
Cypress currently fails for any collaborators because we don't provide the Cypress secret to them. (for obvious security reasons) We should just run Cypress without the `--record` option if the secret doesn't exist.

<img width="712" alt="screen shot 2018-04-20 at 16 31 24" src="https://user-images.githubusercontent.com/7525670/39056979-624c3580-44b8-11e8-8353-710e9a097032.png">

[2018-04-20 14:37] dev-drprasad commented on #2872
@bishwenduk029 since we are moving `RequiredSelector` to other position in same component `onChange` should work. can check browser console for any errors ??

[2018-04-20 14:52] #2929 closed

[2018-04-20 14:54] brianlovin commented on #2929
Thanks man - I reached out to the Cypress team about this and their upcoming version will fix this entirely :)

[2018-04-20 15:04] brianlovin commented on #2859
Looks like some z-index issues! Want to try tweaking the css of the hover card using the zindex scale we have in `src/components/globals`?

[2018-04-20 15:49] brianlovin commented on #2923
That'd be neat! Not totally sure how to automate that :P

[2018-04-20 16:04] #2921 closed

[2018-04-20 16:27] fullstackguyhere commented on #2859
I did that but to no avail...I tried setting it to avatar but it did affect much. Do you have any hints @brianlovin

[2018-04-20 17:12] dev-drprasad commented on #2886
@TheMightyPenguin i can help with this issue if you are stuck

[2018-04-20 17:32] haikyuu commented on #2451
This is a good read about this by reddit ex product lead http://nymag.com/selectall/2018/04/dan-mccomas-reddit-product-svp-and-imzy-founder-interview.html

[2018-04-20 17:43] uberbryn commented on #2923
Brian and I actually had a conversation about this early last week that we never followed through on. Could be an interesting use of the GitHub integration to add some small badge (sidenote: we need to shorten MODERATOR to MOD or something. It's super long and if they pile up eg. MODERATOR PRO CONTRIBUTOR - not to mention when we add custom roles - that's not ideal.)

[2018-04-20 17:57] TheMightyPenguin commented on #2886
Not yet, just haven't had the time to get my hands dirty, will probably open a PR over the weekend! Will let you know if I get stuck at any point @dev-drprasad! Thanks 😄

[2018-04-20 18:00] brianlovin commented on #2451
We read and discussed that yesterday @haikyuu! Thanks for sharing - we're definitely trying to be as proactive as possible here :)

[2018-04-20 19:25] gdad-s-river commented on #2917
@brianlovin, after taking help from Federico to understand what was going wrong when I implemented the same logic that @FezVrasta had in his pull request I've a couple of options for handling showing / hiding of the flyout. Let me explain what is up —

Because Flyout getting visible on settings icon's hover is handled through css ([`display: none` -> `display: inline-block`](https://github.com/wit

[2018-04-20 19:34] brianlovin commented on #2917
Maybe `Handle this in Javascript using onmouseenter` will work best here? In addition to the onClick handler that should take care of any ux issues.

Which tooltip?

[2018-04-20 19:40] gdad-s-river commented on #2917
Okay.

<img width="234" alt="screen shot 2018-04-21 at 1 10 02 am" src="https://user-images.githubusercontent.com/4655633/39070382-d5838e34-4500-11e8-950e-80797ad68349.png">

[2018-04-20 20:10] alejandronanez commented on #2925
I'm curious, do you have any mocks or ideas for this feature @brianlovin?

[2018-04-20 20:13] brianlovin commented on #2917
Ahhh, that tooltip doesn't show up on Firefox so I wasn't seeing it on my end :P

Could you just set the `tipPosition` to `left` and avoid the issue entirely?

[2018-04-20 20:13] brianlovin commented on #2925
@alejandronanez - should match the same flow as deleting a message in a normal thread :)

[2018-04-21 04:12] bishwenduk029 commented on #2872
In local/dev env I think there is some issue with select, onChange event is not being fired even with alpha branch code. Has anyone faced a similar problem, or am i doing something wrong ? Should I create a pull request for review? I have completed the changes but unable to test them because of select...

[2018-04-21 04:57] dev-drprasad commented on #2872
@bishwenduk029 please send PR, so that I can take a look

[2018-04-21 04:58] LetItRock commented on #2923
Hello all, I've found that its not currently possible to retrieve contribution statistics from Github GraphQL API [forum link](https://platform.github.community/t/get-contribution-statistics/971/10), but the REST API supports it... [sample response](https://api.github.com/repos/withspectrum/spectrum/stats/contributors) and [documentation](https://developer.github.com/v3/repos/statistics/).

If you

[2018-04-21 06:00] dev-drprasad commented on #2872
@bishwenduk029 if you have only **spectrum** community in you local development, you can't  trigger `onChange` because there is no other community to change. try creating one more community in local development.

[2018-04-21 08:34] mxstbr commented on #2923
Actually, this shouldn't be too hard now that I think about it: we could add a new field to users, (`user.isCollaborator` maybe?) which simply calls the GitHub API under the hood. If the user is a collaborator, we could add a field to the db in their record that says that they are a collaborator, so we don't have to ping the GitHub API a million times.

That would probably still be too intensive s

[2018-04-21 16:02] LetItRock commented on #2923
@mxstbr,
I was thinking about implementation of this when I dreamt today 😄haha

Thoughts:
- Contributor - person who has contributed to project; Collaborator - person who is a member of a team and has read/write permissions; [link](https://opensource.guide/how-to-contribute/#anatomy-of-an-open-source-project)
- for new users signed in with github account we can immediatelly on backend check if the

[2018-04-21 19:09] bishwenduk029 commented on #2872
Hi @dev-drprasad I have created a pull request for the preliminary changes and was hoping if you could review it and let me know if I am going in the right path, meanwhile I will look perform some analysis to find if any component may need change, also I think I have to modify the cypress scripts.

[2018-04-21 21:37] TheMightyPenguin commented on #2886
Hey guys, this seems to be already fixed right? Did not notice that PR from @brianlovin already got merged, I'll try taking another issue ;)

[2018-04-22 09:45] juliankrispel commented on #2897
Hummm can't seem to repro this at all. Also, what exactly is the inbox view? Can anyone provide me with instructions to reproduce? ♥️

[2018-04-22 11:50] fullstackguyhere commented on #2859
#2918 Have a look at my [preliminary changes @mxstbr

[2018-04-22 11:53] fullstackguyhere commented on #2925
I have looked into this. The flow will be very similar to delete a message from a normal thread, however, updating the state is a challenge here. When I delete the message, the UI does not get updated. Meaning that the deleted message does not get removed from the screen. It gets removed only after a page reload. Any suggestions, @brianlovin

[2018-04-22 11:54] fullstackguyhere commented on #2906
Hey @mxstbr  I would like to have a go at this!

[2018-04-22 13:00] mxstbr commented on #2897
The inbox view is your logged-in homescreen/dashboard! I just have to click the chat input in the thread view and immediately get that error.

[2018-04-22 13:45] fullstackguyhere commented on #2906
I will use the design that you have shown here using dev tools, would that be alright?

[2018-04-22 15:26] alejandronanez commented on #2925
Are you already working on this too @fullstackguyhere?

[2018-04-22 16:04] fullstackguyhere commented on #2925
Yes @alejandronanez i am figuring out whether this is straight forward as it looks or not.

[2018-04-22 21:09] brianlovin commented on #2925
@fullstackguyhere the ui updating happens with the apollo cache; see `shared/graphql/mutations/message/deleteMessage.js` - there's likely a bug in there that's preventing the cache from updating

[2018-04-22 21:15] brianlovin commented on #2906
I think we'll probably want a different UI treatment to be honest, no offense Max :) How about something like this https://www.figma.com/file/YB8XJEIRgaLcnfh4wxYMBkzH/Untitled

[2018-04-22 21:29] brianlovin commented on #2886
@TheMightyPenguin sorry man! That one had been sort of patched in a while back, wasn't sure which would land first 🙃

[2018-04-22 23:12] cutjavascript commented on #2913
@edorivai , are you facing same issue with below PR/branch
https://github.com/withspectrum/spectrum/pull/2832
local_storage_clear_2723

[2018-04-23 08:41] #2886 closed

[2018-04-23 09:26] edorivai commented on #2913
@cutjavascript Uh, I didn't ever really run spectrum locally. Just ran into the issue on the actual website :sweat_smile:

[2018-04-23 13:06] ArturKlajnerok commented on #2894
I've had the same issue after syncing my local branch with latest `withspectrum/alpha`. I've tried to debug the issue and double check cache, remove & install dependencies, but without success.

I've seen this : https://stackoverflow.com/questions/46942496/javascript-bundle-getting-build-every-time-it-finish-building-expo-xde
But in my case directory is not in  "iCloud Drive" and no other process

[2018-04-23 13:07] pixelass commented on #2827
Due to a lack of time and intention to use this software I won't be able to add any more information.

Sorry. I hope the info I provided can help others.

[2018-04-23 15:28] #2748 closed

[2018-04-23 15:52] lookapanda opened #2945 "Scoped packages are parsed as mentions"
![image](https://user-images.githubusercontent.com/770632/39137902-0a609802-471f-11e8-8226-a18ede36c7a5.png)
They link to https://spectrum.chat/users/storybook

[2018-04-23 15:55] TheMightyPenguin commented on #2886
@brianlovin it's fine 😉 I'll try picking other issue!

[2018-04-23 15:56] TheMightyPenguin commented on #2330
Hey @mxstbr 😄 ! Has someone taken the `overlay participant heads` task? I'd like to give it a go!

[2018-04-23 16:38] uberbryn commented on #2906
Let's use the roundrect treatment from the thread cards for the channel name. Having the same separator twice in a row doesn't look very good (also we probably don't need it since you say "By AUTHOR" anyway).

This makes it more consistent with the treatment on thread cards: https://www.figma.com/file/N8sL0eKpe5Ka2p2fMCDhBd/Untitled-Copy

[2018-04-23 16:50] uberbryn commented on #2914
I could also see benefit to extensions of this like "pre-release" communities/channels where it's private temporarily with the intent of going public.

[2018-04-23 16:55] uberbryn commented on #2492
We could also maybe hide the chrome most of the time and have it slide in when scrolling up a la Safari's browser chrome?

[2018-04-23 17:08] followbl commented on #2877
@mxstbr would the process look like?

Chronos nightly:
1. Dynamically create sitemap-*.xml file
2. Serve file
2. Ping Google, Yahoo, Bing on updates. Google looks to be as simple as:
[code]

And before or in tandem of this being done, update the robots.txt assisting crawlers of where not to look i.e.:

[code]

[2018-04-23 17:45] mxstbr commented on #2877
Yeah that sounds about right!

[2018-04-23 19:05] brianlovin commented on #2923
@LetItRock this is a nice approach; definitely a cron would be fairly easy here! Might be a fun contributor project to tackle as well, to go full meta. I can help anyone with the `chronos` worker setup if needed :)

[2018-04-23 19:09] brianlovin commented on #2492
We could save 48dp by removing the titlebar and having a floating 'back arrow' in the top left corner. Could save another ~16dp by not having top/bottom padding on the community and channel selectors, and just making them basically half-width dropdowns flush at the top. And save another 48dp by removing the bottom navigation tab bar when viewing the composer.

[2018-04-23 19:31] uberbryn commented on #2914
I had a request for it last week. Not gonna out the company here as they're trying to be sneaky, I'll message you.

[2018-04-23 19:32] uberbryn commented on #2914
I guess the solution here could simply be the ability to change the community from public to private and back.

[2018-04-23 20:17] alejandronanez commented on #2925
@fullstackguyhere you can grab this feature from here since you have already started working on this then. It doesn't make sense that two people work in the same problem at the time.

[2018-04-23 20:34] mxstbr commented on #2945
I'm not so sure about that, but you're welcome to try!

I think the relevant code would be in `mention-decorator.js` and you'd have to filter the incoming drafjs state to only match if the block type isn't code-block or the entity type isn't link or something, not sure honestly.

[2018-04-23 20:41] alejandronanez commented on #2945
I'll give it a try and will post an update here with my findings in the next couple of days. ✌️

[2018-04-23 20:42] alejandronanez commented on #2945
Is it possible that you assign this issue to me @mxstbr? I think you have a label for that.

[2018-04-24 01:53] LetItRock commented on #2923
Basically I started working on this... Will make a WIP PR in a couple minutes...

[2018-04-24 02:58] fullstackguyhere commented on #2925
Sure @alejandronanez

[2018-04-24 07:44] mxstbr commented on #2945
@alejandronanez ping me if you need help!

[2018-04-24 13:33] edorivai commented on #2790
@fubhy Is there a reference issue for the Yarn workspaces?

[2018-04-24 14:02] mxstbr commented on #2790
Not yet! Mind opening one?

[2018-04-24 17:48] TheMightyPenguin commented on #2330
@mxstbr Great 😃 I'll start working on it then

[2018-04-24 19:32] edorivai commented on #2790
Will do!

[2018-04-24 20:18] lolcoolkat opened #2950 "Filter deleted channels everywhere"
**Note**: Running locally, with a fresh install/migration/seed and no modifications to code.

When I click a specific community on the index page sidebar I get the following error in the API console.

```Error: Cannot return null for non-nullable field Thread.channel.```

![Error](https://i.imgur.com/ofJK4c1.png)

The client looks like the following:

![Error](https://i.imgur.com/oK6cmfH.png)

Whe

[2018-04-24 22:26] Keraito commented on #2754
Hey, @nnennajohn are you still working on this? Do you need some help or could I try my hands on this?

[2018-04-25 01:42] nnennajohn commented on #2754
@Keraito , hey. For sure. Sadly, my regex skills are really bad. :(  Would love to see the final result of what you do with it.

Thank you. I appreciate you hitting me up about this. :)

[2018-04-25 07:26] edorivai opened #2952 "Yarn workspaces"
Yarn [workspaces](https://yarnpkg.com/lang/en/docs/workspaces/) should simplify the dependency management within the monorepo.

I'm going to give this thing a naive try, meaning I'll enable workspaces, and see if I can get all of the dependencies to install with a single `yarn` command.

If somebody could chime in on the implications for CI and deployment, that would be great :+1:

[2018-04-25 07:26] mxstbr commented on #2952
This is the main blocker: https://github.com/zeit/now-cli/issues/938 We can't deploy when moved to yarn workspaces

[2018-04-25 08:26] mxstbr commented on #2952
I mean, that makes sense to me. If that makes it work then let's do it? Also I think #2793 added something related to workspaces? /cc @fubhy

[2018-04-25 08:27] edorivai commented on #2952
Actually, I see that you're copying the root `package.json` and `now.json` to each of the services:

[code]
Do you think it work with Now if we'd do the same with the root `yarn.lock`?

[2018-04-25 08:36] mxstbr commented on #2952
If we did that then every service would install all the dependencies of all the services, right? Since the root `yarn.lock` will contain all dependencies?

[2018-04-25 08:38] edorivai commented on #2952
Well, not according to https://twitter.com/bestander_nz/status/960920084410654720

[2018-04-25 08:40] edorivai commented on #2952
I think yarn will respect the dependencies in `package.json`, and just uses the `yarn.lock` as a reference to look up the "preferred" version for the packages defined in `package.json`.

[2018-04-25 08:40] edorivai commented on #2952
I just opened a PR: #2953, maybe best to continue discussion there?

[2018-04-25 09:53] Keraito commented on #2754
@mxstbr is there a quick way to run the unit tests in https://github.com/withspectrum/spectrum/blob/alpha/shared/test/get-mentions.test.js in isolated fashion, just wanna double check my solution but can't setup the whole project right now.

[2018-04-25 09:53] fubhy commented on #2952
I am also adding workspaces in https://github.com/withspectrum/spectrum/pull/2793. Can we wait with this PR here? I've already been working on the #2793 for a considerable amount of time.

[2018-04-25 10:01] edorivai commented on #2952
@fubhy Yeah, the code in this PR is relatively trivial (at least until now). If you manage to get it all up and running in your PR, including the deployment to Now, this PR can de discarded :smile:

Do you have an idea of how long you need to get #2793 mergable? If you need a considerable amount of time, it might be worth it to tackle the workspaces separately here. I'm guessing it should be relat

[2018-04-25 10:12] fubhy commented on #2952
The deployment to Now is orthogonal to the PR because the way we are going to deploy to Now with my PR is by simply submitting a Docker image. So it's already solved imho.

As far as I am concerned, my PR is already mergeable. The only thing that keeps us from doing that for now is that Max reported issues with the bootstrap phase of the images.

[2018-04-25 10:14] edorivai commented on #2952
Ah, that's good news, I didn't consider the impact of docker containers on the Now deployment. That will simplify things :). I'll watch the progress on #2793 :eyes:

[2018-04-25 16:27] mxstbr opened #2956 "Enable notifications for watercoolers"
I think we should enable notifications for watercooler threads. Making a special exception for them sounded sensible at the time, but honestly I just miss all the messages in them because of it and I feel bad about it since it's really meant as a catch-all. It's very unexpected that the "general chat room" doesn't notify me when a new message comes in. (imagine e.g. Slack doing that...)

I think w

[2018-04-25 16:58] brianlovin commented on #2950
Hm, this is a strange one, and actually an error that I'm seeing come up in production every once in a while. The reason would be that in the graphql resolver the `thread.channel` returns null but we mark it as a required return in the schema.

This could possibly be caused by a deleted channel that we are somehow fetching a thread for? I'm not totally sure - if you happen to find any more context

[2018-04-25 17:01] brianlovin commented on #2754
@Keraito try `yarn run test` and then when jest opens up you can specify a regex path pattern (i think the key is `p`) to run only certain tests :)

[2018-04-25 17:04] brianlovin commented on #2956
Fair enough, and I agree; we'll just need to add in the UI control for it in the frontend

[2018-04-25 23:34] lolcoolkat opened #2957 "Cached assets not loading properly?"
Is it just me or when I go to https://spectrum.chat and i'm on the home page (logged out).. the images load fine.. but when I reload the page.. all the assets do not get loaded...

**Note**: I am using the Chrome browser..

Tried on multiple browsers and they are all doing the same thing?

![Error](https://i.imgur.com/4IDqJOf.png)

Is anyone else experiencing this issue?

[2018-04-26 04:40] agurtovoy commented on #2790
Hey guys, I know @fubhy is working on moving everything inside of a Docker image, meanwhile we wanted to play around with Spectrum locally and didn't want to install RethinkDB and Redis on our machines, so we wrote this super-simple Docker stack with an disproportionately detailed README: https://github.com/DelightfulStudio/spectrum-dev-stack 😃

Thought I'd share it here in case someone else finds

[2018-04-26 08:01] edorivai commented on #2790
@agurtovoy Cool, I was actually playing around with exactly this idea!

[2018-04-26 08:06] mxstbr commented on #2957
Yeah we need to cache our image assets again...

[2018-04-26 12:54] rubenmoya commented on #2649
I'd love to give this a try!

[2018-04-26 12:55] mxstbr commented on #2649
@rubenmoya coordinate with @satyarohith!

[2018-04-26 13:43] satyarohith commented on #2649
@rubenmoya Please go ahead!! I failed to retrieve data from the server but I was able to integrate Draftjs mention typeahead plugin. Sorry for not updating the status, I am completely busy with my exams.
I will join you guys sooner, Once again I'm extremely sorry for not updating status.

[2018-04-26 14:43] rubenmoya commented on #2649
Don't worry @satyarohith, I'll give it a try, good luck with your exams!

[2018-04-26 17:38] uberbryn commented on #2957
I should probably move those to s3/imgix anyway. I'm working on some new marketing pages rn and I'll see if I can tack that on.

[2018-04-26 21:36] alejandronanez commented on #2945
My findings so far:

If you write this in Spectrum:

[code]

You'll end up with this:

<img width="371" alt="screen shot 2018-04-26 at 4 36 00 pm" src="https://user-images.githubusercontent.com/464978/39333278-eb64b14c-496f-11e8-9621-2a591708c959.png">

I'll keep looking into this tomorrow over the weekend and I'll come here if I need some guidance. 👍

[2018-04-26 23:03] alejandronanez commented on #2945
@mxstbr I created the fix for this issue in #2961 and I think we should create a separate issue for the nested mentions.

[2018-04-27 04:22] a-golovanov opened #2962 "Improved GraphQL error logging"
We are running Spectrum for the first time and seeing the same issue as #2950. While trying to understand what's going on, we found out that the GraphQL error we are getting is not very informative:
[code]
Here is how the same error message looks after we extended error logging locally:
[code]
Let me know if there is any interest in this and I will submit a PR.

[2018-04-27 05:27] brianlovin commented on #2962
This would be so helpful! Any extra info about the query, variables, context, etc would all help debug <3

[2018-04-27 06:00] a-golovanov commented on #2950
We traced this issue down to execution of `query getCommunityThreadConnection($id: ID, $after: String)`. It calls `api/models/channel.js: getChannelsByUserAndCommunity` which doesn't filter out deleted channels, while `api/models/channel.js: getChannels` does. So, if a deleted channel contains a thread not marked as deleted, that thread will end up in the query result and resolving its `channel` f

[2018-04-27 08:11] mxstbr commented on #2950
@a-golovanov amazing work! Mind submitting a PR that filters deleted channels from `getChannelsByUserAndCommunity`?

[2018-04-27 08:24] mxstbr opened #2963 "Fix nested mentions"
@alejandronanez in #2945:

If you write this in Spectrum:

[code]

You'll end up with this:

<img width="371" alt="screen shot 2018-04-26 at 4 36 00 pm" src="https://user-images.githubusercontent.com/464978/39333278-eb64b14c-496f-11e8-9621-2a591708c959.png">

[2018-04-27 08:24] mxstbr commented on #2963
I'm pretty sure this has to do with how I set the `key` prop on the mention component, which is very hacky at the minute. We gotta find a better way to do that...

[2018-04-27 08:26] #2754 closed

[2018-04-27 08:30] #2854 closed

[2018-04-27 09:47] alejandronanez commented on #2963
Since I just touched that piece of code, I’d like to  give this a shot.

Can you please assign it to me?

[2018-04-27 11:34] mxstbr commented on #2963
@alejandronanez that'd be great, thank you! :100:

[2018-04-27 15:37] brianlovin opened #2965 "DMs force an entire refresh whenever I send a message in a thread"
Video: https://www.dropbox.com/s/8vyyj7i2j8t3e8p/buggy-dms.mov?dl=0

This is happening in all my DM threads on both Firefox and Chrome

[2018-04-27 15:40] brianlovin commented on #2950
💜💜💜

[2018-04-27 15:41] brianlovin commented on #2965
Marking this as FIX NOW because DMs are basically unusable at this point.

[2018-04-27 16:06] brianlovin opened #2966 "New @mentions regex crashes the front end"
I think https://github.com/withspectrum/spectrum/pull/2954#event-1598257924 introduced a breaking frontend bug:

<img width="1055" alt="screenshot 2018-04-27 08 34 00" src="https://user-images.githubusercontent.com/1923260/39372776-38808002-49fa-11e8-8545-bceaa92cb3c5.png">

[2018-04-27 17:02] littleStudent opened #2968 "Thread composer content exceeds ActionsBar on new lines"
I searched the issues but have not found this one, hope its no duplicate.

**Issue Type (check one)**

- [X] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

When creating a new thread with input the exceeds the visible area.
The scroll position is not correct anymore. The c

[2018-04-27 17:03] #2966 closed

[2018-04-27 18:06] brianlovin opened #2969 "Improvements to replied messages"
This is a followup to #2924

- [x] When replying to long messages, we should truncate the reply in the chat input preview and in the reply bubble itself.
- [ ] Clicking on a reply should scroll the chat to that particular message. If the original message has not been loaded due to pagination, we should handle paginating until the original message loads
- [x] When pressing the "Reply" button, the q

[2018-04-27 18:32] brianlovin commented on #2854
I see - I guess I would say this is lower pri then since at least inline code renders, but might be slightly different from the person's expectations. But since we format on typing it might be a nightmare to handle someone trying to type an inline block, plus the problems you've mentioned here with language detection.

[2018-04-27 18:47] #2142 closed

[2018-04-27 21:49] littleStudent commented on #2965
i identified https://github.com/withspectrum/spectrum/commit/71a90804a3226b001c9e600b9b607798be5216ca as the commit causing the problem.
Sadly I am missing a few insights to quickly understand why this triggers the rerender?

[2018-04-27 22:06] brianlovin commented on #2965
Ahhh damn, thank you for digging in on that @littleStudent cc @mxstbr - I'm going to dig into this shortly

[2018-04-27 22:09] littleStudent commented on #2965
i tried a quick fix, but:

I am not 100% sure about the underlying problem itself.
I am not 100% sure if i create any unwanted sideeffects with this fix 🤔

So feel free to shut down my PR if its not suited ;)

[2018-04-27 23:15] #2965 closed

[2018-04-28 07:32] lolcoolkat commented on #2950
Sorry for closing this.. after posting this I realized I was running a really old version and it was doing it. After updating I stopped seeing the error :) But glad to see that it is actually a bug that still exists for other people and we can get it fixed +1

[2018-04-30 03:39] alejandronanez commented on #2963
FWIW I already have a PR open to fix this 😸 https://github.com/withspectrum/spectrum/pull/2976

[2018-04-30 05:03] fullstackguyhere commented on #2925
@mxstbr @brianlovin  I have completed the code changes for this. Could have a look at #2977

[2018-04-30 17:08] #2908 closed

[2018-04-30 17:25] #2956 closed

[2018-04-30 17:55] #2963 closed

[2018-04-30 20:14] cpannwitz opened #2982 "Can't type on Android / unwanted text add"
I'm using an Android OnePlus 3, and as seen below in the gif, I try to type but the text always gets resetted to first body copy word I typed.

(Sorry for the gif quality)

![videotogif_2018 04 30_22 09 01](https://user-images.githubusercontent.com/11204231/39447924-9d7bbdca-4cc3-11e8-9a96-0d92223a77ff.gif)

[2018-04-30 20:31] mxstbr commented on #2982
Yeah, we've fixed this for the chat input but not the composer yet—sorry about the troubles, I'll try and take a look this week! Ref #2492

[2018-04-30 20:31] #2982 closed

[2018-04-30 22:40] brianlovin opened #2983 "CI D deployments are breaking alpha"
CI keeps re-aliasing a hyperion build to `api.alpha.spectrum.chat`, which causes alpha to break.

[2018-05-01 01:00] a-golovanov commented on #2950
I started to look at this and I've got a few questions:
* Should model methods that return data for channels with provided ids filter out deleted channels?
  * getChannels (this one does the rest do not)
  * getChannelById
  * getChannelMetaData
  * getChannelsThreadCounts
  * getChannelsMemberCounts
* Should model methods that return data based on threads filter out deleted threads?
  * getChanne

[2018-05-01 02:11] a-golovanov commented on #2950
Also, `getChannelsMemberCounts` currently excludes blocked members while `getChannelMetaData` doesn't, should `getChannelMetaData` exclude blocked members?

[2018-05-01 15:27] brianlovin opened #2987 "Local storage does not clear chat input when sending a new direct message"
When composing a new DM thread, the chat input is not cleared upon send + redirect to the newly created thread.

[2018-05-01 15:44] brianlovin opened #2988 "Ensure that all owned communities are fully downgraded if a user is banned"
When a user is banned we need to double check that any owned communities are fully downgraded from any paid features.

[2018-05-01 15:47] brianlovin commented on #2950
@a-golovanov yeah, agreed we should filter out all deleted channels. I think in the future if we ever need to query deleted records the model function itself should contain the explicit-ness, e.g. `getChannelsByIdIncludingDeleted` or something super obvious. We don't have any need for that yet, but...just as a pattern :)

[2018-05-01 15:49] #2962 closed

[2018-05-01 21:26] cutjavascript commented on #2987
Was this before my pr or after->https://github.com/withspectrum/spectrum/pull/2832

[2018-05-01 22:52] brianlovin commented on #2987
I think it might be after.

[2018-05-02 04:53] a-golovanov commented on #2950
While working on the PR I discovered that the similar issue is present practically in every model, including threads, userThreads, userChannels, e.t.c. Also, channel model methods do not check if its community is deleted and deleting a community doesn't mark its channels as deleted.

This PR doesn't address these issues as I didn't want to postpone it and don't have enough time to pull through all

[2018-05-02 04:59] brianlovin opened #2991 "Direct message safety"
- [ ] Archive a direct message thread
- [ ] Delete a direct message thread
- [ ] Leave a direct message thread
- [ ] Block users from DMing me

Deeper spec:

**Archiving threads**
- add ability to archive a dm thread
- move archived threads to a new 'archived' folder, which should be accessible at `/messages/archived` with ui controls to view all archived conversations
- new messages in an archive

[2018-05-02 05:10] brianlovin commented on #2991
Here's a quick Figma mock of how this might look, based on @alejandronanez's design: https://www.figma.com/file/CJkAQcR7LMj5Z3Xrpfbfz5dQ/Untitled

Note: ability to leave group converastions

[2018-05-02 05:11] brianlovin commented on #2991
I personally think we should consider moving blocking users to a separate PR

[2018-05-02 05:14] brianlovin commented on #2950
Damn, this is a good find. I'll dig into this and write a migration to backfill things we've missed!

[2018-05-02 05:51] a-golovanov commented on #2950
After some additional consideration, I think it's impractical to add checks for deleted parent objects to all models. An invariant that all children of a deleted parent are marked as deleted as well seems to be more practical. But I'm not sure how to enforce such invariant though.

[2018-05-02 10:31] alejandronanez commented on #2991
@brianlovin can you also provide the mobile mocks for this, please? Thanks!

[2018-05-02 10:37] mxstbr commented on #2991
Mobile should probably work just the same :blush: Did you see the Figma link above? That has the design you need: https://www.figma.com/file/CJkAQcR7LMj5Z3Xrpfbfz5dQ/Direct-message-safety

[2018-05-02 10:43] alejandronanez commented on #2991
@brianlovin @mxstbr in mobile we have the new message button on the top left corner

![new_message-5](https://user-images.githubusercontent.com/464978/39519188-55b19754-4dcb-11e8-83a5-cf229bcb0738.png)
and what's on Figma looks different - new message button is bellow the black header.

Are we sure we want to move the `new message` button bellow the black header bar?

[2018-05-02 10:45] mxstbr commented on #2991
Ah yeah, good point. Let's add the tabs below the black bar?

[2018-05-02 10:46] alejandronanez commented on #2991
Yes, that sounds reasonable. Thoughts @brianlovin?

[2018-05-02 10:53] mxstbr commented on #2991
He won't be up for another good 5 hours, I'd probably just implement it like that for now and we can iterate later if he has a better idea! :blush:

[2018-05-02 13:04] mxstbr opened #2994 "Implement graphql-crunch"
`graphql-crunch` looks like a great solution to reduce the duplication of data in our GraphQL API's responses: https://github.com/banterfm/graphql-crunch

We should try integrating that into our setup!

[2018-05-02 15:46] brianlovin commented on #2991
@alejandronanez all that logic for the mobile view should be taken care of already so that it shows below the navbar on desktop and appears in the title bar on mobile :)

[2018-05-02 15:47] brianlovin commented on #2913
Is that an issue with local storage or with draft js? cc @mxstbr

[2018-05-02 15:55] brianlovin commented on #2994
Could be cool, not sure how meaningful of an improvement it will be, but if it's quick to test then sure!

[2018-05-02 16:03] mxstbr commented on #2994
Probably pretty big, given if you fetch e.g. the home feed there'll probably be lots of duplicate information of each community and duplicate users.

[2018-05-02 16:25] superbryntendo opened #2996 "Threads not saving pagination data or auto-scrolling to the bottom"

[2018-05-02 16:57] edorivai commented on #2913
I feel like it's an issue with draft, but the localStorage behavior creates the deadlock.

[2018-05-02 17:47] johnnynotsolucky commented on #2988
@brianlovin what happens to the community if they are the only admin?

Can users be unbanned?

[2018-05-02 17:51] brianlovin commented on #2988
Yes, users can be unbanned - right now the community will still exist, just in case we unban, but we have in our terms the right to reclaim any communities owned by banned users

[2018-05-02 17:52] brianlovin commented on #2988
Actually, when we ban them we remove them as owners of their communities; this is technically restore-able because the community record will retain the `creatorId` field, but this would be an edge case of someone getting banned and we would reinstate everything

[2018-05-02 19:00] alejandronanez opened #3000 "Issue uploading images with special characters."
If you upload an image with special characters `my-image?.png` the upload will fail

![screen shot 2018-05-02 at 1 58 44 pm](https://user-images.githubusercontent.com/464978/39543526-1766dd56-4e11-11e8-825c-97a9f0cbcca5.png)

[2018-05-02 19:37] brianlovin commented on #2988
That's right, but we have `pluto` worker that has changefeeds running which will trigger events to handle that stuff; regardless it will still require a confirmation, but as long as we downgrade all private channels/mods/analytics from the community, `pluto` should handle the rest :)

[2018-05-02 21:08] brianlovin opened #3002 "Cannot read split of undefined in graphql error formatter"
cc @a-golovanov - I'm going to dig into this now, but just a heads up!

![screenshot 2018-05-02 14 07 13](https://user-images.githubusercontent.com/1923260/39549308-375cef00-4e12-11e8-9de7-33445233fe66.png)

[2018-05-03 00:03] Brikky commented on #1954
Hey @brianlovin I was taking a look at this, and the email links to unsubscribe/manage take you to an API end point. Redirecting to a view from an `/api` URL feels a bit weird to me, but it doesn't seem like the user settings view where users can manage their email preferences is using any of these endpoints, so redirecting with some sort of flash message would work.

Do you have any suggestions o

[2018-05-03 00:36] uberbryn commented on #2987
I've run into this a couple times today as well. It both sends the message and keeps it in the input.

[2018-05-03 09:32] mxstbr commented on #3002
@orta how could `danger.github.issue.labels` be undefined when Peril runs on `issue.edited`?!

<img width="775" alt="screen shot 2018-05-03 at 11 32 13" src="https://user-images.githubusercontent.com/7525670/39569495-a6e56ff6-4ec5-11e8-8777-b72ef4a57401.png">

[2018-05-03 10:28] orta commented on #3002
Perhaps the issue webhook has different JSON when being edited than opened? I'd check in the advanced section of the GitHub app ( I've only used [issue.opened](https://github.com/CocoaPods/peril-settings/blob/master/settings.json#L7) so far )

[2018-05-03 12:26] #2950 closed

[2018-05-03 13:39] johnnynotsolucky commented on #2988
Aha!

This commit added that logic: https://github.com/withspectrum/spectrum/commit/bf75cb8fe0cb6ad8ec39b621c1c6e0cc43b31812. It should be easy enough to adapt these mutations to apply to all communities owned by the banned user.

I've checked the listeners for mutations made in `cancelSubscription` in `pluto` and they all look good and are pushing to the correct queues. Although I know nothing ab

[2018-05-03 16:34] jaydp17 opened #3010 "Flaky chat message updates"
**Issue Type (check one)**

- [x] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**
Not always, but sometimes messages in chat don't show up without a refresh.
This hapenned during the (chat) standup today (3rd May 2018)

I don't have a s

[2018-05-03 16:37] brianlovin opened #3011 "Service workers fails to update when fetching the script"
<img width="1245" alt="screenshot 2018-05-03 09 37 38" src="https://user-images.githubusercontent.com/1923260/39590403-a2cad448-4eb5-11e8-80d8-2c7cd7214b54.png">

https://sentry.io/space-program/spectrum/?query=is%3Aunresolved+fetching+the+script&sort=priority&statsPeriod=14d

This is happening quite a bit, and we missed some data during the days that we weren't properly catching errors on the cli

[2018-05-03 17:56] brianlovin commented on #3011
cc @orta I haven't edited this issue, only opened it, and danger failed immediately. Related to the other issue @mxstbr pinged you on

[2018-05-03 18:07] alejandronanez opened #3012 "Use a codemod to remove imports' relative paths"
I've seen a lot of relative imports around the codebase, what about creating a codemod that transforms this `../../../components/foo` into `components/foo` or `@components/foo`

[2018-05-03 19:04] #2680 closed

[2018-05-03 19:49] cutjavascript commented on #2987
Guys, cannot replicate, I am using chrome on a macbook,
What am I missing
Here is a video -> https://drive.google.com/file/d/1i4XJSQu1P1DyYs-yaZmJLLXEqvU7beS8/view

[2018-05-03 20:45] cutjavascript commented on #2913
also I cannot delete and add image again, i.e once I have deleted an image I cannot add same image again (I can add another image)
@brianlovin  do we need another issue for this?
Above case Video: https://drive.google.com/file/d/1PheELzfVDKQ3ueFIpTnLL454LIwcc0aC/view

@edorivai agree localstorage seems to be creating a deadlock
will investigate further

[2018-05-03 22:22] brianlovin opened #3013 "Watercoolers should always forceScrollToBottom"
Watercoolers should always force scroll to bottom on load no matter what, since it's a general purpose chat where people want to jump in and see what's happening *now*