[2018-05-03 23:32] a-golovanov opened #3014 "Mark community channels as deleted when the community is deleted"
When a community is deleted its channels should be marked as deleted as well. See https://github.com/withspectrum/spectrum/issues/2950#issuecomment-385866952

[2018-05-03 23:34] a-golovanov commented on #3014
I don't have time to do PR at the moment, so the issue is up for grabs.

[2018-05-04 03:10] brandonweiss commented on #1954
I was poking around and found this issue. I have a few thoughts.

It is a bit weird that the API handles these requests and returns some plain text. Even if you redirected into the app in order to render a nice page, it would still be a bit conceptually weird. It sort of violates the principle of least surprise.

When I look at what this is doing, it seems like these unsubscribe links are mostly a

[2018-05-04 08:30] mxstbr commented on #1954
@brandonweiss that's an interesting thought and could definitely work—users would have to sign in to be able to unsubscribe, but at the same time it'd remove a lot of code too and be much cleaner 🤔

[2018-05-04 11:38] mxstbr commented on #2983
Fixed

[2018-05-04 11:38] #2983 closed

[2018-05-04 14:38] alejandronanez opened #3017 "Message box needs some padding."
Your text places behind the _send_ icon in the new message box.

<img width="638" alt="deployment_hosting_architecture_success_stories_ _elixir" src="https://user-images.githubusercontent.com/464978/39633918-f3656e58-4f7e-11e8-9249-71ec5dd505d8.png">

[2018-05-04 14:57] alejandronanez opened #3018 "Squashing commits."
This is not a feature itself but a suggestion.
What about using `Squash and Merge` instead of the good ol' _regular_ `Merge` mechanism? If you squash your commits you'll have a clearer commit history (1 commit per feature/bug).
On the other hand, you won't have the same level of granularity in your commit history...but I think it's worth the tradeoff as long as you write good commit messages 👍

[2018-05-04 15:08] mxstbr commented on #3018
I realllly don't like squashing, it makes `git rebase` basically worthless, especially for big features. I much prefer to have the actual history in place!

[2018-05-04 15:08] #3018 closed

[2018-05-04 15:11] alejandronanez commented on #3018
Oh well, I tried! 😝

Thanks for your response!

[2018-05-04 17:57] brianlovin opened #3019 "Handle copy for private channel push notifications"
We don't have copy in place for push notifications relating to private channels (requests to join, etc)

[2018-05-04 18:09] brianlovin commented on #1954
Thanks so much for the thoughts here @brandonweiss - some notes:

We can just leave the old route there and set a reminder to remove it after ~30 days to ensure backwards compatibility in the short term.

My only concern here is that this could potentially be super frustrating for people who aren't logged in. Because we use social sign in, it's possible that people will forget which provider they

[2018-05-04 18:28] brandonweiss commented on #1954
Ugh, the “which single sign-on did I use to sign in” is the bane of my existence. I noticed you try to highlight the correct one and thought that was awesome.

Yeah, I’m not sure if that’s a big deal or not. Hard to know. A workaround could be to encode a token in the link in the email that signs you in, although that can be a bad idea in case someone forwards the email for some reason. Another wo

[2018-05-04 18:31] brianlovin opened #3020 "Move 'send' button outside of chat input"
Ref #3006

[2018-05-04 18:32] brianlovin commented on #1954
I like this option; someone requested a way a while back to be able to type in their username and get back the signin options they used. Not sure the security implications there, but does seem like it would solve this social signin problem esp if we automatically add it to the url from email links.

[2018-05-04 18:34] brianlovin commented on #3017
Ref #3006

[2018-05-04 18:34] #3020 closed

[2018-05-04 18:35] brianlovin commented on #3017
Talked about this with @uberbryn yesterday, we're going to move the send button outside the input

[2018-05-04 18:55] brandonweiss commented on #1954
It’s a bit fuzzy security-wise. When dealing with an email and password, the general rule is to never reveal whether or not the email is a valid account in the absence of a password. For example, even on the forgot password forms, when someone submits an email, you're supposed to say something like “If there is a matching account we'll send an email with instructions.” Or something like that. The

[2018-05-04 20:54] brianlovin opened #3021 "Don't show status banner on marketing pages"
We shouldn't show reconnecting status bars on landing pages.

[2018-05-04 21:50] brianlovin commented on #3014
So I did some digging and we are actually deleting channels here. See `api/mutations/community/deleteCommunity:56-58` - I did some manual digging in the database and found a few cases where somehow a channel was not deleted (4 total). I'm going to manually sort out the data consistency there, but afaik this isn't an issue and we can close :)

[2018-05-04 21:50] #3014 closed

[2018-05-04 22:18] TheMightyPenguin commented on #2330
Hi there @mxstbr! I just got into this (sorry for the delay, haven't had much time lately), currently running the app in an iOS emulator (running expo, api, and iOS emulator), and even tho I've seeded the database and can see the threads in the Web app, I get this in the mobile app:
![image](https://user-images.githubusercontent.com/11748696/39655396-fd5698ac-4fbe-11e8-9bb0-eac28a242475.png)

Is t

[2018-05-04 22:25] brianlovin commented on #2803
This was completed

[2018-05-04 22:25] #2803 closed

[2018-05-04 22:25] brianlovin commented on #2744
Duplicate of #1954

[2018-05-04 22:25] #2744 closed

[2018-05-04 22:27] #2585 closed

[2018-05-04 22:28] #2494 closed

[2018-05-04 22:30] #2199 closed

[2018-05-04 22:31] #2049 closed

[2018-05-04 22:42] brianlovin commented on #2987
I can't repro locally, in ff or chrome, but can repro every time on alpha and prod...

[2018-05-04 22:54] a-golovanov commented on #3014
👍
I missed the code in the mutation. For some reason, I expected to see it in community model instead :).

[2018-05-04 23:37] brianlovin commented on #3011
@mxstbr any ideas on this? we're getting dozens per day where each occurrence represents someone who has viewed the app and it crashed entirely. I am not sure where to start looking in our sw code to fix this

[2018-05-05 00:13] brianlovin opened #3031 "How to scale changefeeds for more sane side effect management"
Up until now we've been stuck in the following situation:
Certain worker servers use changefeeds to process changes in the db and dispatch jobs to handle downstream side effects. E.g a user is deleted, vulcan receives a changefeed alert and removes the user from search indexing.

Until now we've been unhappy with this solution because we feel trapped by the inability to vertically scale instances

[2018-05-05 09:03] mxstbr commented on #3031
You are confusing a couple things here, let me clear this up:

**What those docs are referring to is deduplicating the communication between the different nodes in RethinkDB, not your application-side changefeeds**—even with the proxy if you connect two changefeeds for the same thing both will get pinged with new data, as it should be. In fact, we already run a proxy (and three nodes) in AWS other

[2018-05-05 17:36] mattgaunt opened #3032 "Hyperion build failing"
I had the repository working nicely on my iMac 10~ days ago, it worked great and I had no issues, setup docs are 👌!

I've just cloned the latest version onto my laptop this morning and I've hit a few roadblocks. Building hyperion seems to be falling over, it's telling me I haven't ran `yarn run dev:web` before running `yarn run dev:hyperion`, it seems that `static/js/bundle.js` is not being create

[2018-05-06 09:54] #3002 closed

[2018-05-06 09:58] mxstbr commented on #2330
@TheMightyPenguin that's very weird 🤔 If you open the web app does it show any threads on your home view?

[2018-05-06 16:32] ryota-murakami commented on #3032
I also reproduced, should we revert https://github.com/withspectrum/spectrum/pull/3009 and add explicit comment?
i'm so sorry:bow:

[2018-05-06 16:42] mxstbr commented on #3032
Yeah, that'd be great @ryota-murakami—and no worries, it's totally my bad for not adding said comment in the first place!

[2018-05-06 16:56] ryota-murakami commented on #3032
@mxstbr i created Revert PR. https://github.com/withspectrum/spectrum/pull/3033
it's ready for review.
if you have improvements in isomorphic-fetch's comment, could you edit it directly?

[2018-05-06 19:33] #3032 closed

[2018-05-06 19:50] johnnynotsolucky commented on #3031
I agree that it is a mission to find all the side-effects from a mutation, however I feel that moving them all into a single centre might make it harder later on to maintain; In your example, you're now dependant on four separate things. If you wanted to turn off Algolia, you'd have to remove all those queues from the hub, whereas currently, you can simply switch off Vulcan.

Dev experience might

[2018-05-07 08:33] borovik96 opened #3034 "Thread do not work on small device (nexus 5 actually)"
**Issue Type**
- [x] Bug Report

**Description**
I can't open no one thread on my mobile device: Nexus 5. See screens below:
![image](https://user-images.githubusercontent.com/9018702/39692647-18b1dd6e-51ea-11e8-873c-5d7ba112fb1f.png)
![image](https://user-images.githubusercontent.com/9018702/39692726-564d464a-51ea-11e8-9b6f-41783727c635.png)

[2018-05-07 09:28] dev-drprasad commented on #3021
Hey @brianlovin, i am taking this issue 😎

[2018-05-07 09:30] dev-drprasad commented on #3021
🤦🏻‍♂️  i have not seen PR, i will take another issue

[2018-05-07 09:50] #3000 closed

[2018-05-07 09:52] #3021 closed

[2018-05-07 16:58] brianlovin commented on #3034
Could you share the url to this thread?

[2018-05-07 17:07] brianlovin commented on #3031
Thanks for the explanation, really appreciate it. I can see how I was confusing things.

Makes sense!

Yeah, I can see both sides of the coin here. Having a single hub of changefeeds from which to understand the side effects of changes in the db sounds attractive. But I understand how that also changes the way we build versus just having a single worker do its thing that we can turn on/off and sca

[2018-05-07 17:07] #3031 closed

[2018-05-08 07:11] borovik96 commented on #3034
Actually it crashes with any thread, for example with it https://spectrum.chat/thread/761b6802-46cf-4fc1-bd57-ba2cf57a8bf0

[2018-05-08 09:06] mxstbr opened #3040 "Encourage more social media shares from authors"
When authors published a new thread, but haven't received a reply yet, we should show a strong upsell in the empty messages area (including buttons) to share the content to other social media sites. Dumb mockup:

![sharing upsell](https://user-images.githubusercontent.com/7525670/39748174-bbd803ea-52af-11e8-8e9d-f80e6d24e227.png)

This should only show to the author, not to anybody else—we mainly

[2018-05-08 09:11] alejandronanez commented on #3040
This sounds interesting, I’d like to work on it. :)

[2018-05-08 09:16] mxstbr commented on #3040
Do it @alejandronanez!

[2018-05-08 10:34] fullstackguyhere commented on #3017
Is this issue taken....if not I would like to work on it!

[2018-05-08 14:51] brianlovin commented on #3034
Does this resolve for you on a hard refresh @borovik96 - I think this is related to #3011 cc @mxstbr

[2018-05-08 15:08] brianlovin commented on #3017
It might be good for @uberbryn to tackle this, only because there's a lot of grid work that we've been fine tuning for quite a while in the chat input, and I think Bryn already has an idea of how to accomplish this within that system :)

If @uberbryn replies here he can clarify, otherwise it'd definitely be up for grabs!

[2018-05-08 15:17] ryota-murakami commented on #3034
this phenomenon appears to through [this code](https://github.com/withspectrum/spectrum/blob/621766f3254fbe531938767f5db8533d55535f90/src/views/thread/container.js#L548) with `hasError = true`.

I searching and found out [`hasError` variable mean](https://github.com/withspectrum/spectrum/blob/alpha/src/components/viewNetworkHandler/index.js#L68).

according to [Apollo Client doc](https://www.apoll

[2018-05-08 15:17] mxstbr commented on #3017
Oh sorry, then it's probably not a good first issue! My bad

[2018-05-08 15:19] mxstbr opened #3043 "Refetch all queries on reconnect"
We should use this Apollo Client option I just now discovered (thanks to @ryota-murakami) to refetch all queries if the user disconnects, then reconnects to the network: https://www.apollographql.com/docs/react/api/react-apollo.html#graphql-config-options-notifyOnNetworkStatusChange

[2018-05-08 15:28] brianlovin commented on #3043
YES! Have been wondering about this, especially for DMs - would be so nice and remove a lot of questioning whether I need to refresh or not.

[2018-05-08 15:58] #3011 closed

[2018-05-08 15:58] #3034 closed

[2018-05-08 18:50] ryota-murakami commented on #2329
@mxstbr hello! this PR https://github.com/withspectrum/spectrum/pull/2880 is merge currently, but issue message's ckeckbox still empty.
is there any related task? i'd handle it if it is possile.

i'm looking forward to the mobile app:grinning:

[2018-05-08 18:56] #2329 closed

[2018-05-08 18:56] mxstbr commented on #2329
No, this is perfect! Thanks so much for tackling this!

[2018-05-08 19:09] ryota-murakami commented on #2329
@mxstbr thank you:smile:

[2018-05-08 19:15] ryota-murakami commented on #2330
@mxstbr hello! i'm interested `Make sure all possible states are covered` task, could i take this?(i don't know `all possible states` though:sweat_smile:)

[2018-05-08 19:46] borovik96 commented on #3034
Is problem solved? The error is still appears

[2018-05-08 20:29] mxstbr commented on #2330
@ryota-murakami yeah that'd be great! I'm not sure if all of them are covered right now, ideally you take a look at the threadFeedCard component in the web version (`src/components/threadFeedCard` I think) and make sure all the states we render there are also covered in the mobile version.

[2018-05-09 00:34] TheMightyPenguin commented on #2330
Hey @mxstbr Yes I can see threads on my home view, I got it working tho by doing the following on the web app:

1. Create a community
2. Create a thread on that community

Then once I started the mobile app again I was able to see the threads :+1:

[2018-05-09 06:53] johnnynotsolucky commented on #3031
In the interim, it should be possible to have some sort of auto-generated documentation to create a central repository of mutation side-effects. Using something like [babylon](https://github.com/babel/babel/tree/master/packages/babylon) it's trivial to parse the AST and figure out which mutations are triggering listeners in worker changefeeds.

You have the benefit of having all your source in a m

[2018-05-09 07:11] mxstbr commented on #3031
@johnnynotsolucky ohh that would be really rad!

[2018-05-09 07:11] mxstbr commented on #3031
Totally overengineered though :sweat_smile:

[2018-05-09 08:29] johnnynotsolucky commented on #3031
That's what bothers me 😣

If y'all think it would be useful, a naive POC would scan the repo for all calls to the listen functions in changefeed-utils, `listenToChangedFieldIn`, `listenToNewDocumentsIn`, etc and generate a doc based on that. You can get an idea from that of the work involved, and whether its even a feasible solution?

[2018-05-09 08:33] mxstbr commented on #3031
It's honestly probably not worth it at the moment 😅

[2018-05-09 08:54] johnnynotsolucky commented on #3031
Haha, I didn't think so :-D

[2018-05-09 14:30] mxstbr commented on #2914
Relevant research:

- https://onlinelibrary.wiley.com/doi/full/10.1111/j.1083-6101.2012.01582.x
- https://www.dropbox.com/s/021ibdkjb1e7b6s/Ren%20Journal%20MIS%20Quarterly%202012.pdf?dl=0

[2018-05-09 14:31] mxstbr commented on #2451
Some relevant research:

- http://www.presnick.people.si.umich.edu/papers/chi04/LampeResnick.pdf
- http://citeseerx.ist.psu.edu/viewdoc/download;jsessionid=E89CC7C90614006105E700AF52013B8A?doi=10.1.1.214.7922&rep=rep1&type=pdf

[2018-05-09 16:09] alejandronanez commented on #2331
Hey @mxstbr, is this issue up to date? I see that https://github.com/withspectrum/spectrum/issues/2332,  https://github.com/withspectrum/spectrum/issues/2330, https://github.com/withspectrum/spectrum/issues/2329 have an ongoing conversation but this is being quiet for a while.

What's a good place to start working on the `Thread View`? If you think it's ok to work on any other part of the issues m

[2018-05-09 16:42] alejandronanez opened #3050 "iPad navigation."
Here are three bugs for the price of one 😄

1. The active navigation indicator in iPad is placed on top of the navigation text
2. When you tap into _Notifications_ , the notifications are not loaded
3. _Notifications_ is out of place and doesn't look like the other tabs.

Tested in `iPad Air 2 simulator`

![ipad navigation](https://user-images.githubusercontent.com/464978/39827580-faf4b5cc-537d-11

[2018-05-09 19:25] mxstbr commented on #2331
@alejandronanez yeah this is all still up to date, those things are still missing! Any help appreciated :pray:

[2018-05-09 19:28] alejandronanez commented on #2331
OK @mxstbr!

I'll take a look at the mobile version tomorrow and see what's up! The `Reactions` task looks good like a good starting point.

Thanks,

[2018-05-09 19:57] cutjavascript commented on #2987
now how do I test if my code will work, if it is not reproducible locally ?

my fix is adding above line 342->
[code]

The short and sweet logic of the answer being that clear() is called, but it does not actually remove from localstorage (:

File name:spectrum/src/components/chatInput/index.js

[2018-05-10 01:56] brianlovin opened #3060 "Media messages in quote replies break the client"
cc @mxstbr I believe this was introduced when we shipped the quote truncation. digging in.

[2018-05-10 02:04] #3060 closed

[2018-05-10 20:06] cutjavascript commented on #2987
@brianlovin  could we get this in alpha, if not testable on local.
https://github.com/withspectrum/spectrum/pull/3063

[2018-05-11 06:55] uberbryn commented on #3017
I'll get this knocked out. It's pretty annoying the way that's all structured.

[2018-05-11 11:25] mxstbr opened #3068 "Features page needs max-width"
This is what the features page looks like on large screens, at least on FF.

![screen shot 2018-05-11 at 13 24 09](https://user-images.githubusercontent.com/7525670/39922273-a9e16304-551e-11e8-979a-44c122664f7b.png)

That image needs some max width applied somehow!

[2018-05-11 11:27] mxstbr commented on #2646
Done!

[2018-05-11 11:27] #2646 closed

[2018-05-11 15:14] ryota-murakami commented on #2330
@mxstbr i see, i'll compare it!

[2018-05-11 19:16] johnnynotsolucky opened #3071 "Cannot scroll on composer overlay when creating a new thread"
Reported here: https://spectrum.chat/?t=3a8e24ab-972f-496b-946a-2812ebd7c94b

I thought it might be an easy fix, https://github.com/withspectrum/spectrum/pull/3070, but I was wrong 😕

[2018-05-12 03:01] satyarohith opened #3073 "Nav dropdown breaks when we add people to compose new message"
**Issue Type (check one)**

- [x] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

Tested in chrome & firefox
![spectrum-nav-bug-messages](https://user-images.githubusercontent.com/29819102/39952897-0e45ac84-55be-11e8-9f56-eda23e0df1fb.gif)

[2018-05-12 05:30] ryota-murakami commented on #2894
i noticed if you runs `yarn dev:mobile` and `yarn dev:api` same directory, this issue will occur.
so i dig down what's the file? causing expo infinit reloading, i monitoring project root dir file changes by [fswatch](https://github.com/emcrisostomo/fswatch).

eventually, i suspect `yarn dev:api` jobs edit `./queries-by-response-size.js`,`./queries-by-time.js` files(as a log) when a request receive

[2018-05-12 13:30] fullstackguyhere commented on #3013
Hey @brianlovin ...is this up for grabs?

[2018-05-12 18:40] ryota-murakami commented on #2906
@mxstbr i saw draft image of sticky community header(max uploaded) that's so useful!
can i take this? if you possible:smile:

[2018-05-12 23:53] brianlovin commented on #3013
Hey @fullstackguyhere I've already got a wip in #3026 :)

[2018-05-14 10:07] mxstbr commented on #2894
Ohhh damn, that's a very good catch! We should disable updating those files unless an env variable (`process.env.QUERY_PERF_ANALYSIS`?) is set for the API process! The code for that is in `api/models/db.js`.

[2018-05-14 10:16] mxstbr commented on #2894
PRs up: #3086

Thanks for figuring this out @ryota-murakami!

[2018-05-14 10:29] ryota-murakami commented on #2906
@mxstbr thnaks, i'll create PR as soon as possible😀

[2018-05-14 13:03] ryota-murakami opened #3087 "Remove all unused maintenance mode code"
**Issue Type (check one)**

- [ ] Bug Report
- [ ] Feature Idea
- [x] Technical Discussion

### overview
We should remove the unused maintenance mode code

Reference: https://github.com/withspectrum/spectrum/pull/3077#pullrequestreview-119791204

[2018-05-14 17:31] fullstackguyhere commented on #3073
Hi @mxstbr I would like to work on this!

[2018-05-14 17:51] mxstbr commented on #3073
Do it!

[2018-05-15 20:33] brianlovin commented on #3071
@johnnynotsolucky I think the optimal fix here is to refactor so that we only have one composer component. Right now we have two - the first is what you see if you compose a thread from the inbox, the second is what you see when composing from a community/channel profile view.

What might work is if we had the composer inside a 'slideout' component, similar to threads - that way it could be toggle

[2018-05-15 20:48] brianlovin commented on #3073
@fullstackguyhere seems like we need to solve this problem in general for contributors; what we probably want is an escape hatch in the backend for searching against rethinkdb instead of algolia if the node_env is development.

[2018-05-15 21:26] brianlovin opened #3095 "All web e2e tests fail on ci"
This memory error seems to be stopping all e2e tests in ci:

<img width="1540" alt="screenshot 2018-05-15 14 26 00" src="https://user-images.githubusercontent.com/1923260/40084428-f672fda6-584b-11e8-9d58-c332bb2e0e02.png">

[2018-05-15 21:26] brianlovin opened #3096 "All web e2e tests fail on ci"
This memory error seems to be stopping all e2e tests in ci:

<img width="1540" alt="screenshot 2018-05-15 14 26 00" src="https://user-images.githubusercontent.com/1923260/40084428-f672fda6-584b-11e8-9d58-c332bb2e0e02.png">

[2018-05-15 22:26] #3013 closed

[2018-05-16 07:17] mxstbr opened #3098 "Fix code block styling in quotes"
They don't look very nice:

![screen shot 2018-05-16 at 09 16 11](https://user-images.githubusercontent.com/7525670/40102123-ef19021e-58e9-11e8-93b9-1227ac764507.png)

[2018-05-16 08:50] mxstbr commented on #3095
Duplicate of #3096

[2018-05-16 08:50] #3095 closed

[2018-05-16 17:45] brianlovin commented on #3098
Sure thing @dev-drprasad, although I'm not sure exactly what the final design should be here :P But open to ideas for sure!

[2018-05-16 17:45] brianlovin commented on #2969
That'd be awesome @dev-drprasad :D

[2018-05-16 19:49] ryota-murakami opened #3107 "Diagram Doc: Branch Flow in development process"
**Issue Type (check one)**
- [x] Proposal

AFAIK we are develop & release by followning flow.
it's rough draft.

.
===================================================================
<img width="390" alt="screen shot 2018-05-17 at 4 29 27" src="https://user-images.githubusercontent.com/5501268/40140057-d5536baa-598c-11e8-9c76-f62cb9fd6a6f.png">

.
==================================================

[2018-05-16 20:12] agurtovoy opened #3108 "Can't search in "Everything"

[2018-05-16 20:19] agurtovoy opened #3109 "Can't search in "Everything""
Steps to reproduce:
- Log in to https://spectrum.chat/, click "Home", then "Everything"
- Click on "Search for conversations..." field -> the focus is briefly set to the field, and then it goes somewhere else; typing anything has no effect (BUG)

![spectrum-search](https://user-images.githubusercontent.com/3394202/40141709-54906722-591c-11e8-8e21-5ed35166062c.gif)

[2018-05-16 20:27] agurtovoy commented on #3108
@ryota-murakami Sorry, not sure what happened here, I clicked "Preview" and for some reason Github created this issue instead. Please see https://github.com/withspectrum/spectrum/issues/3109

[2018-05-16 20:27] #3108 closed

[2018-05-16 20:32] agurtovoy commented on #3109
Hmm, it looks like it doesn't reproduce every time. The weird thing is, I refreshed a couple of times to make sure it wasn't just a temporary glitch, and it reproduced for me consistently, but after closing and reopening the window it doesn't anymore.

[2018-05-16 20:37] ryota-murakami commented on #3109
yah,strange. i followg your reproduced, but the probrem seach UI never swohown on my chrome.

![may-17-2018 05-20-55](https://user-images.githubusercontent.com/5501268/40142566-f337d91a-5993-11e8-8844-c9146209bc9c.gif)

[2018-05-16 20:41] ryota-murakami commented on #3109
@agurtovoy i'm afraind, currently no idea.
but obviously buggy,  i'd lile to fix it later🙇‍♂️

[2018-05-16 20:52] ryota-murakami opened #3110 "iOS safari can feel free to swipe whole contents. vertically horizontal more every direction..."
**Issue Type (check one)**

- [x] Bug Report

[2018-05-17 19:32] brianlovin commented on #3098
That was a bug I patched this morning - try pulling the latest from alpha :)

[2018-05-18 07:04] ryota-murakami opened #3113 "[thread message] image upload hover effect was cut off"
**Issue Type (check one)**

- [x] Bug Report

**Description (type any text below)**

**screen shot**🙂

![img](https://user-images.githubusercontent.com/5501268/40220675-f440be72-5ab4-11e8-8414-b98df738a812.png)

[2018-05-18 11:15] ryota-murakami opened #3114 "[Message] Single Emoji reply doesn't work as reply"
**Issue Type (check one)**

- [x] Bug Report

## overview
 Single Emoji reply doesn't work as reply.
might be when reply text started at Emoji.

### Gif👩‍💻

![may-18-2018 20-09-55](https://user-images.githubusercontent.com/5501268/40232016-23a9a098-5ad8-11e8-8d8c-78a11afd5ec6.gif)

[2018-05-18 12:39] johnnynotsolucky commented on #3071
Yeah I agree, I really like the slideout idea. It would also be nice to have the same composing experience from the inbox and profile view 🙂

[2018-05-19 12:43] ryota-murakami opened #3120 "flow supported Optional Chaining from v0.71.0"
**Issue Type (check one)**

- [ ] Bug Report
- [ ] Feature Idea
- [x] Technical Discussion

**Description (type any text below)**
this is not urgent and require flow version update,
but will possibility reduce a bugs and given developer experience benefits.

for detail, refer ↓ `New Features` section.
https://github.com/facebook/flow/releases/tag/v0.71.0

`Optional Chaining` is proposal of tc39 an

[2018-05-19 16:58] ryota-murakami opened #3122 "Fix all broken E2E test spec"
**Issue Type (check one)**

- [x] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**
~~i runed `yarn test:e2e` at https://github.com/withspectrum/spectrum/commit/eb1caf8184cfa355ef7179012c0f3477062ec0ab head, following is that result.~~

[

[2018-05-20 04:09] ryota-murakami commented on #3122
@brianlovin hmm, i send [PR](https://github.com/withspectrum/spectrum/pull/3121) to solve this memory problem https://github.com/withspectrum/spectrum/issues/3096, and the memory problem seems to have been solved by this PR.

however 65 tests were failing by time out(because cypress can not find '[data-cy="foo"] elements).
i'll more digging into the detail.

[2018-05-20 04:25] brianlovin commented on #3122
Just curious: did you have the api running in test mode?

________________________________
From: ryota-murakami <notifications@github.com>
Sent: Saturday, May 19, 2018 10:09:57 PM
To: withspectrum/spectrum
Cc: Brian Lovin; Mention
Subject: Re: [withspectrum/spectrum] Fix all broken E2E test spec (#3122)

@brianlovin<https://github.com/brianlovin> hmm, i send PR<https://github.com/withspectrum/spe

[2018-05-20 04:27] ryota-murakami commented on #3122
@brianlovin no, i was using `yarn dev:api` when i reported this issue.

[2018-05-20 04:33] brianlovin commented on #3122
Ah - do: “TEST_DB=true yarn run dev:api” :)

________________________________
From: ryota-murakami <notifications@github.com>
Sent: Saturday, May 19, 2018 10:27:26 PM
To: withspectrum/spectrum
Cc: Brian Lovin; Mention
Subject: Re: [withspectrum/spectrum] Fix all broken E2E test spec (#3122)

@brianlovin<https://github.com/brianlovin> no, i was using yarn dev:api when i reported this issue.

—
You

[2018-05-20 04:39] ryota-murakami commented on #3122
@brianlovin i'm appreciate😄
also, just find out following npm scripts in package.json. is it work similar?

[code]

[2018-05-20 04:40] brianlovin commented on #3122
Yep that’s better!

________________________________
From: ryota-murakami <notifications@github.com>
Sent: Saturday, May 19, 2018 10:39:55 PM
To: withspectrum/spectrum
Cc: Brian Lovin; Mention
Subject: Re: [withspectrum/spectrum] Fix all broken E2E test spec (#3122)

@brianlovin<https://github.com/brianlovin> i'm appreciate😄
also, just find out following npm scripts in package.json. is it work si

[2018-05-20 05:19] ryota-murakami commented on #3122
with that command, E2E was get All green in my local! thank you so much @brianlovin !
<img width="393" alt="screen shot 2018-05-20 at 14 16 12" src="https://user-images.githubusercontent.com/5501268/40275945-807aa07c-5c38-11e8-9b10-a2c9264e2617.png">

[2018-05-20 05:19] #3122 closed

[2018-05-20 05:35] dev-drprasad commented on #3098
i have two ideas. one design is
![screen shot 2018-05-20 at 10 55 04 am](https://user-images.githubusercontent.com/22687681/40275993-744f8810-5c1c-11e8-92e3-39e9e29cc31b.png)
with multiple lines
![screen shot 2018-05-20 at 11 01 48 am](https://user-images.githubusercontent.com/22687681/40276032-4a22bd9a-5c1d-11e8-8339-a936409c632f.png)

one more is same as inline code block we had
![screen shot 20

[2018-05-20 16:57] ryota-murakami commented on #3043
related comment https://github.com/withspectrum/spectrum/issues/3034#issuecomment-387438777

[2018-05-20 17:57] brianlovin commented on #3098
Ooh I like that first one a lot! Looks much cleaner :)

[2018-05-20 18:13] brianlovin commented on #3034
@borovik96 I'm having a hard time reproducing this crash; we did make some changes shortly before your last comment which have shipped, so I'm wondering how things are working on your end now.

[2018-05-20 18:30] ryota-murakami commented on #3098
i think so too,
my JP community friend were looking forward to this change to be shipped😊🍣

[2018-05-21 15:53] brianlovin opened #3127 "Threads crashing spectrum"
- https://spectrum.chat/?t=f58380fe-be5d-4b87-91ee-e2f2423014d4 crashes entire app
<img width="641" alt="screenshot 2018-05-21 09 54 14" src="https://user-images.githubusercontent.com/1923260/40316884-efceed26-5cdc-11e8-96bd-53fb5ccc66d3.png">

- https://spectrum.chat/?t=5bb0b1a0-c897-4262-a397-707d61fdac34 crashes the chat input
<img width="623" alt="screenshot 2018-05-21 09 55 23" src="https://u

[2018-05-21 16:06] alejandronanez commented on #3127
FWIW, the empty body seems to be the root cause of this.

![screen shot 2018-05-21 at 11 06 02 am](https://user-images.githubusercontent.com/464978/40317390-f7c8f79c-5ce6-11e8-9f97-35473d6b3d6a.png)

[2018-05-21 16:11] brianlovin commented on #3127
I know the cause of the first one:

If a user composes a thread on Android, the thread type is set to `TEXT`. In the mutation, we check for these text types and convert them to draft state. However, the logic is this:

[code]

As you can see, a thread composed on android without a body will not have any draft state set as the `content.body`, which crashes everything on the frontend.

A thread with

[2018-05-21 16:15] mxstbr commented on #3127
Let's add a resolver for the `body` field that returns `"{}"` if the body in the db is `""` and the type is draft, that should fix it immediately for everybody?

[2018-05-21 16:17] brianlovin commented on #3127
I will try

[2018-05-21 16:17] brianlovin commented on #3127
I will try locally now.

[2018-05-21 16:33] alejandronanez commented on #3127
@brianlovin @mxstbr I managed to replicate the chat issue locally. Create a thread and **only** add a block of code in the body.

[2018-05-21 16:34] brianlovin commented on #3127
@alejandronanez hm I can't repro with that step - I'm still able to type in the chat input

[2018-05-21 16:37] alejandronanez commented on #3127
Try this:

1. Create the thread with only a block of code in it
2. Refresh the page
3. Click the chat input.

![chat-input-error](https://user-images.githubusercontent.com/464978/40318763-51aa87fe-5ceb-11e8-9bdd-8d85146f6229.gif)

:)

[2018-05-21 16:39] brianlovin commented on #3127
Ah, it needed a refresh. Good call - this is *super* weird cc @mxstbr

[2018-05-21 16:41] brianlovin commented on #3127
Here's the warning:
<img width="1300" alt="screenshot 2018-05-21 10 40 37" src="https://user-images.githubusercontent.com/1923260/40318883-6b6d00b6-5ce3-11e8-95bc-b254c2b204d2.png">

And deprecation link: https://www.chromestatus.com/features/6680566019653632

Digging in to see if other people are experiencing this....although it's bizarre that the thread content would impact the chat input in thi

[2018-05-21 16:41] brianlovin commented on #3127
Another interesting side effect of this:

if you create a thread where the body is only a code block, then you go to edit the thread, it's not possible to escape the code block.

[2018-05-22 05:46] dev-drprasad commented on #2969
@brianlovin what is meaning of bubble ?

[2018-05-22 08:20] mxstbr commented on #3043
No it doesn't, unfortunately. The `graphql` HoC (or the `Query` component for that matter) don't refetch just because they are re-rendered, they re-fetch when they are re-mounted if the `fetchPolicy` of the query is set to `cache-and-network`. In our case, we want to re-fetch without re-mounting, if that makes sense.

[2018-05-22 08:28] ryota-murakami commented on #3043
i see. we might be need refetch manually in
[viewNetworkHandler](https://github.com/withspectrum/spectrum/blob/alpha/src/components/viewNetworkHandler/index.js) or somewhere🤔

like `apollo-link-error`.
https://www.apollographql.com/docs/react/features/error-handling.html#network

[2018-05-22 16:55] brianlovin commented on #2969
We call the individual chat messages "bubbles" :)

[2018-05-22 17:09] dev-drprasad commented on #2969
@brianlovin do we need any backend support for bonus feature or just frontend work ??

[2018-05-22 17:28] dev-drprasad commented on #2969
@brianlovin looks like little bit more work. i guess i need some more to finish.

[2018-05-23 10:10] coooolers opened #3138 "rethinkdb:migrate node module cannot be found when db:migrate is run"
In the api/node_modules directory, a folder named rethinkdb:migrate has been created when I ran the command: node shared/install-dependencies.js

But when I ran this:
$ yarn run db:migrate
yarn run v1.2.1
$ npm run rethinkdb:migrate -- up

sh: 1: rethinkdb-migrate: not found
npm ERR! file sh
npm ERR! code ELIFECYCLE
npm ERR! errno ENOENT
npm ERR! syscall spawn
npm ERR! Spectrum@2.1.6 rethinkdb:mig

[2018-05-23 10:55] coooolers commented on #3138
Resolved:
Migrated Node to 8.9.0 and it worked

[2018-05-23 10:55] #3138 closed

[2018-05-23 15:57] dev-drprasad commented on #2969
@brianlovin @mxstbr
what do think about design for quoting selected text ??
do we need to add one more action like `quote selection` in actions list beside bubble ??
or tooltip action like in image
![download](https://user-images.githubusercontent.com/22687681/40436194-13c76d94-5ed0-11e8-967e-571976fc312f.jpeg)

[2018-05-23 16:04] ryota-murakami commented on #2969
like medium?😀

[2018-05-23 16:48] brianlovin commented on #2969
I think an ideal UX here could be the same as email clients: if there is highlighted text on the message when the quote reply button is clicked, it automatically uses the highlighted text as the snippet.

[2018-05-23 23:50] Gerzer commented on #257
Please consider native building Cocoa (for macOS) and .NET (Windows) apps! Electron is terrible; I **really** don’t like running separate Chromium instances for each Electron app.

[2018-05-24 08:46] mxstbr commented on #2897
This was finally resolved with withspectrum/draft-js-markdown-plugin#82! While that's currently out in prod, it's not the best solution, @juliankrispel is working on a better one, but I'll close this for now since it's fixed either way.

[2018-05-24 08:46] #2897 closed

[2018-05-24 16:02] ryota-murakami opened #3150 "[Mobile v1] Thread: Make sure all possible states are covered"
## overview
migrate from https://github.com/withspectrum/spectrum/pull/3148
refer original to https://github.com/withspectrum/spectrum/issues/2330

### Investigation Result

| Image           | status | mobile coverd  |
|----------------|---------------|---------------|
| ![screen shot 2018-05-17 at 20 44 03](https://user-images.githubusercontent.com/5501268/40175450-1b868ab8-5a13-11e8-93de-91cc49

[2018-05-25 04:28] uberbryn commented on #257
@Gerzer That's not really something we can tackle right now with our limited team resources. You're welcome to dig in on that if it's a big concern of yours!

[2018-05-25 15:11] mxstbr opened #3154 "Relax thread spam detection rules a bit"
I've gotten tons of emails of people getting caught in the thread spam detection, yet not a single one of them was an actual spammer as far as I can recall. We should relax those rules a bit so that real people don't get caught in them!

[2018-05-25 15:14] mxstbr commented on #3154
And the error message, if you do hit the limit, should say how long you have to wait before posting again! It's very annoying, I got tripped up by it and didn't know the limit and had to press "Post" what felt like 50 times before it finally went through again.

[2018-05-25 15:18] #3096 closed

[2018-05-25 15:47] brianlovin commented on #3154
Agreed on this.

Yeah this has happened a couple times with community admins too, which is embarrassing for us.

[2018-05-26 14:35] nshki opened #3158 "Slight overflow with scrollbars when using as PWA"
When using the app on my phone as a PWA, the app has a very slight 1-2px scroll both horizontally and vertically past the screen. Attached is a screenshot (apologies for not editing the screenshot so you can easily see the horizontal gap on the right side, but you can see the slight gap between the Android buttons and the Spectrum menu fairly clearly).

![screenshot_20180523-074846](https://user-i

[2018-05-26 15:42] mxstbr commented on #1732
Done

[2018-05-26 15:42] #1732 closed

[2018-05-28 13:58] mxstbr opened #3162 "entityAddedAt sometimes not updated for DM notifications"
I just managed to reproduce the "new DM but no bubble in the navbar"-bug, and it turns out there's a backend problem where sometimes `entityAddedAt` for new DM notifications isn't updated correctly for some reason. Not sure where exactly that could be happening, but putting this down now for further investigation later.

[2018-05-28 14:39] mxstbr commented on #1746
Awesome, thanks so much for trying to reproduce—seems like it was indeed fixed! Closing

[2018-05-28 14:39] #1746 closed

[2018-05-28 16:06] ryota-murakami commented on #1746
@tadasant thank you for report!
looks so good😀

[2018-05-28 17:48] dev-drprasad commented on #2969
@brianlovin where is code resided to handle dispatched actions ? i mean making api calls
i worked with only `saga` before. so, i am little confused :(

[2018-05-29 02:53] Jae84 commented on #2969
Work? Nah. ?

[2018-05-29 12:27] #3087 closed

[2018-05-29 15:54] brianlovin commented on #2969
@dev-drprasad check `src/actions` for our action dispatchers, then we have `src/reducers` directory with the store reducers

[2018-05-29 16:47] nathankurt commented on #257
I saw this was moved to Done via automation. Does that mean this was finished, or the desktop app was abandoned?

[2018-05-29 16:50] tannerlinsley opened #3172 "Off-centered background-images for cover photos"
Header images backgrounds (mainly in the sidebar) are not centered despite their size being set to `cover`:

![screen shot 2018-05-29 at 10 44 02 am](https://user-images.githubusercontent.com/5580297/40672906-71f5e0ba-632d-11e8-84e6-c8c054d325aa.png)

[2018-05-29 16:58] tannerlinsley commented on #3172
You bet!

On Tue, May 29, 2018 at 10:53 AM Brian Lovin <notifications@github.com>
wrote:

[2018-05-29 20:28] brianlovin opened #3177 "[Desktop] window.interop is not a function"
On the latest desktop build, this error is getting hit every few seconds:

<img width="573" alt="screenshot 2018-05-29 13 27 29" src="https://user-images.githubusercontent.com/1923260/40683704-2052dd5a-6344-11e8-9fcc-1c702e20d20f.png">

[2018-05-29 20:39] brianlovin opened #3178 "[Desktop] HIde web push notifications prompt from app"
<img width="284" alt="screenshot 2018-05-29 13 38 23" src="https://user-images.githubusercontent.com/1923260/40684199-9dd90262-6345-11e8-9028-71e96537ab46.png">

Can't enable push notifs from user settings in the desktop app - @mxstbr is there any way this will work in the future?

[2018-05-29 21:02] brianlovin opened #3179 "[Desktop] Cmd + H should hide the app"

[2018-05-29 21:02] brianlovin opened #3180 "[Desktop] Command + [ or ] should navigate forward/backwards"

[2018-05-29 21:04] brianlovin opened #3181 "[Desktop] Getting push notifications while in-app"
I'm getting push notifications while in-app. I'm guessing this is directly related to #3177

[2018-05-29 21:04] brianlovin opened #3182 "Improve new message push notifications"
<img width="363" alt="screenshot 2018-05-29 14 04 07" src="https://user-images.githubusercontent.com/1923260/40685471-332df7d4-6349-11e8-9b2c-5a0de0fabf3a.png">

The push notification preview shows this for every subsequent reply in that thread - this is because of how we are buffering notifications, but it's very annoying to get this exact same push notification when different people are replying

[2018-05-29 21:06] brianlovin opened #3183 "Confirm that @mentions and replied messages don't trigger notifications in private communities"
Note for myself: double check that if a user @ mentions someone who is not a member of a private community that it doesn't send them a notification

[2018-05-29 21:07] brianlovin opened #3184 "[Desktop] Right click doesn't work"
We will need to figure out what elements should have right-click menus, and what options should be in those menus. E.g. I'm not sure how things like 'open in a new tab' should behave in an electron app.

[2018-05-29 21:10] brianlovin opened #3185 "[Desktop] Enable a global 'share' utility to help people share links to desktop app views"
We should have some sort of global-scope share button that can help people quickly share or copy/paste a link to Spectrum from the desktop app where share buttons might not exist (eg. community/user/channel profiles)

[2018-05-29 21:11] brianlovin opened #3186 "Peril doesn't like it when I select two things in an issue template"
Maybe I'm abusing the template by saying something could be both a bug and a technical discussion. Not high pri cc @mxstbr
<img width="794" alt="screenshot 2018-05-29 14 10 29" src="https://user-images.githubusercontent.com/1923260/40685824-23e42c7a-634a-11e8-9738-7f817f6f6a83.png">

[2018-05-29 21:33] neversitdull opened #3187 "[Desktop] Unable to open a new window"
Unable to open a new window after closing the current window. Currently you have to quit and reload Spectrum in order for a new window to appear.

[2018-05-29 23:38] brianlovin opened #3189 "Error: could not remove job"
Low pri @mxstbr, but I've tracked down the source of https://sentry.io/space-program/spectrum/issues/521022423/events/21165411002/ to be `athena/queues/new-message-in-thread.js:190` with `await job.remove()`

I found https://github.com/OptimalBits/bull/issues/575 which recommends using `removeOnComplete` - wanted to run this by you though since I know this notification queueing/buffering logic is

[2018-05-30 00:32] brianlovin opened #3190 "Composer body does not focus when user presses 'enter' while typing title"
Temporary fix to prevent the client from crashing: https://github.com/withspectrum/spectrum/pull/3188/commits/f7067317a31e66a3427c340ab308ae4958653ab3

Core bug: https://sentry.io/space-program/spectrum/issues/566970820/?query=is:unresolved

The problem here is that `this.bodyEditor` no longer has a focus method attached - not sure when this broke.

[2018-05-30 00:32] victorkernes opened #3191 "Push Notifications Error"
Tried clicking “Enable Desktop Notifications” and received this error.
https://d.pr/FREE/e0zp3r

[2018-05-30 00:40] brianlovin commented on #3191
Duplicate of #3178 - thanks @victorkernes !

[2018-05-30 00:40] #3191 closed

[2018-05-30 00:40] brianlovin commented on #3187
Thanks for reporting!

[2018-05-30 03:51] brianlovin opened #3193 "[Desktop] Consider migrating to BrowserView instead of BrowserWindow"
From Figma: https://blog.figma.com/introducing-browserview-for-electron-7b40b4b493d5
And why Slack switched to them: https://slack.engineering/growing-pains-migrating-slacks-desktop-app-to-browserview-2759690d9c7b

`BrowserView` is still pretty experimental, so maybe not worth switching now. But opening this up for discussion in case a stronger Electron dev had advice :)

[2018-05-30 04:08] brianlovin opened #3194 "[Desktop] Different splash page handling"
It's very weird to download the desktop app and get taken to the website homepage + marketing pages. It doesn't feel like a real app - especially since a user has downloaded this already, we could presume they know something about Spectrum or have an account.

We should consider having a different home page experience specifically for the desktop app when a user is signed out, mainly prompting log

[2018-05-30 07:01] mxstbr commented on #3182
It's weird to get them in the reverse order with the newest at the top. I had it that way for a while but it felt very unexpected and unnatural to me?

[2018-05-30 07:52] mxstbr commented on #3193
I don't think that makes much sense for us, given that we don't have individual teams you can switch between?

[2018-05-30 07:53] mxstbr commented on #3178
You don't need to enable web push notifications, those are done via Electron's own! We should hide that bar in the desktop app.

[2018-05-30 07:54] mxstbr commented on #3177
Uhh that's very bad? It works fine for me?

[2018-05-30 07:54] mxstbr commented on #3181
Yeah for sure, that's the bug that's causing it. Closing this in favor of #3177

[2018-05-30 07:54] #3181 closed

[2018-05-30 07:56] mxstbr commented on #3189
We use those options, but we want to remove jobs there that aren't completed yet to avoid duplicates. I think this is a race condition where the `queue.getJob` responds with a not-yet-running job, but then by the time we call the `job.remove` it's already being processed by something.

I wonder if there's a guard in bull that let's us do something like `if (job.isActive())` or something?

[2018-05-30 08:45] mxstbr opened #3195 "ServiceWorker bug bash"
Here's what currently happens on the second visit to Spectrum:

<img width="1552" alt="screen shot 2018-05-30 at 10 43 46" src="https://user-images.githubusercontent.com/7525670/40709470-6966276a-63f6-11e8-91e9-58f8e1ec2960.png">

As you can see, the ServiceWorker serves our app shell HTML for images that aren't cached! 🤦‍♂️  I'm working on fixing this, and also the still-occurring ServiceWorker u

[2018-05-30 08:55] kapillamba4 commented on #3178
@mxstbr, Can you please assign me this issue

[2018-05-30 09:08] quickerlab opened #3197 "Any plan to support multiple languages searching?"
Post a non-latin thread, the search engine can't find the thread.
Any plan to support multiple languages searching?
thanks.

[2018-05-30 09:08] #3186 closed

[2018-05-30 09:27] quickerlab commented on #3197
Correct the question.
From "Home" -> "everything" -> "Search for conversations", can get the non-latin result.
From "Home" -> "Community" -> "Search this community",  also can get non-latin result.
From "Community" -> ”Search“ -> "Search all threads in community", no result when searching  non-latin strings.

Does this a bug?

[2018-05-30 13:38] mxstbr commented on #2330
This is pretty much done apart from #3150 which will land soon, so I'll close this!

[2018-05-30 13:38] #2330 closed

[2018-05-30 13:42] ryota-murakami commented on #2330
thanks, I'd like to help mobile ship followed by desktop🙌📱

[2018-05-30 14:12] brianlovin commented on #3197
@quickerlab could you share the search query and the community that can help us track this behavior down?

[2018-05-30 14:12] brianlovin commented on #3178
Ah, that's interesting. Got it

[2018-05-30 14:15] mxstbr commented on #3178
Still gotta have this open because we should hide the prompt in the desktop app!

[2018-05-30 14:15] brianlovin commented on #3189
https://github.com/OptimalBits/bull/blob/master/REFERENCE.md#jobgetstate might be what you're looking for

[2018-05-30 14:18] brianlovin commented on #3182
I think that's the default behavior of the notifications pane. And regardless of order, the problem is that a user will see the same push notification 100x in an active conversation with the exact same preview title and preview text.

[2018-05-30 14:32] brianlovin commented on #3182
The number of replies at the end of the string is wrong though with our bundling. It will say 11 new replies even if I opened the app a minute ago when there were only 10 new replies. E.g. the bundler isn't considering that I saw the app between the 10th and 11th new messages.

Then we should reverse it for sure - seeing the same preview text shouldn't happen for new notifications.

[2018-05-30 14:35] mxstbr commented on #3182
...that's what I was talking about in my initial message?

[2018-05-30 14:48] #3178 closed

[2018-05-30 15:57] quickerlab commented on #3197
@brianlovin , thank you.
Community: https://spectrum.chat/cs304-sustech
Query strings: "规则"
I can find this thread
https://spectrum.chat/?t=65e69f50-0252-44c0-8453-89359511dce8
at "Home" -> "Search everything" and "Home" -> "Search community"
But I can't find the thread at community page -> "Search" -> "Search all threads"

[2018-05-30 16:00] brianlovin commented on #3197
Yeah, can repro - that's super weird though, thanks for finding this!

[2018-05-30 17:36] #3179 closed

[2018-05-30 17:36] #3180 closed

[2018-05-30 17:36] #3187 closed

[2018-05-30 18:06] brianlovin opened #3203 "[Desktop] Option to open links in browser instead of new app window"
Sometimes it'd be nice to just open links in your default browser, rather than opening our admittedly-awkward app window on top of the core experience. This could either be a setting or just make it so that option+click opens in the browser in the background.

[2018-05-30 18:17] ryota-murakami commented on #3203
totally agree, i think exact same thing😅👍

[2018-05-30 19:08] mrbrianhinton opened #3207 "Refreshing resets to login"
If you press cmd-r it will refresh the app, but return the user to login. If the user is already logged in it should return the user back to the home root on refresh.

[2018-05-30 19:13] mrbrianhinton opened #3208 "Downloading files"
When clicking to download a file it appears to just download the file immediately, but the file is incomplete. This occurred when trying to download the Beta 2 version.
1. Spectrum app opened a new window displaying the available downloads
2. Download option was selected
3. File magically appeared as complete in downloads.
4. File is corrupt, and incomplete.

No problem occurred when downloading f

[2018-05-30 19:16] brianlovin commented on #3208
Thanks for heads up!

[2018-05-30 19:16] mrbrianhinton opened #3209 "Incorrect password requires refresh"
If an incorrect password is entered it redirects the user to another Twitter sign in page, and doesn't allow logging in to occur.

1. Click to sign in with Twitter
2. Enter the wrong password
3. Redirects to another page
4. Try and enter right password
5. Nothing happens.

[2018-05-30 19:16] brianlovin commented on #3207
I can't reproduce this - got a video?

[2018-05-30 19:17] brianlovin commented on #3209
Yay Twitter auth! Twitter will break our flow if you go down anything but the standard auth path - e.g. if you have to change 2factor methods, they just redirect you back to twitter.com and you get stuck seeing twitter.com in the Spectrum app :P

[2018-05-30 19:28] brianlovin opened #3210 "Service worker persists after app update"
Discussion here: https://spectrum.chat/thread/4c8165c0-84b9-46a1-8757-13fe2ba5f1b9

I downloaded a fresh version of beta 2 and saw that most of the styling changes hadn't made it in. Top is what I was seeing in my beta 2 app, bottom is what I was seeing locally when running the development app:
<img width="499" alt="screenshot 2018-05-30 12 15 33" src="https://user-images.githubusercontent.com/192

[2018-05-30 19:31] brianlovin opened #3211 "Thread scrolling breaks when navigating in and out of the inbox"
See video: https://www.dropbox.com/s/oaw8b1bs4vrf9ef/scroll-reset-app.mov?dl=0

In step one, I'm at the bottom of the thread that I've created and am a participant in
Then I navigate away from the inbox
Then back - the thread is scrolled to the top and I have to scroll all the way back to the latest messages. This is particularly frustrating if you're in a thread with >50 messages as it requires y

[2018-05-30 19:40] mrbrianhinton opened #3212 "Overlapping traffic lights block some website nav"
In the popover window when opening a link the snazzy no border can break navigation on some websites. Dribbble is a nice example.

<img width="194" alt="screen shot 2018-05-30 at 3 36 30 pm" src="https://user-images.githubusercontent.com/2288431/40743421-78af241e-641f-11e8-9a83-deaa1be4caa8.png">

The menu isn't accessible.

1. Go to this conversation https://spectrum.chat/thread/a16e045d-aeeb-447

[2018-05-30 19:45] mrbrianhinton commented on #3207
@brianlovin mp4 zipped and attached.
[Uploading Kap-Refresh-Spectrum-issue_3207.mp4.zip…]()

[2018-05-30 19:55] brianlovin opened #3213 "[Desktop] Allow link windows to be draggable/resizeable"

[2018-05-30 19:56] brianlovin opened #3214 "[Desktop] Persist previous width/height of window whenever the app is reopened"
Not sure if this happens by default with Electron, I may have ovverridden this in `main.js` by maximizing the window on startup every time.

[2018-05-30 19:56] brianlovin commented on #3212
Going to close this in favor of #3213 since it's the same underlying problem :)

[2018-05-30 19:56] #3212 closed

[2018-05-30 20:15] brianlovin opened #3215 "Desktop and mobile apps upsells"
Setting a reminder that we need to build out the in-app upsells and marketing for desktop and mobile apps! Ideally this will be in:
- user onboarding
- home page
- features page
- navbar user profile dropdown
- notifications view

[2018-05-30 20:25] brianlovin opened #3216 "Chat input not refocusing when replying to a message"
Most of the time I try and reply to another person's message, the chat input won't re-focus after I click the reply icon.

[2018-05-30 21:57] entrptaher opened #3217 "Everything is linked to spectrum.chat"
I have searched the code and saw basically everything is hardcoded to `spectrum.chat` and `localhost:3001`, which means deploying it with custom deployment url won't work.

![image](https://user-images.githubusercontent.com/8284972/40749714-b9c2ca34-6486-11e8-96dd-40bb41b39db7.png)

[2018-05-30 23:20] maxvoltar opened #3218 "Unable to drag window"
I expected to grab the dark header and move the window around.

[2018-05-30 23:20] #3113 closed

[2018-05-30 23:21] maxvoltar commented on #3218
Aaaaaaand I just saw the header become less tall and suddenly it worked.

[2018-05-31 01:04] brianlovin commented on #3218
I gotchu @maxvoltar

[2018-05-31 01:04] #3218 closed

[2018-05-31 07:59] mxstbr commented on #3217
Yeah, we haven't optimized the source for external deployments—it's very tied to our infra and setup atm.

[2018-05-31 08:00] mxstbr commented on #3217
Going to close this since it's not something we'll be tackling anytime soon, but we would probably merge a PR that moves all of that out to a config file!

[2018-05-31 08:00] #3217 closed

[2018-05-31 08:03] mxstbr commented on #3210
Hmm that's... interesting. I'm going to have to dig into how we'll fix that 😅

[2018-05-31 08:04] mxstbr commented on #3211
This is a general bug, not just when navigating away from the inbox and back—whenever you open the inbox on first load it doesn't properly paginate for some reason.

[2018-05-31 08:06] mxstbr commented on #3215
All of those should link to a `/apps` page which has the links to the latest versions of all the apps, right?

[2018-05-31 08:09] dev-drprasad commented on #2969
`window.getSelection()` method will return selected text in complete document. so we cant blindly use `window.getSelection()` to get selected text because it can be anywhere in document

we can use `window.getSelection().baseNode.parentNode.closest('div.message')` to get message wrapper. but how can we decide this message wrapper related with reply action element ??

I am thinking of adding `data-

[2018-05-31 08:32] mxstbr commented on #3203
Why wouldn't we just open all links in their default browser? 🤔

[2018-05-31 09:42] mxstbr commented on #3210
Actually, I don't know if this isn't a general bug that the ServiceWorker doesn't upgrade after #3195 🤔

[2018-05-31 11:30] #1948 closed

[2018-05-31 15:02] #2988 closed

[2018-05-31 15:12] brianlovin commented on #3203
Yeah, let's just do that :P

[2018-05-31 15:12] brianlovin commented on #3215
Good call, yep!

[2018-05-31 16:20] #3210 closed

[2018-05-31 16:47] neversitdull opened #3228 "[Desktop] Enable spell check while typing in both conversation and messages"

[2018-05-31 17:38] brianlovin opened #3230 "[Desktop] Logout doesn't persist after you close and reopen the app"
If you log out, quit the desktop app, then re-open it, you'll be logged back in.

[2018-05-31 18:14] #3214 closed

[2018-05-31 18:17] brianlovin opened #3231 "[Desktop] CD Failing"
Desktop CD fails:
https://circleci.com/gh/withspectrum/spectrum/7674

[code]

[2018-05-31 21:28] brianlovin opened #3234 "[Desktop] Non target="_blank" links break the app in a bad way"
If you click on a website link from a user or community profile view, they don't open in a new tab and instead take over the entire app with no way to return to spectrum.

[2018-05-31 21:33] #2658 closed

[2018-05-31 21:37] #3194 closed

[2018-05-31 21:37] brianlovin commented on #3213
Closing in favor of #3203

[2018-05-31 21:37] #3213 closed

[2018-05-31 21:44] #3193 closed

[2018-05-31 22:51] brianlovin opened #3239 "Variable "$slug" of type "String" used in position expecting type "LowercaseString"."
@mxstbr I spent some time today trying to figure this out, since the volume of people hitting the error is pretty bad now: https://sentry.io/space-program/spectrum/issues/529895449/?query=is:unresolved

<img width="1083" alt="screenshot 2018-05-31 15 49 37" src="https://user-images.githubusercontent.com/1923260/40812344-3e531b10-64ea-11e8-9a21-14394b15ae3a.png">

This code literally doesn't exist

[2018-05-31 22:59] brianlovin commented on #3239
Actually, I don't know how to allow a fallback to come through. The problem is that the client is initiating a query that sends a variable of type `String` - so it doesn't matter what I do on the backend; the client doesn't know the right type to send.

For example, I can't just go in the backend and change all `LowercaseString` types to be `enum LowercaseString | String` because that will *still*

[2018-05-31 23:01] brianlovin commented on #3239
Could this be the hyperion cache? It *has* been a long time since we've flushed the redis cache for signed out pages...according to sentry, 97% of people hitting this error aren't signed in...I'm going to try a cache nuke.

<img width="316" alt="screenshot 2018-05-31 16 00 54" src="https://user-images.githubusercontent.com/1923260/40812658-d6bb0498-64eb-11e8-837c-07fcc788d804.png">

[2018-05-31 23:04] brianlovin commented on #3239
Interestingly, I hadn't looked at the redis labs dashboard in a long time, found this:

<img width="603" alt="screenshot 2018-05-31 16 04 09" src="https://user-images.githubusercontent.com/1923260/40812744-4c46c97c-64ec-11e8-9b5c-4b9944e38a85.png">

Something super weird going on with our memory usage literally starting yesterday...

[2018-05-31 23:34] brianlovin commented on #3239
Spent a while digging into individual keys to see if I could see if there was something odd getting cached; I'm not totally sure this is the source of the problem. I've nuked it anyways to see if I can watch Sentry and observe any sort of noticeable drop in the error reporting rate. This should be quick to identify since we're getting several reports of this error per hour.

[2018-05-31 23:38] brianlovin commented on #3239
Issues like this feel related: https://sentry.io/space-program/spectrum/issues/507199585/?query=is:unresolved

If you dig into that one, you'll see this was the query operation:
<img width="1075" alt="screenshot 2018-05-31 16 35 54" src="https://user-images.githubusercontent.com/1923260/40813631-ba427bde-64f0-11e8-8ac3-519cb3e04865.png">

But that operation hasn't existed in our codebase in foreve

[2018-05-31 23:39] brianlovin commented on #3239
And of course these errors just seem...like something with Apollo, not us. Right?

<img width="1075" alt="screenshot 2018-05-31 16 39 24" src="https://user-images.githubusercontent.com/1923260/40813726-397cbc52-64f1-11e8-929f-ca9a305cfd6f.png">

https://sentry.io/space-program/spectrum/issues/509344954/?query=is:unresolved

[2018-06-01 00:48] brianlovin commented on #3239
Cache nuke didn't fix it - here's the latest event: https://sentry.io/space-program/spectrum/issues/529895449/events/21480920458/ - this time it's for the username query, so it's not a single specific query causing this error

[2018-06-01 02:32] brianlovin opened #3241 "Chat input and join channel upsell render at the same time - how is this possible?"
Check. Out. This. Madness:
<img width="1680" alt="screenshot 2018-05-31 19 10 56" src="https://user-images.githubusercontent.com/1923260/40817270-606717d0-6506-11e8-967a-888775abd661.png">

The chat input and join channel upsell are rendering at the same time.

Okay, look at the DOM with me. There is a div with the class `JoinChannelContent` - that can only come from one component in the app, in `

[2018-06-01 08:01] #3203 closed

[2018-06-01 08:01] #3234 closed

[2018-06-01 08:03] #3185 closed

[2018-06-01 08:30] mxstbr commented on #3231
Yeah it builds Mac and Linux fine, but breaks on Windows:

![screen shot 2018-06-01 at 10 30 03](https://user-images.githubusercontent.com/7525670/40830465-cc603c20-6586-11e8-95e7-b413c3a16bba.png)

Investigating!

[2018-06-01 08:56] #3184 closed

[2018-06-01 09:26] #3231 closed

[2018-06-01 11:43] mxstbr commented on #3127
This was fixed in https://github.com/withspectrum/draft-js-markdown-plugin/pull/84!

[2018-06-01 11:43] #3127 closed

[2018-06-01 11:43] mxstbr commented on #3068
This was fixed

[2018-06-01 11:43] #3068 closed

[2018-06-01 11:46] mxstbr commented on #2957
This was fixed in #3195

[2018-06-01 11:46] #2957 closed

[2018-06-01 11:46] #2925 closed

[2018-06-02 21:38] #3107 closed

[2018-06-06 13:54] BFjacky opened #3246 "can not auto sign in spectrum and the bottom bar will disappear in mobile web"
![image](https://user-images.githubusercontent.com/26681867/41042095-5dd77a2e-69d3-11e8-8079-231aa88676a8.png)

[2018-06-07 04:50] brianlovin commented on #3241
Okay, I'm thinking this is an SSR bug.

[2018-06-07 05:34] brianlovin commented on #3241
Spent tonight trying to figure out what's going on here, and I'm 99% sure it's an SSR bug. While digging in, I realized that SSR is actually broken on every page of Spectrum...we've lost all of the benefits of SSR somewhere along the way, because the client is having to do a fresh hydration on every page load. I think.

This is hyperion locally:
<img width="841" alt="screenshot 2018-06-06 22 32 02

[2018-06-07 07:51] mxstbr commented on #3241
Yeah we just gotta fix those HTML mismatches. I think it's got to do with the a11y fixes where we added `main`s to every page, can dig in today!

[2018-06-07 08:08] mxstbr commented on #3241
I'm going to use that PR locally to get better debugging information so that I can track down all the bits and pieces where the server markup differs from the client markup!

[2018-06-07 18:29] superbryntendo opened #3250 "Give leaving a community slightly more friction - especially for team members"
Clicking the Member button on a community shouldn't leave it without a modal confirming the decision - especially if you're a team member since a. the button is unclear in its function at first glance, and b. it adds complexity at several levels when re-joining.

[2018-06-08 00:55] brianlovin opened #3252 "[Mobile] Joining/leaving communities"

[2018-06-08 00:56] brianlovin opened #3253 "[Mobile] Splash page redesign"
Improve the styling and layout of the splash/login screen

[2018-06-08 00:56] brianlovin opened #3254 "[Mobile] Null states for screens"

[2018-06-08 00:57] brianlovin opened #3255 "[Mobile] Compose direct message"

[2018-06-08 00:57] brianlovin opened #3256 "[Mobile] Make tab bar flush with screen on iPhone X"

[2018-06-08 00:58] brianlovin opened #3257 "[Mobile] Add back button in search header, or easy way to escape"

[2018-06-08 00:59] brianlovin opened #3258 "[Mobile] Clean up all loading states"

[2018-06-08 01:02] brianlovin opened #3259 "[Mobile] Refactor auth flow to not have expo steps"

[2018-06-08 07:56] mxstbr commented on #3259
Those are only in development:

Source: https://docs.expo.io/versions/latest/sdk/auth-session

Closing!

[2018-06-08 07:56] #3259 closed

[2018-06-08 14:54] #3258 closed

[2018-06-08 14:58] brianlovin opened #3265 "[Mobile] Add mobile tracking"
- [x] Amplitude (Expo has [built-in support for Amplitude](https://docs.expo.io/versions/latest/sdk/amplitude))
  - [x] Make analytics utils (`src/helpers/analytics/`) shared between react native and the web client (#3291)
  - [x] Backfill tracking for existing app code (#3292)
- [ ] Google Analytics (should probably use [this GA + RN module](https://github.com/react-native-community/react-native-

[2018-06-08 14:58] brianlovin opened #3266 "[Mobile] E2E tests when detox is working"

[2018-06-08 15:12] mxstbr commented on #3256
I tried for a bit to make this happen but ended up banging my head against `react-navigation`, so it'd be much appreciated if you could take a look :pray:

[2018-06-08 15:13] mxstbr opened #3267 "[Mobile] Make push notifications work"
- [x] Bug

The infra for this is already in place, I probably just missed some connecting code in the registration process or something.

[2018-06-08 15:23] brianlovin commented on #3256
Yep I'll look into it!

[2018-06-08 15:26] brianlovin opened #3268 "[Mobile] Make path imports easier to read and write"
Not high priority, but it'd be awesome if we could eventually just write `import foo from 'shared/foo/bar'` instead of how it is today, `import foo from '../../../../../shared/foo/bar'`

Likewise, it's easier to read and write `import foo from 'mobile/components/foo'` than it is to do what we have today: `import foo from '../../../components/foo'`

[2018-06-08 17:00] #3254 closed

[2018-06-08 17:14] #3256 closed

[2018-06-08 17:53] #3257 closed

[2018-06-08 17:55] brianlovin opened #3272 "[Mobile] Prevent thread feed flashing while refetching"
Pull to refresh in the `Everything` feed causes the whole feed to flash a blank screen while a rerender happens. This should be solvable in a `shouldComponentUpdate` to prevent a re-render when a refetch is initiated

[2018-06-08 17:56] brianlovin opened #3273 "[Mobile] Fix DM thread pagination"
The app currently crashes if you scroll down and trigger a pagination event while in the Messages tab

[2018-06-08 17:57] brianlovin opened #3274 "[Mobile] Clean up thread view styling"
- [ ] Ensure scroll to bottom works smoothly for threads the user has already viewed or is a participant of
- [ ] Add action UI to share a thread
- [x] Clean up thread content typography
- [x] Implement `ThreadDetails` view with thread actions

[2018-06-08 17:59] brianlovin opened #3275 "[Mobile] Clean up direct message thread view styling"
- [x] Move participant info into a `DMDetails` view, similar to `ThreadDetails` or `CommunityDetails` - should contain list of participants as links to user profiles, share button. Eventually this is where we will put actions like: mute thread, archive thread, leave group thread, block users, etc
- [x] ensure that DM threads *always* start off scrolled to bottom of messages
- [x] ensure DM paginat

[2018-06-08 18:02] brianlovin opened #3276 "[Mobile] Tapping on home button in tab bar should scroll to top of everything feed"
This is a standard behavior on iOS that tapping a tab while *viewing the same tab* will scroll it to the top. So:

- [ ] tapping home tab scrolls to top of everything feed
- [ ] tapping messages tab scrolls to top of DMs list
- [ ] tapping notifications tab scrolls to top of notifications list
- [ ] tapping profile tab scrolls to top of profile view

Additionally, tapping the tab while nested in t

[2018-06-08 18:03] brianlovin opened #3277 "[Mobile] Fix collapsing messages, restyle messages and message groups"
Message types to check for both messages sent by another user and messages sent by current user
- [ ] text
- [ ] image
- [ ] inline code
- [ ] bold
- [ ] italics
- [ ] quoted text
- [ ] quoted image
- [ ] quoted code

[2018-06-08 19:52] brianlovin opened #3278 "[Mobile] Create toasts feedback mechanism"

[2018-06-08 19:55] brianlovin opened #3279 "[Mobile] Create delete double check system for deleting content"

[2018-06-09 04:55] brianlovin opened #3282 "[Hermes] Fix admin emails"
I'm a dummy and broke all the emails that come to Spectrum admins (moderation events, new community creations, etc). Will fix tomorrow.

[2018-06-10 17:02] mike-ap commented on #3073
I loaded some fake users directly into newThread.js to reproduce, and found that recipients are added as SelectedUsersPills, which has a z-index that overlaps the Notifications and User dropdowns. Removing the z-index declaration fixes the issue without side effects in Chrome, Safari, Firefox.

[2018-06-11 08:15] mxstbr commented on #3241
This was fixed with the SSR fixies

[2018-06-11 08:15] #3241 closed

[2018-06-11 09:11] mxstbr opened #3288 "[Mobile] New user onboarding"
When a user signs into the app for the first time we have to show them a new user onboarding.

- [x] Set username
- [ ] Explore top communities
- [ ] Create a new community

[2018-06-11 10:41] dev-drprasad opened #3290 "[Mobile] white background for placeholder in chatinput when no internet connection"
**Issue Type**

- [x] Bug Report

**Description**
`Your message here` placeholder has wrong background colour in Mobile (ONLY) when no internet connection  and font-famliy looks like monospace
![screenshot_2018-06-11-11-08-22-919_com android chrome](https://user-images.githubusercontent.com/22687681/41227341-0aec57ae-6d92-11e8-8ff2-8af9b210b309.png)

[2018-06-11 16:09] mxstbr opened #3293 "[Mobile] Thread Composition"
This should probably be a global modal that has the two plain text input fields.

[2018-06-11 17:34] #3073 closed

[2018-06-11 17:36] brianlovin commented on #3288
Definitely - I think implementing a lightweight community explorer + username setting component won't be *too* bad :P

[2018-06-11 17:37] brianlovin commented on #3290
cc @mxstbr running on Android :P

[2018-06-12 04:56] brianlovin opened #3296 "Only seeing old notifications, can't mark them as seen"
<img width="474" alt="screenshot 2018-06-11 21 55 33" src="https://user-images.githubusercontent.com/1923260/41270844-3ef3bae4-6dc2-11e8-9e16-8035163c5215.png">

This is starting to be reported by more and more people. I'm only seeing 3d old notifications and I can't get them to be marked as seen.

[2018-06-12 07:34] mxstbr commented on #3296
Yeah I've hit this once or twice. I wonder what that is 🤔

[2018-06-12 09:27] mxstbr opened #3300 "[Mobile] Joining/leaving channels"

[2018-06-12 09:27] mxstbr commented on #3000
(sidenote: this was issue #3000 :tada:)

[2018-06-12 11:08] mittalyashu commented on #2451
In the thread and messages, you have written that `reports issue to community moderators`. I think you should also allow users to send a report to a spectrum team too.

## Why

* Maybe all the community moderators are not available
* Sometimes a moderator might not have good relation with the users and might block or unpublish the user's threads. _(**NOTE:** No hate for any community moderator or

[2018-06-12 11:09] mittalyashu commented on #2451
Template based thread is very helpful for feature requests and bugs.

[2018-06-12 11:13] mittalyashu commented on #3296
There is no option to `mark them as seen` on mobile.

[2018-06-12 15:04] uberbryn commented on #2451
Let's put thread templates in a different issue please, @mittalyashu

[2018-06-12 15:06] mittalyashu commented on #2451
Done. https://spectrum.chat/thread/1d07013b-6c37-4d7c-b7ef-10f17ff7e5c0

[2018-06-12 18:15] brianlovin commented on #3296
@mxstbr lol @uberbryn just figured this out without intending to :P

SSR broke this! To repro:
- open your dashboard
- hover over notifications dropdown
- notifications will be old (3d old for me)
- clearing notifications doesn't work

The fix that proves this is SSR:
- open your dashboard
- navigate to any page
- hover over notifications dropdown
- notifications will be new!

[2018-06-12 18:17] brianlovin commented on #3296
Also fairly sure ssr is breaking the dashboard logic that handles the `?t` query param to determine what to load

[2018-06-12 18:17] brianlovin commented on #3296
We just never realized this because SSR was broken for so long lol

[2018-06-12 18:19] brianlovin commented on #3296
Welp I was able to repro this consistently with the fix, but now i'm having trouble doing it again...regardless, this still feels like a backend caching thing because there are certain cases where I am seeing my latest notifications.

[2018-06-12 20:51] brianlovin commented on #3296
@mxstbr i'm going to look into this - we should consider this kind of issue a fix now: SSR is breaking notifications for people, breaking `?t` redirect, and causes a really harsh flash of content in the dashboard that shows the feed as it was 3 days ago.

[2018-06-12 23:07] brianlovin opened #3303 "SSR interferes with amplitude tracking"
FYI @mxstbr we're seeing tons of logs pouring in like this once we fixed SSR:

<img width="575" alt="screenshot 2018-06-12 16 06 45" src="https://user-images.githubusercontent.com/1923260/41321853-b06356a6-6e5a-11e8-803c-b5d16bf18f11.png">

Not sure best strategy here - all of these I assume are because SSR doesn't have `window` in scope so Amplitude can't init. Therefore we're missing out ton ton

[2018-06-12 23:47] brianlovin opened #3304 "Highest pri: Fix SSR in dashboard"
We've got a lot of open issues for this, sorry, but going to add this separately as a new issue because I haven't encountered this one before:

<img width="1672" alt="screenshot 2018-06-12 16 46 44" src="https://user-images.githubusercontent.com/1923260/41322888-46e3b6fc-6e60-11e8-83fa-37cbec8e662d.png">

See the error in the logs about the `hr` checksum mismatch + its impact on message formatting

[2018-06-13 00:06] #3304 closed

[2018-06-13 00:08] brianlovin opened #3305 "Reducers hotloading does not work"
<img width="1678" alt="screenshot 2018-06-12 17 08 29" src="https://user-images.githubusercontent.com/1923260/41323447-44201d2c-6e63-11e8-8f9f-89ad802fc137.png">

More: https://github.com/reduxjs/react-redux/releases/tag/v2.0.0

[2018-06-13 01:53] brianlovin opened #3309 "chatinput.focus is not a function on android devices"
https://sentry.io/space-program/spectrum/issues/577779334/?query=is:unresolved https://sentry.io/space-program/spectrum/issues/574473828/?query=is:unresolved => every instance of the error is on mobile chrome, android. cc @mxstbr since this seems like something related to a change that shipped on July 7th

<img width="313" alt="screenshot 2018-06-12 18 53 31" src="https://user-images.githubusercon

[2018-06-13 02:31] mittalyashu commented on #3300
Yup, that joining and leaving the community experience is quite confusing.

When I was new to spectrum I also had a trouble understanding how to leave the community once joined.

[2018-06-13 03:03] brianlovin commented on #3296
Closing in favor of #3304 since there appear to be many bad ssr issues

[2018-06-13 03:03] #3296 closed

[2018-06-13 07:27] dev-drprasad opened #3310 "Sign in button is not visible on android"
**Issue Type**

- [x] Bug Report

**Description**

Sign in button is not visible in mobile (android). Bug present in both alpha and production

**Environment**

* android 7.1.2
* chrome 66.0.3359.158
* view port size: 384x800

**Screenshots**

<img src="https://user-images.githubusercontent.com/22687681/41336172-0d4e466a-6f09-11e8-9a2c-8a3f3ae9ea0d.png" width="300" height="533">

[2018-06-13 08:37] mxstbr commented on #3303
No we aren't, that's totally fine. :blush: If we were to load amplitude on the server, we'd get double pageviews since the client sends a pageview as soon as it loads the Amplitude JS!

[2018-06-13 09:07] mxstbr opened #3313 "[Mobile] Proper buttons"
Right now we just use the standard react-native `<Button />` across the board, but that doesn't look very great honestly:

<img width="350" alt="screen shot 2018-06-13 at 11 06 34" src="https://user-images.githubusercontent.com/7525670/41341376-db401b76-6ef9-11e8-80ed-3376d7931dd3.png">

We should re-create our button setup from the web client.

[2018-06-13 14:48] brianlovin commented on #3303
I guess we should turn off the console warn then, because we are getting thousands and thousands of them :P

[2018-06-13 14:49] brianlovin commented on #3310
Thanks! Will try and patch this today

[2018-06-13 15:15] #3305 closed

[2018-06-13 16:12] mxstbr opened #3321 "[Mobile] Update Expo SDK"
Gotta do this before we ship for real: https://blog.expo.io/expo-sdk-v28-0-0-is-now-available-f30e8253b530

[2018-06-13 16:14] #3310 closed

[2018-06-13 18:02] #3313 closed

[2018-06-13 21:32] #3252 closed

[2018-06-13 21:40] #3300 closed

[2018-06-14 00:18] #3293 closed

[2018-06-14 03:11] #3255 closed

[2018-06-14 10:38] mxstbr opened #3328 "Twitter authentication is broken"
Twitter enforced that the callback URLs are whitelisted, but we didn't get notice: https://twittercommunity.com/t/callback-url-not-approved-but-worked-for-months/107261/2

This broke our existing Twitter auth setup. Gotta fix this asap.

[2018-06-14 10:43] mxstbr commented on #3328
I hotfixed it in #3329 (that's already deployed), but that's only a temporary solution since it means you can't sign into deploy previews or on alpha with Twitter. :confused: I'm not sure how we're meant to hardcode those callback URLs since they are dynamic... Very shitty, ugh.

Going to downgrade from fix now.

[2018-06-14 14:47] brianlovin commented on #3328
Wow what the hell Twitter.

[2018-06-14 16:53] AlexMunoz commented on #2649
...  can i take this issue ?

[2018-06-14 16:57] brianlovin commented on #2649
@AlexMunoz for sure ✨

[2018-06-15 05:54] itaditya opened #3332 "deleting a thread, logs out the user"
**Issue Type (check one)**

- [x] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**

When deleting a thread, the app logs the user out

[2018-06-18 17:49] brianlovin commented on #3288
How would you feel about *not* doing create community flow in this version?

[2018-06-18 17:50] brianlovin commented on #3279
Closing this: it's *much* more trivial to display an alert on mobile that asks the user to confirm deletion than it is on web, so we don't need a framework here.

[2018-06-18 17:50] #3279 closed

[2018-06-18 17:58] brianlovin opened #3337 "[Mobile] Improve styling of thread composer community/channel selectors"
Need to do another pass of styling cleanup on the community/channel selectors in the thread composer on both iOS and Android

[2018-06-18 17:59] brianlovin opened #3338 "[Mobile] Ensure all infinite lists are updating in real-time as content is added or updated"
- [ ] Everything feed
  - [ ] new thread published
  - [ ] thread `lastActive` changed
- [ ] Direct messages feed
  - [ ] New dm received
  - [ ] DM thread `lastActive` updated
- [ ] Community profile
- [ ] User profile
- [ ] Channel profile
- [ ] Notifications feed

[2018-06-18 18:00] brianlovin opened #3339 "[Mobile] Add unread styling to DM list items"
Unread DMs should have styling to indicate that they are unread - right now they all have the same styling.

[2018-06-18 18:01] brianlovin opened #3340 "[Mobile] App store screenshots"
We'll need app store screenshots + description for Android + iOS

[2018-06-18 18:02] brianlovin opened #3341 "[Mobile] Web landing page + upsells"
We'll want:
- [ ] Dedicated landing page for mobile apps (e.g. `/apps/mobile` and `/apps/desktop`)
- [ ] In-product upsells for mobile apps
  - [ ] onboarding flow
  - [ ] user settings
  - [ ] profile dropdown
  - [ ] welcome email
  - [ ] email footers

[2018-06-18 18:04] brianlovin opened #3342 "[Mobile] Swap search tab to explore tab"
Since we're already having to build out a lot of the explore tab functionality in the onboarding, let's just make the search tab be the explore tab instead

[2018-06-18 18:06] brianlovin opened #3343 "[Mobile] Add 'pinned' and 'watercooler' badges to thread items"
Add the pinned and watercooler badges to threads when in the right context - e.g. when viewing a community is the only time pinned or watercooler badges should appear, same behavior as web

[2018-06-18 18:07] brianlovin opened #3344 "[Mobile] Add ability to filter everything feed by community"
Maybe not explicitly needed for V1, but will be very useful to let people filter their home feed by a community or channel.

[2018-06-18 18:07] brianlovin opened #3345 "[Mobile] Add ability to search from home tab"
Not required for v1, but eventually we need thread search from home tab to be possible

[2018-06-18 18:09] brianlovin opened #3346 "[Mobile] Move log out to a `UserSettings` view on current user profile"
Log out should definitely not be a header action in the home feed. Let's make a `UserSettings` view accessible from the current user's profile that has the option to log out. This should be a similar view to `ThreadDetails` or `CommunityDetails`

[2018-06-18 18:10] brianlovin opened #3347 "[Mobile] Granular mobile push notification settings"
Once we have mobile push possible we definitely need the ability for people to unsub from certain types of notifications.

[2018-06-18 18:50] mxstbr commented on #3288
The user onboarding kinda needs it?

[2018-06-18 18:51] mxstbr commented on #3342
I really liked that search interface though—maybe that just becomes a non-tab view with a global search icon at the top right or something?

[2018-06-18 18:53] mxstbr commented on #3347
The newest version of Android requires us to use ["notification channels"](https://docs.expo.io/versions/v28.0.0/guides/notification-channels), which give users a unified interface in their system settings to toggle certain notification types on and off—so on that Android version we need to hide our custom settings, and also we gotta implement notification channels.

[2018-06-18 18:57] brianlovin commented on #3342
Agreed - I think this is how we can simultaneously solve #3345  - basically just have a `Search` route that is a modal which can be triggered from anywhere. So home feed can trigger it, explore tab can trigger it, etc.

Not totally sure on that, but yeah, it'll definitely stick around in some form - just triggered differently

[2018-06-18 18:57] brianlovin commented on #3288
I'm not *totally* convinced of that - I know we want it, just not sure if it should be a v1. It will add another few days of work right to build and test the community creation flow on mobile?

[2018-06-18 18:58] brianlovin commented on #3347
Woof. This sounds like this might be a pretty good chunk of work then

[2018-06-19 15:49] #3339 closed

[2018-06-19 16:27] mxstbr opened #3352 "[Mobile] Make all screens run on Android"

[2018-06-19 16:27] mxstbr opened #3353 "[Mobile] Make it look good on Android"

[2018-06-19 17:36] brianlovin opened #3354 "Reply by email"
User request to be able to reply to threads/dms via email. This would be awesome in the long term to help with people's workflows!

[2018-06-19 17:38] brianlovin commented on #3353
Should be this be v1.1 - launch iOS first then do a round of cleanup and Android fast-follow?

[2018-06-19 18:17] #3346 closed

[2018-06-19 18:19] brianlovin opened #3355 "[Mobile] Add prompt to rate app"
API added in latest expo release: https://blog.expo.io/expo-sdk-v28-0-0-is-now-available-f30e8253b530

[2018-06-19 18:25] brianlovin opened #3356 "[Mobile] Adaptive icon on Android"
https://blog.expo.io/expo-sdk-v28-0-0-is-now-available-f30e8253b530

[2018-06-19 18:25] brianlovin opened #3357 "[Mobile] Android notification channels"
https://blog.expo.io/expo-sdk-v28-0-0-is-now-available-f30e8253b530

[2018-06-19 18:28] mxstbr commented on #3321
Yes, I have a branch locally but it's not quite working 😅 Will take another look tomorrow.

[2018-06-19 18:30] brianlovin commented on #3321
Gotcha!

[2018-06-19 18:31] brianlovin commented on #3353
I'm fairly concerned that the buttons in the header are going to be a big pain. There is a *lot* of behavior that `react-navigation` gives us for free with those buttons...we'll see!

[2018-06-19 18:36] mxstbr commented on #3353
Not sure I get what you're saying—we're currently just doing `import { Button } from 'react-native'`, so we just do `import { HeaderButton as Button } from '../../components/Buttons'`?

[2018-06-19 19:08] brianlovin commented on #3353
The navigation buttons do dynamic things with string truncation, arrows backwards, etc. on ios

[2018-06-19 19:10] brianlovin commented on #3353
<img width="397" alt="screenshot 2018-06-19 12 09 26" src="https://user-images.githubusercontent.com/1923260/41619018-a074a452-73b9-11e8-965c-82aa6d940bb2.png">

This is an example. If it's a back navigation button it adds the arrow back on iOS. Additionally, this will say "Messages" unless the header title is too long, in which case it will swap to "Back", like this screenshot

[2018-06-19 19:53] brianlovin opened #3358 "[Mobile] Create community flow"
- [ ] entry point from explore page
- [ ] entry point from onboarding

[2018-06-19 19:55] #3288 closed

[2018-06-19 19:55] brianlovin opened #3359 "[Mobile] Update curated communities lists in db for onboarding"
Our curated lists are out of date. Let's update them before we ship mobile.

[2018-06-19 21:10] mxstbr commented on #3353
Sure, but I don't see why it wouldn't do that on Android too?

[2018-06-19 21:49] brianlovin commented on #3353
I'm not saying it's iOS-only, only that they might have custom button behavior in there and if we ovverride with our own custom-styled button we may lose that functionality. No use talking about it until we try and add our custom button and see what happens :)

[2018-06-20 03:11] brianlovin opened #3364 "[Mobile] Mark DM as read when viewing the DM thread view"

[2018-06-20 03:12] brianlovin opened #3365 "[Mobile] Make sure pull to refresh works on all feeds"
- [x] home feed
- [ ] dm lists
- [x] user profile
- [x] community profile
- [x] channel profile

[2018-06-20 03:18] brianlovin opened #3366 "[Mobile] Hide tabbar on thread/dm/detail views"
We need to hide the bottom tab bar on the following views:
- [ ] thread
- [ ] thread detail
- [ ] dm thread
- [ ] dm thread detail

[2018-06-20 07:49] mxstbr opened #3367 "Centralize Text rendering to our <Text> component"
We should use our custom `<Text>` component throughout the app instead of constantly creating one-off `styled.Text`s. (ref #3361)

[2018-06-20 07:51] #3275 closed

[2018-06-20 07:55] #3253 closed

[2018-06-20 08:38] mxstbr opened #3368 "[Mobile] Add loading skeletons"
We should have loading skeletons similar to what we have on the web for the mobile apps.

[2018-06-20 08:47] mxstbr commented on #3353
From the `react-navigation` docs:

[From here](https://reactnavigation.org/docs/en/header-buttons.html#customizing-the-back-button), although it doesn't mention anything about Android I assume they're similarly smart about it.

[2018-06-20 08:51] mxstbr commented on #3353
It does the same thing on Android out of the box:

![screenshot_20180620-104948](https://user-images.githubusercontent.com/7525670/41647894-cbe2227c-7477-11e8-92a6-a9b32c3abb7f.jpg)

So all we gotta do is fix our own custom `headerRight` buttons, like the "Details" one here, and it won't break anything :tada:

[2018-06-20 08:58] mxstbr commented on #3353
Here's what the Material Design Spec has to say about the top app bar: https://material.io/design/components/app-bars-top.html

This gif illustrates it pretty perfectly:

![topappbars-behavior-nesting](https://user-images.githubusercontent.com/7525670/41648322-d740f6ec-7478-11e8-967d-8a7fd2c759a0.gif)

So pretty much all we gotta do is replace our `headerRight` custom text-based buttons with icons

[2018-06-20 12:34] mxstbr opened #3369 "Add cropping step while uploading profile photos"
I just found https://github.com/ricardo-ch/react-easy-crop by @ricardo-ch which looks super simple—we should use it to add a step where you can crop your avatar and header image when editing them on user and community profiles!

[2018-06-20 16:52] brianlovin commented on #3368
I added them on the explore page step of the onboarding - the first implementation I did had animations, but the performance is shit and the animations stutter quite a bit. Might be a dev-mode thing, or running on my laptop. Either way, the setup there is *super* easy to write, using SVGs, and it takes just a second to wrap it in the animation lib i found if we want to do that down the road when w

[2018-06-20 16:52] brianlovin commented on #3368
https://github.com/withspectrum/spectrum/blob/alpha/mobile/views/UserOnboarding/ExploreCommunities/CommunityProfileCard/LoadingCard.js for reference

[2018-06-21 01:37] mackmmiller commented on #3369
Can I try a swing at this? I'm really interested in getting involved with Spectrum.

[2018-06-21 06:16] mxstbr commented on #3369
Do it!

[2018-06-21 08:11] #3267 closed

[2018-06-21 11:19] mxstbr opened #3374 "[Mobile] Update thread last seen"
We need to update `threadLastSeen` when a user clicks out of a thread

[2018-06-21 14:43] mxstbr opened #3377 "[Desktop] Upgrade to Electron 3.0 before launch"
First beta's out: https://github.com/electron/electron/releases/tag/v3.0.0-beta.1

[2018-06-21 16:46] #3365 closed

[2018-06-21 16:55] #3352 closed

[2018-06-21 16:55] #3353 closed

[2018-06-22 08:41] #3273 closed

[2018-06-22 11:59] mxstbr commented on #3374
Yes

[2018-06-22 14:35] ryota-murakami commented on #3374
this is closed https://github.com/withspectrum/spectrum/pull/3152, but i attempted this work.
in my experience, i can't update apollo cache like similar way web. so i used redux.

[2018-06-22 19:05] brianlovin commented on #3303
<img width="402" alt="screenshot 2018-06-22 12 05 17" src="https://user-images.githubusercontent.com/1923260/41794551-9504e1e2-7614-11e8-9467-a00e28aaed9a.png">

Last remaining issue here is notifications being super stale.

[2018-06-22 20:24] mxstbr commented on #3303
And dashboard SSR, I hate that when I refresh my home view for new content it redirects me to the thread view. So annoying.

[2018-06-22 20:33] brianlovin commented on #3303
That too, would love to get the proper `?t` param handling back in :/

[2018-06-25 13:11] mxstbr opened #3383 "Some threads still crash the mobile app"
I must've forgotten some rich text edge case, some threads still crash the mobile app when opened.

[2018-06-25 15:59] #3321 closed

[2018-06-25 19:46] brianlovin opened #3389 "TypeError: a.editor.focus is not a function"
https://sentry.io/space-program/spectrum/issues/574473828/

[code]

I can't seem to repro this - almost every instance of the bug occurs on Chrome Mobile; I've tried to repro there but no dice. Super weird how this started happening all of a sudden and in such high volume.

[2018-06-25 21:53] brianlovin opened #3390 "Card failed emails are missing last4 and expiration date"

[2018-06-27 04:02] AlexMunoz commented on #2649
i'm back ... i'm trying to get the users, but if i use the querie that @mxstbr suggest, algolia credentials are needed ... or am i wrong?

[2018-06-27 16:44] ryota-murakami commented on #3150
@mxstbr @brianlovin I think we don't need take care about this issue.
 because mobile `PillOrMessageCount` was implemented already in https://github.com/withspectrum/spectrum/pull/3280.

so can i close this issue?

[2018-06-27 16:45] #3120 closed

[2018-06-27 16:50] ryota-murakami commented on #3110
i prefer browse spectrum on iPad and i wonder about this behavior.
I'll try to fix on it soon.

[2018-06-27 17:05] brianlovin commented on #3110
Is that only possible while it's loading and you start scrolling before it's rendered?  Or can you repro that by scrolling horizontal at any point in the future?

[2018-06-27 17:07] brianlovin commented on #3150
I think this can be closed, yup! Thanks for following up :)

[2018-06-27 17:08] brianlovin commented on #3114
Not ideal, thanks for the heads up! I think GitHub checkboxes are broken right now which broke our bot and auto-closed this?

[2018-06-27 17:09] brianlovin commented on #2649
Ah...yikes. That's frustrating, not sure how to best help another dev work on this without exposing our algolia creds (which we definitely shouldn't do :P)

It's a pain to do, but a workaround here would be to just fake a search result payload in the api resolver for testing purposes.

[2018-06-27 17:13] brianlovin opened #3397 "Schedule maintenance window to restart rethinkdb instance"
We need to do this before the first week of July. Should hopefully just take a few minutes. Restart is needed to move our instance to new underlying hardware.

[2018-06-27 17:19] ryota-murakami commented on #3110
@brianlovin My investigation is still at the beginning, but

that is correct i guess.
because this is easily appearing while using low-speed-mobile-network in such as underground cafe.

I'm afraid, i don't understand that meaning, because i still beginner at English or loss context😭
What's the future in this sentence?

[2018-06-27 17:28] ryota-murakami commented on #3114
@brianlovin thanks reply!
I've just close manually because i prefer close less activity issue/PR.(i feel much better🤪)

But it's not ideal, i'll fix it🤗

[2018-06-27 17:29] ryota-murakami commented on #3150
@brianlovin Sure, thanks for response:)

[2018-06-27 17:29] #3150 closed

[2018-06-27 17:56] ryota-murakami commented on #3110
@brianlovin I see😇
Doesn't reproduce after finished loading like first video.
But horizontal single direction scrolling is still enable, i guess it's un desirable.

This is reproduce video📹(doesn't reproduce on iPad pro 10.5)
https://www.youtube.com/watch?v=s-dX1-QY0OY

[2018-06-27 18:14] brianlovin commented on #3110
Gotcha, thanks for digging in!

[2018-06-27 18:19] ryota-murakami commented on #3110
Oh shit, i was trying to debug iOS Safari by lightning cable connect and Mac Safari DevTools,
but DevTools clash suddenly whatever reason😫

Video📹(this is happening spectrum only, DevTools work fine on other website)
https://youtu.be/3vqerOw1bFE

[2018-06-27 20:15] mxstbr opened #3403 "Add author information to thread feed card"

[2018-06-27 20:15] mxstbr opened #3404 "Add last active timestamp to thread feed card"

[2018-06-28 05:31] dev-drprasad commented on #3211
@brianlovin @mxstbr it looks like the bug is resolved. can you clarify ??

[2018-06-28 11:13] ryota-murakami commented on #3211
Yeah, auto scroll to the bottom is work fine now.
BTW how to handle that feature https://github.com/withspectrum/spectrum/pull/2867🤔

[2018-06-28 22:19] tsiq-swyx opened #3412 "[Bug] cant paste links with underscores in composer"
**Issue Type (check one)**

- [x] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**

pasting links like this https://www.reddit.com/r/cscareerquestions/comments/8ufm10/tip_fake_it_til_you_make_it_refers_to_emotions/ in spectrum removes th

[2018-06-29 15:14] brianlovin opened #3423 "Pagination notifications view triggers a full re-render, impossible to scroll"
Can't paginate notifications; not sure when this broke.

[2018-06-29 16:40] brianlovin opened #3425 "Thread header slider overlaps notifications dropdown"
The slider in the thread view overlaps the notifications dropdown

[2018-07-01 21:37] brianlovin commented on #3404
Done!

[2018-07-01 21:37] #3404 closed

[2018-07-01 21:37] brianlovin commented on #3403
Done in #3407

[2018-07-01 21:37] #3403 closed

[2018-07-01 23:13] brianlovin commented on #1294
This got done with the thread reactions feature release

[2018-07-01 23:13] #1294 closed

[2018-07-01 23:13] brianlovin commented on #530
Shipped!

[2018-07-01 23:13] #530 closed

[2018-07-01 23:14] #1771 closed

[2018-07-01 23:20] brianlovin commented on #2186
Shipped with #3370

[2018-07-01 23:20] #2186 closed

[2018-07-02 07:32] #3216 closed

[2018-07-02 12:15] #3412 closed

[2018-07-02 12:32] mxstbr commented on #2906
Done!

[2018-07-02 12:32] #2906 closed

[2018-07-04 07:45] mxstbr opened #3481 "Add signin button to logged-out navbar"
Not sure when this went missing, I know for a fact we used to have that:

<img width="773" alt="screen shot 2018-07-04 at 09 44 54" src="https://user-images.githubusercontent.com/7525670/42263673-ff11600c-7f6e-11e8-80a8-53f7efa6097d.png">

We should really add it back, right now it's really hard to sign in from some views.

[2018-07-04 16:37] brianlovin opened #3490 "Watercoolers not being unsubscribed after leaving community"
Bug reported on Twitter - it may be the case that leaving a community doesn't unsub from the watercooler thread, and you can't unsub after having left the community. Will investigate.

[2018-07-05 08:00] #2145 closed

[2018-07-05 08:00] #3423 closed

[2018-07-06 11:14] satyarohith opened #3505 "Show preferred aspect ratio for profile and cover photos which suits best for both mobile and desktop"
**Issue Type (check one)**

- [ ] Bug Report
- [x] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**

Showing preffered photo size might help users when they upload profile and cover photos.

E.g. When we hover
![screenshot](https://user-images.githubuser

[2018-07-06 13:07] brianlovin commented on #3505
Honestly we aren't doing that great of a job of matching cover photo aspect ratios when we show cover photos in different contexts or on different screen sizes. I definitely agree we need this, but should also maybe align around an aspect ratio rather than pixel value. What do you think?

[2018-07-07 06:16] satyarohith commented on #3505
Aspect ratio is better than pixel value and also using [Client Hints](https://docs.imgix.com/tutorials/responsive-images-client-hints) might be helpful to serve responsive images from server. What do you think about using Client Hints?

[2018-07-09 04:57] dev-drprasad commented on #3481
can i start working on this ?

[2018-07-09 05:00] dev-drprasad commented on #3481
where sign-in button should locate ? what about its styling ?

[2018-07-09 06:21] satyarohith opened #3509 "'Search for people' suggestion dropdown in private messages breaks in safari ios"
**Issue Type (check one)**

- [x] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

![img_0115](https://user-images.githubusercontent.com/29819102/42433336-7f5730ce-836c-11e8-92dc-f150242ddd67.jpg)

[2018-07-09 11:15] mxstbr commented on #3481
Yes please! On the left side of the signed out navbar, could just be some text that says "Login/Sign up" for now!

[2018-07-10 18:00] dev-drprasad commented on #3481
@mxstbr  Its review time 🧐

[2018-07-11 09:49] lookapanda opened #3512 "Editing posts by pressing arrow up ↑"
[ ] Pressing arrow up should load the user's last message in the thread into the message input
[ ] There should be an optional time limit (global and / or per community?)
[ ] Edited posts should be flagged as so (tiny `edited` next to the author name or actions, or somewhere)
[ ] Scroll the posts view to the post that will be edited and highlight it (Slack does this)
[ ] Only make posts editable t

[2018-07-11 09:54] lookapanda commented on #3512
I striked the first option already, as Discord and Slack are doing it like in the second option. The first option would be a possibility too though.

[2018-07-11 09:56] lookapanda commented on #3512
The mutation needs to do several things, depending on how we want to implement this.
Like, if there should be a time limit, it needs to check for that not only on the UI side (pretty easy, just check the timestamp of the post and see if it has passed the time limit already) but also on the backend.

Actually, are there already timestamps for posts in the UI? If not:

- [ ] Make the UI have timesta

[2018-07-11 20:58] thenanyu opened #3513 "Profile page is erroring out"
When I refresh my profile page, I see a lot of 400 errors in the console
https://www.dropbox.com/s/eo2laut3ruk6h6d/Screenshot%202018-07-11%2013.57.30.png?dl=0

It eventually resolves into this "error loading user" state
https://www.dropbox.com/s/a6wz9f550c975kh/Screenshot%202018-07-11%2013.58.23.png?dl=0

[2018-07-12 15:18] brianlovin opened #3515 "Add GDPR statement for GA in privacy policy"
https://twitter.com/SleeplessByte/status/1017412257850900480

[2018-07-13 17:40] brianlovin opened #3516 "Slack integration dates are wrong"
https://jchiatt.d.pr/M7rpEP

[2018-07-13 19:59] brianlovin opened #3517 "Do not error out unsupported block types when sending messages"
1. We should support block quotes in messages
2. We should never ever lose a message because of a draftjs error

<img width="462" alt="screenshot 2018-07-13 13 58 19" src="https://user-images.githubusercontent.com/1923260/42711380-e1290fda-86a4-11e8-87f0-0f42fb60114a.png">

[2018-07-14 00:00] brianlovin opened #3519 "Service worker failure reports are increasing"
https://spectrum.chat/parcel?thread=0099a3c9-79e3-4c38-8c3c-885c6312f6ec

Lots of people have been reporting increased frequency of app crashes due to broken service worker or fetching old files. I'm not sure exactly how to start diagnosing this as it's all happening on prod. cc @mxstbr if you have any guidance here I can jump in, otherwise I would like to know what we'd realistically face to disa

[2018-07-14 08:38] mxstbr commented on #3519
/cc @NekR how do we disable the ServiceWorker?

[2018-07-14 17:48] brianlovin commented on #3512
We do have a `message.timestamp` in the model. If you sign into https://alpha.spectrum.chat with your GitHub account you'll see a new design we're prepping to roll out which makes it much easier to see timestamps and link directly to a message.

I love the scoping here, thanks for digging in! I have one suggestion: we could save quite a lot of work and surface area for bugs by introducing a button

[2018-07-14 18:01] lookapanda commented on #3512
I don't mind, the core features remain mostly the same

[2018-07-14 18:13] #3517 closed

[2018-07-15 07:23] mxstbr opened #3548 "Add cache headers to hyperion responses"
And enable CDN for our spectrum.chat domain on Zeit—that should allow us to get rid of our custom caching setup entirely and cache all our generated HTML files in 150 locations around the world automatically! 😍😍😍

See https://zeit.co/blog/now-cdn

[2018-07-15 12:22] ryota-murakami commented on #3519
Unregister?
https://developer.mozilla.org/en-US/docs/Web/API/ServiceWorkerRegistration/unregister

[2018-07-16 04:02] brianlovin commented on #3519
@mxstbr any additional thoughts here? I believe this issue is causing people to get stuck on `/auth` where the request gets processed in the client as a community, versus sending that request to the api.

[2018-07-16 09:11] mxstbr commented on #3519
Yeah let's disable it, just not sure how.

[2018-07-16 22:07] titchimoto commented on #3369
Hey @mxstbr @mackmmiller Just wondered if this was still being worked on? Would be happy to have a go at it, or assist where possible! :)

[2018-07-17 01:19] brianlovin opened #3592 "Error: ObservableQuery with this id doesn't exist"
https://sentry.io/space-program/spectrum/issues/542337986/

I can repro this very easily locally: click to a view (e.g. /messages) then click away back to /home before the page finishes loading...it doesn't appear breaking, but is annoying to see this error popping up so many times.

[2018-07-17 14:47] brianlovin opened #3596 "Fix thread reaction push notification formatting"
<img width="386" alt="screenshot 2018-07-17 07 46 46" src="https://user-images.githubusercontent.com/1923260/42824859-9701c61a-8995-11e8-99bb-496d45cb6497.png">

[2018-07-17 14:50] brianlovin commented on #3592
Here's a video if it's helpful: https://www.dropbox.com/s/18kdrscxic6g57r/observable-query.mov?dl=0

[2018-07-17 15:42] brianlovin commented on #3513
Hey @thenanyu I *think* we fixed this yesterday! Can you repro?

[2018-07-17 15:43] brianlovin commented on #3509
Can repro. Investigating.

[2018-07-17 16:11] #3596 closed

[2018-07-17 16:21] #3516 closed

[2018-07-17 16:22] #3509 closed

[2018-07-17 19:01] thenanyu commented on #3513
just checked, looking good now!

[2018-07-17 19:32] mackmmiller commented on #3369
@titchimoto, I've got a semi-working solution, but I'm having trouble with the styling. Maybe we can link up later and work it out?

[2018-07-18 18:54] brianlovin opened #3606 "Switching communities does not update team list"
If you go directly from one community view to another (e.g. via notifications) we don't update the team members list. This is because of the `shouldComponentUpdate` in the `moderatorsList` component - just needs to account for `props.community.id` changing between renders and pass the `scu` check

[2018-07-18 19:47] gokaygurcan commented on #3250
Hi,

I also have the same feeling, but instead of showing a popup, I was thinking to differentiate normal state and hover state of the buttons. In hover state, for example, the button might become red with a different icon (`door-leave`) and different text (`Leave`) to visualize the action.

Popup is kind of annoying and overkill imho. With a proper visualization, there won't be huge amount of peo

[2018-07-19 22:49] titchimoto commented on #3369
Sure! :) Sounds good, let me know if there's anything I can do to (try!) help.

[2018-07-20 21:01] brianlovin commented on #3377
Doing this now.

[2018-07-20 21:01] #3377 closed

[2018-07-21 10:35] morajabi commented on #2790
@fubhy Would be great if you could elaborate a bit what's blocking this? 👍

[2018-07-22 02:58] 1k2k opened #3652 "Deploying on AWS instead of NOW"
Technical Discussion.

Hi am deploying spectrum on my own domain on AWS, for some reasons i couldn't use NOW.

Your documentations only covers about NOW deployments, so i thought i'd bring up AWS maybe someone in the future might need to do the same.

Please correct me where am wrong.

1. So workers don't need to be discoverable, right? meaning they are bond by redis and i don't need a static url

[2018-07-22 07:30] mxstbr commented on #3652
1. That's right, the only reason we set them at URLs is because they expose a nifty healthcheck server we use to monitor them
2. Yes, but you'll have to forward `cool-domain.com/api` and `cool-domain.com/auth` to `api.cool-domain.com`—we use now path rules for that
3. We deploy it to `hyperion.workers.spectrum.chat` and then tell now to forward `spectrum.chat/**` except for the two paths above
4.

[2018-07-22 07:30] #3652 closed

[2018-07-23 21:55] merelinguist opened #3665 "Refreshing route /new/thread disables(?) thread composer"
**Issue Type**

- [x] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question

**Description**

An issue I’ve noticed cross-browser pertains to the thread composer’s autosaving. To reproduce:

1. Clear localStorage
2. Type something into Draft editor
3. Refresh page
4. Draft input is disabled / greyed-out

![1d53e8f4-eba0-4805-bba5-5d520b42376d](https://user-images.githubuserconten

[2018-07-26 19:10] titchimoto commented on #3606
Hey @brianlovin are you accepting PR's for this? Would love to have a go at it! :)

Also, I have the project up & running locally, and testing with a couple of different accounts (a twitter one, and a google one...) I don't seem to be actually getting any notifications within the web app...? Not sure I'm missing something? Because I wanted to re-create the issue locally first (I've seen it on the

[2018-07-27 05:35] brianlovin commented on #3606
@titchimoto yep! You'll need to `yarn run dev:athena` in another terminal window to process the background jobs. This also relies on having redis installed locally on your machine :)

[2018-07-27 15:25] titchimoto commented on #3606
@brianlovin Ahh awesome, thanks! Was wondering if there was a server/process I missed, d'oh. Thanks, working perfectly now. :)

[2018-07-28 15:18] s0cket7 opened #3685 "HTTP Parameter pollution"
**Severity** : Low

**Description** : When we share a thread via Facebook, spectrum directly uses the input without validation, so by setting the name of the thread to a valid Facebook GET parameter, we can change the link that's being shared on Facebook.

**Proof of Concept** : Join _testspace_(`https://spectrum.chat/testspace/`) community and try to share this(`https://spectrum.chat/testspace/?t

[2018-07-29 15:48] brianlovin commented on #3606
@titchimoto your guess sounds about right: probably the cached `moderatorsList` is ending up in the newly queried `communityMembers` data and results in conflicting `user.id` keys.

An obviously solution isn't coming to mind except just forcing the members array through a function to deduplicate users. That's a bit less performant and not ideal, but would solve the problem I suppose. Also: this is

[2018-07-29 17:14] kbariotis commented on #3512
Hey @brianlovin, I started looking at this feature and I have some questions design wise.

* Should we reuse the `chatInput` component for editing messages or create a new one?
* Would the new one share anything with `chatInput`?
* Should editing be limited on message's text or also allow for editing media? (at least initially)

That's my first time exploring Spectrum codebase so I am not quite fa

[2018-07-29 18:02] lookapanda commented on #3512
What would the benefits of a new component be? I mean, editing the message should allow everything that the regular chat input also allows but excluding the possibility to change the attached media. It should be text only.

[2018-07-30 13:32] s0cket7 opened #3688 "Cross-site request forgery(CSRF) vulnerability"
**Severity** : High

**Description** : Since there is no valid way of determining where the request to spectrum is originating from, an attacker can setup a malicious website and when the victim visits that page, the attacker can make any number of authenticated requests to spectrum as the victim.

**Proof of Concept** : [Bug Demo Video](https://mega.nz/#!o6YTmSrL!sKCL0KNFbQPKeehsLKyI1p6CBdlJere8d

[2018-07-31 18:01] peterschussheim commented on #3688
I tried but was unable to reproduce using the steps provided.  Chrome reports the xhr is blocked (as intended):

[code]

[2018-07-31 18:16] rootlabs commented on #3688
Yes, it blocks, unless you have a domain like attacker-spectrum.chat (because there's also a CORS misconfiguration bug - I've reported it to @brianlovin over the email), but in CSRF the response doesn't really matter, only the request has to be processed in the backend. So even if you get the error, it would still work because the request will be processed in the backend regardless of the CORS.

I

[2018-08-03 03:23] brianlovin opened #3694 "Z-index bug on thread header"
https://spectrum.chat/thread/0f31b2d8-c0a8-4665-a5e7-44ffd077ac46

[2018-08-03 12:34] mxstbr commented on #3685
Ah, great catch, will work on this after #3688!

[2018-08-03 12:35] mxstbr commented on #3688
Thank you for the in-depth report, I'm taking a look at mitigating this!

[2018-08-03 12:37] rootlabs commented on #3688
My pleasure.

[2018-08-03 12:38] rootlabs commented on #3685
Thank you. Let me know if you need anything else.

[2018-08-03 12:40] mxstbr commented on #3688
Also, could you open another issue for the CORS misconfiguration issue? I'd like to tackle that too.

[2018-08-03 12:42] rootlabs commented on #3688
Sure.

[2018-08-03 12:51] mxstbr commented on #3688
Another question just to make sure I understand everything: how does `https://devangeles.com/csrf-exploit.html` get the value of the cookie to send to the server?

[2018-08-03 12:59] s0cket7 opened #3698 "Cross Origin Resource Sharing(CORS) misconfiguration leads to Same Origin Policy(SOP) bypass"
**Severity** : Medium

**Description** : Usually one website cannot access the contents of another, because the browser has something called as Same Origin Policy. But there are other ways to access the data using CORS headers like Allow-Control-Allow-Origin and Allow-Control-Allow-Credentials. In this vulnerability, when the Origin was sent as a header to the spectrum API while making an AJAX req

[2018-08-03 13:02] rootlabs commented on #3688
Whenever the browser initiates the request to spectrum.chat it automatically sends the cookie, even if that request originated from a different origin like `https://devangeles.com`, so that's the reason the origin check is critical or else these kinds of attacks are possible.

[2018-08-03 13:02] rootlabs commented on #3688
#3698 I've opened a new issue on CORS as requested.

[2018-08-03 13:14] mxstbr commented on #3688
I see, thanks for the elaboration!

As far as I can tell, setting the SameSite cookie attribute (#3697) and then checking the `Origin` and `Referrer` headers should be enough to combat this issue?

- The `Origin` and `Referrer` check works everywhere, except in IE11
- SameSite isn't supported cross-browser, but it does partially cover IE11 (except for users who are on very old versions of IE11)

S

[2018-08-03 13:51] s0cket7 commented on #3688
Although checking for `Origin` and `Referer` header is kind of a solution to this problem, it's not really the right way because those headers are not always reliable (like in IE). So you have to choose a good and reliable way to ensure that it is protected from CSRF attacks. One way is by using randomized tokens, so basically on the server-side, you can generate a unpredictable random token and s

[2018-08-03 13:56] peterschussheim commented on #3688
@mxstbr [this article on universal react CSRF protection](https://alexanderpaterson.com/posts/protecting-react-applications-against-csrf-with-express-sessions) might be useful as a reference.

[2018-08-03 14:21] mxstbr commented on #3688
Unfortunately, we can't easily use the server-side token approach because our apps serve a client-side-only app shell via ServiceWorker caching—which means after the first request, no request will hit the server apart from API fetches. (on top of that it would mean that any user who's currently logged in would be logged out since they don't have a CSRF token, but that's only a minor nuisance)

As

[2018-08-03 15:33] #3688 closed

[2018-08-03 15:34] #3698 closed

[2018-08-03 15:34] #3685 closed

[2018-08-03 15:36] #3548 closed

[2018-08-03 15:45] s0cket7 commented on #3688
Sounds good.

[2018-08-03 18:23] brianlovin commented on #3397
We never needed to do this, turns out.

[2018-08-03 18:23] #3397 closed

[2018-08-03 18:25] brianlovin commented on #3425
Fixed

[2018-08-03 18:25] #3425 closed

[2018-08-03 19:17] mxstbr opened #3708 "Cache static files with now CDN"
Forgot to do this, gotta also cache static files!

[2018-08-03 20:28] #3694 closed

[2018-08-03 22:11] #3708 closed

[2018-08-05 15:52] titchimoto commented on #3606
@brianlovin Haha, that's fair enough. Does seem a little overkill maybe. Will submit the PR for the other fix shortly.

[2018-08-06 07:07] brianlovin commented on #2859
I added these *everywhere* as well as community + channel hover cards!

[2018-08-06 07:07] #2859 closed

[2018-08-06 08:56] mxstbr opened #3718 "Top Threads"
**Plan**

We want to show the "top conversations" in some thread feeds on landing pages (community view, channel view), instead of just ordering them by last active, to make sure (new) users can jump right into active, engaged conversations. Potentially, we could also be able to use this to show a list of top conversations across the entire platform.

The simplest solution to that is [frecency](ht

[2018-08-06 09:04] mxstbr opened #3719 "Thread content isn't SSR'd"
![2018-08-04 16 18 57](https://user-images.githubusercontent.com/7525670/43707472-78334e92-9968-11e8-92be-c0efab42a1f2.gif)

[2018-08-06 10:07] #3719 closed

[2018-08-06 11:31] #3481 closed

[2018-08-06 18:56] cbluth opened #3723 "Sign up with email"
I want to try spectrum chat, but I'd rather not use my social media accounts. Are there plans to allow signups via email?

[2018-08-07 03:25] brianlovin commented on #3723
We'd like to get to this sometime in the future, it's definitely a highly requested addition!

[2018-08-07 04:26] brianlovin commented on #3718
Not sure, except to see how things feel in prod and iterate. I think your notes overall are sound, and we may need to just adjust some of the scoring and weighting over time as we get a better feel for what it takes to get a conversation to be "popular"

Only extra thing I could think of off the top of my head is incorporating message reactions into the mix somehow. E.g a conversation may only hav

[2018-08-07 04:27] #2684 closed

[2018-08-07 04:36] mxstbr commented on #3718
1. I think if we create a function index (`r.db('spectrum').table('threads').indexCreate('frecency_score', thread => rank(thread));`) it gets recomputed on every query? I'm not sure though, will investigate!
2. Probably not, just degrade—locked threads aren't just used for "closed" conversations, but also for announcements and whatever. It'd be weird to just drop them outright!
3. Yeah we should e

[2018-08-07 04:57] mxstbr opened #3724 "Online member counts"
We need to compute online member counts!

[2018-08-07 05:03] brianlovin commented on #3718
Yeah, just not sure the mechanics of this. Eager to see what you find out.

Everything else sounds good!

[2018-08-07 05:04] brianlovin commented on #3724
Maybe this could just be a graphql resolver that hits a redis instance and we cache the community online count every hour or something?

[2018-08-07 05:27] mxstbr commented on #3724
Probably not even necessary, it's not that expensive of a query. PR coming up!

[2018-08-07 05:32] #3040 closed

[2018-08-07 16:31] #3724 closed

[2018-08-07 16:49] TheMightyPenguin commented on #3512
Any work here I could help with? 😮

[2018-08-09 08:40] mxstbr opened #3738 "Don't parse mentions in code blocks"
Whether inline code or code blocks, we shouldn't be tagging those mentions/notifying those people:

![screen shot 2018-08-09 at 10 39 44](https://user-images.githubusercontent.com/7525670/43887971-9c016a34-9bc0-11e8-83b8-5906a5f04f8c.png)

[2018-08-09 15:14] mxstbr opened #3746 "API logs `undefined` over and over and over in production"
Not sure what's up with this, it's surely not helping our performance...

<img width="1552" alt="screen shot 2018-08-09 at 17 14 05" src="https://user-images.githubusercontent.com/7525670/43908203-ad61eede-9bf7-11e8-8d41-20e2766aa5ee.png">

I think it might potentially be in a dependency? I! couldn't find _any_ `console.log`s out of place in the entire built API, so I'm not sure what's going on.

[2018-08-09 18:34] brianlovin commented on #3746
Uh wow, that's not ideal...

[2018-08-09 19:36] brianlovin opened #3749 "If a user deletes their account, it doesn't delete communities they own"
I have a WIP branch that is totally refactoring all of our deletion logic to handle downstream deletions more clearly. This is a bug for now.

[2018-08-10 11:54] mxstbr commented on #3749
It probably shouldn't if there are people in there?

[2018-08-10 16:09] sergiodxa opened #3757 "Markdown parser considering asterisks inside inline code to set bold"
**Issue Type (check one)**

- [x] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**

![](https://kap-qxrhywkyue.now.sh/)

When writing an asterisk inside an inline code and then another outside the Markdown parser transform it to bold and

[2018-08-10 16:13] mxstbr commented on #3757
Hmm, strange, I thought we fixed this 🤔 Will dig in tomorrow!

[2018-08-11 02:28] #3114 closed

[2018-08-11 02:40] brianlovin commented on #3749
It should have some sort of warning flow or option to do it. We've had someone delete their account and now the community they created is stuck in limbo. They created a new account and wanted to create the community from that account, but can't do it.

[2018-08-12 22:00] timothyis opened #3759 "Clicking a "liked comment" notification link results in error"
When I click the link to a thread within a notification of a liked comment, it results "We had trouble loading this thread.".

![spectrum-notification-bug](https://user-images.githubusercontent.com/1695613/44006880-86b19c1a-9e83-11e8-8f06-f0130cd94da8.gif)

[2018-08-13 05:18] mxstbr commented on #3759
Thanks for the report, fixed in #3760!

[2018-08-13 06:44] mxstbr commented on #3746
This comes from `create-subscription-server.js`, the `.catch` blocks in both `onDisconnect` and `onConnect`. Digging into why these throw, but that explains why I haven't seen many online indicators recently haha

[2018-08-13 09:08] mxstbr commented on #2125
DOne

[2018-08-13 09:08] #2125 closed

[2018-08-13 12:20] #3746 closed

[2018-08-14 22:39] dan-weaver commented on #2649
Is anyone else working on this still? Not promising anything but would like to see where I can get but don't wanna start if it's still being worked on.

In regards to the search functionality. Doesn't seem to be something that couldn't be stubbed out well enough.  Maybe a couple utilities for doing so could be part of this PR.

[2018-08-14 23:51] AlexMunoz commented on #2649
I've something but it needs time... @dan-weaver go for it! 👍

[2018-08-17 02:26] brianlovin opened #3785 "Make slack thread notifications slack threads to sync new messages"
Our cross-posted slack notifications for new spectrum threads should just be slack threads, that way we can also notify of new messages in that slack thread.

[2018-08-17 14:01] jchiatt opened #3786 "Links to threads from notifications screen are undefined"
# 🐞Bug Report

## Description

Thread `ids` in the thread links on the notifications screen are `undefined` and render a "We had trouble loading this thread" screen.

Screenshot: https://jchiatt.d.pr/OnJEsG

[2018-08-17 14:13] littleStudent opened #3787 "Thread message counting"
Currently the calculation for the message count is based on the actual message count. This looks like the following:

<img width="1415" alt="screenshot 2018-08-17 16 10 17" src="https://user-images.githubusercontent.com/815520/44270531-117be280-a238-11e8-86d1-d70289e9f3b3.png">

So while it is technically correct that the message count shows `3` it is a bit weird. The 3 messages in there look like

[2018-08-17 17:01] brianlovin commented on #3787
Yeah, thanks for the thought - I'm not sure exactly how to address this though, especially from a technical standpoint. I'd say this is lower priority for us, since message count is just a loose proxy to represent "there is stuff happening in this thread" - accuracy actually might not be that important there

[2018-08-17 17:02] brianlovin commented on #3786
Indeed - good catch!

[2018-08-17 18:00] #3786 closed

[2018-08-18 09:51] mxstbr opened #3797 "Apollo Engine not caching?"
It looks like Apollo Engine isn't caching `Community.metaData`? It shows "No cache policy was defined" even though `Community.metaData` is fetched:

<img width="387" alt="screen shot 2018-08-18 at 11 49 13" src="https://user-images.githubusercontent.com/7525670/44298069-d4b5f700-a2dc-11e8-8f9e-22eac1ec53b9.png">

<img width="916" alt="screen shot 2018-08-18 at 11 49 39" src="https://user-images.gi

[2018-08-21 05:56] coooolers commented on #3749
It should behave like Whatsapp. When an owner leaves a community, the ownersip should be transferred to some other member probably the one who joined the first.

[2018-08-21 13:55] mxstbr opened #3808 "Thread preview images don't generate for some threads"
This thread breaks the automatically generated thread preview images: https://spectrum.chat/thread/f9cfe7af-e5cb-4830-82a0-4a68e6d0a849

[2018-08-21 14:05] mxstbr commented on #3808
This is because `window.btoa` cannot handle emojis. Working on replacing our spec-compliant polyfill (`abab` package) with a non-spec compliant polyfill that handles emojis correctly. (`b2a` package)

[2018-08-21 19:27] #3808 closed

[2018-08-21 20:55] iamclaytonray opened #3813 "Store env variables in with dotenv"
I know that this is open source but even with open source, I imagine you probably want to store environment variables inside of a `.env` file. Specifically, I am referring to all of the OAuth keys. Is there a reason why they are shared publicly?

[2018-08-21 23:57] brianlovin commented on #3813
We use `now-secrets.json` in combination with `now-env` to handle environment variables. In the repo we have a `now-secrets.example.json` that is used to get contributors up and running locally :)

[2018-08-22 00:00] iamclaytonray commented on #3813
Okay. So the keys in [this file](https://github.com/withspectrum/spectrum/blob/alpha/api/authentication.js) are not real keys?

[2018-08-22 00:04] brianlovin commented on #3813
Those are client keys, so fine to expose, although for consistency and clarity we could probably move those to be env variables :)

[2018-08-22 01:23] davidluhr opened #3815 "Code Blocks Create Separate Instances for Every Line of Text"
When creating a post, the code block (triple backticks) isn't working as expected. When pasting multiple lines of text into a code block, a new code block is created for each line. Additionally, even with a language selected on the initial code block, no language is set for any of the extraneous instances.

Here's a link to my post with this bug: https://spectrum.chat/?t=9441056c-9291-4138-98e6-cb

[2018-08-22 02:11] brianlovin commented on #3815
Dug around to see if I'd opened an issue for this before, because I feel like it's been one of the worst longstanding issues we have with our editor. Thanks for resurfacing @davidluhr!

[2018-08-22 04:54] mxstbr commented on #3815
Hmm I thought we'd fixed that... 🤔 Will dig in!

[2018-08-22 05:07] mxstbr commented on #3813
Yeah those are all handled!

[2018-08-22 05:07] #3813 closed

[2018-08-22 07:37] #3718 closed

[2018-08-22 09:26] mxstbr commented on #3757
This is fixed!
![screen shot 2018-08-22 at 11 26 01](https://user-images.githubusercontent.com/7525670/44455374-2ec8fc00-a5fe-11e8-85b0-360c68823bbe.png)

[2018-08-22 09:26] #3757 closed

[2018-08-22 09:27] #2682 closed

[2018-08-23 06:55] LeKoArts opened #3823 "Can't access spectrum.chat"
**Issue Type (check one)**

- [x] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**

So I was the guy who said that he constantly gets logged out:
https://github.com/withspectrum/spectrum/pull/3818

Well after the hotfix and ~ 24 hours la

[2018-08-23 07:03] brianlovin commented on #3823
We're currently experiencing some downtime, working on it! Sorry for the trouble :(

[2018-08-23 07:03] #3823 closed

[2018-08-23 20:38] THEozmic commented on #3369
Would love to help too!

[2018-08-24 12:03] #3815 closed

[2018-08-24 13:01] pedrolucasp opened #3839 "Channel Header displaying above Thread"
Hello, when opening a Thread on the sidebar, the channel header keep displaying on top of the post header.
![screen shot 2018-08-24 at 09 55 56](https://user-images.githubusercontent.com/861658/44585978-7ed1cb00-a784-11e8-86e4-a4852a51b4f1.png)

[2018-08-24 15:15] brianlovin commented on #3839
Thanks for the heads up! We'll get this cleaned up :)

[2018-08-25 16:07] satyarohith opened #3841 "Redirect logged in user to /community page if the user visits /community/login"
**Issue Type (check one)**

- [X] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

[2018-08-26 10:53] mxstbr commented on #3841
Great catch!

[2018-08-28 06:38] #3839 closed

[2018-08-28 16:43] brianlovin opened #3856 "Don't create notifications for self-thread-likes"
https://alpha.spectrum.chat/?t=8bf4d55c-9ef6-4ba9-b27f-abca4cf00faa

[2018-08-28 16:47] mxstbr commented on #3856
Why do we let people like their own thread in the first place?!

[2018-08-28 16:56] brianlovin commented on #3856
You can retweet your own tweets? :P

[2018-08-28 18:16] mxstbr commented on #3856
Yeah but you can't favorite them can you?! I'd let people x-post their own threads once for sure though

[2018-08-28 19:02] brianlovin commented on #3856
You can favorite your own tweets, yes. And self like Fb posts. Seems to be a pretty common thing?

________________________________
From: Max Stoiber <notifications@github.com>
Sent: Tuesday, August 28, 2018 11:16 AM
To: withspectrum/spectrum
Cc: Brian Lovin; Author
Subject: Re: [withspectrum/spectrum] Don't create notifications for self-thread-likes (#3856)

Yeah but you can't favorite them can y

[2018-08-28 20:52] mxstbr commented on #3856
Oh what. Okay then...

[2018-08-29 00:52] cain commented on #3369
Might give this a crack since no one has pushed anything :)

[2018-08-29 08:18] #3841 closed

[2018-08-29 08:46] THEozmic commented on #3369
Okay. I do have a problem I'm currently facing: In the local set up, I am unable to modify my profile picture. Attempting to modify it just changes the displayed image to the default astronaut picture and in the settings page, it shows up as a broken image.

[2018-08-29 16:49] momothereal opened #3859 "Transfering community ownership"
**Issue Type**

- [ ] Bug Report
- [x] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

There should be a way to transfer the ownership of a community to another server member. If #3749 is completed, an owner who wishes to delete their account should have a way to transfer the community to s

[2018-08-29 17:19] brianlovin opened #3860 "Inserting link in text clears all text"
Video: https://www.dropbox.com/s/pusm2x4n3ct2ik9/bad-link-insertion.mov?dl=0

cc @mxstbr this has been killing me when trying to post show notes from episodes on Spectrum 😭

[2018-08-29 17:28] mxstbr commented on #3860
Will investigate tomorrow!

[2018-08-29 17:31] brianlovin commented on #3369
Oh now @THEozmic :/ I've seen this locally as well but just haven't dug in to investigate (since it's a local-only error). I believe it's because it's trying to upload the image to s3+imgix instead of just saving it locally + loading the upload locally from your machine.

[2018-08-29 17:32] brianlovin commented on #3859
Agreed - we've been doing this manually for a bunch of folks and it's starting to happen enough that we should just build the UI controls for it :P

[2018-08-29 17:33] THEozmic commented on #3369
Okay, I was thinking it might affect how this task is done, I'll try taking a closer look at things and let you know if it's a blocker.

[2018-08-29 17:42] momothereal commented on #3859
I'd like to take this as a challenge :)

From a quick glance, it looks like a simple permission transfer (`isOwner`), as well as updating the administrator email and Stripe ID. Am I on the right path?

[2018-08-29 17:48] brianlovin commented on #3859
@momothereal loosely, yep
- change `isOwner` field on the correct `usersCommunities` records
- change `isOwner` field on the correct `usersChannels` records
- change `administratorEmail` and `creatorId`

One thing I haven't thought through completely right now is how to properly handle the transfer of a community that is paying for features, and how to ensure that the new owner has their own Strip

[2018-08-29 18:36] mittalyashu opened #3861 "Notifications for unread messages in the title bar"
![image](https://user-images.githubusercontent.com/29014463/44807933-78aa7700-abe8-11e8-929c-76f4512d59f2.png)

I want that red dot to appear when have opened the thread on which I am chatting currently and if I do to some other tab and I have some unread message, then also it should show the red dot.

**Reference:** https://spectrum.chat/thread/86d7394e-de7d-447e-a027-652449d88cf1

[2018-08-29 19:09] momothereal commented on #3859
It could be a requirement that if billing is activated for a community, the new owner must also have their Stripe settings activated?

[2018-08-29 21:12] momothereal commented on #3859
PR: #3863

Should the transfer flow be:

Selecting the member from the list, clicking the 'cog', and selecting a (new) `Owner` option
![image](https://user-images.githubusercontent.com/6775216/44815774-73c8d180-abae-11e8-895a-5cc5796761e6.png)

**OR**

Clicking on a `Transfer Ownership` button in the settings, selecting the member, confirmation

![image](https://user-images.githubusercontent.com/6

[2018-08-29 23:31] brianlovin commented on #3859
I think it should be the second flow. Transfer ownership -> choose user -> confirm

[2018-08-29 23:32] brianlovin commented on #3859
The billing settings are per community, not per user. Not sure exactly how this will play out but I'll have a think on it.

For acceptance flows we'll definitely need notifications + emails
- notification of request to transfer ownership
- accepted request
- rejected request

[2018-08-29 23:35] momothereal commented on #3859
@brianlovin Perfect, I don't have to start over 😄

Is there some place in the code base where you can "select members"? Some sort of list or auto-completing text field would work.

As for billing, my idea is that when accepting the transfer, the new owner would be prompted to setup new billing settings for the community (they wouldn't be allowed to transfer without it). I can see why this is trick

[2018-08-30 00:41] momothereal opened #3864 "Community locking / archiving"
**Issue Type**

- [ ] Bug Report
- [x] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description**

There could be a way to disable any participation in a community, either temporarily (locking) or permanently (archiving). For archiving, I see it as an alternative to deleting the commun

[2018-08-30 00:49] brianlovin commented on #3859
Just to set expectations, I might not be able to get to this for a bit - but agree, I will probably be the best person suited to wrapping this up on the billing side :)

[2018-08-30 00:49] brianlovin commented on #3864
Do you have some ideas on use cases where someone might want to lock or archive the community versus deleting them?

[2018-08-30 00:55] momothereal commented on #3864
I can see archiving being useful when a community moves to a different network for whatever reason. For example, a development community I was a part of moved from Gitter to Discord a while back, and all conversations were lost when the Gitter community was deleted. It would have been useful to archive the community so that past conversations and ideas aren't lost, while not inciting new users to

[2018-08-30 01:58] cain commented on #3369
Looks like most websites use a modal to crop, thoughts?

[2018-08-30 06:55] #3856 closed

[2018-08-30 09:25] mxstbr opened #3867 "Explore styling is messed up after SSR"
![screen shot 2018-08-30 at 11 24 24](https://user-images.githubusercontent.com/7525670/44842896-4f6d0380-ac47-11e8-8a42-d9fed2e17bf6.png)

[2018-08-30 16:28] brianlovin commented on #3867
Damn. Sorry abbout this! Will fix asap

[2018-08-30 17:45] #3867 closed

[2018-08-31 08:23] mxstbr opened #3874 "Avatar online indicators not working anymore"
https://spectrum.chat/thread/981cf8f6-07fd-43bf-8d97-696af5b5500c

[2018-08-31 08:58] mxstbr opened #3875 "Denormalize expensive GraphQL fields"
Gotta look at Engine to figure out which ones those are

[2018-08-31 09:54] mxstbr commented on #3875
This should be a solid start:

- User
  - [ ] totalReputation
  - [ ] isPro
- Thread
  - [ ] messageCount
  - [ ] maybe reactions?
- Community
  - [ ] all of metaData
    - [ ] recompute onlineMembers once an hour

Basically all the counts, and `isPro` because that's super slow and we fetch it every time.

[2018-08-31 15:16] carloslfu opened #3877 "Can't paste inside a code block with selected text"
Follow the next steps to reproduce:
- Create a new conversation
- Add a code block with ````
- Copy some text to the clipboard
- Add some code to the code block
- Select part of the text inside the code block
- Try to paste the text from the clipboard over the selected text (press `Crtl + v` or `Cmd + v`)

As a result the paste action fails.

[2018-08-31 20:15] brianlovin commented on #3877
Thanks for the heads up! Seems like we've got a few issues cropping up with code blocks. Will dig in cc @mxstbr :)

[2018-08-31 20:26] mxstbr commented on #3875
No because engine can't cache subfields I'm 99% sure—so we'd have to cache all communities without having access to invalidation. This (which we currently have) doesn't work:

[code]

We'd have to do this:

[code]

But obviously if we do that and somebody edits the community, they won't see the changes until the TTL expires which really really sucks :confused:

 /cc @martijnwalraven for confirmati

[2018-08-31 20:27] mxstbr commented on #3877
I recently added custom paste behavior so that pasting into code blocks works at all and doesn't create a million code blocks—while that fixed the million code blocks issue, it probably broke this in the process 😅

Will look into this soon!

[2018-08-31 20:28] brianlovin commented on #3875
Then let's just cache these expensive fields ourselves?

https://github.com/withspectrum/spectrum/pull/3771

Couldn't we just implement that for the 5 or 6 places we do expensive counting and call it a day?

[2018-08-31 20:55] mxstbr commented on #3875
I mean sure, yeah, sounds good

[2018-09-04 19:41] timothyis opened #3896 "Clicking a link to a deleted comment shows that there are no comments for the thread"
When clicking a link for a deleted comment (for example https://spectrum.chat/thread/49161caf-15e2-47d8-8dc1-0e869b7281a1?m=MTUzNjA4ODU0Mzg2Nw==), the thread shows that there are no comments and that you can post one to start a thread; even if there are actually other comments (removing the comment parameter shows them).

![image](https://user-images.githubusercontent.com/1695613/45053772-e7714f80

[2018-09-04 22:39] brianlovin opened #3897 "Allow for custom publishing permissions in channels"
E.g. only team members can publish in a channel, like announcements

[2018-09-05 16:25] brianlovin opened #3901 "Rate limit dm creation"
Add rate limiting so one person can't spam lots of people with new dm threads

[2018-09-06 23:35] brianlovin commented on #3874
Sooo @mxstbr I *think* this might be a big with styled-components, possibly...

I spent time poking in `src/components/avatar/style` at the `Status` component we create. When that renders out, no `:after` pseudoelement hits the dom. If, however, I remove all cases where we call `${props => ...}` in that `:after { ... }` block the indicators show up.

To repro, go into that file and just paste in:

[2018-09-07 09:58] mxstbr commented on #3874
Can't repro, here's a codesandbox with our status component where it renders the after just fine with the same code: https://codesandbox.io/s/qx37pkz04q

I had to take out some of the other interpolations since I didn't have those vars, but other than that the `display` interpolation works perfectly fine?

[2018-09-14 00:41] brianlovin opened #3923 "Gallery images are selected at wrong index, can't use keys to navigate"
General bugs with gallery in a thread:
- clicking an image seems to open the gallery at the last index every time
- can't use keys to navigate through the gallery images

[2018-09-14 20:47] brianlovin opened #3925 "DM chat input persistence should be keyed by thread id"
It can be super jarring to switch DM threads and see the chat input remain the same between each thread. This is rarely the desired behavior. Instead, we should key the DM chat input by thread id so that if you switch threads then return to a previous thread we restore the chat input if a message was drafted.

[2018-09-23 00:07] brianlovin opened #3941 "Remove the "✌️Spectrum Team" from notification emails"
https://spectrum.chat/?t=5f26283f-f486-4c58-ae31-cc70a6f6bf45

I agree that this is a weird signoff for notification emails, especially DMs

[2018-09-23 00:16] brianlovin opened #3942 "Stop thread list from scrolling to top when posting a message in a thread"
There's a very frustrating behavior in the inbox when replying to a message in a thread. When you reply, the thread gets updated and the thread feed re-renders, which re-scrolls you back to the top. This makes it really hard to reply to several older threads in a row because each time you reply you lose your position, have to re-scroll to find where you left off, rinse and repeat.

[2018-09-23 00:18] brianlovin opened #3943 "CI is creating bad deploy aliases via now"
Every alpha merge is creating an alias for `alphapispectrum.spectrum.chat` and `hyperionalphaspectrum.spectrum.chat` - the hyperion one keeps getting scaled to 4 as well, so we had a ton of old deploys that didn't do anything that were throwing some errors and chewing up sentry logging

[2018-09-23 11:54] mxstbr commented on #3943
Wat, that's super strange. It's definitely set correctly in our .circleci.yml:

https://github.com/withspectrum/spectrum/blob/da379f1c49fd6208152a6e2a8cb5e3bc0127e67c/.circleci/config.yml#L129-L137

/cc @siddharthkp did you change anything in now-cd?

[2018-09-23 11:56] mxstbr commented on #3943
Is a bug with now-cd v1.3.5: https://github.com/siddharthkp/now-cd/issues/25

[2018-09-27 02:34] #3943 closed

[2018-09-27 02:57] brianlovin opened #3947 "Threads can still have horizontal overflow scroll"
Test thread https://spectrum.chat/thread/2351ea57-8e35-4119-a69c-d05a0a053783

[2018-09-27 02:57] brianlovin opened #3948 "Sign-in dialog appears offscreen if keyboard is up"
View a thread while signed out. Type something in the composer of a thread chat input. Press send. Login modal appears off screen.

[2018-10-01 13:04] satyarohith opened #3979 "Show recent message as Image/media instead of showing the image source link"
FILL OUT THE FORM BELOW OR THE ISSUE WILL BE AUTO-CLOSED

**Issue Type (check one)**

- [ ] Bug Report
- [X] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**
When we send a photo, the recent message shows the image source link which is quite confusing wh

[2018-10-02 05:56] depfu[bot] opened #3980 "Depfu Error: No dependency files found"
Hello,

We've tried to activate or update your repository on Depfu and couldn't find any supported dependency files. If we were to guess, we would say that this is not actually a project Depfu supports and has probably been activated by error.

## Monorepos

Please note that Depfu currently only searches for your dependency files in the root folder. We do support monorepos and non-root files, but

[2018-10-02 07:18] brianlovin commented on #3943
This is still happening - do we need to upgrade on our end somewhere @mxstbr ?
<img width="923" alt="screenshot 2018-10-02 15 18 03" src="https://user-images.githubusercontent.com/1923260/46334396-70fe4800-c656-11e8-9f14-841cd0b17750.png">

[2018-10-02 10:03] siddharthkp commented on #3943
Can you confirm the version installed?

[2018-10-02 10:20] mxstbr commented on #3943
Here's a log: https://circleci.com/gh/withspectrum/spectrum/15114

Not sure how to tell which version is running?

[2018-10-03 07:20] davidalekna opened #3991 "Oops, something went wrong. Please try again!"
Hi, I can't login for some reason 🤔 I get a blank screen and this message when trying to authenticate with github

Oops, something went wrong. Please try again! (Error ID: 47618e86bb56436ca7279d734e9ffaab)

[2018-10-03 14:00] davidalekna commented on #3991
Seems to be fixed now so I'll close it :) thanks

[2018-10-03 14:00] #3991 closed

[2018-10-03 14:05] mxstbr commented on #3991
Awesome, great to hear!

[2018-10-03 22:48] #3941 closed

[2018-10-04 00:20] superbryntendo opened #4001 "Proposal: Thread types"
Thread types
---

https://www.figma.com/file/VGV3XN6IakJVArRek2GunJop/Thread-types?node-id=0%3A1

I think this really just looks like a switch in the post flow from the UI side and maybe an icon to show thread type (which maybe solves our watercooler representation issue?)

I think we should start with three generic types that could theoretically expand over time and all of this would support our

[2018-10-04 00:27] #4001 closed

[2018-10-04 00:28] superbryntendo opened #4002 "Proposal: Thread types"
Thread types
---

https://www.figma.com/file/VGV3XN6IakJVArRek2GunJop/Thread-types?node-id=0%3A1

I think this really just looks like a switch in the post flow from the UI side and maybe an icon to show thread type (which maybe solves our watercooler representation issue?)

I think we should start with three generic types that could theoretically expand over time and all of this would support our

[2018-10-04 12:34] brianlovin commented on #4002
Could you add a bit more color to this one specifically:
- what's the problem we're trying to solve for with this feature?
- how do we anticipate this adding confusion to the existing product? e.g. knowing what the "types" are, what type is being viewed, how that type behaves differently, how we indicate what type each thread is to viewers, etc.
- if there can be multiple watercoolers how do we tr

[2018-10-04 12:45] mxstbr opened #4012 "Thread message subscriptions failing on client"
I constantly see this error locally:

[code]

Happens on this line:

https://github.com/withspectrum/spectrum/blob/85928329ef34938862cca3caf6f67c85cc076c79/shared/graphql/queries/thread/getThreadMessageConnection.js#L206

[2018-10-04 13:02] brianlovin commented on #4012
Not ideal. Do we need to recreate this but for thread connections? https://github.com/withspectrum/spectrum/pull/3752/files

[2018-10-04 13:30] mxstbr commented on #4012
I guess?

[2018-10-05 15:16] mxstbr opened #4030 "Replace DMThread.snippet with full message information"
@brianlovin in #4028

Low prio but let's keep track of it anyway

[2018-10-07 09:08] satyarohith opened #4035 "Profile Dropdown Isn't Working as Supposed in All Pages"
**Issue Type (check one)**

- [X] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**
Pages effected:
/faq
/support
/features
/about
![spectrum-bug](https://user-images.githubusercontent.com/29819102/46580159-35d88c00-ca3d-11e8-8302-0e39874

[2018-10-08 06:48] antsmartian opened #4036 "Searching user locally doesn't work"
Hello,

Thanks for such a nice product. I was trying to play around with stuff locally. I have started my servers.

I created two users ("test1", "test2") but when I login as `test1` and search for `test2` in `/messages` url, I get the following error:

[code]

Kindly note I'm running athena using the command:

[code]

Am I missing anything wrong?

[2018-10-09 00:19] brianlovin commented on #4036
Unfortunately we don't have local search working properly as we have to protect our Algolia credentials and can't query against our prod instance. Unfortunately the only way to work around this at the moment would be to create your own Algolia account and add the api keys to your now-secrets.json file :)

[2018-10-09 00:19] #4036 closed

[2018-10-09 00:19] brianlovin commented on #4035
Thanks for the heads up! cc @superbryntendo if you're interested in snagging this one, I may have broken it when removing the pricing page link

[2018-10-09 00:27] antsmartian commented on #4036
Guess that needs to be documented somewhere. May be I will open up a PR :)

[2018-10-09 00:51] brianlovin commented on #4036
Would super appreciate it if you're able to in the `README.md` at the project root :D

[2018-10-15 16:01] RAJAGOPALAN-GANGADHARAN commented on #4035
@brianlovin can i work on this

[2018-10-18 22:31] brianlovin opened #4073 "TypeError: Cannot read property 'createdAt' of null"
https://sentry.io/space-program/spectrum/issues/657281955/

[code]

@mxstbr not critical but seems like a problem that a thread could not exist during this evaluation. Will dig in later.

[2018-10-19 04:27] brianlovin opened #4076 "Updating profile photos/cover photos doesn't work"
Okay, so a few super weird things are going on here after a while of digging in. Let's talk through this a bit @mxstbr because I'm a bit stuck.

Here's what I found:

1. If you upload a cover photo, the `updateCookieUserData` function fails. Here's the error:

[code]

Weird. So I console logged what's happening at that position and the `user` object that's getting passed to the serialization is th

[2018-10-19 04:32] brianlovin commented on #4076
I uploaded a second cover photo to see if it would update to start showing my first upload (e.g. test if it's always one step behind). It's not the case. I decoded my cookie and found some interesting data there, let's talk about it in person.

[2018-10-19 04:40] brianlovin commented on #4076
Ran one more test with the following:

Moved `updateCookieUserData` to run *after* `editUser` runs and returns the DBUser record. This works better and properly sets the right information on the new cookie. However, I still the the flashing of my *original* (e.g. 3 uploads ago) cover photo as it's being loaded from memory somehow.

Progress, but let's chat about this to think through the remaining

[2018-10-19 04:42] brianlovin commented on #4076
Whoa, noticed one more thing: when I view my profile after uploading a cover photo it logs me out. I have a session cookie that contains some weird data, which I'm guessing is why. If I re-login with Twitter it crashes and redirects me to spectrum.chat (from alpha). If I then go back to alpha and refresh things are fixed and I'm logged back in. Feels reminiscent of the bug we fought through 2 week

[2018-10-19 11:58] mxstbr commented on #4076
You just have to do this with `coverFile` too to resolve the JSON error:

https://github.com/withspectrum/spectrum/blob/alpha/api/mutations/user/editUser.js#L53

Not sure what's up with the caching, maybe it's S3 caching?

[2018-10-19 16:04] #4076 closed

[2018-10-23 23:36] brianlovin opened #4105 "Sending bad error messages to client from API"
So many folks have been encountering bugs where the only info we show them is this:
![bad-error-messages](https://user-images.githubusercontent.com/1923260/47396910-b657e780-d6e1-11e8-9ea5-ee33d3d3184c.png)

Let's make sure we always send down properly formatted errors to clients. One obvious candidate is in `api/utils/s3:55` which I'll open a PR for

[2018-10-23 23:48] brianlovin opened #4108 "Error when using draft-utils in athena push notification processing"
https://sentry.io/space-program/spectrum/issues/568262862/

[code]

[2018-10-23 23:50] brianlovin opened #4109 "Analytics worker intermittently fails when hashing userId"
https://sentry.io/space-program/spectrum/issues/696408275/

[code]

@mxstbr could you take a peek at this? Seems to be a problem in the underlying `sha1` package, but maybe we're sending it something invalid? Only started today after shipping shared db queries, so something went live today that is causing this, leading me to think it's on our end not a dep issue.

[2018-10-23 23:55] #4035 closed

[2018-10-23 23:56] brianlovin commented on #4012
@mxstbr is this still ongoing? Sorry I never responded here

[2018-10-24 14:42] flaki opened #4113 "Firefox error "Something went wrong" with thread view"
**Issue Type (check one)**

- [x] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**

The non-logged-in thread view seems to be broken on Firefox (tested with stable & nightly on Linux), no specific error in the console is shown, the page

[2018-10-24 14:58] flaki commented on #4113
This thread is in [`spectrum.chat/clouduboy`](https://spectrum.chat/clouduboy/). This issue might be stemming from the fact that this is a "private" community -- but there's no indication or toggle of setting the community private or not anywhere in the UI. The only indication in the settings is the ability to "create a link to join a private community" box.

[2018-10-24 15:41] brianlovin commented on #4113
@flaki thanks for the note here - yeah it seems like this is a thread in a private community so it's not visible signed-out. Right now we don't have the option in the UI to convert a private community to public, for privacy reasons. If you'd like help manually switching your community to be public just let me know though :)

[2018-10-24 15:41] #4113 closed

[2018-10-24 15:46] brianlovin opened #4114 "Make it harder for channel owners to leave channel"
It's too easy for the owner of a private channel to get locked out by clicking the 'member' button on the channel view.

[2018-10-24 21:44] flaki commented on #4113
@brianlovin yes I would like the manual switch for `clouduboy`, let me know if you need anything else from my side to make that happen.

I understand the reasons why there is no user-changable affordance for the switch in the UI but I would think having this explained/exposed in the UI somewhere would save some folks from quite a bit of confusion.

[2018-10-24 22:39] brianlovin commented on #4113
Definitely @flaki :) Your community is now public.

[2018-10-25 11:28] woongsikchoi opened #4121 "Some issues found by static analyzer"
**Issue Type (check one)**

- [x] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**

Hi, I am a developer of JavaScript static analyzer called [DeepScan](https://deepscan.io).

For benchmarking, I analyzed spectrum project's code with Dee

[2018-10-25 16:38] brianlovin commented on #4121
This is my first time seeing DeepScan - thanks so much for the notes! @mxstbr should we set this up for Spectrum?

[2018-10-25 16:53] brianlovin commented on #4121
@woongsikchoi - the following two errors don't seem quite right:

<img width="1003" alt="screenshot 2018-10-25 09 52 37" src="https://user-images.githubusercontent.com/1923260/47517008-bcfa7200-d83b-11e8-8015-03cac0ce75ec.png">

In both of those cases, `channel` is an object. I think the previous check for `if (channel)` made deepscan think that it's a falsy value?

[2018-10-25 18:10] #4121 closed

[2018-10-26 15:19] brianlovin opened #4129 "Investigate name, username, and description character filtering"
Users like this https://spectrum.chat/users/yanis are able to break the layout by using various unicode chars in their description.

[2018-10-26 21:00] sibelius commented on #2952
maybe nohoist could help https://yarnpkg.com/blog/2018/02/15/nohoist/

also using lerna?

[2018-10-27 04:41] brianlovin opened #4136 "Image uploads are broken"
Investigating this thread: https://spectrum.chat/thread/8b5f6255-c6f0-4aba-8f0c-6e9c7eaa4a06
This is the `src` attribute of the image in the draftjs render: `src="blob:https://spectrum.chat/3a149881-b703-4abc-b5df-810e5d555661"`

I can repro this locally by uploading an image:
- `FILE_STORAGE=s3 yarn run dev:api`
- upload an image
- url returned: `blob:http://localhost:3000/ce61b25c-b0d9-4b97-9946

[2018-10-27 16:05] jchiatt opened #4141 "Redis setup link is missing from background jobs docs"
The [background jobs](https://github.com/withspectrum/spectrum/blob/alpha/docs/workers/background-jobs.md) documentation references a Redis setup doc, but doesn't link to it. I could not find that doc in the repo anywhere, so just filing an issue in case someone else knows where that file is and can add the appropriate link. 😄

[2018-10-27 17:40] #4136 closed

[2018-10-27 18:13] brianlovin opened #4143 "Editing threads with multiple images is broken"
Need more time to fully understand what's going on here, but editing threads with multiple images returns the images out of order and often breaks the images.

Repro:
- create a thread with 3 uploaded images, publish it (image order [a,b,c])
- edit the thread and remove the last image, save (image order [a,b])
- edit the thread and insert a new image in the last position, save (image order [a,b,c]

[2018-10-27 18:29] brianlovin commented on #4143
This appears to be a clientside problem @mxstbr. In step 4 above it's not recognizing that there's a new file that needs to be uploaded.

[2018-10-29 15:14] cezarneaga opened #4151 "add check for deleted posts before not allowing reposts"
I posted in the wrong channel so i deleted the post as we have no option to move post to another channel. when i tried to add it again to correct channel i wasnt allowed for 5 minutes or so.

ideally when clicking on delete it should ask me: 'want to move it to another channel or delete? be aware you cannot repost it withing x minutes'

[2018-10-31 03:15] #4143 closed

[2018-11-03 04:04] brianlovin opened #4180 "Prompt warnings before closing thread/message edits"
We should prompt the user to confirm they want to dismiss the composer when they press `esc` - should apply to both composer drafts and message edit drafts

[2018-11-05 01:09] zefexdeveloper opened #4191 "Why spectrum isn't using data loader in the connections?"
I'm studying GraphQL and I found spectrum really nice to learn as it has a rich code base but I was wondering, why the connections let's say `ThreadConnection` (and all the others) isn't using data loader? It means that we have a N + 1 problem in the connections? What about a loader like `threadByChannelIdLoader`?

[2018-11-05 02:51] brianlovin commented on #4191
This is a good question, and the easy answer is: we have some lingering debt of resolvers that haven't been migrated to fully utilize dataloaders. Although there are probably some where it's not even worth the effort for certain things, but certainly we have some backfilling work to be completed still :)

[2018-11-05 03:19] zefexdeveloper commented on #4191
@brianlovin Creating the dataloader for the connection isn't hard cause you can create a loader as I mentioned, the thing is the pagination/filtering/ordering, how the pagination would look like when using the loader.

[2018-11-05 08:10] mxstbr commented on #4191
Using dataloader for connections doesn't do anything. Think about our threadConnection:

[code]

It _should_ never happen that we load the same thread twice in this connection, as it's a chronological list of unique threads, so using dataloader doesn't do anything for connections.

[2018-11-05 08:10] #4191 closed

[2018-11-05 14:40] zefexdeveloper commented on #4191
I get what you mean, in this case here:

[code]

If there's 500 books, it will do something like 502 queries to the database, one for user, one for books, and 500 for chapters.

Isn't this the same that happens on something like:

[code]

[2018-11-05 14:52] mxstbr commented on #4191
Yeah, we don't allow queries like that. We use cost analysis to make sure incoming queries aren't too expensive or nest too deeply, see https://blog.apollographql.com/securing-your-graphql-api-from-malicious-queries-16130a324a6b?gi=c8b7ebd57f1

[2018-11-06 16:59] #3215 closed

[2018-11-08 00:36] brianlovin opened #4217 "Desktop app: Amplitude can't init because of CSP"
<img width="1437" alt="screenshot 2018-11-07 16 34 54" src="https://user-images.githubusercontent.com/1923260/48170167-3322be00-e2ab-11e8-8396-4b75c3e277e8.png">

@mxstbr could you help me debug this? Currently no amplitude events are coming through from the desktop app, and it looks like it's because of the CSP blocking the amplitude client sdk from being executed.

[2018-11-08 00:38] brianlovin commented on #4217
Definitely CSP related. We stopped receiving all Desktop events in Amplitude after https://github.com/withspectrum/spectrum/releases/tag/2.4.45

[2018-11-08 08:12] mxstbr commented on #4217
Aha crap, we need to send down a more lenient CSP for the desktop client maybe?

[2018-11-08 16:12] brianlovin commented on #4217
Any ideas why desktop would need a more lenient CSP? Isn't it literally just a chrome wrapper?

[2018-11-08 16:16] mxstbr commented on #4217
Because it doesn't SSR I think, maybe? Good questions 🤔

[2018-11-12 15:52] mxstbr commented on #4114
Clicking this "Member" button on both channel and community views removes you from them:

<img width="342" alt="screenshot 2018-11-12 at 16 52 18" src="https://user-images.githubusercontent.com/7525670/48358592-5bd7f880-e69b-11e8-9b95-1a4a442b7d1c.png">

That should require another confirmation dialog and be more obvious!

[2018-11-12 16:47] mxstbr commented on #2885
Done

[2018-11-12 16:47] #2885 closed

[2018-11-12 16:48] mxstbr commented on #2232
Fixed while reworking the queries in #3876

[2018-11-12 16:48] #2232 closed

[2018-11-12 17:33] maxparelius commented on #4114
Will submit PR for this soon!

[2018-11-12 17:42] mxstbr commented on #4114
Awesome, let us know as soon as you got anything and we'll review it!

[2018-11-17 03:03] brianlovin opened #4259 "Shut down links.spectrum.chat"
@mxstbr can you weigh in on if we're good to shut down `links.spectrum.chat`? I'm 99% we don't use it anywhere anymore (per https://github.com/withspectrum/spectrum/pull/4126) - but good to get a second brain on this :)

[2018-11-17 08:53] mxstbr commented on #4259
Doesn't look like it!

[code]

Let's shut it down

[2018-11-17 19:35] brianlovin commented on #4259
Done

[2018-11-17 19:35] #4259 closed

[2018-11-18 00:37] #3923 closed

[2018-11-18 00:37] brianlovin commented on #3875
We did this.

[2018-11-18 00:37] #3875 closed

[2018-11-19 17:39] #2770 closed

[2018-11-20 13:02] mxstbr opened #4273 "Member count of private communities goes out of date"
Joining a private community by join link doesn't increment the member count I think?

[2018-11-20 20:10] brianlovin opened #4279 "Can only listen to notifications when signed in error"
Error: https://sentry.io/space-program/spectrum/issues/754444303/?query=is:unresolved

These releases were shipped the day this error started:
https://github.com/withspectrum/spectrum/releases/tag/2.4.61
https://github.com/withspectrum/spectrum/releases/tag/2.4.62
https://github.com/withspectrum/spectrum/releases/tag/2.4.63
https://github.com/withspectrum/spectrum/releases/tag/2.4.64
https://githu

[2018-11-20 20:11] brianlovin commented on #4279
None of those releases are obvious candidates for what's going on here...

[2018-11-20 20:44] mxstbr commented on #4279
I think this might happen directly after singing out?

[2018-11-21 05:41] brianlovin opened #4287 "Static js file caching doesn't update in desktop app"
@mxstbr I shipped 2.4.73, which included #4274. I loaded the desktop app, and user activity indicators were working! I then noticed a bug and shipped #4285. When I reloaded the desktop app, quit and restarted, etc, it continued to load the code cached from 2.4.73. I confirmed that clearing the browser cache forced it to download the new code from #4274 and fix the bug.

I didn't have this experien

[2018-11-21 07:39] mxstbr commented on #4287
Hmm, that doesn't make any sense. 🤔 Only the JS files should be browser cached, which change file name on every deploy. Let's add an exception for HTML files is my hunch for fixing this?

[2018-11-21 07:46] mxstbr opened #4291 "Change "More conversations" on thread view to use trending threads"
The "More conversations" upsell on the thread view should show the latest trending threads in the community, now that we have that ranking!

[2018-11-21 08:05] brianlovin commented on #4287
Yeah, let's try that. Could you give it a test today?

[2018-11-21 08:12] mxstbr commented on #4287
👉 #4289

[2018-11-21 09:43] mxstbr commented on #3942
I dug into this, but I can't seem to find the place where this happens! It's not `react-flip-move`, it's not `InfiniteList`, we don't seem to do manually anywhere, I'm at a loss.

It also doesn't happen in Firefox, only in Chrome. Very very strange...

[2018-11-21 09:44] mxstbr commented on #3874
Fixed

[2018-11-21 09:44] #3874 closed

[2018-11-21 09:55] mxstbr commented on #3182
Fixed for desktop in #4267

[2018-11-21 09:55] #3182 closed

[2018-11-21 09:55] mxstbr commented on #3162
Fixed

[2018-11-21 09:55] #3162 closed

[2018-11-21 10:31] #1822 closed

[2018-11-21 11:48] mxstbr commented on #1931
Done

[2018-11-21 11:48] #1931 closed

[2018-11-21 11:51] #2086 closed

[2018-11-21 12:00] mxstbr commented on #2154
Donezo

[2018-11-21 12:00] #2154 closed

[2018-11-21 12:07] #2371 closed

[2018-11-21 16:35] nickcolley opened #4298 "Focusable elements are not focused making it difficult to know what you're interacting with"
**Issue Type (check one)**

- [x] Bug Report

**Description (type any text below)** -->

When tabbing through the Spectrum interface it's difficult to know what you're interacting with since the outlines for tabbable elements have been removed.

If you force outlines back on you can see what is being tabbed.

[code]

You might want to consider https://github.com/WICG/focus-visible if you're worrie

[2018-11-21 16:41] mxstbr commented on #4298
As mentioned in [the thread in the community](https://spectrum.chat/spectrum/hugs-n-bugs/accessibility~3c394248-b943-4bc9-a6c1-084ced24cc88), I think a great first step would be to make all hover states also apply on focus, that should get us pretty far already (and also improve the mobile experience!).

If anybody wants to tackle that, a quick search for ":hover" in `src/` should give you a list

[2018-11-21 17:18] #4287 closed

[2018-11-21 17:41] brianlovin opened #4300 "Properly encode images in emails"
Related to #1913 possibly

<img width="577" alt="screenshot 2018-11-21 09 39 11" src="https://user-images.githubusercontent.com/1923260/48858928-8bf55a80-ed71-11e8-8e39-8eee09432c32.png">

[2018-11-22 13:18] mxstbr commented on #4114
@maxparelius how are you getting along, did you get stuck somewhere?

[2018-11-22 15:39] mxstbr opened #4310 "Thread preview images broke"
@brianlovin the imgix signature stuff broke thread preview images. For example, click [this link to a thread preview image that worked before](https://spectrum.imgix.net/default_images/twitter-share-card.png?blend64=aHR0cHM6Ly9hc3NldHMuaW1naXgubmV0L350ZXh0P2g9MjcwJnR4dDY0PVQzQmxiaUJ6YjNWeVkyVmtJR3hoYm1ScGJtY2djR0ZuWlNCMWMybHVaeUJvYjI5cmN5QmhibVFnYzNWemNHVnVjMlUmdHh0YWxpZ249bGVmdCxtaWRkbGUmdHh0Y2xp

[2018-11-22 18:51] brianlovin opened #4312 "Support more file type uploads (pdf, ppt, doc, zip (?))"

[2018-11-22 18:53] brianlovin commented on #4310
Yep it just needs to get signed. I can't find where we generate those previews with a cursory project search, but you'd want to just pass it into our signing utility, like this: https://github.com/withspectrum/spectrum/blob/alpha/api/queries/community/coverPhoto.js#L7

[2018-11-22 19:02] brianlovin commented on #4114
Yeah, happy to help with this if it's going to take a while. Feels like a good win to make this a better experience for team members

[2018-11-22 19:43] mxstbr opened #4314 "Test auth flow"
We should be testing our auth flow in CI, ref #4306

[2018-11-22 19:46] mxstbr commented on #4310
Uhh, those are generated on the client dynamically... https://github.com/withspectrum/spectrum/blob/alpha/src/helpers/generate-image-from-text.js

I guess we'll just have to add a new field on the API level (Thread.metaImage?) that returns a signed URL rather than generating dynamically on the client?

[2018-11-22 20:51] brianlovin commented on #4310
Yep, that sounds like the right solution - a bit of a pain, but if we have to sign everything it's the only way

[2018-11-24 05:21] bogdan0083 opened #4322 "[Mobile] Failed building JavaScript bundle"
**Issue Type (check one)**

- [X] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**

Hello guys! Trying to run React Native app in Android emulator and get the following error:
[code]

I installed everything as described in README: Instal

[2018-11-24 22:52] mxstbr opened #4330 "Don't show "join communities" onboarding if singing up from a specific community"
1. Go to a community as a new user
2. Click "Sign up to join the community"
3. Sign up
4. Get prompted for username
5. Get prompted to join other communities (?!?!?!?!)

It's even worse for private communities as you have the invite link but then get prompted to join other communities with no way out and no way to get back to the private community. Gotta clean that up!

[2018-11-25 01:08] brianlovin commented on #4330
This behavior broke at some point, it worked this way before. Thanks for filing an issue

[2018-11-26 01:56] brianlovin commented on #4291
This is done!

[2018-11-26 01:56] #4291 closed

[2018-11-26 08:49] #4330 closed

[2018-11-26 08:51] #4310 closed

[2018-11-26 12:56] ahmadawais commented on #4330
I just tried and this issue has not been resolved.

1. Went to a private community `https://spectrum.chat/name`
2. Signed up via Twitter
3. Now I am forced to signup at other communities or create one. No way to even skip it or join the community I wanted to join `https://spectrum.chat/name`
4. Since `name` is a private community I can't search it
5. Lost :(

That's why I can't use Spectrum to hos

[2018-11-26 13:52] mxstbr commented on #4330
@ahmadawais this hasn't been deployed to production yet, which is why it still doesn't work :blush: We'll let you know when it's live!

[2018-11-26 15:07] ahmadawais commented on #4330
Sorry. I thought that the merge meant a continuous deployment. Pulling an all-nighter and working too much with Netlify can do that to a person.

Is there a way for me to subscribe to when this is deployed to production. Or a version number I can track?

[2018-11-26 15:10] mxstbr commented on #4330
Whatever the next version number will be hah! @brianlovin or myself will ping you once it's out 👍

[2018-11-26 18:15] #4114 closed

[2018-11-26 22:54] #3043 closed

[2018-11-27 01:53] hoanghungict opened #4347 "[Mobile] build with error version."

[2018-11-27 16:51] #4300 closed

[2018-11-27 18:55] mxstbr commented on #4330
This is live now!

[2018-11-27 19:00] brianlovin commented on #4330
Not yet! Running into some upstream issues at deploy time, but it will be live today

[2018-11-27 19:04] mxstbr commented on #4330
Oh sorry, listen to @brianlovin

[2018-11-28 00:59] brianlovin opened #4357 "Investigate why this thread breaks"
<!--
FILL OUT THE FORM BELOW OR THE ISSUE WILL BE AUTO-CLOSED

**Issue Type (check one)**

- [x] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

@mxstbr i saw this come through in sentry: https://spectrum.chat/thread/aba91943-52f4-46b0-af86-c3c8725e1ece cannot figure out wh

[2018-11-28 01:01] brianlovin commented on #4357
It's happening in a private community, so I can't investigate too much here...

[2018-11-28 14:11] mxstbr opened #4361 "Improve error handling after JS rehydration"
Reference bug recording: https://mobile.twitter.com/rem/status/1067714869137424384

We should not hide the SSR'd content if the JS fails to rehydrate.

/cc @rem so you can track the completion of this

[2018-11-28 15:04] gimenete opened #4362 "Unable to log in with a u2f key"
**Issue Type (check one)**

- [x] Bug Report

I have a yubico key and I'm not able to sign in with it, at least with a Google account. I had other 2FA mechanism (otp code with mobile app) so this is not a blocker for me.

I've just searched to check if this is an Electron issue and it seems it is and it's fixed in Electron 4: https://github.com/electron/electron/issues/3226

I'm opening this issue

[2018-11-28 15:39] mxstbr commented on #4362
Thank you for the report! We'll try and upgrade :+1:

[2018-11-29 17:27] brianlovin opened #4367 "Revert tab-switch refetches"

[2018-11-30 12:52] #4322 closed

[2018-11-30 15:14] #4367 closed

[2018-11-30 21:17] cloudrex commented on #2451
Have you considered adding bot support? This will allow developers to create their own moderation bots to fit their own needs!

[2018-11-30 21:23] cloudrex opened #4378 "Button to direct messages not working in channel settings"
**Issue Type**

- [X] Bug Report

The links to direct-message a user does not work under channel settings. It does nothing when clicked.

![chann](https://user-images.githubusercontent.com/41349879/49315561-27967180-f4bc-11e8-9f13-3834811c466d.png)

[2018-11-30 23:12] cloudrex opened #4385 "No option to remove community background image"
**Issue Type**
- [X] Feature Idea

Currently there's no way to remove a custom-set background image for communities. It would be really helpful to allow to remove the currently set background image and reset it to the default one.

![no-remove-background](https://user-images.githubusercontent.com/41349879/49319575-726bb580-f4cb-11e8-968a-26ac3d1bed3f.png)

[2018-12-01 03:10] thundernixon opened #4387 "Having trouble adding profile avatar / save profile settings"
**Issue Type (check one)**

- [x] Bug Report 🐛
- [ ] Feature Idea
- [ ] Technical Discussion

**Description (type any text below)** -->

I'm attempting to update my profile picture, but I'm being blocked by the error `Please add a valid email address.`

However, I have tried adding this multiple times, and I have also clicked "Go to my dashboard" in the welcome email it generates. Unfortunately, I

[2018-12-01 04:28] cloudrex opened #4388 "/api is exposed (GraphQL playground)"
**Issue Type**

- [X] Bug Report

https://spectrum.chat/api exposes a GraphQL playground. I'm pretty sure that's not intended.

![playground](https://user-images.githubusercontent.com/41349879/49324219-934a0000-f4f7-11e8-8a2a-136d4918f18d.png)

[2018-12-01 09:50] mxstbr commented on #4388
You're right, we should be disabling that! We disable introspection, so there isn't really much you can do with it though.

[2018-12-01 15:52] mxstbr commented on #4298
Both!

[2018-12-01 23:43] brianlovin commented on #4387
You should be receiving an email that asks you to confirm the new email you've typed in - make sure you click the link in that email and then things should work :)

[2018-12-03 10:18] tanzaniatech opened #4391 "Can i Install this on shared host"
Hi am new here Can i install Spectrum on sharedhost..?

[2018-12-03 10:22] mxstbr commented on #4391
I don't know what sharedhost is 😅 What does that mean?

[2018-12-03 10:22] #4391 closed

[2018-12-03 12:14] dantesolis commented on #4298
May I take this?

[2018-12-03 12:18] mxstbr commented on #4298
It'd be great if you split the work with @reddysridhar53!

[2018-12-03 12:33] nickcolley commented on #4298
Happy to review this work folks :)

@mxstbr if this goes well and we plan for more work like this, is there a way to compensate the people doing the work? Like with open collective etc

[2018-12-03 16:45] umardraz opened #4393 "Websocket connection issue"
Hello

I am running spectrum on my public server and whenever I open the url mydomain.com then after taking some time the site opened but I am getting this error in the browser

WebSocket connection to 'ws://localhost:3001/websocket' failed: Error in connection establishment: net::ERR_CONNECTION_REFUSED

Would you please help me how to fix this

[2018-12-03 17:15] mxstbr commented on #4393
Hey, you need to run the site with `NODE_ENV` set to `"production"`, Apollo client is trying to connect to the dev environment!

[2018-12-03 17:15] #4393 closed

[2018-12-03 17:37] mxstbr commented on #4393
You'll have to deploy the API server (in the `api/` folder) and forward `mydomain.com/api` requests to that API server

[2018-12-03 17:55] umardraz commented on #4393
Hmm strange, after setting forward /api in nginx

New errors appearing

OPTIONS http://localhost:3000/ net::ERR_CONNECTION_REFUSED
POST https://api.amplitude.com/ 400
OPTIONS http://localhost:3000/ net::ERR_CONNECTION_REFUSED

Is there any valid documentation available where everything is documented about how to run this app on a public domain either with apache or nginx?

[2018-12-03 18:11] mxstbr commented on #4393
Hmm, I'm not sure why it would ping localhost:3000 if `NODE_ENV` is set to `"production"` when building the frontend. You'll also need to forward OPTIONS requests to `/api` to the API server so that CORS works.

No, since we host everything on now.sh we don't have any experience with using Nginx or Apache unfortunately!

[2018-12-03 18:18] umardraz commented on #4393
This is not just issue of frontend end.

I had check this file build-api/main.js and there I saw this.

**const FALLBACK_URL = IS_PROD ? 'https://spectrum.chat/home' : 'http://localhost:3000/home';**

The above clearly shows that everything is hardcoded. Now need to know how to change these.?

I tried to change the above constant but when I did **yarn run dev:api**

my changes are vanished .

[2018-12-03 18:24] mxstbr commented on #4393
Yeah you have to run `yarn run build:api` to re-build the API. `yarn run dev:api` only runs the development process!

[2018-12-03 18:35] umardraz commented on #4393
the yarn run build:api also vanished all of my settings from **build-api/main.js**

completely horrible

[2018-12-03 18:39] brianlovin commented on #4387
@thundernixon I'm investigating some elevated failure rates with our email provider. In the meantime could you email me (brian at spectrum dot chat) from the email address you'd like added to your Spectrum account, and I'll get you set up manually for now to unblock this :)

[2018-12-03 18:43] brianlovin commented on #4393
@umardraz I'd recommend not changing files directly in `build-api` as that gets overwritten every time the project builds. Any configuration changes should be made in the `api` directory directly, so that they can be built into `build-api` :)

[2018-12-03 18:49] jaminroe opened #4395 "Save button footer fixed to bottom"
- [x] Feature Idea

When editing a post, would be nice if the button actions footer was fixed/sticky to the bottom of the screen. Especially for longer posts. Currently, you have to scroll all the way down to find the Cancel/Save buttons

[2018-12-03 18:51] umardraz commented on #4393
Ok finally I found api/index.js and changed there what I want. Now new thing

Request URL: https://api.amplitude.com/
Request Method: POST
Status Code: 400
Remote Address: 52.89.50.99:443
Referrer Policy: no-referrer-when-downgrade

What is https://api.amplitude.com/?

[2018-12-03 18:56] brianlovin commented on #4393
Amplitude is what we use to aggregate user events for internal analytics dashboards. Feel free to remove that for your use case :)

[2018-12-03 19:02] brianlovin commented on #4393
@umardraz most of the code is in `shared/analytics` - you can just delete it. Although to close out the individual analytics events you'll want to do a project search for:
`trackQueue.add(` to find all instances where we track something in the backend
and
`track(events` to find all frontend tracking instances in the frontend.

In `src` you'll want to remove `src/helpers/analytics` and just do a di

[2018-12-03 19:05] umardraz commented on #4393
Ok Let me try and will tell you if need something more

[2018-12-03 19:35] jaminroe commented on #4395
Something to look out for us the floating button for inserting images/embedded links. It has a `z-index: 2000`, so not sure if you want the sticky footer to have a higher one or do something else with it.

[2018-12-03 22:33] superbryntendo opened #4399 "When the creator of a community leaves, the member count changes to "-1"

[2018-12-03 22:33] superbryntendo opened #4400 "When the creator of a community leaves, the member count changes to "-1""
![image](https://user-images.githubusercontent.com/4926824/49405786-6456a880-f708-11e8-9893-98d9e381304d.png)

[2018-12-03 23:08] brianlovin commented on #4400
The creator of a community should never be able to leave a community. Is this because the user deleted their account?

[2018-12-04 01:11] amitguptagwl opened #4401 "Slow when switch from one thread to another or change community"
**Issue Type (check one)**

- [x] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

I've experienced that

1. when I switch from one community to another, heading change immediately. But it keeps waiting to finish loading of previously opened community's message.
2. When I cl

[2018-12-04 02:22] amitguptagwl commented on #4401
@brianlovin Thanks for your response. In my opinion, in this case, we should change the label. So other users will be aware that it is not a bug. And we should not close the issue as it is not resolved and other people will not raise the same issue. However, this is just my opinion.

[2018-12-04 02:32] iamclaytonray opened #4403 "Fallback UI For Server Crashes"
It looks like the server is experiencing some problems at the moment, especially for trying to go to messages. However, the UI is not very user-friendly for displaying these errors. I'm suggesting we work on the UI to ensure that users can still use the web app regardless of errors. For the messages route, this would mean something like keeping the header at the top and maybe doing something like

[2018-12-04 02:40] iamclaytonray commented on #4403
This could also be a time to improve error handling from the server.

This:

`Oops, something went wrong. Please try again! (Error ID: 6b61fe19fee34c4d9b5005a25881abe2)`

could become something like:

[code]

[2018-12-04 03:09] MarkMurphy37 opened #4404 "Unable to log in when using iOS PWA"
When trying to save spectrum.chat as to the home screen of an iOS device running 11.3+, the app behaves as a Progress Web App (PWA). Therefore, it does not open in Safari. When you try to log in via Github\Twitter\Facebook\Google, it opens Safari, where you can log in, but the redirect back to the PWA fails.

Steps to replicate:
1. Open spectrum.chat in Safari
2. Add spectrum.chat to an iOS 11.3 d

[2018-12-04 03:55] reddysridhar53 commented on #4298
Hi @mxstbr , I was looking around for suitable suits to implement this and found https://github.com/WICG/focus-visible to be good. What do you think of us using this in the application?

[2018-12-04 06:57] dantesolis commented on #4298
Hey @reddysridhar53 would you mind spitting the work between both of us or you rather tackle it alone ?

[2018-12-04 07:57] mxstbr commented on #4298
Yeah that sounds reasonable!

[2018-12-04 08:04] #4399 closed

[2018-12-04 08:05] mxstbr commented on #4403
Yeah Raven captures the full error stuff, we should definitely make this error page nicer though, I agree!

[2018-12-04 08:07] iamclaytonray commented on #4403
If you give me a general idea of where to start, I can get a PR ready for review a little quicker. But I can figure out on my own if needed 😄

[2018-12-04 08:15] mxstbr commented on #4403
Yeah we'd love a PR!

Those errors are the last-ditch-effort errors in case _everything_ goes wrong server-side, and are created here:

https://github.com/withspectrum/spectrum/blob/244367ff9c8fd0c7a1f4f070c100f5f1ba407214/hyperion/renderer/index.js#L178-L186

I think a good first step would be to render a Spectrum-y purple gradient background with the text formatted a little bit nicer and a promp

[2018-12-04 08:19] iamclaytonray commented on #4403
Ohh, you guys don't grab errors from a fetch response on the client? Yep, that wouldn't be too easy to implement, haha. Sounds good, I'll try to mock something up for review

[2018-12-04 08:40] mxstbr commented on #4403
Yep sounds great!

[2018-12-04 09:01] iamclaytonray commented on #4403
[Here's a basic example](https://codepen.io/iamclaytonray/pen/XyQqKG)

Feel free to make suggestions. (Ironically, design is not my strong suit)

[2018-12-04 10:03] mxstbr commented on #4403
Looking good! Probably want to use our font stack, putting a sad emoji at the top and excuse the issue ("Sorry about that :( Please refresh or go home" or something like that), then it's perfect!

[2018-12-04 10:37] mxstbr opened #4405 "Thread Tagging"
We should add an optional thread tagging system similar to GitHub labels.

**High level description**

A whitelist of tags should be able to be defined on a community-level, which can then be used by moderators and owners to tag individual threads.

** Technical sketch**

- Store tags in a `communitiesThreadTags` table, with records that look like this:

[code]

[2018-12-04 13:29] raunofreiberg opened #4406 "Throttling the community search seems to provide inconsistent intermediate results"
https://github.com/withspectrum/spectrum/blob/f57c9f1674a737020feec1d6d9f45c081ed3e1a5/src/views/explore/components/search.js#L61

Searching for `react` provides me with the Reach community [for example](https://streamable.com/m75c8). This does not seem like a good experience, imho. I assume this is because of throttling since the search gets called per 500ms [(btw, the comment is also invalid sin

[2018-12-04 13:32] mxstbr commented on #4406
Yeah this should definitely be debounced, not throttled—PR very welcome!

[2018-12-04 13:37] iamclaytonray commented on #4403
Cool, I updated it. I'm not sure what emoji you're referring to so I added a few that I've seen commonly used. Let me know which one you want (or maybe react to this comment with the one you want and I'll add it)

[2018-12-04 13:42] mxstbr commented on #4403
Let's use 😢, that's the one we use for all our error pages!

[2018-12-04 13:43] iamclaytonray commented on #4403
Cool, will do

On Tue, Dec 4, 2018 at 8:42 AM Max Stoiber <notifications@github.com> wrote:

[2018-12-04 17:12] superbryntendo commented on #4405
re: user tagging, we could allow them to tag it initially, but if a moderator overrides it, we lock it.

we've definitely talked about tags since the beginning, but i'm not super sure of the use-case beyond what channels already does. could you add some examples, please?

[2018-12-04 17:17] superbryntendo commented on #4298
Good question @nickcolley! There currently aren't plans to compensate contributors. I know accessibility is certainly undervalued in the industry and while we'd like to be part of the solution, it's just not something we're prepared to tackle at the moment...

[2018-12-04 17:22] superbryntendo commented on #4312
File sharing for items like .zip and documents that can contain links opens us up to some new potential issues. We may want to run this by legal.

[2018-12-04 18:03] mxstbr commented on #4405
For example:

1. Marking a thread as solved (open, closed)
1. Marking a thread team member replied
1. Assigning a team member or community member to a thread

[2018-12-04 18:35] superbryntendo commented on #4405
Should these be manual tags? or should they be automated (e.g. make a Q&A thread type that allows the creator to mark it as solved, automatically tag the thread on team member initial reply, etc.)

[2018-12-04 18:45] #4403 closed

[2018-12-04 18:47] mxstbr commented on #4405
Manual tags I think, just let them manage their community however they want for the most flexibility!

[2018-12-04 19:02] #4378 closed

[2018-12-04 19:35] brianlovin commented on #4404
These links are super helpful! I'm not sure we have the bandwidth to prioritize fixing the PWA right now, but we'd love to see PRs if you have any ideas here!

[2018-12-04 19:44] brianlovin commented on #4405
I don't think so - maybe to clarify we should consider this a team/moderator feature, and not even show it to users? I think that channels are probably the appropriate way for community members to get their content in the right context.

This removes the problem of having to have tags search-indexed.

Question: should we denormalize the tags on the thread object so that we can add a secondary inde

[2018-12-04 19:45] brianlovin commented on #4405
If you disagree with this, then maybe the model for a `communityThreadTag` becomes:
[code]

[2018-12-05 01:40] reddysridhar53 commented on #4298
@dantesolis  we can split the work. I already started on focus-visible, would you be taking up the Accessibility?

[2018-12-05 15:11] mxstbr commented on #4405
We don't even have to denormalize theoretically, could just do something like:

[code]

No need for a tags/threads join table and it should make it possible to filter tags from the frontend fairly performantly!

Let's keep all tags public for now, adding `isPublic` down the line would be a relatively easy change if folks ask for it.

[2018-12-05 16:56] brianlovin commented on #4405
Sure

We can start without, but I'm sure people will ask for this right away since colors are such a useful mechanism for scanning and differentiating pieces of content.

[2018-12-05 17:09] superbryntendo commented on #4405
there's one use case that would be inconvenient for public tagging imo and that's assigning teammates to a thread.

I don't have strong feelings here, but I think this makes them less useful for that tag.

[2018-12-05 17:10] mxstbr commented on #4405
Hmm how's that inconvenient? It's the same on GitHub, right? Assignees are public

[2018-12-05 17:15] superbryntendo commented on #4405
support mechanisms are different than engineering though.

imagine if every time we assigned something to you in HelpScout, the user saw it and then was frustrated if you didn't answer it quickly.

[2018-12-07 16:28] flaki opened #4429 "Creation of community left it without owner"
**Issue Type (check one)**

- [x] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**

I tried to create a new `techspeakers` community, but Spectrum was a bit sluggish to respond, with disconnections and reconnections, so I clicked the "Cr

[2018-12-07 16:32] flaki commented on #4429
Okay never mind the doubtful tone above, something is definitely broken, I have received the creation email:

![spectrum-create](https://user-images.githubusercontent.com/2089432/49660090-0dbdd700-fa46-11e8-8976-57e0940ae0e3.png)

[2018-12-07 18:22] brianlovin commented on #4429
That box is just an emoji that's not rendering on your machine for some reason :P

To confirm: are you the owner of TechSpeakers and have ability to access settings?

[2018-12-08 01:08] dandv commented on #2755
How exactly does this work?

I have an image in the clipboard right now, I can paste it here in this GitHub comment with Ctrl+V (Chrome on Linux), but neither Ctrl+V nor Shift+Ins paste it in this chat (post? I've just joined Spectrum, and find it a little confusing).

![image](https://user-images.githubusercontent.com/33569/49679765-a5212b00-fa42-11e8-9919-21b25daece7f.png)

Image I wanted to pas

[2018-12-09 22:47] dantesolis commented on #4298
@reddysridhar53 I can take accessibility

[2018-12-10 12:37] mxstbr commented on #3947
Thank you @Glazy!

[2018-12-10 12:37] #3947 closed

[2018-12-10 16:39] Glazy commented on #2733
Since you can no longer upgrade to 'Pro' (as of the Github acquisition) this is no longer a bug that we need to worry about :+1:

[2018-12-10 16:41] Glazy commented on #4400
Do you guys have any idea about a fix for this? We could either cascade through and delete a users communities when they de-activate or make them assign the communities to someone else?

[2018-12-10 17:08] Glazy commented on #4347
Hey @hoanghungict,

If you could provide any more information about the error you received that would be great :+1:

[2018-12-10 17:21] #2733 closed

[2018-12-10 17:21] mxstbr commented on #2733
Good catch, thanks @Glazy!

[2018-12-10 18:38] superbryntendo commented on #4400
I haven't thought about this a ton, but off the cuff, I think if they're the only member, we should delete the community (but notify them). If they're not, surface a modal with a member list + search where each member has a "Make Owner" item. The hard part I think would be that this could be a potential abuse vector, so I'd want to make sure that the recipient was already a member and had opted in

[2018-12-10 18:58] Glazy commented on #4400
Cool, we're both thinking roughly the same thing. I wonder what "opting into becoming the owner" would entail. I guess we could notify the user that they have been selected to be the new owner and they could then either accept or decline the responsibility. If they decline then the original owner has to pick someone else or, if the original owner has since been deleted, then the community gets del

[2018-12-10 18:59] brianlovin commented on #4400
Related: https://github.com/withspectrum/spectrum/pull/3863

[2018-12-10 22:02] #4395 closed

[2018-12-11 08:52] mxstbr opened #4443 "Add unsub links to digests"
Ref: https://mobile.twitter.com/threepointone/status/1072177966879264773

[2018-12-11 11:42] flaki commented on #4429
I don't seem to be, as http://spectrum.chat/techspeakers informs me that "this is a private community, you can request to be added".

But I _should be_, I've received the email about the community being live on Spectrum (and now the registration form informs me that the `techspeakers` slug is taken, as it is obviously the case, as seen above.

As a thought experiment I tried requesting access but

[2018-12-11 15:39] brianlovin commented on #4443
Digests do have unsub links

[2018-12-11 15:43] mxstbr commented on #4443
Oh.

[2018-12-11 15:43] #4443 closed

[2018-12-11 21:23] Chiamaka opened #4448 "Cannot login on mobile app (iOS)"
Hey guys, I started tinkering about with the spectrum mobile app yesterday and I've run into some problems.
When I try to sign in using any of the 'Social Sign in' (Twitter and Github) buttons, it redirects me to the social platform's page to enter my details but when it redirects back to the spectrum app, there is a warning (screenshot provied)
I did a little digging and in the code, `accessToken

[2018-12-11 21:26] depfu[bot] opened #4449 "Depfu Error: No dependency files found"
Hello,

We've tried to activate or update your repository on Depfu and couldn't find any supported dependency files. If we were to guess, we would say that this is not actually a project Depfu supports and has probably been activated by error.

## Monorepos

Please note that Depfu currently only searches for your dependency files in the root folder. We do support monorepos and non-root files, but

[2018-12-11 21:41] #4449 closed

[2018-12-11 21:42] brianlovin commented on #4448
Hey @Chiamaka we're currently pausing work on React Native mobile app - sorry for the trouble here!

[2018-12-11 21:42] #4448 closed

[2018-12-11 21:45] Chiamaka commented on #4448
hey @brianlovin what apps are still in active development?

[2018-12-11 21:55] brianlovin commented on #4448
Desktop and web!

[2018-12-15 15:16] ThomasRoest commented on #3071
you could remove the overlay temporarily, so you have normal scroll behaviour
Image 2018-12-15 at 4.14.16 PM

[2018-12-16 20:38] glenjamin opened #4485 "Quoted replies aren't styled in email notifications"
**Issue Type (check one)**

- [x] Bug Report
- [ ] Feature Idea
- [ ] Technical Discussion
- [ ] Question (these will be auto-closed, please ask them on Spectrum instead https://spectrum.chat/spectrum/open)

**Description (type any text below)**

The blockquote styling from quoted replies doesn't appear on email notifications to thread subscriptions

This makes reading the email notification extre

[2018-12-16 21:33] mxstbr commented on #4485
We don't render any of the styling in emails currently, we should definitely be doing that!

[2018-12-18 07:54] dev-drprasad commented on #4388
@mxstbr is it still issue ?? can i pick it ??

[2018-12-18 09:24] mxstbr commented on #4388
Yes please do @dev-drprasad! :pray:

[2018-12-18 14:20] dev-drprasad commented on #4388
@mxstbr what about completely disabling playground ?
something like:
[code]

introspection is disabled by default in production but i added condition for sanity.
![playground-disabled](https://user-images.githubusercontent.com/22687681/50159962-0e842200-02fe-11e9-845e-fea68ffcf525.png)
**Ref:** https://www.apollographql.com/docs/apollo-server/features/graphql-playground.html

[2018-12-18 14:21] mxstbr commented on #4388
Yes sounds great!

[2018-12-18 17:33] ThomasRoest commented on #3172
on what page / section can I find this issue?

[2018-12-18 17:36] tannerlinsley commented on #3172
I'm unable to find this UI any more. Looks like it was changed.

[2018-12-18 17:36] ThomasRoest commented on #4141
it's mentioned here https://github.com/withspectrum/spectrum#first-time-setup

[2018-12-18 17:38] brianlovin commented on #3172
Thanks for following up!

[2018-12-18 17:38] #3172 closed